<div id="versioning-bar">
  <div class="versioning-bar-container">
    <div class="bar-item">
      Now viewing:
      {{view "select"
        name="view_version"
        content=paper.versions
        optionValuePath="content.id"
        optionLabelPath="content.name"
        selection=viewingVersion}}
    </div>
    <div class="bar-item">
      Compare With:
      {{view "select"
        prompt="-"
        name="compare_version"
        content=paper.versions
        optionValuePath="content.id"
        optionLabelPath="content.name"
        selection=comparisonVersion}}
    </div>
  </div>
</div>
