<div id="versioning-bar">
  <div class="versioning-bar-container">
    <div class="bar-item">
      Now viewing:
      {{select-native name="view_version"
                      content=paper.versionedTexts
                      optionValuePath="id"
                      optionLabelPath="version_string"
                      selection=viewingVersion
                      action=(action "changeViewingVersion")}}
    </div>
    <div class="bar-item">
      Compare With:
      {{select-native name="compare_version"
                      prompt="-"
                      content=paper.versionedTexts
                      optionValuePath="id"
                      optionLabelPath="version_string"
                      selection=comparisonVersion
                      action=(action "changeComparisonVersion")}}
    </div>
  </div>
</div>
