<div id="versioning-bar">
</div>

<div id="versioning-bar2">
  <div class="bar-item2">
    Now viewing:
    {{view "select"
      name="view_version"
      content=paper.versions
      optionValuePath="content.id"
      optionLabelPath="content.name"
      selection=selectedVersion}}
  </div>
</div>
