<div class="card-checkbox">
  {{#card-content/label content=content control-placement='left'}}
    {{check-box
      name=name
      checked=answer.value
      disabled=disabled
      content=content
      answer=answer
      action="valueChanged"
    }}
  {{/card-content/label}}
</div>

{{card-content/validation-errors errors=answer.readyIssuesArray}}

{{card-content/display-children
  content=content
  owner=owner
  repetition=repetition
  disabled=disabled
  preview=preview
}}
