{{#if content.text}}
  <p class="content-text">{{{content.text}}}{{#if content.isRequired}}<span class="required">*</span>{{/if}}</p>
{{/if}}
{{check-box
  name=name
  id=name
  checked=(readonly answer.value)
  disabled=disabled
  isRequired=content.isRequired
  action="valueChanged"}}
{{#if content.label}}
  <label for={{name}}>{{{content.label}}}</label>
{{/if}}
