<div class="form-group">
  <h3 class="picker-title">{{{content.text}}}</h3>
  <div class="inset-form-control {{if validationErrors.publicationDate "error"}}">

    <div class="inset-form-control-text">
      <label>
        {{{content.label}}}
      </label>
    </div>

    {{date-picker
        name=name
        type="text"
        class="inset-form-control-input"
        placeholder=content.placeholder
        dateChanged="valueChanged"}}
  </div>
</div>
