<div class="form-group">
  <div class="inset-form-control {{if validationErrors.publicationDate "error"}}">
    {{date-picker
        name=name
        type="text"
        value=answer.value
        date=answer.value
        dateChanged="valueChanged"
        answer=answer
        disabled=disabled
        content=content}}

    <div>{{card-content/validation-errors content=content hideErrors=answer.hideErrors errors=answer.readyIssuesArray}}</div>
  </div>
</div>
