<h3 class="picker-title">{{{content.text}}}</h3>

{{date-picker
    name=name
    type="text"
    class="inset-form-control-input"
    placeholder=content.placeholder
    dateChanged="valueChanged"}}
