{{#if (eq selectedPaymentMethod 'gpi')}}
<div>
  <h3>
    PLOS  GLobal Participation Initiative (Low- and Middle-Income Country Assistance)
  </h3>

  <p>
    Authors' research that is funded primarily (50% or more of the work contained within the article)
    by an institution or organization from eligible low- and middle-income countries
    will receive partial
    (<a href="http://www.plos.org/group-two-countries" target="_blank">group 2 countries</a>)
    or full
    (<a href="http://www.plos.org/group-one-countries" target="_blank">group 1 countries</a>)
    fee funding paid by the PLOS Global Participation Initiative (GPI).
    Group 2 PLOS GPI country authors who need to request additional support
    should apply for
    <a href="https://www.plos.org/publications/publication-fees/plos-publication-fee-assistance/" target="_blank">PLOS Publication Fee Assistance</a>
    instead of the PLOS GPI. View
    <a href="https://www.plos.org/publications/publication-fees/plos-global-participation-initiative/" target="_blank">PLOS GPI</a> for additional information.
  </p>

  <div class="form-group form-inline">
    <div class="required form-group author-half {{if validationErrors.department "error"}}">
      {{error-message message=null}}
      {{nested-question-select ident="plos_billing--gpi_country"
                        owner=task
                        displayQuestionText=false
                        placeholder="Select your Country"
                        source=groupOneAndTwoCountries
                        width="300"}}
    </div>
  </div>
</div>
{{/if}}
