{{#overlay-fullscreen visible=visible
   outAnimationComplete=outAnimationComplete
   overlayClass="dirty overlay--blue--bg"
   cleanDirtyModel=(action 'cleanDirtyModel')
   as |overlay|}}
  <h3>
    There are unsaved changes. Are you sure you want to leave this page?
  </h3>

  <br/>
  <div class="overlay-message-footer">
    <div>
      <button class="button-primary" {{action overlay.animateOut}}>STAY ON THIS PAGE</button>
      <button class="button-primary" {{action cleanDirtyModel}}>LEAVE WITHOUT SAVING</button>
    </div>
  </div>
{{/overlay-fullscreen}}
