<div id="styleguide">
  <div class="row">
    <div class="col-md-6">
      <p>
        Run
        <code>rake styleguide:generate</code> to get the latest HTML from the app.
      </p>
    </div>
    <div class="col-md-6">
      <button id="toggle-source" class="btn btn-primary">
        Toggle All Source
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 id="devices">
        Devices
      </h2>

      <p>
        Tahi is not a mobile web app. It is intended for desktop, laptop and sometimes tablet.
      </p>
    </div>
  </div>
  <hr/>

  <div class="row">
    <div class="col-md-6">
      <h2 id="colors">
        Colors
      </h2>

      <p>
        Tahi's color palette is intentionally constrained. There is a primary color that serves as the pop color to a grayscale palette. The admin section has a different pop color to easily differentiate it from the rest of the app.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <div class="color-bar">
            <div class="swatch" style="background-color: #39a329;">
            </div>
            <p>
              $tahi-green
              <br> #39a329
              <br>
              <br> Primary links, buttons, logo, badges, success state
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="color-bar">
            <div class="swatch" style="background-color: #8ecb87;">
            </div>
            <p>
              $tahi-green-light
              <br> #8ecb87
              <br>
              <br> Secondary links, buttons, logo, badges
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="color-bar">
            <div class="swatch" style="background-color: #0f7400;">
            </div>
            <p>
              $tahi-green-dark
              <br> #0f7400
              <br>
              <br> Active links, buttons
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="color-bar">
            <div class="swatch" style="background-color: #2d85de;">
            </div>
            <p>
              $tahi-blue
              <br> #2d85de
              <br>
              <br> On the admin section
              <br> Primary links, buttons, logo, badges
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="color-bar">
            <div class="swatch" style="background-color: #94b8e0;">
            </div>
            <p>
              $tahi-blue-light
              <br> #94b8e0
              <br>
              <br> On the admin section
              <br> Secondary links, buttons, logo, badges
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="color-bar">
            <div class="swatch" style="background-color: #205e9c;">
            </div>
            <p>
              $tahi-blue-dark
              <br> #205e9c
              <br>
              <br> On the admin section
              <br> Active links, buttons
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="color-bar">
            <div class="swatch" style="background-color: #f2f2f2;">
            </div>
            <p>
              $tahi-grey
              <br> #777
              <br>
              <br> Global background, content background, secondary content, dividers
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="color-bar">
            <div class="swatch" style="background-color: #f5f5f5;">
            </div>
            <p>
              $tahi-grey-xlight
              <br> #f5f5f5
              <br>
              <br> ???
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="color-bar">
            <div class="swatch" style="background-color: #d5d5d5;">
            </div>
            <p>
              $tahi-grey-light
              <br> #d5d5d5
              <br>
              <br> Secondary buttons, logo, badgets, primary, content dividers, content borders
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="color-bar">
            <div class="swatch" style="background-color: #878787;">
            </div>
            <p>
              $tahi-grey-dark
              <br> #878787
              <br>
              <br> Secondary Text
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="color-bar">
            <div class="swatch" style="background-color: #000000;">
            </div>
            <p>
              $tahi-black
              <br> #000000
              <br>
              <br> Text
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 id="dividers">
        Dividers & Borders
      </h2>

      {{! This dark border can be found as a top-border on a Card Overlay's body}}
      <hr style="border-top: 1px solid black;"> $border-color-dark / $color-light
      <br> #878787

      <p>
        Primary content dividers, primary borders
      </p>

      <hr/> $border-color-light / $background-grey
      <br> #f2f2f2

      <p>
        Primary content dividers, primary borders
      </p>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-md-6">
      <h2 id="typography">
        Typography
      </h2>
      <p>
        Source Sans Pro is the typeface used through the Tahi application. Lora is used only for the manuscript itself, and the expression of the manuscript's title in different places in the system.
      </p>

      <h2>
        Headings
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 source-sans-pro">
      <div class="row">
        <div class="col-md-3">
          <h1>
            h1
          </h1>
        </div>
        <div class="col-md-3">
          Source Sans Pro Regular 48px
          <br> System card name
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h2>
            h2
          </h2>
        </div>
        <div class="col-md-3">
          Source Sans Pro Regular 36px
          <br> System section name
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h3>
            h3
          </h3>
        </div>
        <div class="col-md-3">
          Source Sans Pro Regular 26px
          <br> System subsection name
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h4>
            h4
          </h4>
        </div>
        <div class="col-md-3">
          Source Sans Pro Regular 18px
          <br> System subheader
        </div>
      </div>
    </div>
    <div class="col-md-12 lora">
      <div class="row">
        <div class="col-md-3">
          <h1>
            h1
          </h1>
        </div>
        <div class="col-md-3">
          Lora Regular 48px
          <br> Manuscript title
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <h2>
            h2
          </h2>
        </div>
        <div class="col-md-3">
          Lora Regular 36px
          <br> Manuscript section name
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h3>
            h3
          </h3>
        </div>
        <div class="col-md-3">
          Lora Regular 26px
          <br> Manuscript subsection name
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-md-12">
      <h2 id="paragraphs">
        Paragraphs
      </h2>

      <div class="source-sans-pro">
        <p style="background-color: #E5E5E5; padding: 2em;">
          Authors must follow field-specific standards for data deposition in publicly available resources and should include accession numbers in the manuscript when relevant. The manuscript should explain what steps have been taken to make data available, particularly
          in cases where the data cannot be publicly deposited.
        </p>
      </div>

      <p>
        Source Sans Pro Regular 14px
        <br> 30px line-height
        <br> 450-650 max-width
        <br>
        <br> System paragraph text
      </p>

      <div class="lora">
        <p style="background-color: #E5E5E5; padding: 2em;">
          Authors must follow field-specific standards for dsata deposition in publicly available resources and should include accession numbers in the manuscript when relevant. The manuscript should explain what steps have been taken to make data available, particularly
          in cases where the data cannot be publicly deposited.
        </p>
      </div>

      <p>
        Lora 14px
        <br> 30px line-height
        <br> 450-650 max-width
        <br>
        <br> Manuscript paragraph text
      </p>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-md-12">
      <h2 id="links">
        Links
      </h2>

      <div class="row">
        <div class="col-md-3">
          <a href="#">Default Link</a>
        </div>
        <div class="col-md-3">
          $color-primary
          <br> #39a329
        </div>
        <div class="col-md-3">
          <a href="#" style="text-decoration: underline;">Default link hover</a>
        </div>
        <div class="col-md-3">
          #color-active
          <br> #0f7400
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <a href="#" style="color: #2d85de;">Default Admin Link</a>
        </div>
        <div class="col-md-3">
          $color-primary-admin
          <br> #2d85de
        </div>
        <div class="col-md-3">
          <a href="#" style="text-decoration: underline; color: #2d85de;">Default admin link hover</a>
        </div>
        <div class="col-md-3">
          #color-active-admin
          <br> #205e9c
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <a href="#" style="color: #D5D5D5; pointer-events: none; cursor: default;">Disabled Link</a>
        </div>
        <div class="col-md-3">
          $color-light
          <br> #d5d5d5
        </div>
      </div>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="col-md-12">
      <h2 id="lists">
        Lists
      </h2>

      <div class="row">
        <div class="col-md-6">
          <ul>
            <li>
              Review ethics statement
            </li>
            <li>
              If the author has mentioned Dryad in their Data statement, check that they've included the Dryad reviewer URL. If not, make a note in the discussion below.
            </li>
            <li>
              Review competing interest statement
            </li>
          </ul>

          <p>
            Source Sans Pro Regular 14px
            <br> 30px line-height
            <br> 450-650 max-width
            <br> 20px between list-market & text
            <br> 20px padding between list-items
          </p>

          <p>
            Un-ordered and ordered and lists
          </p>
        </div>
        <div class="col-md-6">
          <ol>
            <li>
              Review ethics statement
            </li>
            <li>
              If the author has mentioned Dryad in their Data statement, check that they've included the Dryad reviewer URL. If not, make a note in the discussion below.
            </li>
            <li>
              Review competing interest statement
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <h2 id="text-arrows">
    Text Arrows
  </h2>

  <div class="row">
    <div class="col-md-6">
      &lt; Back Forward &gt;
    </div>
    <div class="col-md-6">
      &lt; Back Forward &gt;
    </div>
  </div>

  <hr/>

  <h2 id="buttons">
    Buttons
  </h2>

  <div class="row">
    <div class="col-md-3">
      <div class="button-primary button--green">Save</div>
      <div class="button-secondary button--green">Save</div>
      <div class="button-link button--green">Save</div>
    </div>
    <div class="col-md-3">
      <div class="button-primary button--small button--green">Save</div>
      <div class="button-secondary button--small button--green">Save</div>
      <div class="button-link button--small button--green">Save</div>
    </div>
    <div class="col-md-3">
      <div class="button-primary button--disabled button--green">Save</div>
      <div class="button-secondary button--disabled button--green">Save</div>
      <div class="button-link button--disabled button--green">Save</div>
    </div>
    <div class="col-md-3">
      <div style="background-color: #29a904; padding: 10px;">
        <div class="button-secondary button--green knockout">Save</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="button-primary button--grey">Save</div>
      <div class="button-secondary button--grey">Save</div>
      <div class="button-link button--grey">Save</div>
    </div>
    <div class="col-md-3">
      <div class="button-primary button--small button--grey">Save</div>
      <div class="button-secondary button--small button--grey">Save</div>
      <div class="button-link button--small button--grey">Save</div>
    </div>
    <div class="col-md-3">
      <div class="button-primary button--disabled button--grey">Save</div>
      <div class="button-secondary button--disabled button--grey">Save</div>
      <div class="button-link button--disabled button--grey">Save</div>
    </div>
    <div class="col-md-3">
      <div style="background-color: #E5E5E5; padding: 10px;">
        <div class="button-secondary button--grey knockout">Save</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="button-primary button--blue">Save</div>
      <div class="button-secondary button--blue">Save</div>
      <div class="button-link button--blue">Save</div>
    </div>
    <div class="col-md-3">
      <div class="button-primary button--small button--blue">Save</div>
      <div class="button-secondary button--small button--blue">Save</div>
      <div class="button-link button--small button--blue">Save</div>
    </div>
    <div class="col-md-3">
      <div class="button-primary button--disabled button--blue">Save</div>
      <div class="button-secondary button--disabled button--blue">Save</div>
      <div class="button-link button--disabled button--blue">Save</div>
    </div>
    <div class="col-md-3">
      <div style="background-color: #2d85de; padding: 10px;">
        <div class="button-secondary button--blue knockout">Save</div>
      </div>
    </div>
  </div>

  <hr />

  <h2 id="form-fields">
    Form fields
  </h2>

  <div class="row">
    <div class="col-md-6">
      <div class="inset-form-control">
        <label class="inset-form-control-text">Label *</label>
        <input class="inset-form-control-input" placeholder="Placeholder text" value="Input text" type="text" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="inset-form-control">
        <label class="inset-form-control-text">Label</label>
        <input class="inset-form-control-input" placeholder="Placeholder text" type="text" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p>
        Label
        <br> Source Sans Pro Regular 12pt
        <br> $color-medium
        <br> #878787
      </p>
    </div>
    <div class="col-md-3">
      <p>
        Input text
        <br> Source Sans Pro Regular 17pt
        <br> $color-dark
        <br> #8ECB87
      </p>
    </div>
    <div class="col-md-6">
      <p>
        Placeholder text
        <br> $color-light
        <br> #d5d5d5
        <br>
      </p>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-md-6">
      <select class="select2" style="width: 100%">
        <option>New York</option>
        <option>Chicago</option>
        <option>San Francisco</option>
        <option>Dallas</option>
        <option>Atlanta</option>
      </select>
      <p>Single select</p>
    </div>
    <div class="col-md-6">
      <select class="select2" multiple style="width: 100%">
        <option>New York</option>
        <option>Chicago</option>
        <option>San Francisco</option>
        <option>Dallas</option>
        <option>Atlanta</option>
      </select>
      <p>Multiple select</p>
    </div>
  </div>
  <script>
    $('.select2').select2();
  </script>

  <hr/>

  <div class="row">
    <div class="col-md-12">
      <div class="inset-form-control">
        <textarea rows="30" class="form-control"></textarea>
      </div>
      <p>Textarea</p>
    </div>
  </div>

  <hr/>

  <h2 id="radio-buttons-checkboxes">
    Radio buttons & checkboxes
  </h2>

  <div class="row" id="radio-checkbox">
    <div class="col-md-4">
      <p>Radio buttons</p>
      <label>
        <input type="radio" name="mygroup"> Yes
      </label>
      <label>
        <input type="radio" name="mygroup"> No
      </label>
    </div>
    <div class="col-md-4">
      <form class="form-inline">
        <p>Checkboxes</p>
        <label class="checkbox">
          <input type="checkbox" name="mygroup" checked="checked"> Completed
        </label>
        <label class="checkbox">
          <input type="checkbox" name="mygroup"> Completed
        </label>
      </form>
    </div>
  </div>

  <hr/>

  {{!-- How to modify View attributes here? --}}
  {{!--partial "paper/control-bar"--}}


  <h3 id="default">
    Default Toolbar
  </h3>
  <div element-name="toolbar" source-page-name="paper" source-page-selector=".control-bar">
    <div class="control-bar">
      <div class="control-bar-inner-wrapper">
        <ul>
          <li id="control-bar-paper-journal-logo" class="control-bar-item">
            <div class="paper-journal">Journal 77</div>
          </li>
        </ul>
        <ul>
          <li class="control-bar-item">
            <div class="control-bar-link contributors-link __with-icon" data-ember-action="1300">
              <div class="control-bar-link-icon">
                <span class="glyphicon glyphicon-user"></span>
              </div>
              <div class="control-bar-link-text">
                <span class="control-bar-toggle ">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="6.717px" height="6.717px" viewbox="0 0 6.717 6.717" enable-background="new 0 0 6.717 6.717" xml:space="preserve">
                    <polygon points="3.858,6.717 2.858,6.717 2.858,3.859 0,3.859 0,2.859 2.858,2.859 2.858,0 3.858,0 3.858,2.859 6.717,2.859 6.717,3.859 3.858,3.859 "></polygon>
                  </svg>
                </span>
                Contributors
              </div>
            </div>
          </li>
          <li class="control-bar-item">
            <div class="control-bar-link downloads-link __with-icon" data-ember-action="1301">
              <div class="control-bar-link-icon">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12.33px" height="16.93px" viewbox="0 0 12.33 16.93" enable-background="new 0 0 12.33 16.93" xml:space="preserve">
                  <polygon points="3.803,0 3.803,5.337 0,5.337 5.889,13.986 11.839,5.337 7.913,5.337 7.913,0 "></polygon>
                  <rect x="0.368" y="15.151" width="11.962" height="1.779"></rect>
                </svg>
              </div>
              <div class="control-bar-link-text">
                <span class="control-bar-toggle ">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="6.717px" height="6.717px" viewbox="0 0 6.717 6.717" enable-background="new 0 0 6.717 6.717" xml:space="preserve">
                    <polygon points="3.858,6.717 2.858,6.717 2.858,3.859 0,3.859 0,2.859 2.858,2.859 2.858,0 3.858,0 3.858,2.859 6.717,2.859 6.717,3.859 3.858,3.859 "></polygon>
                  </svg>
                </span>
                Downloads
              </div>
            </div>
          </li>
          <li class="control-bar-item">
            <a id="ember1608" class="ember-view control-bar-link control-bar-button" href="/papers/1/manage">
              <div class="control-bar-link-icon">
                <svg class="manuscript-manager-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="15px" viewbox="24.802 49.047 122 86.523" enable-background="new 24.802 49.047 122 86.523"
                xml:space="preserve">
                  <g>
                    <path d="M45.612,90.248c0,0.994-0.806,1.8-1.8,1.8H28.561c-0.994,0-1.8-0.806-1.8-1.8v-37.29 c0-0.994,0.806-1.8,1.8-1.8h15.251c0.994,0,1.8,0.806,1.8,1.8V90.248z"></path>
                    <path d="M144.798,90.248c0,0.994-0.806,1.8-1.8,1.8h-15.251c-0.994,0-1.8-0.806-1.8-1.8v-37.29 c0-0.994,0.806-1.8,1.8-1.8h15.251c0.994,0,1.8,0.806,1.8,1.8V90.248z"></path>
                    <path d="M70.435,131.505c0,0.994-0.806,1.8-1.8,1.8H53.383c-0.994,0-1.8-0.806-1.8-1.8V52.96 c0-0.994,0.806-1.8,1.8-1.8h15.251c0.994,0,1.8,0.806,1.8,1.8L70.435,131.505L70.435,131.505z"></path>
                    <path d="M95.257,105.388c0,0.994-0.806,1.8-1.8,1.8H78.205c-0.994,0-1.8-0.806-1.8-1.8V52.96 c0-0.994,0.806-1.8,1.8-1.8h15.251c0.994,0,1.8,0.806,1.8,1.8L95.257,105.388L95.257,105.388z"></path>
                    <path d="M120.101,120.471c0,0.994-0.806,1.8-1.8,1.8H103.05c-0.994,0-1.8-0.806-1.8-1.8V52.96 c0-0.994,0.806-1.8,1.8-1.8h15.251c0.994,0,1.8,0.806,1.8,1.8C120.101,52.96,120.101,120.471,120.101,120.471z"></path>
                  </g>
                </svg>
              </div>
              Workflow
            </a>
          </li>
        </ul>
      </div>

      <div class="control-bar-sub-items">
        <div class="contributors ">
          <a class="contributors-add" data-ember-action="1380">Add Collaborators</a>

          <div class="contributor">Henry85 Smith85</div>
        </div>

        <div class="manuscript-download-links ">
          <a href="#" class="docx" title="Download docx" data-ember-action="1606">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55.255px" height="24.835px" viewbox="6.933 0 55.255 24.835" enable-background="new 6.933 0 55.255 24.835" xml:space="preserve">
              <g>
                <path d="M62.184,6.368c-0.001-0.103-0.034-0.204-0.104-0.284L57.761,1.15c-0.001-0.001-0.002-0.002-0.004-0.003
            c-0.026-0.029-0.055-0.052-0.087-0.073c-0.009-0.006-0.019-0.012-0.029-0.017c-0.028-0.015-0.057-0.027-0.087-0.036
            c-0.008-0.002-0.015-0.006-0.023-0.008C57.498,1.005,57.465,1,57.43,1H46.816c-0.484,0-0.878,0.394-0.878,0.878V22.52
            c0,0.484,0.394,0.878,0.878,0.878H61.31c0.485,0,0.878-0.394,0.878-0.878V6.417C62.188,6.4,62.185,6.384,62.184,6.368z
            M46.816,22.5V1.878h10.175v4.494c0,0.242,0.197,0.439,0.439,0.439h3.879l0,15.685L46.816,22.5z"></path>
                <path d="M56.659,11.675h3.196c0.16,0,0.291-0.13,0.291-0.291c0-0.161-0.13-0.291-0.291-0.291h-3.196
            c-0.161,0-0.291,0.13-0.291,0.291C56.369,11.544,56.498,11.675,56.659,11.675z"></path>
                <path d="M56.659,13.816h3.196c0.16,0,0.291-0.13,0.291-0.291c0-0.161-0.13-0.291-0.291-0.291h-3.196
            c-0.161,0-0.291,0.13-0.291,0.291C56.369,13.686,56.498,13.816,56.659,13.816z"></path>
                <path d="M59.716,15.297H49.167c-0.213,0-0.386,0.13-0.386,0.291s0.173,0.291,0.386,0.291h10.549c0.214,0,0.386-0.13,0.386-0.291
            S59.929,15.297,59.716,15.297z"></path>
                <path d="M59.716,17.493H49.167c-0.213,0-0.386,0.13-0.386,0.291s0.173,0.291,0.386,0.291h10.549c0.214,0,0.386-0.13,0.386-0.291
            S59.929,17.493,59.716,17.493z"></path>
                <path d="M59.716,19.579H49.167c-0.213,0-0.386,0.13-0.386,0.291s0.173,0.291,0.386,0.291h10.549c0.214,0,0.386-0.13,0.386-0.291
            S59.929,19.579,59.716,19.579z"></path>
                <g>
                  <path d="M51.958,9.816h-0.049l-1.56,4.264c-0.033,0.093-0.074,0.211-0.205,0.211c-0.09,0-0.14-0.068-0.172-0.169l-1.847-5.363
              c-0.082-0.237-0.23-0.304-0.337-0.304h-0.205c-0.041,0-0.049-0.034-0.049-0.068v-0.22c0-0.042,0.008-0.059,0.066-0.059
              c0.066,0,0.32,0.025,1.166,0.025c0.591,0,0.928-0.025,1.01-0.025c0.057,0,0.066,0.025,0.066,0.068v0.211
              c0,0.043-0.008,0.068-0.066,0.068h-0.181c-0.131,0-0.213,0.118-0.164,0.287l1.125,3.688h0.049
              c0.099-0.288,1.084-2.978,1.084-3.282c0-0.211-0.082-0.432-0.156-0.533c-0.074-0.101-0.181-0.16-0.246-0.16h-0.164
              c-0.041,0-0.049-0.017-0.049-0.068v-0.22c0-0.034,0.008-0.059,0.057-0.059c0.074,0,0.361,0.025,1.084,0.025
              c0.69,0,1.001-0.025,1.084-0.025c0.049,0,0.057,0.025,0.057,0.076v0.211c0,0.034-0.008,0.059-0.057,0.059H53.05
              c-0.131,0-0.205,0.186-0.164,0.33l1.133,3.646h0.049c0.402-1.15,1.116-3.299,1.116-3.756c0-0.093-0.107-0.22-0.263-0.22h-0.238
              c-0.049,0-0.057-0.025-0.057-0.076V8.166c0-0.034,0.008-0.059,0.066-0.059c0.082,0,0.37,0.025,0.879,0.025
              c0.46,0,0.698-0.025,0.763-0.025c0.049,0,0.057,0.017,0.057,0.076v0.211c0,0.034,0,0.059-0.057,0.059h-0.156
              c-0.139,0-0.304,0.093-0.386,0.304c-0.099,0.271-1.749,4.863-1.913,5.27c-0.041,0.101-0.099,0.262-0.246,0.262
              c-0.115,0-0.164-0.11-0.205-0.229L51.958,9.816z"></path>
                </g>
              </g>
              <g>
                <path fill="#231F20" d="M6.933,19.035v-10.5h3.9c3.03,0,5.205,1.935,5.205,5.25s-2.175,5.25-5.205,5.25H6.933z M8.523,10.02v7.529
            h2.31c2.28,0,3.465-1.5,3.465-3.765s-1.185-3.765-3.465-3.765H8.523z"></path>
                <path fill="#231F20" d="M16.863,15.344c0-2.13,1.35-3.854,3.69-3.854s3.705,1.725,3.705,3.854c0,2.115-1.365,3.84-3.705,3.84
            S16.863,17.46,16.863,15.344z M18.423,15.344c0,1.561,0.765,2.521,2.13,2.521c1.38,0,2.145-0.96,2.145-2.521
            c0-1.574-0.765-2.534-2.145-2.534C19.188,12.81,18.423,13.77,18.423,15.344z"></path>
                <path fill="#231F20" d="M25.337,15.33c0-2.13,1.215-3.84,3.645-3.84c1.141,0,1.815,0.225,2.265,0.48l-0.194,1.35
            c-0.601-0.33-1.215-0.51-1.92-0.51c-1.485,0-2.235,0.96-2.235,2.52c0,1.53,0.75,2.55,2.235,2.55c0.705,0,1.335-0.18,1.92-0.51
            l0.18,1.26c-0.45,0.285-1.05,0.555-2.234,0.555C26.567,19.184,25.337,17.4,25.337,15.33z"></path>
                <path fill="#231F20" d="M39.527,19.035l-2.864-4.14l-2.641,4.14h-1.755l3.585-5.235l-3.524-5.264h1.845l2.61,3.96l2.67-3.96h1.739
            l-3.645,5.07l3.734,5.43H39.527z"></path>
              </g>
            </svg>
          </a>
          <div id="ember1314" class="ember-view">
            <a href="/papers/1/download">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="57.926px" height="24.393px" viewbox="0 0 57.926 24.393" enable-background="new 0 0 57.926 24.393" xml:space="preserve">
                <path display="none" fill="#464646" d="M31.979,14.494c0.773-1.516,1.652-3.224,2.356-4.939l0,0l0.278-0.677
            c-0.919-3.497-1.47-6.304-0.978-8.118l0,0C33.768,0.287,34.316,0,34.902,0l0,0l0.357,0.005h0.066
            c0.802-0.012,1.18,1.008,1.223,1.405l0,0c0.071,0.661-0.235,1.779-0.235,1.779l0,0c0-0.451,0.018-1.181-0.267-1.811l0,0
            c-0.332-0.728-0.649-1.164-0.933-1.233l0,0c-0.143,0.096-0.283,0.294-0.331,0.676l0,0c-0.099,0.535-0.129,1.211-0.129,1.558l0,0
            c0,1.231,0.242,2.854,0.718,4.528l0,0c0.09-0.259,0.168-0.508,0.231-0.741l0,0c0.098-0.368,0.718-2.805,0.718-2.805l0,0
            c0,0-0.157,3.245-0.375,4.226l0,0C35.899,7.795,35.848,8,35.794,8.21l0,0c0.785,2.193,2.05,4.15,3.559,5.56l0,0
            c0.595,0.556,1.346,1.005,2.058,1.413l0,0c1.552-0.222,2.983-0.327,4.175-0.314l0,0c1.583,0.021,2.744,0.255,3.215,0.718l0,0
            c0.23,0.225,0.324,0.497,0.353,0.802l0,0c0.007,0.119-0.051,0.398-0.068,0.467l0,0c0.017-0.085,0.017-0.501-1.254-0.907l0,0
            c-1-0.32-2.873-0.31-5.12-0.071l0,0c2.599,1.272,5.131,1.903,5.933,1.525l0,0c0.196-0.096,0.435-0.421,0.435-0.421l0,0
            c0,0-0.141,0.643-0.243,0.803l0,0c-0.129,0.174-0.384,0.364-0.625,0.427l0,0c-1.268,0.338-4.566-0.444-7.442-2.088l0,0
            c-2.954,0.435-6.508,1.271-9.569,2.275l0,0c-2.779,4.871-4.869,7.108-6.569,6.257l0,0l-0.625-0.314
            c-0.254-0.146-0.293-0.499-0.234-0.787l0,0c0.198-0.97,1.414-2.431,3.856-3.888l0,0c0.263-0.16,1.434-0.778,1.434-0.778l0,0
            c0,0-0.867,0.839-1.07,1.003l0,0c-1.949,1.597-3.388,3.607-3.352,4.387l0,0l0.007,0.068C26.303,24.111,28.787,20.741,31.979,14.494
            M32.991,15.012c-0.533,1.005-1.054,1.935-1.536,2.79l0,0c2.662-1.115,5.527-1.829,8.254-2.336l0,0
            c-0.367-0.253-0.722-0.521-1.057-0.804l0,0c-1.502-1.272-2.647-2.858-3.477-4.527l0,0C34.649,11.553,34.023,13.06,32.991,15.012"></path>
                <g display="none">
                  <path display="inline" d="M1.427,15.46v3.6h-1.65V8.56h3.24c2.28,0,3.945,0.45,3.945,3.285s-1.965,3.615-3.39,3.615H1.427z
              M1.427,9.955v4.05h1.875c1.44,0,2.01-0.69,2.01-2.115c0-1.395-0.54-1.935-2.295-1.935H1.427z"></path>
                  <path display="inline" d="M8.492,19.06V8.56h3.9c3.03,0,5.205,1.935,5.205,5.25c0,3.315-2.175,5.25-5.205,5.25H8.492z
              M10.082,10.045v7.53h2.31c2.28,0,3.465-1.5,3.465-3.765c0-2.265-1.185-3.765-3.465-3.765H10.082z"></path>
                  <path display="inline" d="M20.957,10.045v2.79h3.735v1.485h-3.735v4.74h-1.59V8.56h6.419v1.485H20.957z"></path>
                </g>
                <g>
                  <path d="M1.575,15.357c0.195,1.815,1.32,2.385,2.58,2.385c0.69,0,1.53-0.18,2.175-0.495l0.15,1.245
              c-0.57,0.27-1.41,0.57-2.475,0.57C1.38,19.062,0,17.292,0,15.177c0-2.07,1.32-3.81,3.6-3.81c1.86,0,3.21,1.185,3.21,3.165
              c0,0.24-0.015,0.525-0.075,0.825H1.575z M1.665,14.307H5.25c0-0.915-0.495-1.62-1.65-1.62C2.49,12.687,1.905,13.317,1.665,14.307z"></path>
                  <path d="M10.162,15.312v3.6h-1.65v-10.5h3.24c2.28,0,3.945,0.45,3.945,3.285s-1.965,3.615-3.39,3.615H10.162z M10.162,9.807v4.05
              h1.875c1.44,0,2.01-0.69,2.01-2.115c0-1.395-0.54-1.935-2.295-1.935H10.162z"></path>
                  <path d="M21.579,18.912l-0.105-0.69c-0.45,0.54-1.08,0.84-1.905,0.84c-1.935,0-2.88-1.185-2.88-3.36v-4.185h1.53v3.945
              c0,1.5,0.465,2.28,1.635,2.28c0.645,0,1.23-0.255,1.59-0.765v-5.459h1.53v7.395H21.579z"></path>
                  <path d="M26.478,18.162l-0.12,0.75h-1.38V7.662h1.53v4.5c0.57-0.615,1.395-0.795,2.1-0.795c2.175,0,3.435,1.815,3.435,3.855
              c0,2.13-1.395,3.84-3.45,3.84C27.873,19.062,27.018,18.747,26.478,18.162z M26.418,15.222c0,1.68,0.915,2.52,2.04,2.52
              c1.26,0,2.025-1.095,2.025-2.52c0-1.47-0.765-2.535-2.025-2.535C27.333,12.687,26.418,13.572,26.418,15.222z"></path>
                </g>
                <path fill="#464646" d="M45.73,19.863l-7.665-7.666l7.665-7.665l2.555,2.555l-5.111,5.11l2.555,2.555l7.665-7.665l-6.677-6.677
            c-0.545-0.546-1.43-0.546-1.975,0l-10.8,10.8c-0.545,0.545-0.545,1.43,0,1.975l10.8,10.799c0.546,0.546,1.43,0.546,1.975,0
            l10.8-10.799c0.545-0.546,0.545-1.43,0-1.975l-1.568-1.567L45.73,19.863z"></path>
              </svg>
            </a>
          </div>
          <div id="ember1315" class="ember-view">
            <a href="/papers/1/download.pdf">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="49.376px" height="24.835px" viewbox="0 0 49.376 24.835" enable-background="new 0 0 49.376 24.835" xml:space="preserve">
                <path fill="#464646" d="M32.202,14.494c0.773-1.516,1.652-3.224,2.356-4.939l0,0l0.278-0.677c-0.919-3.497-1.47-6.304-0.978-8.118
            l0,0C33.991,0.287,34.539,0,35.125,0l0,0l0.357,0.005h0.066c0.802-0.012,1.18,1.008,1.223,1.405l0,0
            c0.071,0.661-0.235,1.779-0.235,1.779l0,0c0-0.451,0.018-1.181-0.267-1.811l0,0c-0.332-0.728-0.649-1.164-0.933-1.233l0,0
            c-0.143,0.096-0.283,0.294-0.331,0.676l0,0c-0.099,0.535-0.129,1.211-0.129,1.558l0,0c0,1.231,0.242,2.854,0.718,4.528l0,0
            c0.09-0.259,0.168-0.508,0.231-0.741l0,0c0.098-0.368,0.718-2.805,0.718-2.805l0,0c0,0-0.157,3.245-0.375,4.226l0,0
            C36.122,7.795,36.071,8,36.017,8.21l0,0c0.785,2.193,2.05,4.15,3.559,5.56l0,0c0.595,0.556,1.346,1.005,2.058,1.413l0,0
            c1.552-0.222,2.983-0.327,4.175-0.314l0,0c1.583,0.021,2.744,0.255,3.215,0.718l0,0c0.23,0.225,0.324,0.497,0.353,0.802l0,0
            c0.007,0.119-0.051,0.398-0.068,0.467l0,0c0.017-0.085,0.017-0.501-1.254-0.907l0,0c-1-0.32-2.873-0.31-5.12-0.071l0,0
            c2.599,1.272,5.131,1.903,5.933,1.525l0,0c0.196-0.096,0.435-0.421,0.435-0.421l0,0c0,0-0.141,0.643-0.243,0.803l0,0
            c-0.129,0.174-0.384,0.364-0.625,0.427l0,0c-1.268,0.338-4.566-0.444-7.442-2.088l0,0c-2.954,0.435-6.508,1.271-9.569,2.275l0,0
            c-2.779,4.871-4.869,7.108-6.569,6.257l0,0l-0.625-0.314c-0.254-0.146-0.293-0.499-0.234-0.787l0,0
            c0.198-0.97,1.414-2.431,3.856-3.888l0,0c0.263-0.16,1.434-0.778,1.434-0.778l0,0c0,0-0.867,0.839-1.07,1.003l0,0
            c-1.949,1.597-3.388,3.607-3.352,4.387l0,0l0.007,0.068C26.526,24.111,29.01,20.741,32.202,14.494 M33.214,15.012
            c-0.533,1.005-1.054,1.935-1.536,2.79l0,0c2.662-1.115,5.527-1.829,8.254-2.336l0,0c-0.367-0.253-0.722-0.521-1.057-0.804l0,0
            c-1.502-1.272-2.647-2.858-3.477-4.527l0,0C34.872,11.553,34.246,13.06,33.214,15.012"></path>
                <g>
                  <path d="M1.65,15.46v3.6H0V8.56h3.24c2.28,0,3.945,0.45,3.945,3.285S5.22,15.46,3.795,15.46H1.65z M1.65,9.955v4.05h1.875
              c1.44,0,2.01-0.69,2.01-2.115c0-1.395-0.54-1.935-2.295-1.935H1.65z"></path>
                  <path d="M8.715,19.06V8.56h3.9c3.03,0,5.205,1.935,5.205,5.25c0,3.315-2.175,5.25-5.205,5.25H8.715z M10.305,10.045v7.53h2.31
              c2.28,0,3.465-1.5,3.465-3.765c0-2.265-1.185-3.765-3.465-3.765H10.305z"></path>
                  <path d="M21.18,10.045v2.79h3.735v1.485H21.18v4.74h-1.59V8.56h6.419v1.485H21.18z"></path>
                </g>
              </svg>


            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="contributors">
    Collaborators
  </h3>
  <div class="control-bar-sub-nav-active">
    <div element-name="toolbar" source-page-name="paper_contributors" source-page-selector=".control-bar">
      <div class="control-bar">
        <div class="control-bar-inner-wrapper">
          <ul>
            <li id="control-bar-paper-journal-logo" class="control-bar-item">
              <div class="paper-journal">Journal 134</div>
            </li>
          </ul>
          <ul>
            <li class="control-bar-item">
              <div class="control-bar-link contributors-link __with-icon" data-ember-action="1300">
                <div class="control-bar-link-icon">
                  <span class="glyphicon glyphicon-user"></span>
                </div>
                <div class="control-bar-link-text">
                  <span class="control-bar-toggle control-bar-toggle--active">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="6.717px" height="6.717px" viewbox="0 0 6.717 6.717" enable-background="new 0 0 6.717 6.717" xml:space="preserve">
                      <polygon points="3.858,6.717 2.858,6.717 2.858,3.859 0,3.859 0,2.859 2.858,2.859 2.858,0 3.858,0 3.858,2.859 6.717,2.859 6.717,3.859 3.858,3.859 "></polygon>
                    </svg>
                  </span>
                  Collaborators
                </div>
              </div>
            </li>
            <li class="control-bar-item">
              <div class="control-bar-link downloads-link __with-icon" data-ember-action="1301">
                <div class="control-bar-link-icon">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12.33px" height="16.93px" viewbox="0 0 12.33 16.93" enable-background="new 0 0 12.33 16.93" xml:space="preserve">
                    <polygon points="3.803,0 3.803,5.337 0,5.337 5.889,13.986 11.839,5.337 7.913,5.337 7.913,0 "></polygon>
                    <rect x="0.368" y="15.151" width="11.962" height="1.779"></rect>
                  </svg>
                </div>
                <div class="control-bar-link-text">
                  <span class="control-bar-toggle ">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="6.717px" height="6.717px" viewbox="0 0 6.717 6.717" enable-background="new 0 0 6.717 6.717" xml:space="preserve">
                      <polygon points="3.858,6.717 2.858,6.717 2.858,3.859 0,3.859 0,2.859 2.858,2.859 2.858,0 3.858,0 3.858,2.859 6.717,2.859 6.717,3.859 3.858,3.859 "></polygon>
                    </svg>
                  </span>
                  Downloads
                </div>
              </div>
            </li>
            <li class="control-bar-item">
              <a id="ember1608" class="ember-view control-bar-link control-bar-button" href="/papers/1/manage">
                <div class="control-bar-link-icon">
                  <svg class="manuscript-manager-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="15px" viewbox="24.802 49.047 122 86.523" enable-background="new 24.802 49.047 122 86.523"
                  xml:space="preserve">
                    <g>
                      <path d="M45.612,90.248c0,0.994-0.806,1.8-1.8,1.8H28.561c-0.994,0-1.8-0.806-1.8-1.8v-37.29 c0-0.994,0.806-1.8,1.8-1.8h15.251c0.994,0,1.8,0.806,1.8,1.8V90.248z"></path>
                      <path d="M144.798,90.248c0,0.994-0.806,1.8-1.8,1.8h-15.251c-0.994,0-1.8-0.806-1.8-1.8v-37.29 c0-0.994,0.806-1.8,1.8-1.8h15.251c0.994,0,1.8,0.806,1.8,1.8V90.248z"></path>
                      <path d="M70.435,131.505c0,0.994-0.806,1.8-1.8,1.8H53.383c-0.994,0-1.8-0.806-1.8-1.8V52.96 c0-0.994,0.806-1.8,1.8-1.8h15.251c0.994,0,1.8,0.806,1.8,1.8L70.435,131.505L70.435,131.505z"></path>
                      <path d="M95.257,105.388c0,0.994-0.806,1.8-1.8,1.8H78.205c-0.994,0-1.8-0.806-1.8-1.8V52.96 c0-0.994,0.806-1.8,1.8-1.8h15.251c0.994,0,1.8,0.806,1.8,1.8L95.257,105.388L95.257,105.388z"></path>
                      <path d="M120.101,120.471c0,0.994-0.806,1.8-1.8,1.8H103.05c-0.994,0-1.8-0.806-1.8-1.8V52.96 c0-0.994,0.806-1.8,1.8-1.8h15.251c0.994,0,1.8,0.806,1.8,1.8C120.101,52.96,120.101,120.471,120.101,120.471z"></path>
                    </g>
                  </svg>
                </div>
                Workflow
              </a>
            </li>
          </ul>
        </div>

        <div class="control-bar-sub-items">
          <div class="contributors active">
            <a class="contributors-add" data-ember-action="1380">Add Contributors</a>

            <div class="contributor">Henry148 Smith148</div>
          </div>

          <div class="manuscript-download-links ">
            <a href="#" class="docx" title="Download docx" data-ember-action="1606">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55.255px" height="24.835px" viewbox="6.933 0 55.255 24.835" enable-background="new 6.933 0 55.255 24.835"
              xml:space="preserve">
                <g>
                  <path d="M62.184,6.368c-0.001-0.103-0.034-0.204-0.104-0.284L57.761,1.15c-0.001-0.001-0.002-0.002-0.004-0.003
          c-0.026-0.029-0.055-0.052-0.087-0.073c-0.009-0.006-0.019-0.012-0.029-0.017c-0.028-0.015-0.057-0.027-0.087-0.036
          c-0.008-0.002-0.015-0.006-0.023-0.008C57.498,1.005,57.465,1,57.43,1H46.816c-0.484,0-0.878,0.394-0.878,0.878V22.52
          c0,0.484,0.394,0.878,0.878,0.878H61.31c0.485,0,0.878-0.394,0.878-0.878V6.417C62.188,6.4,62.185,6.384,62.184,6.368z
          M46.816,22.5V1.878h10.175v4.494c0,0.242,0.197,0.439,0.439,0.439h3.879l0,15.685L46.816,22.5z"></path>
                  <path d="M56.659,11.675h3.196c0.16,0,0.291-0.13,0.291-0.291c0-0.161-0.13-0.291-0.291-0.291h-3.196
          c-0.161,0-0.291,0.13-0.291,0.291C56.369,11.544,56.498,11.675,56.659,11.675z"></path>
                  <path d="M56.659,13.816h3.196c0.16,0,0.291-0.13,0.291-0.291c0-0.161-0.13-0.291-0.291-0.291h-3.196
          c-0.161,0-0.291,0.13-0.291,0.291C56.369,13.686,56.498,13.816,56.659,13.816z"></path>
                  <path d="M59.716,15.297H49.167c-0.213,0-0.386,0.13-0.386,0.291s0.173,0.291,0.386,0.291h10.549c0.214,0,0.386-0.13,0.386-0.291
          S59.929,15.297,59.716,15.297z"></path>
                  <path d="M59.716,17.493H49.167c-0.213,0-0.386,0.13-0.386,0.291s0.173,0.291,0.386,0.291h10.549c0.214,0,0.386-0.13,0.386-0.291
          S59.929,17.493,59.716,17.493z"></path>
                  <path d="M59.716,19.579H49.167c-0.213,0-0.386,0.13-0.386,0.291s0.173,0.291,0.386,0.291h10.549c0.214,0,0.386-0.13,0.386-0.291
          S59.929,19.579,59.716,19.579z"></path>
                  <g>
                    <path d="M51.958,9.816h-0.049l-1.56,4.264c-0.033,0.093-0.074,0.211-0.205,0.211c-0.09,0-0.14-0.068-0.172-0.169l-1.847-5.363
            c-0.082-0.237-0.23-0.304-0.337-0.304h-0.205c-0.041,0-0.049-0.034-0.049-0.068v-0.22c0-0.042,0.008-0.059,0.066-0.059
            c0.066,0,0.32,0.025,1.166,0.025c0.591,0,0.928-0.025,1.01-0.025c0.057,0,0.066,0.025,0.066,0.068v0.211
            c0,0.043-0.008,0.068-0.066,0.068h-0.181c-0.131,0-0.213,0.118-0.164,0.287l1.125,3.688h0.049
            c0.099-0.288,1.084-2.978,1.084-3.282c0-0.211-0.082-0.432-0.156-0.533c-0.074-0.101-0.181-0.16-0.246-0.16h-0.164
            c-0.041,0-0.049-0.017-0.049-0.068v-0.22c0-0.034,0.008-0.059,0.057-0.059c0.074,0,0.361,0.025,1.084,0.025
            c0.69,0,1.001-0.025,1.084-0.025c0.049,0,0.057,0.025,0.057,0.076v0.211c0,0.034-0.008,0.059-0.057,0.059H53.05
            c-0.131,0-0.205,0.186-0.164,0.33l1.133,3.646h0.049c0.402-1.15,1.116-3.299,1.116-3.756c0-0.093-0.107-0.22-0.263-0.22h-0.238
            c-0.049,0-0.057-0.025-0.057-0.076V8.166c0-0.034,0.008-0.059,0.066-0.059c0.082,0,0.37,0.025,0.879,0.025
            c0.46,0,0.698-0.025,0.763-0.025c0.049,0,0.057,0.017,0.057,0.076v0.211c0,0.034,0,0.059-0.057,0.059h-0.156
            c-0.139,0-0.304,0.093-0.386,0.304c-0.099,0.271-1.749,4.863-1.913,5.27c-0.041,0.101-0.099,0.262-0.246,0.262
            c-0.115,0-0.164-0.11-0.205-0.229L51.958,9.816z"></path>
                  </g>
                </g>
                <g>
                  <path fill="#231F20" d="M6.933,19.035v-10.5h3.9c3.03,0,5.205,1.935,5.205,5.25s-2.175,5.25-5.205,5.25H6.933z M8.523,10.02v7.529
          h2.31c2.28,0,3.465-1.5,3.465-3.765s-1.185-3.765-3.465-3.765H8.523z"></path>
                  <path fill="#231F20" d="M16.863,15.344c0-2.13,1.35-3.854,3.69-3.854s3.705,1.725,3.705,3.854c0,2.115-1.365,3.84-3.705,3.84
          S16.863,17.46,16.863,15.344z M18.423,15.344c0,1.561,0.765,2.521,2.13,2.521c1.38,0,2.145-0.96,2.145-2.521
          c0-1.574-0.765-2.534-2.145-2.534C19.188,12.81,18.423,13.77,18.423,15.344z"></path>
                  <path fill="#231F20" d="M25.337,15.33c0-2.13,1.215-3.84,3.645-3.84c1.141,0,1.815,0.225,2.265,0.48l-0.194,1.35
          c-0.601-0.33-1.215-0.51-1.92-0.51c-1.485,0-2.235,0.96-2.235,2.52c0,1.53,0.75,2.55,2.235,2.55c0.705,0,1.335-0.18,1.92-0.51
          l0.18,1.26c-0.45,0.285-1.05,0.555-2.234,0.555C26.567,19.184,25.337,17.4,25.337,15.33z"></path>
                  <path fill="#231F20" d="M39.527,19.035l-2.864-4.14l-2.641,4.14h-1.755l3.585-5.235l-3.524-5.264h1.845l2.61,3.96l2.67-3.96h1.739
          l-3.645,5.07l3.734,5.43H39.527z"></path>
                </g>
              </svg>
            </a>
            <div id="ember1314" class="ember-view">
              <a href="/papers/1/download">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="57.926px" height="24.393px" viewbox="0 0 57.926 24.393" enable-background="new 0 0 57.926 24.393" xml:space="preserve">
                  <path display="none" fill="#464646" d="M31.979,14.494c0.773-1.516,1.652-3.224,2.356-4.939l0,0l0.278-0.677
          c-0.919-3.497-1.47-6.304-0.978-8.118l0,0C33.768,0.287,34.316,0,34.902,0l0,0l0.357,0.005h0.066
          c0.802-0.012,1.18,1.008,1.223,1.405l0,0c0.071,0.661-0.235,1.779-0.235,1.779l0,0c0-0.451,0.018-1.181-0.267-1.811l0,0
          c-0.332-0.728-0.649-1.164-0.933-1.233l0,0c-0.143,0.096-0.283,0.294-0.331,0.676l0,0c-0.099,0.535-0.129,1.211-0.129,1.558l0,0
          c0,1.231,0.242,2.854,0.718,4.528l0,0c0.09-0.259,0.168-0.508,0.231-0.741l0,0c0.098-0.368,0.718-2.805,0.718-2.805l0,0
          c0,0-0.157,3.245-0.375,4.226l0,0C35.899,7.795,35.848,8,35.794,8.21l0,0c0.785,2.193,2.05,4.15,3.559,5.56l0,0
          c0.595,0.556,1.346,1.005,2.058,1.413l0,0c1.552-0.222,2.983-0.327,4.175-0.314l0,0c1.583,0.021,2.744,0.255,3.215,0.718l0,0
          c0.23,0.225,0.324,0.497,0.353,0.802l0,0c0.007,0.119-0.051,0.398-0.068,0.467l0,0c0.017-0.085,0.017-0.501-1.254-0.907l0,0
          c-1-0.32-2.873-0.31-5.12-0.071l0,0c2.599,1.272,5.131,1.903,5.933,1.525l0,0c0.196-0.096,0.435-0.421,0.435-0.421l0,0
          c0,0-0.141,0.643-0.243,0.803l0,0c-0.129,0.174-0.384,0.364-0.625,0.427l0,0c-1.268,0.338-4.566-0.444-7.442-2.088l0,0
          c-2.954,0.435-6.508,1.271-9.569,2.275l0,0c-2.779,4.871-4.869,7.108-6.569,6.257l0,0l-0.625-0.314
          c-0.254-0.146-0.293-0.499-0.234-0.787l0,0c0.198-0.97,1.414-2.431,3.856-3.888l0,0c0.263-0.16,1.434-0.778,1.434-0.778l0,0
          c0,0-0.867,0.839-1.07,1.003l0,0c-1.949,1.597-3.388,3.607-3.352,4.387l0,0l0.007,0.068C26.303,24.111,28.787,20.741,31.979,14.494
          M32.991,15.012c-0.533,1.005-1.054,1.935-1.536,2.79l0,0c2.662-1.115,5.527-1.829,8.254-2.336l0,0
          c-0.367-0.253-0.722-0.521-1.057-0.804l0,0c-1.502-1.272-2.647-2.858-3.477-4.527l0,0C34.649,11.553,34.023,13.06,32.991,15.012"></path>
                  <g display="none">
                    <path display="inline" d="M1.427,15.46v3.6h-1.65V8.56h3.24c2.28,0,3.945,0.45,3.945,3.285s-1.965,3.615-3.39,3.615H1.427z
            M1.427,9.955v4.05h1.875c1.44,0,2.01-0.69,2.01-2.115c0-1.395-0.54-1.935-2.295-1.935H1.427z"></path>
                    <path display="inline" d="M8.492,19.06V8.56h3.9c3.03,0,5.205,1.935,5.205,5.25c0,3.315-2.175,5.25-5.205,5.25H8.492z
            M10.082,10.045v7.53h2.31c2.28,0,3.465-1.5,3.465-3.765c0-2.265-1.185-3.765-3.465-3.765H10.082z"></path>
                    <path display="inline" d="M20.957,10.045v2.79h3.735v1.485h-3.735v4.74h-1.59V8.56h6.419v1.485H20.957z"></path>
                  </g>
                  <g>
                    <path d="M1.575,15.357c0.195,1.815,1.32,2.385,2.58,2.385c0.69,0,1.53-0.18,2.175-0.495l0.15,1.245
            c-0.57,0.27-1.41,0.57-2.475,0.57C1.38,19.062,0,17.292,0,15.177c0-2.07,1.32-3.81,3.6-3.81c1.86,0,3.21,1.185,3.21,3.165
            c0,0.24-0.015,0.525-0.075,0.825H1.575z M1.665,14.307H5.25c0-0.915-0.495-1.62-1.65-1.62C2.49,12.687,1.905,13.317,1.665,14.307z"></path>
                    <path d="M10.162,15.312v3.6h-1.65v-10.5h3.24c2.28,0,3.945,0.45,3.945,3.285s-1.965,3.615-3.39,3.615H10.162z M10.162,9.807v4.05
            h1.875c1.44,0,2.01-0.69,2.01-2.115c0-1.395-0.54-1.935-2.295-1.935H10.162z"></path>
                    <path d="M21.579,18.912l-0.105-0.69c-0.45,0.54-1.08,0.84-1.905,0.84c-1.935,0-2.88-1.185-2.88-3.36v-4.185h1.53v3.945
            c0,1.5,0.465,2.28,1.635,2.28c0.645,0,1.23-0.255,1.59-0.765v-5.459h1.53v7.395H21.579z"></path>
                    <path d="M26.478,18.162l-0.12,0.75h-1.38V7.662h1.53v4.5c0.57-0.615,1.395-0.795,2.1-0.795c2.175,0,3.435,1.815,3.435,3.855
            c0,2.13-1.395,3.84-3.45,3.84C27.873,19.062,27.018,18.747,26.478,18.162z M26.418,15.222c0,1.68,0.915,2.52,2.04,2.52
            c1.26,0,2.025-1.095,2.025-2.52c0-1.47-0.765-2.535-2.025-2.535C27.333,12.687,26.418,13.572,26.418,15.222z"></path>
                  </g>
                  <path fill="#464646" d="M45.73,19.863l-7.665-7.666l7.665-7.665l2.555,2.555l-5.111,5.11l2.555,2.555l7.665-7.665l-6.677-6.677
          c-0.545-0.546-1.43-0.546-1.975,0l-10.8,10.8c-0.545,0.545-0.545,1.43,0,1.975l10.8,10.799c0.546,0.546,1.43,0.546,1.975,0
          l10.8-10.799c0.545-0.546,0.545-1.43,0-1.975l-1.568-1.567L45.73,19.863z"></path>
                </svg>



              </a>
            </div>
            <div id="ember1315" class="ember-view">
              <a href="/papers/1/download.pdf">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="49.376px" height="24.835px" viewbox="0 0 49.376 24.835" enable-background="new 0 0 49.376 24.835" xml:space="preserve">
                  <path fill="#464646" d="M32.202,14.494c0.773-1.516,1.652-3.224,2.356-4.939l0,0l0.278-0.677c-0.919-3.497-1.47-6.304-0.978-8.118
          l0,0C33.991,0.287,34.539,0,35.125,0l0,0l0.357,0.005h0.066c0.802-0.012,1.18,1.008,1.223,1.405l0,0
          c0.071,0.661-0.235,1.779-0.235,1.779l0,0c0-0.451,0.018-1.181-0.267-1.811l0,0c-0.332-0.728-0.649-1.164-0.933-1.233l0,0
          c-0.143,0.096-0.283,0.294-0.331,0.676l0,0c-0.099,0.535-0.129,1.211-0.129,1.558l0,0c0,1.231,0.242,2.854,0.718,4.528l0,0
          c0.09-0.259,0.168-0.508,0.231-0.741l0,0c0.098-0.368,0.718-2.805,0.718-2.805l0,0c0,0-0.157,3.245-0.375,4.226l0,0
          C36.122,7.795,36.071,8,36.017,8.21l0,0c0.785,2.193,2.05,4.15,3.559,5.56l0,0c0.595,0.556,1.346,1.005,2.058,1.413l0,0
          c1.552-0.222,2.983-0.327,4.175-0.314l0,0c1.583,0.021,2.744,0.255,3.215,0.718l0,0c0.23,0.225,0.324,0.497,0.353,0.802l0,0
          c0.007,0.119-0.051,0.398-0.068,0.467l0,0c0.017-0.085,0.017-0.501-1.254-0.907l0,0c-1-0.32-2.873-0.31-5.12-0.071l0,0
          c2.599,1.272,5.131,1.903,5.933,1.525l0,0c0.196-0.096,0.435-0.421,0.435-0.421l0,0c0,0-0.141,0.643-0.243,0.803l0,0
          c-0.129,0.174-0.384,0.364-0.625,0.427l0,0c-1.268,0.338-4.566-0.444-7.442-2.088l0,0c-2.954,0.435-6.508,1.271-9.569,2.275l0,0
          c-2.779,4.871-4.869,7.108-6.569,6.257l0,0l-0.625-0.314c-0.254-0.146-0.293-0.499-0.234-0.787l0,0
          c0.198-0.97,1.414-2.431,3.856-3.888l0,0c0.263-0.16,1.434-0.778,1.434-0.778l0,0c0,0-0.867,0.839-1.07,1.003l0,0
          c-1.949,1.597-3.388,3.607-3.352,4.387l0,0l0.007,0.068C26.526,24.111,29.01,20.741,32.202,14.494 M33.214,15.012
          c-0.533,1.005-1.054,1.935-1.536,2.79l0,0c2.662-1.115,5.527-1.829,8.254-2.336l0,0c-0.367-0.253-0.722-0.521-1.057-0.804l0,0
          c-1.502-1.272-2.647-2.858-3.477-4.527l0,0C34.872,11.553,34.246,13.06,33.214,15.012"></path>
                  <g>
                    <path d="M1.65,15.46v3.6H0V8.56h3.24c2.28,0,3.945,0.45,3.945,3.285S5.22,15.46,3.795,15.46H1.65z M1.65,9.955v4.05h1.875
            c1.44,0,2.01-0.69,2.01-2.115c0-1.395-0.54-1.935-2.295-1.935H1.65z"></path>
                    <path d="M8.715,19.06V8.56h3.9c3.03,0,5.205,1.935,5.205,5.25c0,3.315-2.175,5.25-5.205,5.25H8.715z M10.305,10.045v7.53h2.31
            c2.28,0,3.465-1.5,3.465-3.765c0-2.265-1.185-3.765-3.465-3.765H10.305z"></path>
                    <path d="M21.18,10.045v2.79h3.735v1.485H21.18v4.74h-1.59V8.56h6.419v1.485H21.18z"></path>
                  </g>
                </svg>


              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="download-document">
    Download Document
  </h3>
  <div class="control-bar-sub-nav-active">
    <div element-name="toolbar" source-page-name="paper_download_document" source-page-selector=".control-bar">
      <div class="control-bar">
        <div class="control-bar-inner-wrapper">
          <ul>
            <li id="control-bar-paper-journal-logo" class="control-bar-item">
              <div class="paper-journal">Journal 419</div>
            </li>
          </ul>
          <ul>
            <li class="control-bar-item">
              <div class="control-bar-link contributors-link __with-icon" data-ember-action="1300">
                <div class="control-bar-link-icon">
                  <span class="glyphicon glyphicon-user"></span>
                </div>
                <div class="control-bar-link-text">
                  <span class="control-bar-toggle ">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="6.717px" height="6.717px" viewbox="0 0 6.717 6.717" enable-background="new 0 0 6.717 6.717" xml:space="preserve">
                      <polygon points="3.858,6.717 2.858,6.717 2.858,3.859 0,3.859 0,2.859 2.858,2.859 2.858,0 3.858,0 3.858,2.859 6.717,2.859 6.717,3.859 3.858,3.859 "></polygon>
                    </svg>
                  </span>
                  Contributors
                </div>
              </div>
            </li>
            <li class="control-bar-item">
              <div class="control-bar-link downloads-link __with-icon" data-ember-action="1301">
                <div class="control-bar-link-icon">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12.33px" height="16.93px" viewbox="0 0 12.33 16.93" enable-background="new 0 0 12.33 16.93" xml:space="preserve">
                    <polygon points="3.803,0 3.803,5.337 0,5.337 5.889,13.986 11.839,5.337 7.913,5.337 7.913,0 "></polygon>
                    <rect x="0.368" y="15.151" width="11.962" height="1.779"></rect>
                  </svg>
                </div>
                <div class="control-bar-link-text">
                  <span class="control-bar-toggle control-bar-toggle--active">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="6.717px" height="6.717px" viewbox="0 0 6.717 6.717" enable-background="new 0 0 6.717 6.717" xml:space="preserve">
                      <polygon points="3.858,6.717 2.858,6.717 2.858,3.859 0,3.859 0,2.859 2.858,2.859 2.858,0 3.858,0 3.858,2.859 6.717,2.859 6.717,3.859 3.858,3.859 "></polygon>
                    </svg>
                  </span>
                  Downloads
                </div>
              </div>
            </li>
            <li class="control-bar-item">
              <a id="ember1608" class="ember-view control-bar-link control-bar-button" href="/papers/1/manage">
                <div class="control-bar-link-icon">
                  <svg class="manuscript-manager-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="15px" viewbox="24.802 49.047 122 86.523" enable-background="new 24.802 49.047 122 86.523"
                  xml:space="preserve">
                    <g>
                      <path d="M45.612,90.248c0,0.994-0.806,1.8-1.8,1.8H28.561c-0.994,0-1.8-0.806-1.8-1.8v-37.29 c0-0.994,0.806-1.8,1.8-1.8h15.251c0.994,0,1.8,0.806,1.8,1.8V90.248z"></path>
                      <path d="M144.798,90.248c0,0.994-0.806,1.8-1.8,1.8h-15.251c-0.994,0-1.8-0.806-1.8-1.8v-37.29 c0-0.994,0.806-1.8,1.8-1.8h15.251c0.994,0,1.8,0.806,1.8,1.8V90.248z"></path>
                      <path d="M70.435,131.505c0,0.994-0.806,1.8-1.8,1.8H53.383c-0.994,0-1.8-0.806-1.8-1.8V52.96 c0-0.994,0.806-1.8,1.8-1.8h15.251c0.994,0,1.8,0.806,1.8,1.8L70.435,131.505L70.435,131.505z"></path>
                      <path d="M95.257,105.388c0,0.994-0.806,1.8-1.8,1.8H78.205c-0.994,0-1.8-0.806-1.8-1.8V52.96 c0-0.994,0.806-1.8,1.8-1.8h15.251c0.994,0,1.8,0.806,1.8,1.8L95.257,105.388L95.257,105.388z"></path>
                      <path d="M120.101,120.471c0,0.994-0.806,1.8-1.8,1.8H103.05c-0.994,0-1.8-0.806-1.8-1.8V52.96 c0-0.994,0.806-1.8,1.8-1.8h15.251c0.994,0,1.8,0.806,1.8,1.8C120.101,52.96,120.101,120.471,120.101,120.471z"></path>
                    </g>
                  </svg>
                </div>
                Workflow
              </a>
            </li>
          </ul>
        </div>

        <div class="control-bar-sub-items">
          <div class="contributors ">
            <a class="contributors-add" data-ember-action="1380">Add Contributors</a>

            <div class="contributor">Henry463 Smith463</div>
          </div>

          <div class="manuscript-download-links active">
            <a href="#" class="docx" title="Download docx" data-ember-action="1606">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55.255px" height="24.835px" viewbox="6.933 0 55.255 24.835" enable-background="new 6.933 0 55.255 24.835"
              xml:space="preserve">
                <g>
                  <path d="M62.184,6.368c-0.001-0.103-0.034-0.204-0.104-0.284L57.761,1.15c-0.001-0.001-0.002-0.002-0.004-0.003
        c-0.026-0.029-0.055-0.052-0.087-0.073c-0.009-0.006-0.019-0.012-0.029-0.017c-0.028-0.015-0.057-0.027-0.087-0.036
        c-0.008-0.002-0.015-0.006-0.023-0.008C57.498,1.005,57.465,1,57.43,1H46.816c-0.484,0-0.878,0.394-0.878,0.878V22.52
        c0,0.484,0.394,0.878,0.878,0.878H61.31c0.485,0,0.878-0.394,0.878-0.878V6.417C62.188,6.4,62.185,6.384,62.184,6.368z
        M46.816,22.5V1.878h10.175v4.494c0,0.242,0.197,0.439,0.439,0.439h3.879l0,15.685L46.816,22.5z"></path>
                  <path d="M56.659,11.675h3.196c0.16,0,0.291-0.13,0.291-0.291c0-0.161-0.13-0.291-0.291-0.291h-3.196
        c-0.161,0-0.291,0.13-0.291,0.291C56.369,11.544,56.498,11.675,56.659,11.675z"></path>
                  <path d="M56.659,13.816h3.196c0.16,0,0.291-0.13,0.291-0.291c0-0.161-0.13-0.291-0.291-0.291h-3.196
        c-0.161,0-0.291,0.13-0.291,0.291C56.369,13.686,56.498,13.816,56.659,13.816z"></path>
                  <path d="M59.716,15.297H49.167c-0.213,0-0.386,0.13-0.386,0.291s0.173,0.291,0.386,0.291h10.549c0.214,0,0.386-0.13,0.386-0.291
        S59.929,15.297,59.716,15.297z"></path>
                  <path d="M59.716,17.493H49.167c-0.213,0-0.386,0.13-0.386,0.291s0.173,0.291,0.386,0.291h10.549c0.214,0,0.386-0.13,0.386-0.291
        S59.929,17.493,59.716,17.493z"></path>
                  <path d="M59.716,19.579H49.167c-0.213,0-0.386,0.13-0.386,0.291s0.173,0.291,0.386,0.291h10.549c0.214,0,0.386-0.13,0.386-0.291
        S59.929,19.579,59.716,19.579z"></path>
                  <g>
                    <path d="M51.958,9.816h-0.049l-1.56,4.264c-0.033,0.093-0.074,0.211-0.205,0.211c-0.09,0-0.14-0.068-0.172-0.169l-1.847-5.363
          c-0.082-0.237-0.23-0.304-0.337-0.304h-0.205c-0.041,0-0.049-0.034-0.049-0.068v-0.22c0-0.042,0.008-0.059,0.066-0.059
          c0.066,0,0.32,0.025,1.166,0.025c0.591,0,0.928-0.025,1.01-0.025c0.057,0,0.066,0.025,0.066,0.068v0.211
          c0,0.043-0.008,0.068-0.066,0.068h-0.181c-0.131,0-0.213,0.118-0.164,0.287l1.125,3.688h0.049
          c0.099-0.288,1.084-2.978,1.084-3.282c0-0.211-0.082-0.432-0.156-0.533c-0.074-0.101-0.181-0.16-0.246-0.16h-0.164
          c-0.041,0-0.049-0.017-0.049-0.068v-0.22c0-0.034,0.008-0.059,0.057-0.059c0.074,0,0.361,0.025,1.084,0.025
          c0.69,0,1.001-0.025,1.084-0.025c0.049,0,0.057,0.025,0.057,0.076v0.211c0,0.034-0.008,0.059-0.057,0.059H53.05
          c-0.131,0-0.205,0.186-0.164,0.33l1.133,3.646h0.049c0.402-1.15,1.116-3.299,1.116-3.756c0-0.093-0.107-0.22-0.263-0.22h-0.238
          c-0.049,0-0.057-0.025-0.057-0.076V8.166c0-0.034,0.008-0.059,0.066-0.059c0.082,0,0.37,0.025,0.879,0.025
          c0.46,0,0.698-0.025,0.763-0.025c0.049,0,0.057,0.017,0.057,0.076v0.211c0,0.034,0,0.059-0.057,0.059h-0.156
          c-0.139,0-0.304,0.093-0.386,0.304c-0.099,0.271-1.749,4.863-1.913,5.27c-0.041,0.101-0.099,0.262-0.246,0.262
          c-0.115,0-0.164-0.11-0.205-0.229L51.958,9.816z"></path>
                  </g>
                </g>
                <g>
                  <path fill="#231F20" d="M6.933,19.035v-10.5h3.9c3.03,0,5.205,1.935,5.205,5.25s-2.175,5.25-5.205,5.25H6.933z M8.523,10.02v7.529
        h2.31c2.28,0,3.465-1.5,3.465-3.765s-1.185-3.765-3.465-3.765H8.523z"></path>
                  <path fill="#231F20" d="M16.863,15.344c0-2.13,1.35-3.854,3.69-3.854s3.705,1.725,3.705,3.854c0,2.115-1.365,3.84-3.705,3.84
        S16.863,17.46,16.863,15.344z M18.423,15.344c0,1.561,0.765,2.521,2.13,2.521c1.38,0,2.145-0.96,2.145-2.521
        c0-1.574-0.765-2.534-2.145-2.534C19.188,12.81,18.423,13.77,18.423,15.344z"></path>
                  <path fill="#231F20" d="M25.337,15.33c0-2.13,1.215-3.84,3.645-3.84c1.141,0,1.815,0.225,2.265,0.48l-0.194,1.35
        c-0.601-0.33-1.215-0.51-1.92-0.51c-1.485,0-2.235,0.96-2.235,2.52c0,1.53,0.75,2.55,2.235,2.55c0.705,0,1.335-0.18,1.92-0.51
        l0.18,1.26c-0.45,0.285-1.05,0.555-2.234,0.555C26.567,19.184,25.337,17.4,25.337,15.33z"></path>
                  <path fill="#231F20" d="M39.527,19.035l-2.864-4.14l-2.641,4.14h-1.755l3.585-5.235l-3.524-5.264h1.845l2.61,3.96l2.67-3.96h1.739
        l-3.645,5.07l3.734,5.43H39.527z"></path>
                </g>
              </svg>
            </a>
            <div id="ember1314" class="ember-view">
              <a href="/papers/1/download">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="57.926px" height="24.393px" viewbox="0 0 57.926 24.393" enable-background="new 0 0 57.926 24.393" xml:space="preserve">
                  <path display="none" fill="#464646" d="M31.979,14.494c0.773-1.516,1.652-3.224,2.356-4.939l0,0l0.278-0.677
        c-0.919-3.497-1.47-6.304-0.978-8.118l0,0C33.768,0.287,34.316,0,34.902,0l0,0l0.357,0.005h0.066
        c0.802-0.012,1.18,1.008,1.223,1.405l0,0c0.071,0.661-0.235,1.779-0.235,1.779l0,0c0-0.451,0.018-1.181-0.267-1.811l0,0
        c-0.332-0.728-0.649-1.164-0.933-1.233l0,0c-0.143,0.096-0.283,0.294-0.331,0.676l0,0c-0.099,0.535-0.129,1.211-0.129,1.558l0,0
        c0,1.231,0.242,2.854,0.718,4.528l0,0c0.09-0.259,0.168-0.508,0.231-0.741l0,0c0.098-0.368,0.718-2.805,0.718-2.805l0,0
        c0,0-0.157,3.245-0.375,4.226l0,0C35.899,7.795,35.848,8,35.794,8.21l0,0c0.785,2.193,2.05,4.15,3.559,5.56l0,0
        c0.595,0.556,1.346,1.005,2.058,1.413l0,0c1.552-0.222,2.983-0.327,4.175-0.314l0,0c1.583,0.021,2.744,0.255,3.215,0.718l0,0
        c0.23,0.225,0.324,0.497,0.353,0.802l0,0c0.007,0.119-0.051,0.398-0.068,0.467l0,0c0.017-0.085,0.017-0.501-1.254-0.907l0,0
        c-1-0.32-2.873-0.31-5.12-0.071l0,0c2.599,1.272,5.131,1.903,5.933,1.525l0,0c0.196-0.096,0.435-0.421,0.435-0.421l0,0
        c0,0-0.141,0.643-0.243,0.803l0,0c-0.129,0.174-0.384,0.364-0.625,0.427l0,0c-1.268,0.338-4.566-0.444-7.442-2.088l0,0
        c-2.954,0.435-6.508,1.271-9.569,2.275l0,0c-2.779,4.871-4.869,7.108-6.569,6.257l0,0l-0.625-0.314
        c-0.254-0.146-0.293-0.499-0.234-0.787l0,0c0.198-0.97,1.414-2.431,3.856-3.888l0,0c0.263-0.16,1.434-0.778,1.434-0.778l0,0
        c0,0-0.867,0.839-1.07,1.003l0,0c-1.949,1.597-3.388,3.607-3.352,4.387l0,0l0.007,0.068C26.303,24.111,28.787,20.741,31.979,14.494
        M32.991,15.012c-0.533,1.005-1.054,1.935-1.536,2.79l0,0c2.662-1.115,5.527-1.829,8.254-2.336l0,0
        c-0.367-0.253-0.722-0.521-1.057-0.804l0,0c-1.502-1.272-2.647-2.858-3.477-4.527l0,0C34.649,11.553,34.023,13.06,32.991,15.012"></path>
                  <g display="none">
                    <path display="inline" d="M1.427,15.46v3.6h-1.65V8.56h3.24c2.28,0,3.945,0.45,3.945,3.285s-1.965,3.615-3.39,3.615H1.427z
          M1.427,9.955v4.05h1.875c1.44,0,2.01-0.69,2.01-2.115c0-1.395-0.54-1.935-2.295-1.935H1.427z"></path>
                    <path display="inline" d="M8.492,19.06V8.56h3.9c3.03,0,5.205,1.935,5.205,5.25c0,3.315-2.175,5.25-5.205,5.25H8.492z
          M10.082,10.045v7.53h2.31c2.28,0,3.465-1.5,3.465-3.765c0-2.265-1.185-3.765-3.465-3.765H10.082z"></path>
                    <path display="inline" d="M20.957,10.045v2.79h3.735v1.485h-3.735v4.74h-1.59V8.56h6.419v1.485H20.957z"></path>
                  </g>
                  <g>
                    <path d="M1.575,15.357c0.195,1.815,1.32,2.385,2.58,2.385c0.69,0,1.53-0.18,2.175-0.495l0.15,1.245
          c-0.57,0.27-1.41,0.57-2.475,0.57C1.38,19.062,0,17.292,0,15.177c0-2.07,1.32-3.81,3.6-3.81c1.86,0,3.21,1.185,3.21,3.165
          c0,0.24-0.015,0.525-0.075,0.825H1.575z M1.665,14.307H5.25c0-0.915-0.495-1.62-1.65-1.62C2.49,12.687,1.905,13.317,1.665,14.307z"></path>
                    <path d="M10.162,15.312v3.6h-1.65v-10.5h3.24c2.28,0,3.945,0.45,3.945,3.285s-1.965,3.615-3.39,3.615H10.162z M10.162,9.807v4.05
          h1.875c1.44,0,2.01-0.69,2.01-2.115c0-1.395-0.54-1.935-2.295-1.935H10.162z"></path>
                    <path d="M21.579,18.912l-0.105-0.69c-0.45,0.54-1.08,0.84-1.905,0.84c-1.935,0-2.88-1.185-2.88-3.36v-4.185h1.53v3.945
          c0,1.5,0.465,2.28,1.635,2.28c0.645,0,1.23-0.255,1.59-0.765v-5.459h1.53v7.395H21.579z"></path>
                    <path d="M26.478,18.162l-0.12,0.75h-1.38V7.662h1.53v4.5c0.57-0.615,1.395-0.795,2.1-0.795c2.175,0,3.435,1.815,3.435,3.855
          c0,2.13-1.395,3.84-3.45,3.84C27.873,19.062,27.018,18.747,26.478,18.162z M26.418,15.222c0,1.68,0.915,2.52,2.04,2.52
          c1.26,0,2.025-1.095,2.025-2.52c0-1.47-0.765-2.535-2.025-2.535C27.333,12.687,26.418,13.572,26.418,15.222z"></path>
                  </g>
                  <path fill="#464646" d="M45.73,19.863l-7.665-7.666l7.665-7.665l2.555,2.555l-5.111,5.11l2.555,2.555l7.665-7.665l-6.677-6.677
        c-0.545-0.546-1.43-0.546-1.975,0l-10.8,10.8c-0.545,0.545-0.545,1.43,0,1.975l10.8,10.799c0.546,0.546,1.43,0.546,1.975,0
        l10.8-10.799c0.545-0.546,0.545-1.43,0-1.975l-1.568-1.567L45.73,19.863z"></path>
                </svg>



              </a>
            </div>
            <div id="ember1315" class="ember-view">
              <a href="/papers/1/download.pdf">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="49.376px" height="24.835px" viewbox="0 0 49.376 24.835" enable-background="new 0 0 49.376 24.835" xml:space="preserve">
                  <path fill="#464646" d="M32.202,14.494c0.773-1.516,1.652-3.224,2.356-4.939l0,0l0.278-0.677c-0.919-3.497-1.47-6.304-0.978-8.118
        l0,0C33.991,0.287,34.539,0,35.125,0l0,0l0.357,0.005h0.066c0.802-0.012,1.18,1.008,1.223,1.405l0,0
        c0.071,0.661-0.235,1.779-0.235,1.779l0,0c0-0.451,0.018-1.181-0.267-1.811l0,0c-0.332-0.728-0.649-1.164-0.933-1.233l0,0
        c-0.143,0.096-0.283,0.294-0.331,0.676l0,0c-0.099,0.535-0.129,1.211-0.129,1.558l0,0c0,1.231,0.242,2.854,0.718,4.528l0,0
        c0.09-0.259,0.168-0.508,0.231-0.741l0,0c0.098-0.368,0.718-2.805,0.718-2.805l0,0c0,0-0.157,3.245-0.375,4.226l0,0
        C36.122,7.795,36.071,8,36.017,8.21l0,0c0.785,2.193,2.05,4.15,3.559,5.56l0,0c0.595,0.556,1.346,1.005,2.058,1.413l0,0
        c1.552-0.222,2.983-0.327,4.175-0.314l0,0c1.583,0.021,2.744,0.255,3.215,0.718l0,0c0.23,0.225,0.324,0.497,0.353,0.802l0,0
        c0.007,0.119-0.051,0.398-0.068,0.467l0,0c0.017-0.085,0.017-0.501-1.254-0.907l0,0c-1-0.32-2.873-0.31-5.12-0.071l0,0
        c2.599,1.272,5.131,1.903,5.933,1.525l0,0c0.196-0.096,0.435-0.421,0.435-0.421l0,0c0,0-0.141,0.643-0.243,0.803l0,0
        c-0.129,0.174-0.384,0.364-0.625,0.427l0,0c-1.268,0.338-4.566-0.444-7.442-2.088l0,0c-2.954,0.435-6.508,1.271-9.569,2.275l0,0
        c-2.779,4.871-4.869,7.108-6.569,6.257l0,0l-0.625-0.314c-0.254-0.146-0.293-0.499-0.234-0.787l0,0
        c0.198-0.97,1.414-2.431,3.856-3.888l0,0c0.263-0.16,1.434-0.778,1.434-0.778l0,0c0,0-0.867,0.839-1.07,1.003l0,0
        c-1.949,1.597-3.388,3.607-3.352,4.387l0,0l0.007,0.068C26.526,24.111,29.01,20.741,32.202,14.494 M33.214,15.012
        c-0.533,1.005-1.054,1.935-1.536,2.79l0,0c2.662-1.115,5.527-1.829,8.254-2.336l0,0c-0.367-0.253-0.722-0.521-1.057-0.804l0,0
        c-1.502-1.272-2.647-2.858-3.477-4.527l0,0C34.872,11.553,34.246,13.06,33.214,15.012"></path>
                  <g>
                    <path d="M1.65,15.46v3.6H0V8.56h3.24c2.28,0,3.945,0.45,3.945,3.285S5.22,15.46,3.795,15.46H1.65z M1.65,9.955v4.05h1.875
          c1.44,0,2.01-0.69,2.01-2.115c0-1.395-0.54-1.935-2.295-1.935H1.65z"></path>
                    <path d="M8.715,19.06V8.56h3.9c3.03,0,5.205,1.935,5.205,5.25c0,3.315-2.175,5.25-5.205,5.25H8.715z M10.305,10.045v7.53h2.31
          c2.28,0,3.465-1.5,3.465-3.765c0-2.265-1.185-3.765-3.465-3.765H10.305z"></path>
                    <path d="M21.18,10.045v2.79h3.735v1.485H21.18v4.74h-1.59V8.56h6.419v1.485H21.18z"></path>
                  </g>
                </svg>


              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <hr/>

  <h2 id="errors">
    Errors
  </h2>

  {{flash-messages flash=flash classNames="flash-messages--below-control-bar"}}

  <hr/>

  <h2 id="avatars">
    Avatars
  </h2>

  <div class="row">
    <div class="col-md-4">
      {{user-avatar-upload user=user}}
    </div>
    <div class="col-md-4">
      {{!-- Render `user_thumbnail.js.coffee` here,
          or refactor that to a component.
          It uses using Ember.String.htmlSafe. --}}
      <img src="/images/profile-no-image.png" data-bindattr-1041="1041" class="user-thumbnail">
    </div>
    <div class="col-md-4">
      {{!-- This one is rendered from `participant-selector-component.js.coffee`s `selectedTemplate` function
          using Ember.String.htmlSafe --}}
      <img alt="User Name" class="user-thumbnail-small" src="/images/profile-no-image.png" data-toggle="tooltip" title="" data-original-title="User Name">
    </div>
  </div>

  <hr/>

  <h2 id="activity">
    Activity
  </h2>

  <div class="activity-overlay">
    <table>
      <tr>
        <td class="activity-overlay-message">Paper created</td>
        <td class="activity-overlay-timestamp">February 23, 2015 9:53 PM</td>
        <td class="activity-overlay-user">
          <img src="/images/profile-no-image.png" class="user-thumbnail"> Tod Rocket
        </td>
      </tr>
    </table>
  </div>

  <hr/>

  <div class="row">
    <div class="col-md-12">
      <h2 id="progress-spinner">
        Progess Spinner
      </h2>
      <br> {{progress-spinner visible=true size="large"}}
      <br>
      <br>
      <div class="well">
        progress-spinner visible=true size="large"
      </div>

      {{!select-2-single placeholder="Choose Journal"
          class="paper-new-journal-select"
          width="300"
          selectionSelected="selectJournal"
          source=journalProxies
          selectedData=selectedJournal }}

      {{!flow-column flow=flow
          paper=paper
          commentLooks=commentLooks
          journalTaskTypes=journalTaskTypes
          editable=true
          removeFlow="removeFlow"
          saveFlow="saveFlow"
          viewCard="viewCard"
          journalName=journal.name
          journalLogo=journal.logoUrl}}
    </div>
  </div>
</div>

<hr/>
