<div class="button-secondary button--green adhoc-toolbar-item--list" {{action "addChecklist"}}>
  <span class="fa fa-th-list"></span>
</div>

<div class="button-secondary button--green adhoc-toolbar-item--text" {{action "addTextBlock"}}>
  <span class="fa fa-text-width"></span>
</div>

<div class="button-secondary button--green adhoc-toolbar-item--email" {{action "addEmail"}}>
  <span class="fa fa-envelope"></span>
</div>

<div class="button-secondary button--green adhoc-toolbar-item--image" {{action "addAttachmentsBlock"}}>
  <span class="fa fa-paperclip"></span>
</div>
