<div class="button-secondary button--green adhoc-toolbar-item--list" {{action "addChecklist"}}>
  <span class="fa fa-th-list"></span>
</div>

<div class="button-secondary button--green adhoc-toolbar-item--text" {{action "addTextBlock"}}>
  <span class="fa fa-text-width"></span>
</div>

<div class="button-secondary button--green adhoc-toolbar-item--email" {{action "addEmail"}}>
  <span class="fa fa-envelope"></span>
</div>

<div class="button-secondary button--green adhoc-toolbar-item--image fileinput-button">
  <span class="fa fa-paperclip"></span>
  {{file-uploader id="file_attachment"
                  filePrefix="ad-hoc"
                  url=imageUploadUrl
                  accept=".jpg,.jpeg,.tiff,.tif,.gif,.png,.eps,.docx,.odt,.epub,.pdf"
                  start="uploadStarted"
                  done="uploadFinished"
                  cancel="cancelUploads"
                  progress="uploadProgress"}}
</div>
