#control-bar-journal-logo {
  display: block;
  height: 40px;
  margin-right: 1rem;
  align-self: center;
}

#control-bar-journal-name {
  font-size: 2.0rem;
  align-self: center;
}

#control-bar-journal-back-button {
  color: $aperta-blue;
  font-size: 1.8rem;

  &:focus,
  &:hover { color: $aperta-blue; }
}

@include min-screen-width($layout-large-screen) {
  #control-bar-journal-back-button {
    margin-left: 2rem;
    margin-right: 3rem;
    align-self: stretch;
    line-height: $control-bar-height-large-screen;
  }
}

.modal-field-label, .modal-field {
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal-field-label {
  @extend .col-md-4;
  font-size: 30px;
  text-align: right;
}

.modal-field {
  @extend .col-md-8;
  font-size: 24px;
  input {
    border: 1px solid $aperta-grey-light;
    border-radius: 5px;
    color: $aperta-blue;
    padding: 5px;
  }
}

.admin-user-search {
  width: 50%;
}

.admin-search {
  display: flex;

  input, button {
    color: #2d85de;
    border: 1px solid $aperta-blue;
    background: #fff;
  }

  input {
    flex-grow: 2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 1rem;
    font-size: 1.8rem;

    @include placeholder {
      color: lighten($aperta-blue, 25%);
      text-transform: uppercase;
    }
  }

  button {
    flex-basis: 60px;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 2.6rem;
    cursor: pointer;

    .fa {
      position: relative;
      top: -1px;
    }
  }
}

.admin-screen {
  .admin-role-action-button {
    display: inline;
    width: 30px;
    margin-right: 5px;
    color: $aperta-grey-light;
    font-size: 18px;
    cursor: pointer;

  }

  .role-name-field {
    position: relative;
    top: -2px;
    margin-left: 5px;
  }

  .action-buttons {
    display: none;

    button { float: right; }
  }

  .feature-flags {
    display: flex;
    flex-direction: column;
  }
}

.admin-user-search-default-state-text {
  clear: both;
  padding-top: 10px;
  color: $aperta-grey-dark;
  font-size: 22px;
  font-style: italic;
}

.admin-users {
  width: 100%;
  margin-top: 30px;
  border-collapse: separate;
  border-spacing: 0 10px;
  padding: 0;
  table-layout: fixed;
  clear: both;

  th {
    font-size: 18px;
    font-weight: normal;
    color: $aperta-grey-dark;
  }

  td {
    font-size: 16px;
    padding: 3px;
  }

  tr {
    color: $aperta-blue;
    vertical-align: top;
  }

  tr.user-row {
    cursor: pointer;
  }
}

.admin-users-row, .admin-section {
  border-top: 1px solid #ddd;
  margin: 0 0 25px 0;
  padding: 0 0 20px 0;

  &.first {
    border-top: 0;
  }
}

.admin-users-row {
  @extend .row;
}

.admin-section {
  position: relative;


  &:last-child {
    margin-bottom: 50px;
  }
}

.admin-section-title {
  margin: 0 0 15px 0; // override some nonsense default
  padding-top: 30px;
  font-size: 30px;
}

.admin-style-setting-section {
  float: left;
  margin-right: 25px;
  .save-status {
    color: $aperta-blue;
  }
}

.loader-container {
  .progress-spinner {
    margin-top: 0;
    &:after {
      margin-top: 2px;
      z-index: z('progress-spinner');
      left: 68px;
    }
  }
  height: 34px;
  position: absolute;
  width: 166px;
  background-color: rgba(34,92,156, 0.8);
  z-index: z('loading-container');
  border-radius: 5px;
}

.success {
  color: $aperta-green;
}

.error {
  color: $aperta-red;
}

.user-detail-overlay {
  span.save-status {
    color: $aperta-blue;
    vertical-align: -6px;
    font-style: italic;
  }
}
