.modal-field-label, .modal-field {
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal-field-label {
  @extend .col-md-4;
  font-size: 30px;
  text-align: right;
}

.modal-field {
  @extend .col-md-8;
  font-size: 24px;
  input {
    border: 1px solid $tahi-grey-light;
    border-radius: 5px;
    color: $tahi-blue;
    padding: 5px;
  }
}

.admin-screen {
  .admin-role-action-button {
    display: inline;
    width: 30px;
    margin-right: 5px;
    color: $tahi-grey-light;
    font-size: 18px;
    cursor: pointer;

  }

  .role-name-field {
    position: relative;
    top: -2px;
    margin-left: 5px;
  }

  .action-buttons {
    display: none;

    button { float: right; }
  }
}

.admin-user-search-input {
  float: left;
  width: 300px;
  border: 1px solid $tahi-blue;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  color: $tahi-blue;
  padding: 10px 10px 8px 10px;

  @include placeholder {
    color: $tahi-blue;
  }
}

.admin-user-search-button {
  float: left;
  width: 60px;
  border: 1px solid $tahi-blue;
  background: white;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 26px;
  padding: 6px 0 0;
  border-left: none;
  color: $tahi-blue;
}

.admin-user-search-default-state-text {
  clear: both;
  padding-top: 10px;
  color: $tahi-grey-dark;
  font-size: 22px;
  font-style: italic;
}

.admin-users {
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
  border-collapse: separate;
  border-spacing: 0 10px;
  padding: 0;
  table-layout: fixed;
  clear: both;

  th {
    font-size: 18px;
    font-weight: normal;
    color: $tahi-grey-dark;
  }

  td {
    font-size: 16px;
    padding: 3px;
  }

  tr {
    color: $tahi-blue;
  }

  tr.user-row {
    cursor: pointer;
  }
}

.admin-users-row, .admin-section {
  border-top: 1px solid #ddd;
  margin: 0 0 25px 0;
  padding: 0 0 20px 0;
}

.admin-users-row {
  @extend .row;
}

.admin-section {
  position: relative;


  &:last-child {
    margin-bottom: 50px;
  }
}

.admin-section-title {
  margin: 0 0 15px 0; // override some nonsense default
  padding-top: 30px;
  font-size: 30px;
}

.admin-style-setting-section {
  float: left;
  margin-right: 25px;
  .save-status {
    color: $tahi-blue;
  }
}

.loader-container {
  .progress-spinner {
    margin-top: 0;
    &:after {
      margin-top: 2px;
      z-index: z('progress-spinner');
      left: 68px;
    }
  }
  height: 34px;
  position: absolute;
  width: 166px;
  background-color: rgba(34,92,156, 0.8);
  z-index: z('loading-container');
  border-radius: 5px;
}

.success {
  color: $tahi-green;
}

.error {
  color: $tahi-error-red;
}

.user-detail-overlay {
  span.save-status {
    color: $tahi-blue;
    vertical-align: -6px;
    font-style: italic;
  }
}

.control-bar-journal-title {
  color: $tahi-blue;
  font-size: 24px;

  &:focus,
  &:hover { color: $tahi-blue; }
}
