.correspondence-history-screen {
  padding-top: 6rem;

  .main-content-section {
    padding-top: 1rem;
  }
}

.correspondence-table {
  overflow: auto;

  table {
    .sortable-table-header {
      cursor: pointer;
    }

    th, td {
      font-size: 14px;
      vertical-align: top;
      padding: 0 15px 0 0;
    }

    th {
      border-bottom: 1px solid $aperta-grey-light;
      font-weight: bold;
    }

    td {
      border-bottom: 1px solid #f2f2f2;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .unavailable {
      color: $aperta-grey;
      font-style: italic;
    }
  }

  .correspondence-manuscript-column { min-width: 200px }
  .correspondence-date-column { min-width: 150px; }
  .correspondence-subject-column { min-width: 200px; }
  .correspondence-recipient-column,
  .correspondence-sender-column {
    min-width: 160px;
  }
}

.correspondence-attachment-link {
  .attachment-item {
    display: inline;
    
    &:after {
      content: ",";
      color: #333;
    }
    &:last-of-type:after {
       content: none;
    }
  }
}

#main-content #correspondence-history {
  flex-grow: 4;
  border-right: 1px solid $aperta-grey-light;
  padding-left: 2rem;
}
