.dashboard-plos-logo svg {
  width: 16rem;
  margin-bottom: 4rem;
}

.manuscript-list-heading {
  color: $aperta-black;
  font-weight: bold;
  cursor: pointer;
  margin-top: 60px;
  padding-bottom: .35em;
  &.gray-line {
    border-bottom: 1px solid $aperta-grey-light;
  }
}

.dashboard-section {
  margin-bottom: 55px;

  table { width: 100%; }
}

.dashboard-header {
  margin: 40px 0;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 40px;
  font-size: 48px;
}

.welcome-message {
  font-size: 48px;
}

.dashboard-info-text {
  padding: 20px 0 10px 0;
  color: gray;
  font-size: 24px;
  font-style: italic;
  line-height: 1;
}


.dashboard-submitted-papers {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;

  .badge {
    position: relative;
    top: -6px;
    padding: 2px 5px;
  }
}

.dashboard-journal-name,
.dashboard-manuscript-id {
  color: $aperta-grey;
}

.dashboard-journal-name {
  font-weight: bold;
}

.dashboard-paper-title {
  position: relative;
  margin: 15px 0px 20px 0px;
  padding-top: 10px;
  padding-bottom: 20px;

  a {
    color: $aperta-green;
    font-family: $aperta-article-font-family;
    font-size: 18px;
    line-height: 1.5;
    &:hover {
      text-decoration: underline;
    };
  }
}

.hug-left {
  padding-left: 0px;
}

.role-tag {
  color: $aperta-grey-dark;
}

.status-tag {
  position: relative;
  margin-left: 20px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: $aperta-black;
  background-color: none;
  margin-left: 0px;
  padding: 0 24px;
}

.top-margin {
  margin-top: 60px;
}

.unread-comments {
  color: red;
}

.dashboard-open-invitations {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;

  .badge {
    position: relative;
    top: -6px;
    padding: 2px 5px;
  }

  .button-primary {
    margin-right: 6px;
  }
}
