@media only screen and (max-width: 1199px) {
  .dashboard-section {
    padding: 0 15px;
  }
}

@media only screen and (min-width: 1199px) {
  .dashboard-section {
    padding: 0 125px;
  }
}

h5.manuscript-list-heading {
  color: $tahi-black;
  font-weight: bold;
  cursor: pointer;
  margin-top: 60px;
  padding-bottom: .35em;
  border-bottom: 1px solid $tahi-grey-light;
}

.dashboard-section {
  margin-bottom: 55px;
}


.dashboard-header {
  margin: 40px 0;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 40px;
  font-size: 48px;
}

.welcome-message {
  font-size: 48px;
}

.dashboard-info-text {
  padding: 20px 0 10px 0;
  color: gray;
  font-size: 24px;
  font-style: italic;
  line-height: 1;
}

.dashboard-submitted-papers {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;

  .badge {
    position: relative;
    top: -6px;
    padding: 2px 5px;
  }
}

.dashboard-paper-title {
  position: relative;
  margin: 15px 0px 20px 0px;
  padding-left: 25px;

  svg {
    position: absolute;
    top: 3px;
    left: 0;
    width: 13px;
  }

  a {
    color: #333;
    font-family: $tahi-article-font-family;
    font-size: 18px;
    line-height: 1.5;
  }
}
