.manuscript-list-heading {
  color: $tahi-black;
  font-weight: bold;
  cursor: pointer;
  margin-top: 60px;
  padding-bottom: .35em;
  &.gray-line {
    border-bottom: 1px solid $tahi-grey-light;
  }
}

.dashboard-section {
  margin-bottom: 55px;

  table { width: 100%; }
}

.dashboard-header {
  margin: 40px 0;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 40px;
  font-size: 48px;
}

.welcome-message {
  font-size: 48px;
}

.dashboard-info-text {
  padding: 20px 0 10px 0;
  color: gray;
  font-size: 24px;
  font-style: italic;
  line-height: 1;
}

.dashboard-plos-logo {
  padding-bottom: 40px;
}

.dashboard-submitted-papers {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;

  .badge {
    position: relative;
    top: -6px;
    padding: 2px 5px;
  }
}

.dashboard-manuscript-id {
  color: $tahi-grey;
}

.dashboard-paper-title {
  position: relative;
  margin: 15px 0px 20px 0px;
  padding-top: 10px;
  padding-bottom: 20px;

  a {
    color: #333;
    font-family: $tahi-article-font-family;
    font-size: 18px;
    line-height: 1.5;
  }
}

.hug-left {
  padding-left: 0px;
}

.role-tag {
  color: $tahi-grey-dark;
}

.status-tag {
  position: relative;
  margin-left: 20px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
  background-color: #6c6c6c;
  margin-left: 20px;
  padding: 0 8px;
}

.status-tag:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(108, 108, 108, 0);
  border-right-color: #6c6c6c;
  border-width: 10px;
  margin-top: -10px;
}

.top-margin {
  margin-top: 60px;
}

.unread-comments {
  color: red;
}

.dashboard-open-invitations {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;

  .badge {
    position: relative;
    top: -6px;
    padding: 2px 5px;
  }

  .button-primary {
    margin-right: 6px;
  }
}
