// Index:

.discussions-index-header {
  padding-top: 40px;
  text-align: center;
}

.discussions-index-topic {
  display: block;
  margin: 0 30px;
  border-top: 1px solid #ddd;
  padding: 1rem 5px;
  color: #333;
  font-size: 16px;

  .badge {
    background: #d00;
  }
}

// Show:

.discussions-show-header {
  margin-bottom: 30px;
  text-align: center;
}

.discussions-show-title {
  font-size: 21px;

  input {
    width: 87%;
    text-align: center;
    border: 1px solid transparent;
    background: transparent;

    &:focus,
    &:hover {
      border-color: #ddd;
      background: #fff;
    }
  }
}

.discussions-show-content {
  padding: 0 30px;
}

.discussions-show-form {
  padding: 0 30px;
}
