.back-link {
  position: absolute;
  top: 80px;
  left: 130px;
}

.columns.flow-admin {
  top: 135px;
}

.paper-profile {
  margin-bottom: 10px;
  border: 1px solid $tahi-grey-light;
}

.paper-profile-title {
  display: block;
  margin: 10px;
  color: black;
  font-family: $tahi-article-font-family;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 17px;
}

.flow-card {
  margin-bottom: 0;

  .card-content {
    width: auto;
    border-radius: 0;
    border-bottom: 1px solid white;
    background-color: rgb(194,232,188);

    &:hover { background: $tahi-green; }
    &:last-of-type { border-bottom: none; }
  }
}

.flow-card.card--completed .card-content {
  color: $tahi-grey-light - #666;
  background: $tahi-grey-light;

  .completed-glyph {
    display: inline;
    margin-right: 5px;
    color: $tahi-green;
  }
}

.flow-manager-column-overlay {
  .overlay-container {
    width: 700px;
  }

  h1 {
    text-align: center;
  }

  h2 {
    font-size: 21px;

    img { display: block; }
  }

  .button-secondary {
    margin: 0 7px 10px 0;
  }
}

.flow-manager-column-sub-title {
  overflow: hidden;
  height: 40px;
  line-height: 40px;

  img {
    display: block;
  }
}


// control bar:
.add-column-button {
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 11px;
  font-weight: normal;
  background: white;

  &:hover {
    border-color: $tahi-green-dark;
    color: $tahi-green-dark;
    background-color: $tahi-green-light;

    .fa { color: $tahi-green-dark; }
  }

  .fa {
    margin-left: 4px;
    font-size: 20px;
    vertical-align: -4px;
  }
}
