#control-bar-paper-journal-logo {
  height: 50px;
  margin-top: 9px;
  margin-right: 20px;

  div { padding-top: 6px; }
  img {
    display: block;
    height: 40px;
  }
}

#control-bar-paper-short-title {
  min-width: 5px;
  font-size: 18px;
  max-width: 80%;
  z-index: 1;

  h2 {
    overflow: hidden;
    padding: 21px 0 0 15px;
    font-family: $tahi-article-font-family;
    font-size: 18px;
    line-height: 22px;
    white-space: nowrap;
    display: none;
  }

  @media(min-width: 970px) {
    h2 {
      display: inline-block;
    }
  }
}

#paper-container {
  @include position(absolute, 60px 0px 0px 0px);
  background: #f9f9f9;
}

.manuscript-pane {
  margin-right: 20px;
  background: #fff;
}

.manuscript-handle {
  &:before {
    content: '';
    @include position(absolute, 0px auto 0px -20px);
    width: 20px;
    background: #fff;
  }
}

.manuscript-container {
  position: relative;
  max-width: 880px;
  margin: 0 auto;
}

.manuscript {
  padding: 30px 20px;
  font-family: $tahi-article-font-family;

  figure {
    h1 {
      font: inherit;
      font-size: 20px;
      font-weight: bolder;
    }
  }

  td, th {
    border: 1px dotted #ccc;
    padding: 0.25em 0.5em;
    min-height: 1em;

    p {
      margin: 0;
      min-height: 1em;
    }
  }

  th {
    background: #e7e7e7;
  }

  table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    cursor: default;
  }
}

.paper-toolbar {
  @include transition(top 0.2s ease-in-out);
  width: 100%;
  background: $tahi-white;
  padding: 5px 20px;
  border-bottom: 1px solid $tahi-grey-xlight;
  z-index: 1;  // higher index to ensure toolbar stays over side-bar
}

// HACK: something makes this button change height of 1px when toggled
.edit-paper-button {
  height: 34px;
}

.paper-toolbar .saving-spinner {
  color: $tahi-black;
  line-height: 30px;
  -webkit-animation: spin 500ms linear infinite;
  animation: spin 500ms linear infinite;
}

.paper-toolbar .saving-spinner.hidden {
  visibility: hidden;
}

#paper-container .flash-messages {
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
  z-index: 1
}

#paper-title {
  margin-bottom: 3rem;
  font-family: $tahi-article-font-family;
  font-size: 38px;
}

// start edit-paper section

.author-detail {
  display: inline-block;
  min-width: 100px;
}

.paper-toolbar {
  position: fixed;
  top: 60px;
}

#paper-container {
  &.sidebar-empty {

    #no-sidebar-doi {
      display: block;
    }
  }
}

// end edit-paper section


// contributors section -------------------------
// child of .control-bar-sub-items

.contributors {
  display: none;
  padding-right: 25px;
  text-align: right;

  &.active { display: block; }
}

.contributors-add {
  margin-right: 15px;
  color: $tahi-green;
  cursor: pointer;
}

.contributor {
  display: inline-block;
  margin: 3px 10px 3px 0;

  &:before {
    content: ' ';
    $circle-radius: 0.8em;
    display: inline-block;
    width: $circle-radius;
    height: $circle-radius;
    margin-right: 4px;
    border: 2px solid $tahi-green;
    border-radius: $circle-radius / 2;
    vertical-align: middle;
    background-color: $tahi-green-light;
  }
}


// manuscript-download-links section -------------
// child of .control-bar-sub-items

.manuscript-download-links {
  display: none;
  height: 100%;
  @include justify-content(flex-end);

  &.active { @include display(flex); }

  a {
    @include display(flex);
    @include align-items(center);
    margin-right: 25px;
    text-decoration: none;

    svg {
      position: relative;
      top: -3px;
    }

    svg path { fill: $tahi-green; }
  }

  a:hover {
    color: $tahi-green-dark;
    text-decoration: none;

    svg path { fill: $tahi-green-dark; }
  }
}
