.base-screen.paper-tracker {
  width: 90%;
}

.paper-tracker-message {
  margin-bottom: 0;
  font-size: 40px;
}

.paper-tracker-paper-count {
  font-size: 18px;
}

.paper-tracker-members-group {
  margin-bottom: 0.65rem;
  font-size: 12px;
  line-height: 120%;

  span { font-weight: bold; }
}

.search-controls {
  padding: 0px;
  margin: 0px 0 20px;

  #clear-search {
    cursor: pointer;
  }
  .pagination-col {
    padding: 20px 0;
    font-weight: bold;
  }

  .save-search-button {
    float: right;
    padding: 20px 0;
  }
}

.paper-tracker-members-column, .paper-tracker-title-column  { min-width: 200px; }
.paper-tracker-date-column     { min-width: 150px; }
.paper-tracker-type-column     { min-width: 110px; }
.paper-tracker-paper-id-column { min-width: 100px; }

.paper-tracker-table {
  overflow: auto;

  table {
    .sortable-table-header {
      cursor: pointer;
    }

    th, td {
      font-size: 14px;
      vertical-align: top;
    }

    th {
      border-bottom: 1px solid $tahi-grey-light;
      font-weight: bold;
      padding: 0;
    }

    td {
      border-bottom: 1px solid #f2f2f2;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
}

.paper-tracker-saved-searches {
  float: right;
  padding-left: 30px;
  width: 20%;

  ul {
    list-style-type: none;
    padding: 0;
    li {
      padding: 5px 0;
    }
  }

  h3 {
    color: $tahi-grey;
  }
}

.paper-tracker-search {
  float: left;
  border-right: 1px solid $tahi-grey-light;
  padding-right: 30px;
  width: 80%;
}
