$paper-edit-sidebar-width: 280px;

#control-bar-paper-journal-logo {
  height: 71px;
  margin-top: 9px;
  margin-right: 20px;

  div { padding-top: 6px; }
  img {
    display: block;
    height: 40px;
  }
}

#control-bar-paper-short-title {
  min-width: 5px;
  font-size: 18px;

  // TODO: Do we need the h2?
  h2 {
    overflow: hidden;
    width: 680px;
    padding: 21px 0 0 5px;
    font-family: $tahi-article-font-family;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;

    // override from generic h2:
    margin: 0;
  }
}

#paper-container {
  @include position(relative, $tahi-control-bar-height+$ve-toolbar-height 0px 0px 0px);
  @include transition(top 0.2s ease-in-out);
  margin: 20px auto;
  background: $tahi-white;

  &.paper-container-html {
    max-width: $tahi-paper-width;
  }
}

html.control-bar-sub-nav-active #paper-container {
  top: 145px;
}

#paper-container .sidebar {
  float: right;
  width: $paper-edit-sidebar-width;
  background: $tahi-white;
}

#paper-container .task-list {
  padding: 15px 30px 30px 30px;
}

#paper-container .task-list-doi {
  margin-bottom: 10px;
}


#paper-container .manuscript-container {
  position: relative;
  background: $tahi-grey-xlight;
  width: $tahi-paper-width-with-sidebar;
}

.paper-toolbar {
  @include transition(top 0.2s ease-in-out);
  width: 100%;
  background: $tahi-white;
  padding: 5px 20px;
  border-bottom: 1px solid $tahi-grey-xlight;
  z-index: 1;  // higher index to ensure toolbar stays over side-bar
}

// HACK: something makes this button change height of 1px when toggled
.edit-paper-button {
  height: 34px;
}

.paper-toolbar .saving-spinner {
  color: $tahi-black;
  line-height: 30px;
  -webkit-animation: spin 500ms linear infinite;
  animation: spin 500ms linear infinite;
}

.paper-toolbar .saving-spinner.hidden {
  visibility: hidden;
}


#paper-container main {
  height: 100%;
  width: 100%;
  position: relative;
}

#paper-container main .flash-messages {
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
  z-index: 1
}

.manuscript {
  background: $tahi-grey-xlight;
  overflow-x:hidden;
  font-family: $tahi-article-font-family;
}

.vertical-divider {
  content: '';
  width: 0;
  position: absolute;
  border-right: 1px solid $tahi-grey-light;
  top: 0;
  bottom: 0;
  left: $tahi-paper-width-with-sidebar;
}

// title contenteditable
// HACK: this is not the final solution. We will use our 'structure' extension
//  to have that within the editing area

.manuscript-title-and-placeholder {
  padding: 50px 50px 20px 50px;
  background: $tahi-white;
}

#paper-title {
  margin-bottom: 0px;
  font-family: $tahi-article-font-family;
}

#paper-body {
  background: $tahi-white;
  padding: 30px 50px;
  min-height: 600px;
}

.manuscript.read-only {
  cursor: default;
}

.manuscript .ve-ui-surface .ve-ce-documentNode {
  font-size: 0.95em;
  min-height: 600px;
  // HACK: without padding the cursor is not visible
  padding-left: 1px;
}

// TODO: _contenteditable.scss is a bit too optimistic
//       affecting all contenteditables

.ve-ui-surface div[contenteditable=true] {
  min-height: initial;
  margin-bottom: initial;
  background-color: initial;
  padding: initial;
}

.ve-ui-surface .ve-ce-documentNode {
  padding: 0px;
  margin: 0px;
}

.ve-ui-surface .ve-ce-documentNode[contenteditable=false] {
  cursor: default;
}

// start edit-paper section

.edit-paper-button       { width: 150px; margin-right: 5px; }
.edit-paper-start-icon   { padding-right: 8px; }
.edit-paper-stop-icon    { margin: -6px 0 0 -8px; }
.edit-paper-locked-by {
  @include ellipsis;
  width: initial;
  max-width: 95px;
}

.edit-paper-lock-message {
  position: relative;
  top: 7px;
  width: 200px;
  color: $tahi-black;
  font-family: $tahi-font-family;
  font-size: 12px;
  font-style: italic;
  z-index: 1;

  span { display: inline-block; }
}

.edit-paper .glyphicon-lock,
.edit-paper .edit-paper-lock-message span {
  overflow: hidden;
}

.recent-activity-link {
  position: relative;
  height: 30px;
  margin-top: 15px;
  padding: 0 0 0 60px;
  color: $tahi-green;
  font-size: 14px;
  line-height: 27px;
  cursor: pointer;

  svg {
    position: absolute;
    top: 0;
    left: 30px;
    width: 24px;
    height: 24px;
  }

  path {
    fill: $tahi-green;
  }
}

.author-detail {
  display: inline-block;
  min-width: 100px;
}

.paper-toolbar {
  position: fixed;
  top: 60px;

  .ve-toolbar {
    max-width: $tahi-paper-width;
    margin: 0px auto;
  }
}

#paper-container {

  &.sidebar-empty {

    #no-sidebar-doi {
      display: block;
    }

    aside { display: none; }
    .vertical-divider { display: none; }

    .manuscript-container {
      width: 100%;
    }

    .manuscript {
      width: 100%;
      border-right: none;
      padding-left: 0px;
      padding-right: 0px;

      .manuscript-title-and-placeholder {
        width: $tahi-paper-width;
        margin: 0px auto;
      }

      #paper-body {
        width: $tahi-paper-width;
        margin: 0px auto;
      }
    }
  }
}

.locked-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 24px;
  text-align: center;
  background-color: transparent;
  z-index: 1;
}

// end edit-paper section

// start contributors section

.contributors {
  display: none;
  padding-right: 25px;
  text-align: right;

  &.active { display: block; }
}

.contributors-add {
  margin-right: 15px;
  color: $tahi-green;
  cursor: pointer;
}

.contributor {
  display: inline-block;
  margin: 3px 10px 3px 0;

  &:before {
    content: ' ';
    $circle-radius: 0.8em;
    display: inline-block;
    width: $circle-radius;
    height: $circle-radius;
    margin-right: 4px;
    border: 2px solid $tahi-green;
    border-radius: $circle-radius / 2;
    vertical-align: middle;
    background-color: $tahi-green-light;
  }
}

// end contributors section

.manuscript-download-links {
  overflow: hidden;
  display: none;

  &.active { display: block; }

  svg {
    float: right;
    display: inline;
  }

  svg path {
    fill: $tahi-green;
  }

  a {
    overflow: hidden;
    float: right;
    display: block;
    height: 27px;
    margin-right: 25px;
    line-height: 27px;
    text-decoration: none;

    &:hover {
      color: $tahi-green-dark;
      svg path { fill: $tahi-green-dark; }
    }
  }
}

// figures

.manuscript figure {
  margin-top: 20px;
  margin-bottom: 20px;

  img {
    max-width: 600px;
  }
}

// figures overlay section

.figures-overlay {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: z('figures-overlay');
  background: $tahi-white;
  padding-bottom: 20px;
}

.figures-overlay .figures-header {
  width: 100%;
  height: 60px;
  color: $tahi-green;
  padding: 0px 15px;
  border-bottom: solid 1px $tahi-grey-xlight;
}

.figures-header .overlay-title {
  display: inline-block;
  line-height: 30px;
  font-size: 24px;
  padding: 15px 10px;
}

.figures-overlay .figures-toolbar {
  display: inline-block;
  width: 100%;
  padding: 5px 20px;
  border-bottom: solid 1px $tahi-grey-xlight;
}

.figures-overlay .close-overlay {
  display: inline;
  color: $tahi-green;
  cursor: pointer;
}

.figures-overlay .figures-body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 20px;
  padding-bottom: 100px;
}

.figure-item {
  position: relative;
  border: solid 1px $tahi-grey-light;
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.figure-item *[contenteditable] {
  min-height: initial;
  margin-bottom: initial;
}

.figure-item .attachment-thumbnail-image {
  float: left;
  width: 30%;
  text-align: center;
  z-index: 1;
}

.figure-item .attachment-thumbnail-image img {
  width: 100%;
}

.figure-item .btn:not(.enabled) {
  visibility: hidden;
}

.figure-item .btn.enabled {
  color: $tahi-grey-dark;
}

.figure-item a.btn.enabled:hover {
  color: $tahi-grey;
}

.figure-item .btn.active {
  color: $tahi-black;
}

.figure-item .btn.active:hover {
  color: $tahi-grey;
}

.figure-item .edit-button.active {
  background-color: $tahi-green;
  color: $tahi-white;
}

.figure-item .edit-button.active:hover {
  background-color: $tahi-grey-light;
  border-color: $tahi-green;
}


.figure-item .figure-item-detailed-view {
  position: relative;
  top: 0px;
  margin-bottom: 0px;
}

.figure-item-header {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 70%;
  z-index: 1;
}

.figure-item-header-inner {
  line-height: 40px;
  padding-left: 50px;
}

.figure-item .figure-label {
  margin: 10px 0px;
  padding: 2px 5px;
  font-size: 16px;
  font-style: italic;
  color: $tahi-green;
}

.figure-item.unplaced .figure-label {
  color: $tahi-error-red;
}

.figure-item-header .first-button-group {
  margin-left: 20px;
}

.figure-item-header .saving-spinner {
  visibility: hidden;
}

.figure-item.saving .saving-spinner {
  visibility:initial;
  color: $tahi-green;
}

.figure-item .insert-into-manuscript {
  padding-right: 30px;
}

.figure-item .insert-into-manuscript i.second {
  position: relative;
  left: -10px;
}

.figure-item-footer {
  position: absolute;
  bottom: 10px;
  right: 0px;
  width: 70%;
}

.figure-item-footer-inner {
  padding: 0px 50px;
}

.figure-item-editor .ve-ce-surface {
  padding: 40px;
  max-width: 700px;
}

.figure-item-editor .ve-ce-branchNode-slug {
  display: none;
}

.figure-item-editor .ve-ce-branchNode-slug.text-property-slug {
  display: block;
}

.figure-item-editor label {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  min-width: 100px;
}

.figure-item-editor .figure-title {
  font-size: 21px;
}

.figure-item-editor .form-entry-view.figure-caption {
  margin-top: 10px;
  font-size: 16px;
  white-space: pre-wrap;
}

.figure-item-editor .form-entry-view.figure-caption .text-input-view {
  min-width: 10px;
  min-height: 20px;
}

.figure-item-editor .ve-ui-surface:after {
  display: none;
}

.figure-item-editor .ve-ce-documentNode {
  margin-left: 0px;
  padding-left: 0px;
}

.figure-item-editor .form-view {
  margin-left: 0px;
  padding-left: 0px;
}

.figure-item-editor .form-entry-view {
  margin-left: 0px;
  padding-left: 0px;
}

.figure-item-editor .text-input-view {
  min-height: initial;
}

.figure-item .title .placeholder {
  background: transparent !important;
  font-size: 28px;
  line-height: 34px;
}

.figure-item .text-property-view {
  display: inline;
}

.figure-item .caption .placeholder {
  background: transparent !important;
  font-size: 18px;
  line-height: 24px;
}

.figure-item .striking-image-checkbox {
  vertical-align: center;
}

.figure-item .striking-image-checkbox input {
  width: 15px;
  height: 15px;
}

.figure-item .striking-image-checkbox label {
  font-size: 18px;
  font-weight: normal;
  margin-left: 10px;
}

.figure-item-detailed-view {
  margin-top: 40px;
}
