$paper-edit-sidebar-width: 280px;

#control-bar-paper-journal-logo {
  height: 50px;
  margin-top: 9px;
  margin-right: 20px;

  div { padding-top: 6px; }
  img {
    display: block;
    height: 40px;
  }
}

#control-bar-paper-short-title {
  min-width: 5px;
  font-size: 18px;
  max-width: 90%;
  z-index: 1;
  h2 {
    overflow: hidden;
    padding: 21px 0 0 15px;
    font-family: $tahi-article-font-family;
    font-size: 18px;
    line-height: 22px;
    white-space: nowrap;
    display: none;
  }
  @media(min-width: 970px) {
    h2 {
      display: inline-block;
    }
  }
}

#paper-container {
  @include position(relative, $tahi-control-bar-height+$ve-toolbar-height 0px 0px 0px);
  @include transition(top 0.2s ease-in-out);
  margin: 20px auto;
  background: $tahi-white;

  &.paper-container-html {
    max-width: $tahi-paper-width;
  }
}

html.control-bar-sub-nav-active #paper-container {
  top: 145px;
}

#paper-container .sidebar {
  padding-top: 8px;
  float: right;
  width: $paper-edit-sidebar-width;
  background: $tahi-white;

  h5 {
    padding-top: 10px;
    color: $tahi-grey-dark;
  }
}

.button-pre-submit-paper {
  width: 100%;
  height: 45px;
  margin-top: 8px;
}

#paper-container .task-list {
  padding: 15px 30px 30px 30px;
}

#paper-container .task-list-doi {
  margin-bottom: 10px;
}


#paper-container .manuscript-container {
  position: relative;
  background: $tahi-grey-xlight;
  width: calc(100% - #{$paper-edit-sidebar-width} - 1px);

  &.not-ve {
    font-size: .95em;

    figure {
      h1 {
        font: inherit;
        font-size: 20px;
        font-weight: bolder;
      }
    }

    td, th {
	    border: 1px dotted #ccc;
	    padding: 0.25em 0.5em;
      min-height: 1em;

      p {
        margin: 0;
        min-height: 1em;
      }
    }

    th {
      background: #e7e7e7;
    }

    table {
      width: 100%;
      table-layout: fixed;
	    border-spacing: 0;
	    border-collapse: collapse;
	    cursor: default;
    }
  }
}

.paper-toolbar {
  @include transition(top 0.2s ease-in-out);
  width: 100%;
  background: $tahi-white;
  padding: 5px 20px;
  border-bottom: 1px solid $tahi-grey-xlight;
  z-index: 1;  // higher index to ensure toolbar stays over side-bar
}

// HACK: something makes this button change height of 1px when toggled
.edit-paper-button {
  height: 34px;
}

.paper-toolbar .saving-spinner {
  color: $tahi-black;
  line-height: 30px;
  -webkit-animation: spin 500ms linear infinite;
  animation: spin 500ms linear infinite;
}

.paper-toolbar .saving-spinner.hidden {
  visibility: hidden;
}

#paper-container main {
  height: 100%;
  width: 100%;
  position: relative;
}

#paper-container main .flash-messages {
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
  z-index: 1
}

.manuscript {
  background: #fff;
  font-family: $tahi-article-font-family;
}

.vertical-divider {
  content: '';
  width: 0;
  position: absolute;
  border-right: 1px solid $tahi-grey-light;
  top: 0;
  bottom: 0;
  right: $paper-edit-sidebar-width;
}

// title contenteditable

.manuscript-title-and-placeholder {
  padding: 50px 50px 20px 50px;
  h2 {
    padding: 5px 0;
  }
}

#paper-title {
  margin-bottom: 0px;
  font-family: $tahi-article-font-family;
  font-size: 38px;

  &.uneditable {
    margin-bottom: 25px;
    margin-top: 5px;
  }
}

#paper-body {
  background: $tahi-white;
  min-height: 600px;
}

.paper-container-html  #paper-body { padding: 30px 50px; }
.paper-container-latex #paper-body { padding: 30px 0; }

.manuscript.read-only {
  cursor: default;
}

// start edit-paper section

.edit-paper-button       { width: 150px; margin-right: 5px; }
.edit-paper-start-icon   { padding-right: 8px; }
.edit-paper-stop-icon    { margin: -6px 0 0 -8px; }
.edit-paper-locked-by {
  @include ellipsis;
  width: initial;
  max-width: 95px;
}

.edit-paper-lock-message {
  position: relative;
  top: 7px;
  width: 200px;
  color: $tahi-black;
  font-family: $tahi-font-family;
  font-size: 12px;
  font-style: italic;
  z-index: 1;

  span { display: inline-block; }
}

.edit-paper .fa-lock,
.edit-paper .edit-paper-lock-message span {
  overflow: hidden;
}

.recent-activity-link {
  position: relative;
  height: 30px;
  margin-top: 15px;
  padding: 0 0 0 60px;
  color: $tahi-green;
  font-size: 14px;
  line-height: 27px;
  cursor: pointer;

  svg {
    position: absolute;
    top: 0;
    left: 30px;
    width: 24px;
    height: 24px;
  }

  path {
    fill: $tahi-green;
  }
}

.author-detail {
  display: inline-block;
  min-width: 100px;
}

.paper-toolbar {
  position: fixed;
  top: 60px;
}

#paper-container {

  &.sidebar-empty {

    #no-sidebar-doi {
      display: block;
    }

    aside { display: none; }
    .vertical-divider { display: none; }

    .manuscript-container {
      width: 100%;
    }

    .manuscript {
      width: 100%;
      border-right: none;
      padding-left: 0px;
      padding-right: 0px;

      .manuscript-title-and-placeholder {
        width: $tahi-paper-width;
        margin: 0px auto;
      }

      #paper-body {
        width: $tahi-paper-width;
        margin: 0px auto;
      }
    }
  }
}

.locked-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 24px;
  text-align: center;
  background-color: transparent;
  z-index: 1;
}

// end edit-paper section

// start contributors section

.contributors {
  display: none;
  padding-right: 25px;
  text-align: right;

  &.active { display: block; }
}

.contributors-add {
  margin-right: 15px;
  color: $tahi-green;
  cursor: pointer;
}

.contributor {
  display: inline-block;
  margin: 3px 10px 3px 0;

  &:before {
    content: ' ';
    $circle-radius: 0.8em;
    display: inline-block;
    width: $circle-radius;
    height: $circle-radius;
    margin-right: 4px;
    border: 2px solid $tahi-green;
    border-radius: $circle-radius / 2;
    vertical-align: middle;
    background-color: $tahi-green-light;
  }
}

// end contributors section

.manuscript-download-links {
  overflow: hidden;
  display: none;

  &.active { display: block; }

  svg {
    float: right;
    display: inline;
  }

  svg path {
    fill: $tahi-green;
  }

  a {
    overflow: hidden;
    float: right;
    display: block;
    height: 27px;
    margin-right: 25px;
    line-height: 27px;
    text-decoration: none;

    &:hover {
      color: $tahi-green-dark;
      svg path { fill: $tahi-green-dark; }
    }
  }
}

.paper-container-html .toolbar {
  @include position(fixed, $tahi-control-bar-height 0px auto 0px);
  font-family: $tahi-font-family;
  background-color: $tahi-white;
  z-index: 1;
}

.paper-container-html .navbar-inner {
  max-width: 1120px;
  margin: 0 auto;
}

.paper-edit-overlay, .editor-overlay {
  font-family: $tahi-font-family;
}

.editor-overlay .overlay-body {
  @include position(fixed, $tahi-control-bar-height+50px 0px auto 0px);
}

.figures-overlay .attachment-thumbnail-image {
  float: initial;
  width: 100%;
}

.paper-container-html .manuscript-inner {
  min-height: 600px;
}
