#profile {
  .profile-section {
    margin: 20px 0;

    h1 {
      margin: 5px 0;
      color: #999;
      font-size: 14px;
    }

    h2 { @include ellipsis; }
  }

  #profile-name {
    font-size: 48px;
    margin: 0 0 20px 0;
  }

  #profile-username h2, #profile-email h2 {
    padding-bottom: 10px;
    font-size: 27px;
  }

  #reset-password {
    font-size: 18px;
  }

  #profile-avatar {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 5px;

    &:hover {
      #profile-avatar-hover { display: block; }
    }

    .button-secondary {
      margin-top: 65px;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

  .profile-avatar-spinner,
  #profile-avatar-hover {
    @include position(absolute, 0px 0px 0px 0px);
    border-radius: 5px;
    text-align: center;
    background-color: rgba(0,145,0, 0.8);
  }

  #profile-avatar-hover {
    display: none;
  }

  .profile-remove-affiliation {
    position: absolute;
    top: 2px;
    left: -24px;
    cursor: pointer;
  }

  .profile-affiliation {
    position: relative;
    margin: 5px 0 20px 0;
    font-size: 18px;
  }

  .profile-affiliations-form {
    margin-top: 40px;

    input {
      margin: 15px 0;
    }
  }

  .profile-affiliation-field {
    width: 250px;
  }

  .profile-link {
    margin-top: 3em;

    a {
      font-weight: bold;
    }
  }
}
