.admin-screen {
  h2 {
    margin-bottom: 50px;
  }

  .admin-header {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0 0 25px 0;
    position: relative;
    padding: 20px 0;

    .title {
      display: inline-block;
      margin: 0;
    }

    .primary-button {
      display: inline-block;
      position: absolute;
      right: 10px;
      top: 18px;
    }
  }

  ul.journals {
    list-style-type: none;
  }
}
