.user-detail-overlay .overlay-close-x {
  color: $tahi-blue;

  &:hover {
    color: $tahi-blue-dark;
  }
}

.user-detail-overlay .overlay-container {
  width: 790px;
}

.modal-field-label, .modal-field {
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal-field-label {
  @extend .col-md-4;
  font-size: 30px;
  text-align: right;
}

.modal-field {
  @extend .col-md-8;
  font-size: 24px;
  input {
    border: 1px solid $tahi-grey-light;
    border-radius: 5px;
    color: $tahi-blue;
    padding: 5px;
  }
}

.admin-screen {
  h1 {
    margin-bottom: 50px;
  }

  .relative {
    position: relative;
  }

  ul.journals {
    list-style-type: none;
  }

  .admin-role-action-button {
    display: inline;
    width: 30px;
    margin-right: 5px;
    color: $tahi-grey-light;
    font-size: 18px;
    cursor: pointer;

  }

  .role-name-field {
    position: relative;
    top: -2px;
    margin-left: 5px;
  }

  .action-buttons {
    display: none;

    button { float: right; }
  }

  .admin-modal {
    .reset-password {
      clear: both;
      margin-left: 33.33333333333333%;
      padding-top: 20px;
      padding-left: 15px;

      .reset-password-link {
        display: inline-block;
        margin-bottom: 10px;
      }

      .success {
        color: $tahi-green;
      }

      .error {
        color: $tahi-error-red;
      }
    }

    span.save-status {
      color: $tahi-blue;
      vertical-align: -6px;
      font-style: italic;
    }
  }

  .journals {
    padding: 0;
  }

  .journal-thumbnail {
    overflow: hidden;
    width: 250px;
    height: 40px;
    margin-bottom: 15px;

    img { vertical-align: top; }
    path, rect, circle {
      fill: $tahi-blue;
    }
  }

  .journal {
    position: relative;
    min-height: 100px;
    margin-top: 35px;
    border: 1px solid $tahi-grey-light;

    p {
      margin: 12px 0 0 0;
      line-height: 120%;
    }

    .journal-thumbnail-show {
      display: block;
      width: 100%;
      min-height: inherit;
      text-decoration: none;
      padding: 20px;
      color: #000;
    }

    .journal-name {
      margin: 0;
      padding: 0;
      display: inline-block;
      margin-right: 15px;
      color: $tahi-blue;
      text-decoration: none;
    }

    .glyphicon.edit-icon {
      position: absolute;
      top: 0;
      right: 0;
      width: 5.5rem;
      padding-top: 1.5rem;
      padding-bottom: 2rem;
      color: #d4d4d4;
      font-size: 14px;
      text-align: center;
      cursor: pointer;

      &:hover { color: $tahi-blue; }
    }

    .journal-paper-count {
      float: right;
      position: relative;
      top: -27px;
    }

    .journal-thumbnail-edit-form {
      background-color: $tahi-blue;
      border-color: $tahi-blue;
      padding: 20px 20px 12px 20px;
      position: relative;

      .link { margin-right: 10px; }
      .journal-name-edit { padding: 0 10px; }

      .form-group.required {
        &.error {
          input, textarea { border: 1px solid red; }
        }

        &.error-message {
          color: red;
          padding-bottom: 3px;
        }
      }
      .form-group.required::before {
        left: -17px;
        color: $tahi-blue-dark;
      }

      .journal-description-edit {
        height: 10rem;
      }

      .journal-edit-buttons {
        text-align: right;
        margin-top: 15px;
      }

      .journal-thumbnail {
        path, rect, circle {
          fill: #347bc5;
        }
      }
    }
  }
}

.admin-user-search {
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
}

.admin-user-search-input {
  @include make-xs-column(10);
  border: 1px solid $tahi-blue;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  color: $tahi-blue;
  padding: 10px 10px 8px 10px;

  &::-webkit-input-placeholder {
    color: $tahi-blue;
  }
  &:-moz-placeholder {
    color: $tahi-blue;
  }
  &::-moz-placeholder {
    color: $tahi-blue;
  }
  &:-ms-input-placeholder {
    color: $tahi-blue;
  }
}

.admin-user-search-button {
  @include make-xs-column(2);
  border: 1px solid $tahi-blue;
  background: white;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 26px;
  padding: 6px 0 0;
  border-left: none;
  color: $tahi-blue;
}

.admin-user-search-default-state-text {
  padding-top: 10px;
  color: $tahi-grey-dark;
  font-size: 22px;
  font-style: italic;
}

.journal-logo-spinner {
  position: absolute;
  top: 0;
  width: 250px;
  height: 40px;
  background-color: rgba(52,123,197, 0.8);
}

.journal-logo-upload {
  overflow: hidden;
  position: relative;
  height: 40px;
  margin-bottom: 15px;
  line-height: 40px;

 .journal-thumbnail {
   float: left;
   margin-right: 10px;
 }
}

.journal-logo-upload-note {
  color: #fff;
  font-style: italic;
  padding-left: 10px;
}

.admin-users {
  width: 100%;
  margin-top: 30px;
  border-collapse: separate;
  border-spacing: 0 10px;
  padding: 0;
  table-layout: fixed;

  th {
    font-size: 18px;
    font-weight: normal;
    color: $tahi-grey-dark;
  }

  td {
    font-size: 16px;
    padding: 3px;
  }

  tr {
    color: $tahi-blue;
  }

  tr.user-row {
    cursor: pointer;
  }
}

.admin-users-row, .admin-section {
  border-top: 1px solid #ddd;
  margin: 0 0 25px 0;
  padding: 0 0 20px 0;
}

.admin-users-row {
  @extend .row;
}

.admin-section {
  position: relative;
}

.admin-section-title {
  margin: 0 0 15px 0; // override some nonsense default
  padding-top: 30px;
  font-size: 30px;
}

.admin-style-setting-section {
  float: left;
  margin-right: 25px;

  .save-status,
  a.epub-cover {
    color: $tahi-blue;
  }
}

.assign-role-button, .assigned-role, .add-role-input {
  margin-top: 5px;
}


.journal-edit-overlay {
  .overlay-close-x {
    color: $tahi-blue;
  }

  .overlay-container {
    width: 850px;
  }

  textarea {
    width: 100%;
    height: 450px;
  }
}
