.admin-screen {
  h1 {
    margin-bottom: 50px;
  }

  .admin-header {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0 0 25px 0;
    position: relative;
    padding: 20px 0;

    .title {
      display: inline-block;
      margin: 0;
    }

    .primary-button {
      display: inline-block;
      position: absolute;
      right: 10px;
      top: 20px;
    }
  }

  .primary-button {
    background-color: $tahi-blue-light;

    &:hover {
      background-color: $tahi-blue-hover;
    }

  }

  .btn-link {
    color: $tahi-blue-light;
  }

  ul.journals {
    list-style-type: none;
  }

  .blue-box {
    background: $tahi-blue-light;
    color: #fff;
  }

  table.roles {
    thead {
      th {
        font-size: 30px;
        font-weight: normal;
        position: relative;
        padding: 20px 0 20px 0;
        line-height: 33px;
      }
    }

    .role-name {
      position: relative;
      .hover-target {
        position: absolute;
        width: 100%;
        height: 100%;
        left: -30px;
        &:hover {
          .delete-button {
            display: inherit;
          }
        }
      }

      .delete-button {
        display: none;
      }

    }

    .action-buttons {
      display: none;

      button {
        float: right;
      }

      &.is-editing {
        display: table-row;
      }
    }

    tbody {
      color: $tahi-blue-light;

      td {
        border: 0;
      }
    }

    label {
      font-size: 12pt;
      font-weight: normal;
    }

    .role-name {
      width: 50%;
      font-size: 14pt;
    }
  }
}
