.admin-screen {
  h1 {
    margin-bottom: 50px;
  }

  a {
    color: $tahi-blue-light;
    &:hover {
      color: $tahi-blue-hover;
    }
  }

  .relative {
    position: relative;
  }

  .admin-header {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0 0 25px 0;
    padding: 20px 0;

    .title {
      display: inline-block;
      margin: 0;
    }

    .primary-button {
      display: inline-block;
      position: absolute;
      right: 10px;
    }
  }

  .primary-button {
    background-color: $tahi-blue-light;

    &:hover {
      background-color: $tahi-blue-hover;
      color: #fff;
    }

  }

  .btn-link {
    color: $tahi-blue-light;
  }

  ul.journals {
    list-style-type: none;
  }

  .blue-box {
    background: $tahi-blue-light;
    color: #fff;
  }

  table.roles {
    thead {
      th {
        font-size: 30px;
        font-weight: normal;
        position: relative;
        padding: 20px 0 20px 0;
        line-height: 33px;
      }
    }

    .role-name {
      .hover-target {
        position: absolute;
        width: 100%;
        height: 100%;
        .name-field {
          margin-left: 10px;
        }
        &:hover {
          .delete-button {
            opacity: 1;
          }
        }
      }

      .delete-button {
        display: inline;
        opacity: 0;
        width: 30px;
        position: absolute;
        margin-left: -30px;
      }

    }

    .action-buttons {
      display: none;

      button {
        float: right;
      }

      &.is-editing {
        display: table-row;
      }
    }

    tbody {
      color: $tahi-blue-light;

      td {
        border: 0;
      }
    }

    label {
      font-size: 12pt;
      font-weight: normal;
    }

    .role-name {
      width: 50%;
      font-size: 14pt;
    }
  }

  .pdf-css,
  .epub-css,
  .manuscript-css,
  .epub-cover {
    .title { padding: 0; }
    .admin-header {
      border-bottom: 0;
      padding-top: 25px;
      padding-bottom: 0;
    }
  }

  .pdf-css,
  .epub-css,
  .manuscript-css {
    span.save-status {
      color: $tahi-blue-light;
      vertical-align: -6px;
      font-style: italic;
    }

    .modal-dialog {
      width: 1120px;
      textarea {
        width: 100%;
        height: 500px;
      }

      h1 { @include card-title; }

      .modal-content {
        padding: 20px 100px;
        box-shadow: none;
        -webkit-box-shadow: none;
        border-radius: 0;
        -webkit-border-radius: 0;
      }

      .modal-footer {
        border-top: none;

        button {
          @extend .primary-button;
          @extend .wide-button;
        }

        .cancel-link {
          text-transform: uppercase;
          margin-right: 10px;
        }
      }

    }
  }

  .add-new-journal {
    margin-top: 23px;
  }

  .journals {
    padding: 0;
  }

  .journal {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100px;
    margin-top: 20px;
    position: relative;
    border: 1px solid $tahi-tertiary;
    &:hover { border-color: $tahi-blue-light; }

    p { margin-top: 10px; }

    .journal-thumbnail-show {
      display: block;
      width: 100%;
      min-height: inherit;
      text-decoration: none;
      padding: 20px;
      :not(.journal-name) { color: #000; }

      &:hover, &:visited, &:active {
        & .journal-name { text-decoration: underline; }
      }

      img {
        max-width: 125px;
        max-height: 180px;
        margin-right: 20px;
      }
    }

    .journal-name {
      margin: 0;
      padding: 0;
      display: inline-block;
      margin-right: 15px;
    }

    .glyphicon.edit-icon {
      color: $tahi-blue-light;
      cursor: pointer;
      font-size: 22px;
      position: absolute;
      right: 15px;
      top: 15px;
    }

    .journal-thumbnail-edit-form {
      background-color: $tahi-blue-light;
      border-color: $tahi-blue-light;
      padding: 20px 20px 12px 20px;
      position: relative;

      > div { padding: 0; }
      .link { margin-right: 10px; }
      .journal-name-edit { padding: 0 10px; }

      img {
        max-width: 150px;
        max-height: 180px;
      }

      .form-group.required {
        &.error {
          input, textarea { border: 1px solid red; }
        }

        &.error-message {
          color: red;
          padding-bottom: 3px;
        }
      }
      .form-group.required::before {
        left: -17px;
        color: $tahi-blue-hover;
      }

      .journal-description-edit {
        margin-top: 50px;
        height: 100px;
      }

      .journal-edit-buttons {
        text-align: right;
        margin-top: 15px;
        a { font-size: 18px; }
      }
    }
  }
}

.admin-search {
  width: 100%;
  margin-top: 30px;
  .admin-search-input {
    @include make-xs-column(10);
    border: 1px solid $tahi-blue-light;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    color: $tahi-blue-light;
    padding: 10px 10px 8px 10px;
    &::-webkit-input-placeholder {
      color: $tahi-blue-light;
    }
    &:-moz-placeholder {
      color: $tahi-blue-light;
    }
    &::-moz-placeholder {
      color: $tahi-blue-light;
    }
    &:-ms-input-placeholder {
      color: $tahi-blue-light;
    }
  }
  .admin-search-button {
    @include make-xs-column(2);
    border: 1px solid $tahi-blue-light;
    background: white;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 26px;
    padding: 6px 0 0;
    border-left: none;
    color: $tahi-blue-light;
  }
}

.search-results {
  margin-top: 30px;
  .search-default-state-text {
    font-size: 22px;
    font-style: italic;
    color: $tahi-tertiary-dark;
  }
}

.admin-dashboard {
  margin-top: 35px;
  h2 {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.journal-logo-hover {
  @include upload-hover(rgba(52, 123, 197, 0.5));
}

.journal-logo-spinner {
  background-color: rgba(52, 123, 197, 0.8);
}

.journal-logo-hover,
.journal-logo-spinner {
  @include upload-spinner-and-hover;
}

.journal-logo-hover,
.journal-logo-spinner {
  width: 150px;
  height: 180px;
}

.journal-logo-upload {
  position: relative;

  &:hover {
    .journal-logo-hover { display: block; }
  }
}

.admin-users {
  margin-top: 30px;
  border-collapse: separate;
  border-spacing: 0 10px;
  padding: 0;

  th {
    font-size: 18px;
    font-weight: normal;
    color: $tahi-tertiary-dark;
  }

  td {
    font-size: 16px;
    padding: 3px;
  }

  tr {
    color: $tahi-blue-light;
  }

  tr.user-row {
    &:hover {
      color: white;
      background: $tahi-blue-light;
    }
  }
}
