.dashboard-header {
  margin: 40px 0;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 40px;
  font-size: 48px;
}

.welcome-message {
  font-size: 48px;
}

.dashboard-info-text {
  padding: 20px 0 10px 0;
  color: gray;
  font-size: 24px;
  font-style: italic;
  line-height: 1;
}

.dashboard-submitted-papers {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;

  li { margin: 15px 0px 10px 0px; }

  .badge {
    position: relative;
    top: -6px;
    padding: 2px 5px;
    background: #d00;
  }
}

.dashboard-paper-title a {
  font-family: $tahi-article-font-family;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
}

.tooltip { position: fixed; }
