/*
  .paper-profile
    .paper-profile-title
    .card.flow-card
*/

.back-link {
  position: absolute;
  top: 85px;
  left: 130px;
}

.columns.flow-admin {
  top: 150px;
}

.paper-profile {
  margin-bottom: 10px;
  border: 1px solid $tahi-grey-light;
}

.paper-profile-title {
  display: block;
  margin: 10px;
  color: black;
  font-family: $tahi-article-font-family;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 17px;
}

.flow-card {
  margin-bottom: 0;

  .card-content {
    width: auto;
    border-radius: 0;
    border-bottom: 1px solid white;
    background-color: rgb(194,232,188);

    &:hover { background: $tahi-green; }
    &:last-of-type { border-bottom: none; }
  }
}

.flow-card.card--message .card-content {
  color: white;
  background-color: $tahi-purple-light;
}

.flow-card.card--message:hover .card-content {
  background-color: $tahi-purple;
}

.flow-card.card--completed .card-content {
  color: $tahi-grey-light - #666;
  background: $tahi-grey-light;

  .completed-glyph {
    display: inline;
    margin-right: 5px;
    color: $tahi-green;
  }
}

.flow-manager-column-overlay .overlay-container {
  width: 700px;
}

.flow-manager-button {
  display: block;
  margin-bottom: 15px;
  padding: 18px 0;
  font-size: 30px;
  color: #444;
  text-transform: none;
  border: 1px solid #d0d0d0;

  &:hover { background: #e4f4e1; }
}


// control bar:
.add-column-button {
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 11px;
  font-weight: normal;
  background: white;

  &:hover {
    border-color: $tahi-green-dark;
    color: $tahi-green-dark;
    background-color: $tahi-green-light;

    .glyphicon { color: $tahi-green-dark; }
  }

  .glyphicon {
    margin-left: 4px;
    font-size: 20px;
    vertical-align: -4px;
  }
}
