.manuscript-manager-template-control-bar {
  // override to allow for Chosen select to expand
  overflow: visible;
  height: 85px;

  .control-bar-inner-wrapper {
    // override to allow for Chosen select to expand
    overflow: visible;
  }

  .primary-button {
    border-color: #47a6fd;
    color: #47a6fd;
    background: #fff;
  }

  .template-cancel-button {
    color: #fff;
  }

}

$template-thubmnail-side-padding: 10px;

.manuscript-manager-template {
  .blue-box {
    background: #87c0f9;
    color: #fff;
  }
}


.template-thubmnail {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 200px;
  height: 175px;
  padding: 15px $template-thubmnail-side-padding;

  h3 {
    margin: 0; // override bootstrap
    font-size: 21px;
  }

  a { color: #fff; }
}

.template-stats {
  list-style-type: none;
  @include position(absolute, auto $template-thubmnail-side-padding 0px $template-thubmnail-side-padding);
  padding: 0;
  font-size: 15px;

  li span {
    margin-right: 5px;
    font-size: 18px;
  }
}

.template-thubmnail-overlay {
  display: none;
  @include position(absolute, 0px 0px 0px 0px);
  line-height: 200px;
  text-align: center;
  background-color: rgba(52, 123, 197, 0.6);

  .glyphicon {
    margin: 0 10px;
    color: #fff;
    font-size: 28px;
    cursor: pointer;

    &:hover { text-decoration: none; }
  }
}

.template-thubmnail:hover .template-thubmnail-overlay {
  display: block;
}

/*
  JavaScript will toggle the classes 'view-mode' and 'edit-mode'
  on .manuscript-manager-template-control-bar
*/

.view-mode {
  .template-cancel-button,
  .template-save-button,
  .template-edit-name,
  .template-paper-type-edit { display: none; }
}

.edit-mode {
  .template-edit-button,
  .template-name,
  .template-paper-type { display: none; }
}

.manuscript-manager-template-columns {
  // override .columns to allow for larger .control-bar
  top: 121px;
}
