.navigation {
  overflow: auto;
  @include position(fixed, 0px auto 0px -280px);
  width: $tahi-navigation-width;
  background: #282828;
  z-index: z($z-layer-navigation);
  @include transition(left 0.2s);
  @include user-select(none);

  hr {
    border-top: 1px solid #666;
    margin: 40px 10% 0 10%;
  }
}

.navigation-visible .navigation {
  left: 0;
}

.navigation .spinner {
  right: 15px;
  top: 10px;
}

.navigation-title {
  position: relative;
  display: block;
  margin-bottom: 25px;
  padding: 15px 0 10px 66px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
  @include user-select(none);

  &:focus, &:hover {
    color: #fff;
    text-decoration: none;
  }

  .glyphicon {
    @include position(absolute, 20px auto auto 30px);
  }
}

.navigation-item {
  display: block;
  font-size: 15px;
  padding: 18px 30px;
  color: #fff;
  text-transform: uppercase;

  &.navigation-item-feedback {
    color: #999;
    font-size: 13px;
    text-transform: none;
    &:hover, &:focus {
      color: $tahi-white;
    }
  }

  &:hover, &:focus {
    text-decoration: none;
  }
}

.navigation-item-admin:hover,
.navigation-item-admin:focus {
  color: $tahi-blue;
}

.navigation-account-links {
  display: none;
  &.__visible {
    display: block;
    margin-bottom: 12px;
  }

  .navigation-item-account {
    padding: 7px 0 7px 74px;
    font-size: 12px;
  }
}

.navigation-item-account {
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: capitalize;

  img { margin-right: 8px; }
}

.nav-bar-welcome a {
  padding-right: 2px;
}

.nav-bar-admin-item.nav-bar-item {
  a.active, a:hover {
    background: $tahi-blue;
  }
}
