#control-bar-paper-journal-logo {
  height: 71px;
  margin-top: 7px;
  margin-right: 20px;

  div { padding-top: 6px; }
  img {
    display: block;
    height: 40px;
  }
}

#control-bar-paper-short-title {
  min-width: 5px;
  font-size: 18px;

  // TODO: Do we need the h2?
  h2 {
    overflow: hidden;
    width: 680px;
    padding: 16px 0 0 5px;
    font-family: $tahi-article-font-family;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;

    // override from generic h2:
    margin: 0;
  }
}

#toolbar {
  height: 60px;
  width: 100%;

  .cke_button_icon.cke_button__tahisave_icon {
    display: none;
  }

  .cke_button_label.cke_button__tahisave_label {
    display: inline;
    padding-left: 0;
    padding: 0 5px;
    // text-transform: uppercase;
    // font-weight: bold;
  }
}

#paper-title {
  margin-top: 50px;
  font-family: $tahi-article-font-family;
}

#paper-authors {
  font-style: italic;
  margin: 20px 0;
}

#paper-body {
  min-height: 500px;
  padding-bottom: 36px;

  .ve-ce-documentNode {
    font-size: 0.95em;
  }

  .ve-ce-documentNode.ve-ce-branchNode { // visual-editor override
    min-height: 500px;
  }
}

#paper-body .oo-ui-toolbar {
  @include position(fixed, $tahi-control-bar-height 0px auto 0px);
  height: 45px;
  padding-top: 2px;
  background: none !important; // Blocks buttons as of July 28, 2014
  z-index: z($z-layer-ve-toolbar);
  @include transition(top 0.2s);
}

.ve-toolbar-underside {
  @include position(absolute, $tahi-control-bar-height 0px auto 0px);
  height: 45px;
  background: #fff;
  z-index: 1;
}

// Not really sure what this is. Breaks default toolbar buttons as of July 28, 2014
#paper-body .oo-ui-toolbar-actions {
  display: none;
}

#paper-body .oo-ui-toolbar-tools {
  float: none;
  width: 1120px;
  margin: 0 auto;
}

#paper-body .oo-ui-toolbar-bar {
  height: 43px;
  padding-top: 2px;

  &.locked { opacity: 0.5; }
}

#paper-abstract { display: none; }

.author-detail {
  display: inline-block;
  min-width: 100px;
}

#tahi-container main {
  overflow: hidden;
  background: #fff;

  article {
    width: 75%;
    border-right: 1px solid $tahi-grey-light;
  }

  aside {
    float: right;
    width: 25%;
  }
}

// TODO: find this a home
.content-editable-muted {
  color: #aaa;
}

.locked-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  text-align: center;
  font-size: 24px;
}

.task-list {
  width: 280px;
  padding: 40px 30px 0 30px;
}

.manuscript-container {
  font-family: $tahi-article-font-family;
  width: 700px;
  margin: 0 auto;
}

.edit-paper {
  padding: 40px 0 0 72px;
}

.prompt {
  text-transform: uppercase;
}

.lock-message {
  font-family: $tahi-font-family;
  width: 200px;
  font-size: 12px;
  font-style: italic;
  color: $tahi-purple;
  z-index: 1;

  span {
    display: inline-block;
  }
}

.start-editing-button {
  width: 150px;

  .start-editing-icon {
    padding-right: 22px;
  }
}

.stop-edit {
  margin-top: -6px;
  margin-left: -8px;
}

.user-name {
  @include ellipsis;
  width: initial;
  max-width: 95px;
  vertical-align: bottom;
}

#paper-placeholder {
  position: absolute;
  top: 191px;
  z-index: 5;
  color: $tahi-grey-dark;
  font-style: italic;
}

.contributors {
  display: none;
  padding-right: 25px;
  text-align: right;

  &.active { display: block; }
}

.contributors-add {
  margin-right: 15px;
  color: $tahi-green;
  cursor: pointer;
}

.contributor-status {
  display: inline-block;
  margin: 3px 10px 3px 0;
  .circle {
    display: inline-block;
    vertical-align: middle;
  }
}

.circle {
  $circle-radius: 0.8em;
  background-color: $tahi-green-light;
  height: $circle-radius;
  width: $circle-radius;
  border-radius: $circle-radius / 2;
  border: 2px solid $tahi-green;
}

.manuscript-download-links {
  overflow: hidden;
  display: none;

  &.active { display: block; }

  svg {
    float: right;
    display: inline;
  }

  svg path {
    fill: $tahi-green;
  }

  a {
    overflow: hidden;
    float: right;
    display: block;
    height: 27px;
    margin-right: 25px;
    line-height: 27px;
    text-decoration: none;

    &:hover {
      color: $tahi-green-dark;
      svg path { fill: $tahi-green-dark; }
    }
  }
}
