$paper-trim-color: $tahi-tertiary;
$side-panel-widget-width: 220px;

#control-bar-paper-journal-logo {
  height: 71px;
  margin-right: 20px;

  div { padding-top: 6px; }
  img {
    display: block;
    height: 40px;
  }
}

#control-bar-paper-short-title {
  min-width: 5px;
  font-size: 18px;

  // TODO: Do we need the h2?
  h2 {
    overflow: hidden;
    width: 680px;
    font-family: $tahi-article-font-family;
    line-height: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;

    // override from generic h2:
    margin: 0;
  }
}

#toolbar {
  height: 60px;
  width: 100%;

  .cke_button_icon.cke_button__tahisave_icon {
    display: none;
  }

  .cke_button_label.cke_button__tahisave_label {
    display: inline;
    padding-left: 0;
    padding: 0 5px;
    // text-transform: uppercase;
    // font-weight: bold;
  }
}

#paper-title {
  margin-top: 60px;

  &[contenteditable] {
    margin-top: 0;
    padding: 5px 0;
    // Bootstrap's default height is 33px and we add 4px for the above padding.
    // This is required for Firefox, without which the H2 height shrinks to 0
    // when empty.
    min-height: 37px;
  }
}

#paper-authors {
  font-style: italic;
  margin: 20px 0;
}

#paper-body {
  min-height: 500px;
  margin-bottom: 36px;

  .ve-ce-documentNode.ve-ce-branchNode { // visual-editor override
    min-height: 500px;
  }
}

#paper-body .oo-ui-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.oo-ui-toolbar-bar {
  height: 45px;
  padding-top: 2px;
}

#paper-abstract { display: none; }

.author-detail {
  display: inline-block;
  min-width: 100px;
}

#tahi-container > main {
  position: relative;

  > article {
    @include make-xs-column(9);
    border-right: 1px solid $paper-trim-color;
    padding: 0;

    .title { margin-top: 55px; }
  }

  > aside {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25%;
  }
}

.muted {
  color: #aaa;
}

#tahi-container > main > article table.cke_show_border > tbody > tr > td {
  border: #666 1px dotted;
}

.locked-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  text-align: center;
  font-size: 24px;
}

.task-list {
  margin: 0 auto;
  padding-top: 60px;
  width: $side-panel-widget-width;
}

.manuscript-container {
  font-family: $tahi-article-font-family;
  width: 700px;
  margin: 0 auto;

  #paper-title {
    font-family: $tahi-article-font-family;
  }
}

.edit-paper {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 10;
}

.lock-message {
  font-family: $tahi-font-family;
  width: 200px;
  font-size: 12px;
  font-style: italic;
  color: $tahi-message;
  z-index: 1;

  span {
    display: inline-block;
  }
}

.start-editing-button {
  width: 150px;

  .start-editing-icon {
    padding-right: 22px;
  }
}

.stop-edit {
  margin-top: -6px;
  margin-left: -8px;
}

.user-name {
  @extend %truncates;
  width: initial;
  max-width: 95px;
  vertical-align: bottom;
}

.oo-ui-toolbar {
  background-color: #fff;
}

.oo-ui-toolbar-tools {
  float: right;
}

.oo-ui-toolbar-bar {
  &.locked {
    opacity: 0.5;
  }
}

#paper-placeholder {
  position: absolute;
  color: $tahi-tertiary-dark;
  font-style: italic;
}

.collaborators {
  margin: 0 auto;
  width: $side-panel-widget-width;

  .tahi-tooltip-container {
    display: inline-block;
  }

  .add-collaborators {
    color: $tahi-message;
    display: inline-block;
    cursor: pointer;
  }
}

.collaborator-status {
  display: inline-block;
  margin: 3px 5px 3px 0;
  cursor: pointer;
  .circle {
    display: inline-block;
    vertical-align: middle;
  }
}

.circle {
  $circle-radius: 0.8em;
  background-color: $tahi-message-light;
  height: $circle-radius;
  width: $circle-radius;
  border-radius: $circle-radius / 2;
  border: 2px solid $tahi-message;
}
