<div class="sheet-content">
  <div class="discussions-index-header">
    <h1>Discussions</h1>
    {{#if (can 'start_discussion' paper)}}
      {{link-to "Create New Topic" topicsNewPath class="button-secondary button--green"}}
    {{/if}}
  </div>
  <br><br>

  {{#each paperTopics as |topic|}}
    {{#link-to topicsShowPath topic.id class="discussions-index-topic"}}
      {{notification type="DiscussionTopic" id=topic.id is-parent=true}}
      {{topic.title}}
    {{/link-to}}
  {{else}}
    <div class="discussions-empty">No topics available</div>
  {{/each}}
</div>
