<div class="sheet-toolbar">
  <span class="sheet-toolbar-button" {{action "cancel" model}}>
    &lt; Cancel
  </span>
</div>

<div class="sheet-content discussions-show-content">
  <div class="discussions-show-header">
    <h1 class="discussions-show-title">Create New Topic</h1>
  </div>

  <div class="inset-form-control required">
    <label class="inset-form-control-text">Topic Title</label>
    {{input type="text" value=model.title class="inset-form-control-input discussion-topic-title-field" placeholder="Tech Check Discussion"}}
  </div>

  <div class="inset-form-control">
    <label class="inset-form-control-text">Message</label>
    {{#expanding-textarea}}
      {{textarea value=replyText class="inset-form-control-textarea discussion-topic-comment-field" placeholder="First comment!"}}

      <div class="drag-to-resize" title="Drag to resize">&nbsp;</div>
    {{/expanding-textarea}}
  </div>

  <button class="button-primary button--green" {{action "save" model replyText}}>Create Topic</button>
</div>
