{{!-- <div class="export-delivery-date">
  {{format-date delivery.createdAt }}
</div>

<div class="export-delivery-icon">
  {{#if delivery.incomplete}}
    {{progress-spinner visible=true size="small"}}
  {{/if}}

  {{#if delivery.failed}}
    <i class="fa fa-times fa-2x red"></i>
  {{/if}}

  {{#if delivery.succeeded}}
    <i class="fa fa-check fa-2x green"></i>
  {{/if}}
</div>

<div class="export-delivery-message">
  Export Upload <strong>{{ delivery.humanReadableState }}</strong>. {{ delivery.errorMessage }}
</div> --}}
<tr>
  <td>1</td>
  <td>2</td>
  <td>3</td>
</tr>