<div class="task-list">

  {{#if paper.doi}}
    <div class="task-list-doi"><strong>DOI:</strong> {{paper.doi}}</div>
  {{/if}}

  {{#if paper.readyToSubmit}}
    <button id="sidebar-submit-paper" {{action "submitPaper"}}
      class="button-primary button-pre-submit-paper button--green">
      Submit
    </button>
  {{/if}}

  {{#if paper.preSubmission}}
    You must complete the following tasks before submitting:
  {{/if}}

  {{#if paper.postSubmission}}
    This paper has been submitted.
  {{/if}}

  <hr />

  {{#if assignedTasks}}
    <div id="paper-assigned-tasks">
      {{#each sortedAssignedTasks as |task|}}
        {{card-preview paper=paper
                       task=task
                       commentLooks=commentLooks
                       action="viewCard"}}
      {{/each}}
    </div>
    <hr>
  {{/if}}

  {{#if metadataTasks}}
    <div id="paper-metadata-tasks">
      {{#each sortedMetadataTasks as |task|}}
        {{card-preview paper=paper
                       task=task
                       commentLooks=commentLooks
                       action="viewCard"}}
      {{/each}}
    </div>
  {{/if}}
</div>