*~
*.pyc
.DS_Store
.idea/*
.idea/inspectionProfiles/*
frontend/.cache
frontent/Output/*.png
frontend/assets/docs/*
frontend/assets/imgs/*
frontend/assets/supportingInfo/*
frontend/assets/coverletters/*
frontend/assets/profileandjournallogos/*
frontend/assets/responsetoreviewers/*
frontend/assets/reviewerreports/*

