*~
*.pyc
.DS_Store
.idea/*
.idea/inspectionProfiles/*
config/env.vagrant
frontend/.cache
frontent/Output/*.png
frontend/assets/*
frontend/assets/docs/*
frontend/assets/imgs/*
frontend/assets/supportingInfo/*
frontend/assets/coverletters/*
frontend/assets/profileandjournallogos/*
frontend/assets/responsetoreviewers/*
frontend/assets/reviewerreports/*
Output/
venv/
