Appium-Python-Client==0.17
beautifulsoup4==4.4.0
browsermob-proxy==0.7.1
ddt==1.0.0
enum34==1.0.4
loremipsum==1.0.5
mysql-connector-python==2.0.4
psycopg2==2.6.1
requests==2.7.0
selenium==2.53.1
teamcity-messages==1.14
