Appium-Python-Client==0.22
beautifulsoup4==4.4.1
browsermob-proxy==0.7.1
ddt==1.1.0
enum34==1.1.6
loremipsum==1.0.5
https://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-2.1.3.tar.gz
psycopg2==2.6.1
PyPDF2==1.26.0
requests==2.10.0
selenium==2.53.6
teamcity-messages==1.18
