{{#if isLoaderShowing}}
  {{progress-loader visible=true
                    admin=true}}
{{/if}}

{{#if isCheckMarkShowing}}
  <div class="save-message">
    <i class="fa fa-check-circle fa-lg"></i>
    <p>Saved</p>
  </div>
{{/if}}
