{{progress-spinner visible=isSaving color="blue"}}

{{#if showCheckMark}}
  <div class="autosave-message animation-fade-in">
    <i class="fa fa-check-circle fa-lg"></i>
    <p>Saved</p>
  </div>
{{/if}}
