<span class="autosave-spinner {{if isSaving "animation-fade-in" "animation-fade-out"}}">
  {{progress-spinner visible=true color="blue"}}
</span>

<div class="autosave-message {{if showCheckMark "animation-fade-in" "animation-fade-out"}}">
  <i class="fa fa-check-circle fa-lg"></i>
  <p>Saved</p>
</div>
