.invitation-email-entry {
  padding: $invite-padding-vertical $invite-padding-horizontal 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: $aperta-grey-light;

  .auto-suggest-border {
    flex-basis: 40%;
    min-width: 216px;
    margin-right: 14px;
  }

  .invitation-item-due {
    width: 40%;
  }
}

.invitation-email-entry-progress {
  position: relative;
  top: 3px;
  margin-left: 8px;
}

.errored {
  .invitation-email-entry {
    padding-bottom: $invite-padding-bottom;
  }
}
