.invitation-email-entry {
  padding: $invite-padding-vertical $invite-padding-horizontal $invite-padding-bottom;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: $aperta-grey-light;

  .auto-suggest-border {
    flex-basis: 35%;
    min-width: 216px;
    margin-right: 2%;
  }

  .invitation-item-due {
    width: 35%;
  }
}

.invitation-email-entry-progress {
  position: relative;
  top: 3px;
  margin-left: 8px;
}

