<p>{{model.title}}</p>
<div class="role-dropdown">
  {{view "chosen" content=availableTaskRoles
                  name="roles"
                  width="150px"
                  class="collaborator-select"
                  prompt="No Role Assigned"
                  optionValuePath="content.kind"
                  optionLabelPath="content.name"
                  changeAction="save"
                  value=model.role}}

</div>

{{autosave-icon modelIsSaving=model.isSaving}}
