<p>{{model.title}}</p>
<div class="role-dropdown">
  {{select-2-single placeholder="Role"
                    selectionSelected="save"
                    source=formattedTaskRoles
                    class="collaborator-select"
                    selectedData=selectedOldRole
                    width="150"}}
  <button class="clear-role-button button-secondary button--blue" {{action "clearRole"}}>Clear</button>
</div>


{{autosave-icon modelIsSaving=model.isSaving}}
