<img class="edit-paper-stop-icon {{if isEditing "" "hidden"}}" src="/images/stop-sign.svg">
<span class="edit-paper-start-icon glyphicon {{iconClass}} {{if isEditing "hidden"}}"></span>
<span class="edit-paper-prompt">{{prompt}}</span>
