{{#if isEditing}}
  <img class="edit-paper-stop-icon" src="/images/stop-sign.svg">
{{else}}
  <span class="edit-paper-start-icon fa {{iconClass}}"></span>
{{/if}}

<span class="edit-paper-prompt">{{prompt}}</span>
