{{#if shouldDisplayQuestionText}}
<div class="{{textClassNames}} {{concat ident "-question-text"}}">
  {{{questionText}}}
</div>
{{/if}}

{{attachment-manager filePath="tasks/attachment"
                     attachments=attachments
                     buttonText=buttonText
                     description=description
                     disabled=disabled
                     multiple=multiple
                     hasCaption=hasCaption
                     accept=accept
                     uploadFinished=(action "updateAttachment")
                     updateAttachment=(action "updateAttachment")}}
