{{#if error}}
  <button type="button" class="close upload-error-button" data-dismiss="alert" aria-hidden="true">×</button>
{{/if}}
<div class="progress">
  <div class="upload-preview-filename">Loading {{filename}}</div>
  {{#if error}}
    <span class="upload-error-text">{{error}}</span>
  {{else}}
    <div class="progress-bar" style={{progressBarStyle}}></div>
  {{/if}}
</div>
