<label class="content-text">{{{content.text}}}</label>
<div>
  {{#each content.possibleValues as |opt|}}
    <label class="option">
      {{radio-button
        selection=answer.value
        value=opt.value
        disabled=disabled
        action=(action "valueChanged")}}
      {{{opt.label}}}
    </label>
  {{/each}}
</div>
