{{!--
  This card-content component will be rendered
  for every node in the tree, wrapping a more specific
  inner component that depends on the type of the content--}}
{{#if answer}}
  <div class="answer-container">
    <div class="answer">
      {{partial "card-content-component"}}
    </div>
    <div class="additionalText">
      {{#if answer.cardContent.renderAdditionalText}}
        {{card-content/tabbed-textarea
          annotationChanged=(action 'updateAnnotation')
          show_annotation=answer.cardContent.allowAnnotations
          annotation=answer.annotation
          instruction_text=answer.cardContent.instructionText
          disabled=disabled}}
      {{/if}}
    </div>

  </div>
{{else}}
  {{partial "card-content-component"}}
{{/if}}
