.card-editor-editor {
  flex: 1;
  background-color: $aperta-grey-light;

  // Look, I know there's more flexing here than on venice beach, but
  // the goal is to have the workspace itself (the white area) take up
  // *all* the remaining height on the page, *scroll* when it contains
  // more content than will fit, AND be centered on teh page when the
  // page is wider than 1120px; and the best way to accomplish the //
  // full-remaining-height thing is to flex columns all the way down the
  // component stack :(
  display: flex;
  flex-direction: column;

  .card-editor-save-buttons {

    .card-editor-save-buttons-container {
      max-width: 1180px;
      text-align: right;
      padding: 10px 30px;
      margin: 0 auto;
    }

    .button {
      margin-left: 10px;
    }

    .editor-save {
      min-width: 100px;
    }
  }

  .card-editor-workspace {
    flex: 1;
    padding: 0 30px;
    display: flex;
    justify-content: center;
  }

  .card-editor-workspace-container {
    max-width: 1120px;
    margin: 0 auto;
    padding-bottom: 15px;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow-y: auto;
    flex: 1;

    .card-editor-workspace-component-type-name {
      text-transform: uppercase;
      color: $aperta-grey;
      margin-top: -4px;
      margin-bottom: 4px;
      font-size: .9em;
    }

    .card-editor-workspace-title {
      background-color: $aperta-grey-xlight;
      border-radius: 5px;
      margin: 15px 20px;
      padding: 10px;

      h1 {
        margin-left: 20px
      }
    }
  }
}
