#permission-table {
    margin: 10px auto;

    $grey-border: 1px solid $aperta-grey-light;

    th {
        border-collapse: collapse;
        padding: 1em;
    }

    tr:hover td {
        background-color: $aperta-grey-lighter;
    }

    th.permission {
        border: $grey-border;
        width: 10em;
    }

    td {
        border-right: $grey-border;
        padding: 1em;
    }

    .centered {
        text-align: center;
    }

    thead {
        border-bottom: $grey-border;
    }

    tbody {
        border: $grey-border;
    }
}
