.card-editor-editor-workspace {
  max-width: 830px;
  margin: 0 auto;
  padding: 15px 0;
  background-color: #fff;
  border-radius: 5px;
  overflow-y: auto;

  .card-editor-workspace-component-type-name {
    text-transform: uppercase;
    color: $aperta-grey;
    margin-top: -4px;
    margin-bottom: 4px;
    font-size: .9em;
  }

  .card-editor-workspace-title {
    background-color: $aperta-grey-xlight;
    border-radius: 5px;
    margin: 15px 20px;
    padding: 10px;

    h1 {
      margin-left: 20px
    }
  }
}
