<h1>Think of the most awesome person on the Earth</h1>
<div>
  {{add-author-form
    newAuthor=awesomeAuthor
    institutions=institutions
    hideAuthorForm='hideAuthorForm'
    saveAuthor="saveAuthor"}}
</div>
