<h1>Hello World!</h1>
<p>Find my template at: engines/standard_tasks/app/assets/javascripts/standard_tasks/templates/overlays/awesome_overlay.hbs</p>
<p>Enter JavaScript in: engines/standard_tasks/app/assets/javascripts/standard_tasks/views/overlays/awesome_overlay_view.js</p>
