<h1>Ethics Statement</h1>

<form>
  <p>You must provide an ethics statement if your study involved human participants, specimens or tissue samples, or vertebrate animals, embryos or tissues. All information entered here should also be included in the Methods section of your manuscript.</p>
  <fieldset>
    {{#question-radio ident="ethics.human_subjects"
      task=model
        displayContent=true
        question="Does your study involve human participants, specimens or tissue samples, or vertebrate animals, cephalopods, embryos or tissues?"}}

      {{#if view.selectedYes}}
        {{question-textarea ident="ethics.approving_committee" task=model
                            question="Please enter the name of the IRB or Ethics Committee that approved this study in the space below. Include the approval number and/or a statement indicating approval of this research."}}

      <div class="question-info">
        <div class="question-info-header">Human Subject Research (involved human participants and/or tissue)</div>
        <p>All research involving human participants must have been approved by the authors' Institutional Review Board (IRB_ or an equivelant committee, and all clinical investigation must have been conducted according to the principles expressed in the <a href="http://www.wma.net/en/30publications/10policies/b3/index.html">Declaration of Helsinki.</a></p>
        <p>Informed consent, written or oral, should also have been obtained from the participants.  If no consent was given, the reason must be explained (e.g. the data were analyzed anonymously) and reported.  The form of consent (written/oral), or reason for lack of consent, should be indicated in the Methods section of your manuscript.</p>
      </div>
      {{/if}}
    {{/question-radio}}
  </fieldset>
</form>
