<h1>Financial Disclosures</h1>

<form>
  <fieldset>
    <div class="question">
      {{#question-radio ident="financial_disclosure.commercially_affiliated"
        task=model
        question="Are you affiliated with a commercial company?"}}

        {{#show-if-parent prop='selectedYes'}}
          <ul>
            <li>Declare this affiliation in the Competing Interests statement</li>
            <li>Confirm that this doesn't alter your ability to adhere to our data and materials sharing policy</li>
            <li>Declare this affiliation below and declare level of funding applied to the author(s) salary</li>
          </ul>
        {{/show-if-parent}}
      {{/question-radio}}
    </div>
    <div class="question">
      <div class="question-text">
        Did any of the authors receive specific funding for this work?
      </div>

      {{binary-radio-button name="received-funding"
                            selection=receivedFunding
                            yesAction="choseFundingReceived"
                            noAction="choseFundingNotReceived"}}

      {{#if receivedFunding}}
        <span>Please describe all sources of funding that have supported your work.</span>
      {{/if}}
    </div>

    {{#each funder in funders}}
      <div class="question-dataset">
        {{render "funder" funder}}
      </div>
    {{/each}}

    {{#if receivedFunding}}
      <button {{action "addFunder"}}>Add Another Funder</button>
    {{/if}}
  </fieldset>
</form>
