<h1>Assign Reviewers</h1>
<label for="reviewer" >Reviewers</label>
{{chosen content=possibleReviewers
         multiple=true
         selectionBinding='reviewers'
         class="reviewers-select"
         optionValuePath="content"
         optionLabelPath="content.fullName"
         data-placeholder="Select reviewers"
         changeAction='saveModel'
}}
