<h1>Assign Editor</h1>
<label for="editor">Editor</label>
{{select-2-single value=""
           class="editor-select2"
           name="assign_editor"
           selectionSelected="assignEditor"
           selectedData=editor
           minimumInputLength=0
           selectedTemplate=selectedTemplate
           resultsTemplate=resultsTemplate
           remoteSource=select2RemoteSource
           placeholder="Please select editor"}}
