<h1>Assign Admin</h1>
<label for="admin">Admin</label>
{{select-2-single value=""
           class="admin-select2"
           name="assign_admin"
           selectionSelected="assignAdmin"
           selectedData=admin
           minimumInputLength=3
           selectedTemplate=selectedTemplate
           resultsTemplate=resultsTemplate
           remoteSource=select2RemoteSource
           placeholder="Please select admin"}}
