<h1>Register Decision</h1>
<div class="decision-selections">
  {{decision-radio-button
    name="decision"
    model=model
    selection=paperDecision
    action="setDecisionTemplate"
    id="accepted_option"
    value="accepted"}}
  <label class="decision-label" for="accepted_option">
    Accepted
  </label>

  {{decision-radio-button
    name="decision"
    model=model
    selection=paperDecision
    action="setDecisionTemplate"
    id="rejected_option"
    value="rejected"}}
  <label class="decision-label" for="rejected_option">
    Rejected
  </label>

  {{decision-radio-button
    name="decision"
    model=model
    selection=paperDecision
    action="setDecisionTemplate"
    id="revise_option"
    value="revise"}}
  <label class="decision-label" for="revise_option">
    Revise
  </label>
</div>

<div>
  <p class="decision-letter-description">Feel free to modify the standard decision letter. Your changes will be saved.</p>
  {{text-area
    model=model
    id="task_paper_decision_letter"
    class="task_paper_decision_letter"
    placeholder="A boilerplate decision letter will appear here"
    action='saveModel'
    value=paperDecisionLetter}}
</div>
