<!DOCTYPE html>
<html>
<head>
  <title>SupportingInformation</title>
  <%= stylesheet_link_tag    "supporting_information/application", media: "all" %>
  <%= javascript_include_tag "supporting_information/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
