<h2 id="task-cards">
  Cards
</h2>

<p>TAHI runs by using "cards" that pop up througout the entire App.</p>

<div class="constrain">
  <h2 id="format">
    Format
  </h2>

  <p>The basic structure for a card looks like this:</p>

  <div class="overlay-container">
    <div id="ember2539" class="ember-view animation-fade-in">
      <header class="overlay-header">
        <h2 class="overlay-header-title overlay-header-title--with-icon">
          <a id="ember2600" class="ember-view overlay-header-link" href="/papers/204/edit">
            <svg class="manuscript-icon" width="20px" height="18px" viewBox="0 0 21 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M20.0078261,22.9331296 L0.0604347826,22.9331296 L0.0604347826,4.44517593 L20.0078261,4.44517593 L20.0078261,22.9331296 L20.0078261,22.9331296 Z M16.6632609,7.66368519 L3.40478261,7.66368519 L3.40478261,9.87935185 L16.6632609,9.87935185 L16.6632609,7.66368519 L16.6632609,7.66368519 Z M16.6632609,11.9932222 L3.40478261,11.9932222 L3.40478261,14.2086759 L16.6632609,14.2086759 L16.6632609,11.9932222 L16.6632609,11.9932222 Z M16.6632609,16.2279907 L3.40478261,16.2279907 L3.40478261,18.4434444 L16.6632609,18.4434444 L16.6632609,16.2279907 L16.6632609,16.2279907 Z"></path>
              <path d="M17.826087,0 L17.826087,3.21212037 L20.0066593,3.21212041 L20.0066593,0 L17.826087,0 Z"></path>
              <rect x="14.3478261" y="0" width="2.10043478" height="3.21212037"></rect>
              <rect x="10.6521739" y="0" width="2.10043478" height="3.21212037"></rect>
              <rect x="7.17391304" y="0" width="2.10043478" height="3.21212037"></rect>
              <rect x="3.47826087" y="0" width="2.10043478" height="3.21212037"></rect>
              <rect x="0" y="0" width="2.10043478" height="3.21212037"></rect>
              <rect x="0" y="1.27777778" width="20.0078261" height="1.93434259"></rect>
            </svg>

            Testing Once Again Because This is a Great Day
          </a>
        </h2>
        <a class="button-secondary button--green overlay-close-button" data-ember-action="2601">Close</a>
      </header>

      <main class="overlay-content">
        <div class="overlay-main-work">
          <h1>Upload Manuscript</h1>
          <h2>You may upload a manuscript at any time.</h2>
          <div id="upload-file-wrapper">
            <span class="button-primary button--green fileinput-button">
              Select and upload a document
              <input id="upload-files" class="ember-view ember-text-field" accept=".docx" name="file" type="file">
            </span>
          </div>

          <div id="paper-manuscript-upload" class="hidden">
            <div class="processing hidden">
              <div id="ember2603" class="ember-view progress-spinner progress-spinner--inline progress-spinner--green progress-spinner--small">
              </div>
              Processing...
            </div>
            <div class="progress ">
              <div class="progress-bar" style="width:0%"></div>
            </div>
          </div>
        </div>

        <div class="discussion">
          <h2>Discussion</h2>
          <div id="ember2604" class="ember-view comment-board">
            <div class="comment-board-form form-group ">
              <img id="ember2617" class="ember-view user-thumbnail" alt="Admin User" src="/images/profile-no-image.png" toggle="tooltip" title="Admin User" />
              <textarea id="ember2618" class="ember-view ember-text-area new-comment-field" placeholder="Type your message here"><!----></textarea>

              <div class="message-comment-buttons">
                <button type="submit" class="button-secondary button--green" data-ember-action="2619">Post Message</button>
                <a href="#" class="button-link cancel-link" data-ember-action="2620">Cancel</a>
              </div>
            </div>
            <ul class="message-comments"> </ul>
          </div>
        </div>
      </main>

      <footer class="overlay-footer">
        <div class="overlay-footer-content">
          <div class="overlay-completed-checkbox">
            <div>
              <input id="task_completed" class="ember-view ember-checkbox" type="checkbox" name="task_completed" />
              <label for="task_completed">Completed</label>
              <div id="ember2605" class="ember-view error-message error-message--hidden"><!----></div>
            </div>
          </div>
          <div id="ember2606" class="ember-view participant-selector select2-multiple"><span class="participant-selector-label">Following:</span>
            <div class="select2-container select2-container-multi ember-view ember-text-field select2 participant-select2" id="s2id_ember2622">
              <ul class="select2-choices">
                <li class="select2-search-choice">
                  <div>
                    <img alt="Admin User" class="user-thumbnail-small" src="/images/profile-no-image.png" data-toggle="tooltip" title="" data-original-title="Admin User" />
                  </div>
                  <a href="#" class="select2-search-choice-close" tabindex="-1"></a>
                </li>
                <li class="select2-search-field">
                  <label for="s2id_autogen7" class="select2-offscreen"></label>
                  <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input select2-default" id="s2id_autogen7" placeholder="" style="width: 22px;" />
                </li>
              </ul>
              <div class="select2-drop select2-drop-multi select2-display-none participant-dropdown">
                <ul class="select2-results">
                  <li class="select2-no-results">No matches found</li>
                  <li class="select2-no-results">No matches found</li>
                </ul>
              </div>
            </div>
            <div id="ember2622" class="ember-view ember-text-field select2 participant-select2 select2-offscreen" disabled="false" placeholder="Add People" name="add_participant" type="text" value="" tabindex="-1"></div>
            <div class="add-participant-button" data-toggle="tooltip" title="" data-ember-action="2623" data-original-title="Add Someone">+</div>
          </div>
          <a class="button-secondary button--green overlay-close-button" data-ember-action="2607">Close</a>
        </div>
      </footer>
    </div>
  </div>

  <h2 id="header-footer">Header/Footer</h2>
  <p>The Header and Footer of each card is made up of these components</p>

  <div class="row">
    <div class="col-md-1"><p>Title:</p></div>
    <div class="col-md-11">
      <header class="overlay-header">
        <h2 class="overlay-header-title overlay-header-title--with-icon">
          <a id="ember2600" class="ember-view overlay-header-link" href="/papers/204/edit">
            <svg class="manuscript-icon" width="20px" height="18px" viewBox="0 0 21 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M20.0078261,22.9331296 L0.0604347826,22.9331296 L0.0604347826,4.44517593 L20.0078261,4.44517593 L20.0078261,22.9331296 L20.0078261,22.9331296 Z M16.6632609,7.66368519 L3.40478261,7.66368519 L3.40478261,9.87935185 L16.6632609,9.87935185 L16.6632609,7.66368519 L16.6632609,7.66368519 Z M16.6632609,11.9932222 L3.40478261,11.9932222 L3.40478261,14.2086759 L16.6632609,14.2086759 L16.6632609,11.9932222 L16.6632609,11.9932222 Z M16.6632609,16.2279907 L3.40478261,16.2279907 L3.40478261,18.4434444 L16.6632609,18.4434444 L16.6632609,16.2279907 L16.6632609,16.2279907 Z"></path>
              <path d="M17.826087,0 L17.826087,3.21212037 L20.0066593,3.21212041 L20.0066593,0 L17.826087,0 Z"></path>
              <rect x="14.3478261" y="0" width="2.10043478" height="3.21212037"></rect>
              <rect x="10.6521739" y="0" width="2.10043478" height="3.21212037"></rect>
              <rect x="7.17391304" y="0" width="2.10043478" height="3.21212037"></rect>
              <rect x="3.47826087" y="0" width="2.10043478" height="3.21212037"></rect>
              <rect x="0" y="0" width="2.10043478" height="3.21212037"></rect>
              <rect x="0" y="1.27777778" width="20.0078261" height="1.93434259"></rect>
            </svg>
            Testing Once Again Because This is a Great Day
          </a>
        </h2>
      </header>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"><p>Button:</p></div>
    <div class="col-md-11">
      <a class="button-secondary button--green overlay-close-button" data-ember-action="2601">Close</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"><p>Discussion:</p></div>
    <div class="col-md-11">
      <div class="discussion">
        <h2>Discussion</h2>
        <div id="ember2604" class="ember-view comment-board">
          <div class="comment-board-form form-group ">
            <img id="ember2617" class="ember-view user-thumbnail" alt="Admin User" src="/images/profile-no-image.png" toggle="tooltip" title="Admin User" />
            <textarea id="ember2618" class="ember-view ember-text-area new-comment-field" placeholder="Type your message here"><!----></textarea>

            <div class="message-comment-buttons">
              <button type="submit" class="button-secondary button--green" data-ember-action="2619">Post Message</button>
              <a href="#" class="button-link cancel-link" data-ember-action="2620">Cancel</a>
            </div>
          </div>
          <ul class="message-comments"> </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"><p>Following:</p></div>
    <div class="col-md-11">
      <div id="ember2606" class="ember-view participant-selector select2-multiple"><span class="participant-selector-label">Following:</span>
        <div class="select2-container select2-container-multi ember-view ember-text-field select2 participant-select2" id="s2id_ember2622">
          <ul class="select2-choices">
            <li class="select2-search-choice">
              <div>
                <img alt="Admin User" class="user-thumbnail-small" src="/images/profile-no-image.png" data-toggle="tooltip" title="" data-original-title="Admin User" />
              </div>
              <a href="#" class="select2-search-choice-close" tabindex="-1"></a>
            </li>
            <li class="select2-search-field">
              <label for="s2id_autogen7" class="select2-offscreen"></label>
              <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input select2-default" id="s2id_autogen7" placeholder="" style="width: 22px;" />
            </li>
          </ul>
          <div class="select2-drop select2-drop-multi select2-display-none participant-dropdown">
            <ul class="select2-results">
              <li class="select2-no-results">No matches found</li>
              <li class="select2-no-results">No matches found</li>
            </ul>
          </div>
        </div>
        <div id="ember2622" class="ember-view ember-text-field select2 participant-select2 select2-offscreen" disabled="false" placeholder="Add People" name="add_participant" type="text" value="" tabindex="-1"></div>
        <div class="add-participant-button" data-toggle="tooltip" title="" data-ember-action="2623" data-original-title="Add Someone">+</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"><p>Completed Checkbox:</p></div>
    <div class="col-md-11">
      <div class="overlay-completed-checkbox">
        <div>
          <input id="task_completed" class="ember-view ember-checkbox" type="checkbox" name="task_completed" />
          <label for="task_completed">Completed</label>
          <div id="ember2605" class="ember-view error-message error-message--hidden"><!----></div>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <h2 id="body">Body</h2>
  <p>Each card has a different type of "body" made up of a legobox of different
    types of components. All the possible components are displayed here.</p>
  <hr/>

  <h3 id="ordered-instructions">Ordered Instructions</h3>
  <ol class="question-list">
    <li class="question">
      <div id="ember1383" class="ember-view">
        <div class="question-text">Does your study involve Human Subject Research (human participants and/or tissue)? </div>
        <div>
          <div id="ember1445" class="ember-view">
            <label>
              <input id="ethics.human_subjects-yes" class="ember-view" name="ethics.human_subjects" type="radio" value="Yes" />
              Yes
            </label>

            <label>
              <input id="ethics.human_subjects-no" class="ember-view" name="ethics.human_subjects" type="radio" value="No" />
              No
            </label>
          </div>

          <div class="additional-data">
            <div id="ember1464" class="ember-view"><!----></div>
          </div>
        </div>
      </div>
    </li>

    <li class="question">
      <div id="ember1384" class="ember-view">
        <div class="question-text">Does your study involve Animal Research (vertebrate animals, embryos or tissues)?</div>
        <div>
          <div id="ember1467" class="ember-view">
            <label>
              <input id="ethics.animal_subjects-yes" class="ember-view" name="ethics.animal_subjects" type="radio" value="Yes" />
              Yes
            </label>

            <label>
              <input id="ethics.animal_subjects-no" class="ember-view" name="ethics.animal_subjects" type="radio" value="No" />
              No
            </label>
          </div>
          <div class="additional-data">
            <div id="ember1470" class="ember-view"><!----></div>
          </div>
        </div>
      </div>
    </li>
  </ol>

  <hr/>

  <h3 id="radio-buttons">Radio Buttons</h3>
  <label class="checkbox">
    <input type="radio" name="group" />
    Yes
  </label>
  <label class="checkbox">
    <input type="radio" name="group" />
    No
  </label>

  <hr/>

  <h3 id="checkboxes">Checkboxes</h3>
  <label class="checkbox">
    <input type="checkbox" />
    Public repository: DOI/accession numbers are available now.
  </label>
  <label class="checkbox">
    <input type="checkbox" />
    Public repository: DOI/accession numbers will be available after acceptance
  </label>
  <label class="checkbox">
    <input type="checkbox" />
    Supporting information files included with the manuscript (details handled
    supporting information card)
  </label>
  <label class="checkbox">
    <input type="checkbox" />
    All data are included within the manuscript.
  </label>
  <label class="checkbox">
    <input type="checkbox" />
    Available upon request (this option is only permitted in limited cases)
  </label>
  <label class="checkbox">
    <input type="checkbox" />
    Data are held by someone other than the authors and are not in a public
    repository.
  </label>
  <label class="checkbox">
    <input type="checkbox" />
    Dataset is not available (This may be contradictory to the PLoS data policy)
  </label>
  <ol class="question-list">
    <li class="question">
      <label class="checkbox">
        <input type="checkbox" />
        Does the manuscript describe a new zoological taxon name?
      </label>
    </li>
    <li class="question">
      <label class="checkbox">
        <input type="checkbox" />
        Does the manuscript describe a new botanical taxon name?
      </label>
    </li>
  </ol>
  <hr/>

  <h3 id="buttons">Buttons</h3>
  <button class="button-primary">Add new figure</button>
  <hr/>

  <h3 id="pulldowns">Pulldowns</h3>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-11">
    </div>
  </div>
  <hr/>

  <h3 id="forms">Forms</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="journal-thumbnail-edit-form">
        <div class="journal-thumbnail-logo-upload">
          <div class="journal-thumbnail-logo">
            <img src="#" />
          </div>
          <span class="button-secondary fileinput-button button--blue knockout">Upload New</span>
          <span class="journal-thumbnail-logo-upload-note">(250px x 40px)</span>
        </div>
        <div class="inset-form-control required ">
          <div class="inset-form-control-text">
            <label>Journal Title</label>
            <div id="ember3396" class="ember-view error-message error-message--hidden"><!---->
            </div>
          </div>
          <input id="ember3397" class="ember-view ember-text-field form-control journal-name-edit inset-form-control-input" placeholder="PLOS Yeti" type="text">
        </div>
        <div class="inset-form-control required ">
          <div class="inset-form-control-text">
            <label>Journal Title</label>
            <div id="ember3396" class="ember-view error-message error-message--hidden"><!---->
            </div>
          </div>
          <textarea id="ember3399" class="ember-view ember-text-area journal-description-edit inset-form-control-textarea" placeholder="Accelerating the publication of peer-reviewed science"><!----></textarea>
        </div>
        <div class="journal-edit-buttons">
          <a href="#" class="button-link button--white" data-ember-action="3400">Cancel</a>
          <a href="#" class="button-secondary button--blue knockout" data-ember-action="3401">Save</a>
        </div>
      </div>
    </div>
  </div>
  <hr/>

  <h3 id="content-entry">Content Entry</h3>
  <hr/>

</div>
