// .animation-fade-in
// .animation-fade-out

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.animation-fade-in {
  animation: fadeIn 200ms $ease-out-quad;
  animation-fill-mode: forwards;
}

.animation-fade-out {
  animation: fadeOut 200ms $ease-out-quad;
}
