{{#if reviewDueAtFlag}}
  <p style="font-size:18px;">Reminders</p>
  {{#each report.scheduledEvents as |event|}}
    <p>
      {{event.name}} on
      {{moment-format event.dispatchAt dispatchDateFormat}}
      {{due-date-offset event.dispatchAt report.dueAt}}
    </p>
  {{/each}}
  <br>
{{/if}}
