.add-author-inline {
  margin: 20px 0 0 0;
}

.add-new-funded-author {
  margin: 10px 0;

  .button-primary {
    margin: 0px 10px;
  }
}

.remove-funder-link {
  float: right;
  margin: -11px 0 10px 0px;
}
