.decision-selections {
  .form-group {
    display: inline-block;
    &:first-child { margin-left: 10px; }
  }

  label {
    margin-right: 70px;
    padding-left: 10px;
    font-size: 24px;
    font-weight: normal;
    vertical-align: -4px;
  }
}

.decision-letter-description { font-size: 18px; }

.decision-letter-field {
  width: 687px;
  height: 27rem;
  border: 1px solid #888;
  border-radius: 4px;
  padding: 20px;
}
