<div id="overlay">
  <div>
    <header><h2>{{model.shortTitle}}</h2></header>

    <main>
      {{yield}}
    </main>

    <footer>
      <div class="content">
        <a class="close-overlay" href="#">Cancel</a>
      </div>
      <a href="#" class="primary-button">Create card</a>
    </footer>
  </div>
</div>
