<div {{bind-attr class=":inline-edit editing :bodypart-display bodyPartType"}}>
  <div class="item-text">
    {{{bodyPart.value}}}
  </div>
</div>

<div {{bind-attr class=":inline-edit-form editing"}}>
  {{content-editable value=bodyPart.value class="editable"}}
</div>
