<div class="inline-edit bodypart-display {{bodyPartType}}">
  <div class="item-text">
    {{content-editable
      placeholder="Click to type in your response."
      value=bodyPart.value
      class="editable"
      focus-out=save
      editable=canEdit}}
  </div>
</div>
