{{!-- render the first child (checkbox) --}}
  {{card-content
    content=checkbox
    disabled=disabled
    owner=owner
    preview=preview}}
{{!-- render the second child (pencil-style checkbox) --}}
  {{#if checkboxAnswer.value}}
    {{#card-content
      content=pencil
      disabled=disabled
      owner=owner
      faIconizeTo="pencil"
      preview=preview as |cc|}}
      <div>
        <span> value is {{cc.answer.value}} </span>
        <i class="fa fa-pencil" {{action 'toggleAnswer' cc.answer}}></i>
      </div>
    {{/card-content}}
  {{/if}}

{{#if showText}}
  {{card-content
    content=textarea
    disabled=disabled
    owner=owner
    preview=preview}}
{{/if}}
