{{#if filteredAlternates.length}}
  {{fa-icon icon="link"}}
  <div class="alternate-text">Link as an alternate to:</div>

  {{select-2-single minimumResultsForSearch=10
                    class="link-alternate-select"
                    placeholder="Select a candidate (optional)..."
                    selectionSelected="selectionSelected"
                    source=alternateCandidates
                    value=""
                    class="link-alternate-select"
                    selectedData=selectedPrimary
                    width=250
                    enable=enable}}

  {{#if selectedPrimary}}
    <a href="#" class="invitation-link-alternate-unlink" {{action "selectionCleared"}}>Unlink Alternate</a>
  {{/if}}
{{/if}}
