<span class="button-secondary fileinput-button button--blue knockout">
  <span>Upload New</span>
  {{file-uploader id=thumbnailId
                  accept=".jpg,.jpeg,.tiff,.gif,.png"
                  start="uploadStarted"
                  done="uploadFinished"
                  progress="uploadProgress"
                  cancel="cancelUploads"
                  processingDone="showPreview"
                  uploadReady="uploadReady"
                  filePrefix="journal/logo"
                  uploadImmediately=false
                  railsMethod="PUT"
                  url=logoUploadUrl}}
</span>
