<div class="journal-logo-spinner"></div>
<span class="button-secondary fileinput-button button--blue">
  <span>Upload New</span>
  {{file-uploader id=thumbnailId
                  accept=".jpg,.jpeg,.tiff,.gif,.png"
                  progress="logoUploading"
                  done="logoUploaded"
                  processingDone="showPreview"
                  uploadReady="uploadReady"
                  filePrefix="journal/logo"
                  uploadImmediately=false
                  railsMethod="PUT"
                  url=logoUploadUrl}}
</span>
