<div class="epub-css">
  <div class="admin-header row">
    <div class='relative'>
      <h2 class="title col-md-5">ePub CSS</h2>

      <div class='col-md-3 pull-right'>
        <span class="save-status">{{epubCssSaveStatus}}</span>
        <a class="primary-button blue-box" href='#' data-toggle="modal" data-target="#edit-epub-css-modal">EDIT EPUB CSS</a>
      </div>

      <div class="modal" id="edit-epub-css-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h1>ePub CSS</h1>
              <p>Enter or edit CSS to format the ePub output for this journal.</p>
              {{textarea id="epub-css-content" value=epubCss placeholder="Type your ePub CSS here"}}
            </div>
            <div class="modal-footer">
              <a data-dismiss="modal" href='#' class="cancel-link" {{action resetSaveStatuses}}>Cancel</a>
              <button type="button" data-dismiss="modal" {{action saveEpubCss}}>Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
