<div class="pdf-css">
  <div class="admin-header row">
    <div class='relative'>
      <h2 class="title col-md-5">PDF CSS</h2>

      <div class='pdf-cover-upload col-md-2 pull-right'>
        <span class="save-status">{{pdfCssSaveStatus}}</span>
        <a class="primary-button blue-box" href='#' data-toggle="modal" data-target="#edit-pdf-css-modal">EDIT PDF CSS</a>
      </div>

      <div class="modal" id="edit-pdf-css-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h1>PDF CSS</h1>
              <p>Enter or edit CSS to format the PDF output for this journal.</p>
              {{textarea id="pdf-css-content" value=pdfCss placeholder="Type your PDF CSS here"}}
            </div>
            <div class="modal-footer">
              <a data-dismiss="modal" href='#' class="cancel-link" {{action cancelModal target=view}}>Cancel</a>
              <button type="button" data-dismiss="modal" {{action savePdfCss}}>Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
