<div class="epub-cover">
  <div class="admin-header">
    <h2 class="title col-md-5">Default ePub Cover</h2>
    <div id="epub-cover-spinner"></div>

    <div class="epub-cover-image col-md-5 text-right">
      {{#if epubCoverUrl}}
        <a {{bind-attr href=epubCoverUrl}} target="_blank">{{epubCoverFileName}}</a>
      {{else}}
        <p>There is currently no default ePub cover.</p>
      {{/if}}
    </div>

    <div class="epub-cover-upload col-md-2 pull-right">
      <span class="button-primary button--light-blue fileinput-button">
        Upload ePub Cover
        {{file-uploader id="epub-cover-upload"
                        class="button-primary button--light-blue"
                        accept=".jpg,.jpeg"
                        progress="epubCoverUploading"
                        done="epubCoverUploaded"
                        filePrefix="epub/cover"
                        railsMethod="PUT"
                        url=epubCoverUploadUrl}}
      </span>
    </div>
  </div>
</div>
