<span id="epub-cover-spinner"></span>

<span class="epub-cover-upload">
  <span class="button-primary button--blue fileinput-button">
    Upload ePub Cover
    {{file-uploader id="epub-cover-upload"
                    class="button-primary button--blue"
                    accept=".jpg,.jpeg"
                    progress="epubCoverUploading"
                    done="epubCoverUploaded"
                    filePrefix="epub/cover"
                    railsMethod="PUT"
                    url=epubCoverUploadUrl}}
  </span>
</span>

<br>

<span class="epub-cover-image">
  {{#if epubCoverUrl}}
    <a {{bind-attr href=epubCoverUrl}} class="epub-cover" target="_blank">{{epubCoverFileName}}</a>
  {{else}}
    <p>There is currently no default ePub cover.</p>
  {{/if}}
</span>
