<div class="back-link">
  {{#link-to "journal" journal class="button-link button--blue"}}&lt; Back{{/link-to}}
  Flow Manager for {{model.name}} Role
</div>
<div class="flow-admin-content">
  <ul class="columns flow-admin">
    {{#each flow in model.flows}}
      {{flow-column flow=flow
                    litePaper=litePaper
                    commentLooks=commentLooks
                    editable=true
                    saveFlow='saveFlow'
                    viewCard='viewCard'}}
    {{/each}}
  </ul>
</div>
