{{user-thumbnail user=reply.replier}}
<span class="comment-name">{{reply.replier.fullName}}</span>
<span class="comment-date">posted {{format-date reply.createdAt}}</span>
<div class="comment-body preserve-line-breaks">{{url-to-href text=reply.body}}</div>
