{{#if label}}<span class="text-field-title">{{label}}</span>{{/if}}
{{input name=ident
        value=model.answer
        class="form-control tall-text-field"
        placeholder=placeholderText
        disabled=disabled}}
