<ul id="tabs" class="nav nav-tabs">
  <li class="active">
    <a href="#core-tab" data-toggle="tab">Core</a>
  </li>
  <li class="">
    <a href="#cards-tab" data-toggle="tab">Cards</a>
  </li>
  <li class="">
    <a href="#admin-tab" data-toggle="tab">Admin</a>
  </li>
  <li class="">
    <a href="#overlays-tab" data-toggle="tab">Overlays</a>
  </li>
  <li class="">
    <a href="#dev-tab" data-toggle="tab">Developer Bits</a>
  </li>
</ul>
