*.log
.bundle
.env.development
.env.local
.foreman
.sass-cache
/.idea
Procfile.local
client/node_modules
config/database.yml
config/secrets.yml
doc/*.csv
doc/*.svg
doc/api/
doc/client/
exports/
log/
log/
node_modules
public/assets
public/uploads
tags
tmp
