# The root .env file will contain all environment variables for the app.
# They can be referenced using the standard ENV['key'] syntax.

# If you want to automatically load the .env file with all of the current
# environment variables from heroku, run this from the command line:
#  heroku plugins:install git://github.com/ddollar/heroku-config.git
#  heroku config:pull --overwrite --interactive

# AWS_ACCESS_KEY_ID=ur-id
# AWS_SECRET_ACCESS_KEY=ur-key
# AWS_REGION=your-aws-region
# BUGSNAG_JAVASCRIPT_API_KEY='javascript_api_key'
# BUGSNAG_API_KEY='rails_api_key'
# CAPYBARA_SERVER_PORT=31337
# DEFAULT_MAILER_URL=tahi.example.com
# EVENT_STREAM_ENABLED=true
# ES_URL="http://localhost:8080"
# FROM_EMAIL=no-reply@example.com
# ADMIN_EMAIL=admin@example.com
# IHAT_URL="http://localhost:3000"
# MAILSAFE_REPLACEMENT_ADDRESS = "tahi-testing@example.com"
# OXGARAGE_URL='http://oxgarage.example.com/ege-webservice/Conversions/docx%3Aapplication%3Avnd.openxmlformats-officedocument.wordprocessingml.document/TEI%3Atext%3Axml/xhtml%3Aapplication%3Axhtml%2Bxml/conversion'
# RAILS_SECRET_TOKEN=secret-token-goes-here
# S3_BUCKET=tahi-test
# S3_URL="http://${S3_BUCKET}.s3.amazonaws.com"
# SENDGRID_USERNAME=username
# SENDGRID_PASSWORD=password
# REDIS_PROVIDER="redis://localhost:6379"
# SEGMENT_IO_WRITE_KEY=write_key
