/.bundle
/log
/tmp
/tags
/public/uploads
doc/*.svg
.DS_Store
.zsh_rake_cache
.env
# ignore all .env.{environment} files ...
.env.*
# except .env.test
!.env.test
config/secrets.yml
dump.rdb
spring
doc/dependencies.*
solr/development/*
solr/pids/development/*
solr/test/*
solr/default/*
config/database.yml
coverage/
.sass-cache
/node_modules
doc/ux
