# Basic Rails stuff
log
tmp

# Other ephemeral development files
.bundle
tags
node_modules

# Assets
doc/*.svg
doc/*.csv
doc/dependencies.*
doc/ux
public/uploads
public/assets

# Asset generation
.sass-cache

# Local configuration
config/database.yml
config/secrets.yml
Procfile.local
.env.local
.env.development
.foreman

# Testing
coverage
spec/tmp

# ssl
*.crt
*.csr
*.key

# ember-analyzer
client/.ember-analyzer

# bin/setup's log file
setup.log

# Other
bin/eventsource
dump.rdb
spring

# ignore Gemfile.lock in engines/
engines/*/Gemfile.lock

.byebug_history
