web: bundle exec rails s Puma -p $PORT -b 0.0.0.0
worker: bundle exec sidekiq
event_source: go build -o bin/eventsource $GOPATH/src/github.com/tahi-project/golang-eventsource/server.go && bin/eventsource -p=8080 -token=token123
