<h2>Are you sure?</h2>

<div class="submit-action-buttons">
  <div>
    <button class="button-primary button--green" {{action "removeTask"}}>
      Yes, Delete this Card
    </button>
  </div>
  <div>
    <button class="button-link button--green" {{action "close"}}>
      cancel
    </button>
  </div>
</div>
