{{#unless (eq card.state "published")}}
  {{fa-icon card.stateIcon}}
{{/unless}}
{{fa-icon stateIcon}}
<h4 class="admin-card-thumbnail-name">
  {{card.name}}
</h4>
<div class="admin-card-thumbnail-journal">
  {{card.journal.name}}
</div>
