<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
  <ul class="nav bs-docs-sidenav">
    <li>
      <h4><a href="#top-of-page">UI Elements</a></h4>
    </li>
    <li>
      <a href="#colors">Colors</a>
    </li>
    <li>
      <a href="#typography">Typography</a>
    </li>
    <li>
      <a href="#cards">Cards</a>
    </li>
    <li>
      <a href="#workflow">Workflow</a>
    </li>
    <li>
      <a href="#card-overlay">Card Overlay</a>
    </li>
    <li>
      <a href="#system-overlay">System Overlay</a>
    </li>
    <li>
      <a href="#toolbars">Toolbars</a>
    </li>
    <li>
      <a href="#buttons">Buttons</a>
    </li>
    <li>
      <a href="#form-patterns">Form Patterns</a>
    </li>
    <li>
      <a href="#edit-delete">Edit/Delete</a>
    </li>
    <li>
      <a href="#file-upload">File Upload</a>
    </li>
    <li>
      <a href="#question-components">Question Components</a>
    </li>
    <li>
      <a href="#errors">Errors</a>
    </li>
    <li>
      <a href="#avatars">Avatars</a>
    </li>
    <li>
      <a href="#activity">Activity</a>
    </li>
  </ul>
</nav>
