<div class="split-pane-drag-handle {{if handleClass handleClass }}">
  <div class="box-handle">
    <div class="vertical-line"></div>
    <div class="vertical-line"></div>
    <div class="vertical-line"></div>
  </div>
</div>
{{yield}}
