/* GREEN - PRIMARY COLOR
----------------------------------------------------------------------------- */

$aperta-green: #39a329;
$aperta-green-light: #8ecb87;
$aperta-green-dark: #0f7400;


/* BLUE - ADMIN
----------------------------------------------------------------------------- */

$aperta-blue: #2d85de;
$aperta-blue-light: #94b8e0;
$aperta-blue-dark: #205e9c;


/* GREY
----------------------------------------------------------------------------- */

$grey-base: rgb(135,135,135);
$aperta-black: darken($grey-base, 33%);
$aperta-grey: $grey-base;
$aperta-grey-dark: #878787;
$aperta-grey-light: lighten($grey-base, 30%);
$aperta-grey-lighter: lighten($grey-base, 37%);
$aperta-grey-xlight: lighten($grey-base, 43%);
$aperta-white: #fff;


/* RED
----------------------------------------------------------------------------- */

$red-base: rgb(206, 11, 36);
$aperta-red: $red-base;
$aperta-red-light: lighten($red-base, 50%);
$aperta-red-dark: darken($red-base, 10%);
$aperta-red-background: #f7efe9;
