$aperta-font-family: 'Source Sans Pro', 'source-sans-pro', helvetica, sans-serif;
$aperta-article-font-family: 'lora', georgia, times, serif;

// -- NOTE Remove -------------------------------------------------------------
$main-nav-height: 42px;
$message-body-width: 700px;
// -- ^ Remove -------------------------------------------------------------

$layout-large-screen: 790px;
$main-nav-width-mobile: 100%;
$main-nav-height-large-screen: 4.2rem;
$mobile-nav-height: 4.6rem;
$control-bar-height-large-screen: 6.0rem;
