$z-layers: (
  paper-placeholder:     1001,
  control-bar:           1004,
  control-bar-sub-items: 1005,
  flash-positioned:      1006,
  floating-list-active:  1007,
  figures-overlay:       1100,
  sheet:                 1150,
  main-nav:              1175,
  overlay: (
    base: 1200,
    close-x: 100
  ),
  overlay-verification: 1300,
  progress-spinner:     1400,
  loading-container:    1500,
  power-select-content: 1600
);

@function z($layers...) {
  @if not map-has-nested-keys($z-layers, $layers...) {
    @warn "No layer found for `#{inspect($layers...)}` in $z-layers map. Property omitted.";
  }

  @return map-deep-get($z-layers, $layers...);
}
