<%= styleguide_block 'Button' do -%>
<a class="button-primary $modifier_class">Save</a>
<a class="button-secondary $modifier_class">Save</a>
<a class="button-link $modifier_class">Save</a>
<% end -%>

<%= styleguide_block 'Card' do -%>
<div class="card $modifier_class">
  <div class="card-content">
    <span class="card-remove"></span>
    <span class="card-completed-icon"></span>
    Register Decision Task
  </div>
</div>
<% end -%>

<%= styleguide_block 'ControlBar' do -%>
<div class="control-bar $modifier_class">
  <div class="control-bar-inner-wrapper">
    <ul>
      <li class="control-bar-item">
        <div class="button-primary button--white">Do Something</div>
      </li>
    </ul>
    <ul>
      <li class="control-bar-item">
        <div class="button-primary button--white">Do Stuff</div>
      </li>
    </ul>
  </div>
</div>
<% end -%>

<%= styleguide_block 'Token' do -%>
<span class="token">tag</span>
<div class="token token--with-remove"><span class="token-remove"></span> delete me!</div>
<% end -%>
