<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style media="screen">
  /* Hide KSS Generated Code for now */
  .styleguide-example pre,
  .styleguide-example .styleguide-description,
  .styleguide-example h3,
  .styleguide-example .styleguide-element .styleguide-modifier-name {
    display: none;
  }
  *[element-name] {
    position: relative;
  }
  .color-bar {
    height: 75px;
    text-align: center;
    color: white;
    padding: 28px 0px 0px 0px;
    width: 200px;
  }
  .baskerville * {
    font-family: Baskerville;
  }
  .cabin * {
    font-family: Cabin;
  }
  .hover {
  }
  .buttons div.button--green,
  .buttons div.button--grey,
  .buttons div.button--blue {
    margin-top: 10px;
  }
  nav.kss-nav {
    display: none;
  }
  #kss_wrapper {
    padding: 10px;
    padding-top: 30px;
  }
  .kss-wrapper {
    display: none;
  }
  #card-overlays > a {
    display: block
  }
  .constrain {
    max-width: 940px;
    margin: auto;
  }
  .content {
    padding-left: 50px;
    padding-right: 50px;
  }
  .row {
    padding-bottom: 50px;
  }
  p.text {
    max-width: 500px;
    padding-bottom: 25px;
  }
  </style>

  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

  <script charset="utf-8">
  $(function() {
    $('.navigation-close').click(function() {
      $('.navigation').hide();
    });
    $('.navigation-toggle').click(function() {
      $('.navigation').show();
    });
    $("#card-overlays > a").click(function() {
      $(this).next().removeClass("hide")
    });

    // NEW STUFF
    $("*[overlay]").children().hide()

    $(".toggle-link").click(function() {
      $(this).parents(".ui-element").find("*[element-name]").children().show()
    })

    $(".overlay .overlay-close-button, .overlay-close-x").click(function() {
      $(this).parents(".ui-element").find("*[element-name]").children().hide()
    });

    // Repositions ToolBar
    $(".control-bar").css("position", "relative");


    // Nav
    $(".kss-header").click(function(){
      $('.navigation').show();
    })
  });
  </script>
</head>
<body>

  <div class="row">
    <div class="col-md-3">
      <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
        <ul class="nav bs-docs-sidenav">
          <li>
            <a href="#overview">Colors</a>
          </li>
          <li>
            <a href="#overview">Typography</a>
          </li>
          <li>
            <a href="#overview">Cards</a>
          </li>
          <li>
            <a href="#overview">Workflow</a>
          </li>
          <li>
            <a href="#overview">Card Overlay</a>
          </li>
          <li>
            <a href="#overview">System Overlay</a>
          </li>
          <li>
            <a href="#overview">Toolbar Stuff</a>
            <ul class="nav">
              <li><a href="#grid-intro">Contributors</a></li>
              <li><a href="#grid-intro">Download Document</a></li>
            </ul>
          </li>
          <li>
            <a href="#overview">Buttons</a>
          </li>
          <li>
            <a href="#overview">Forms</a>
          </li>
          <li>
            <a href="#overview">Edit/Delete</a>
          </li>
          <li>
            <a href="#overview">File Upload</a>
          </li>
          <li>
            <a href="#overview">Errors</a>
            <ul class="nav">
              <li><a href="#grid-intro">Page Errors</a></li>
              <li><a href="#grid-intro">Form Errors</a></li>
            </ul>
          </li>
          <li>
            <a href="#overview">Tooltips</a>
          </li>
          <li>
            <a href="#overview">Card Things</a>
          </li>
          <li>
            <a href="#overview">Widgets</a>
          </li>
          <li>
            <a href="#overview">Avatars</a>
          </li>
          <li>
            <a href="#overview">Task Cards</a>
            <ul class="nav">
              <li><a href="#grid-intro">Page Errors</a></li>
              <li><a href="#grid-intro">Form Errors</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-9">
      <div id="styleguide">

        <div class="row">
          <div class="col-md-6">
            <h2>
              Colors
            </h2>

            <p>
              Tahi's color palette is intentionally constrained.
              There is a primary color that serves as the pop color to a grayscale palette.
              The admin section has a different pop color
              to easily differentiate it from the rest of the app.
            </p>
          </div>
        </div>

        <div element-name="navigation" source-page-name="dashboard" source-page-selector=".navigation"></div>

        <div class="row">
          <div class="col-md-6">
            <h2>
              Typography
            </h2>
            <p>
              Cabin is the typeface used throught the Tahi application. Baskerville is used only for the manuscript itself, and the expression of the manuscript's title in different places in the system.
            </p>
          </div>
        </div>

        <div element-name="button" source-page-name="dashboard" source-page-selector=".welcome-message"></div>

        <hr>

        <h2>
          Cards
        </h2>

        <div class="row">
          <div class="col-md-6">
            <div element-name="card" source-page-name="paper_manager" source-page-selector=".card" source-page-selector-context=".column"></div>
          </div>
          <div class="col-md-6">
            <div element-name="card-completed" source-page-name="paper_manager" source-page-selector=".card--completed" source-page-selector-context=".column"></div>
          </div>
        </div>

        <hr>

        <h2>
          Workflow
        </h2>
        <div element-name="paper-manager" source-page-name="paper_manager" source-page-selector=".columns"></div>

        <hr>
        <div class="ui-element">
          <h2>
            Card Overlay
          </h2>

          <a class="toggle-link">Toggle</a>

          <div element-name="card-overlay" source-page-name="paper_manager" source-page-selector=".overlay" overlay="true"></div>
        </div>

        <hr>

        <div class="ui-element">
          <h2>
            System Overlay
            <!-- Seems Mis-named -->
          </h2>

          <a class="toggle-link">Toggle</a>

          <div element-name="system-overlay" source-page-name="paper_manager_overlay" source-page-selector=".overlay--fullscreen" overlay="true"></div>
        </div>

        <hr>

        <h2>
          Toolbar Stuff
        </h2>

        <div element-name="toolbar" source-page-name="paper" source-page-selector=".control-bar"></div>

        <div element-name="toolbar" source-page-name="paper" source-page-selector=".control-bar"></div>

        <div element-name="toolbar" source-page-name="paper" source-page-selector=".control-bar"></div>

        <hr>

        <h2>
          Contributors
        </h2>

        <div element-name="three" source-page-name="dashboard" source-page-selector=".welcome-message"></div>

        <hr>

        <h2>
          Buttons
        </h2>

        <div element-name="three" source-page-name="dashboard" source-page-selector=".welcome-message"></div>

        <hr>

        <h2>
          Forms
        </h2>

        <div class="constrain">
          <div element-name="financial-disclosure-form" source-page-name="financial-disclosure-card" source-page-selector=".question-list"></div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-6">
            <h2>
              Edit/Delete??
            </h2>

            <p>
              The Edit and Delete icons usually appear together.
              There are two main style; large block-level hover, and small in-line.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <p>
              Large Block Level
            </p>
            <div element-name="three" source-page-name="dashboard" source-page-selector=".welcome-message"></div>
          </div>
          <div class="col-md-6">
            <p>
              Small Inline
            </p>
            <div element-name="three" source-page-name="dashboard" source-page-selector=".welcome-message"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p>
              If a block can be edited all at once, please use the large block level edit and delete icons.
            </p>

            <div element-name="three" source-page-name="dashboard" source-page-selector=".welcome-message"></div>

            <p>
              Delete should be followed by a warning/confirmation.
            </p>

            <div element-name="three" source-page-name="dashboard" source-page-selector=".welcome-message"></div>

            <p>
              Otherwise, use the smaller inline Edit and Delete icons.
            </p>

            <div element-name="three" source-page-name="dashboard" source-page-selector=".welcome-message"></div>

            <p>
              And, Delete should be followed by a warning/confirmation.
            </p>

            <div element-name="three" source-page-name="dashboard" source-page-selector=".welcome-message"></div>
          </div>
        </div>

        <hr>

        <h2>
          File Upload
        </h2>
        <div element-name="three" source-page-name="dashboard" source-page-selector=".welcome-message"></div>

        <hr>

        <h2>
          Errors
        </h2>

        <div element-name="three" source-page-name="dashboard" source-page-selector=".welcome-message"></div>

        <hr>

        <h2>
          Tooltips
        </h2>
        <div element-name="three" source-page-name="dashboard" source-page-selector=".welcome-message"></div>

        <hr>

        <h2>
          Card Things
        </h2>

        <div element-name="three" source-page-name="dashboard" source-page-selector=".welcome-message"></div>


        <hr>

        <h2>
          Widgets
        </h2>
        <div element-name="three" source-page-name="dashboard" source-page-selector=".welcome-message"></div>


        <hr>

        <h2>
          Avatars
        </h2>
        <div element-name="three" source-page-name="dashboard" source-page-selector=".welcome-message"></div>


        <hr>

        <h2>
          Task Cards
        </h2>
        <div element-name="three" source-page-name="dashboard" source-page-selector=".welcome-message"></div>


      </div>

    </div>
  </div>

  <div class="navigation" style="left: 0; display: none;">
    <div class="navigation-title">
      <span class="navigation-close">×</span>Tahi
    </div>
    <a href="#" class="navigation-item">Colors</a>
    <a href="#" class="navigation-item">Typography</a>
    <a href="#" class="navigation-item">Cards</a>
    <a href="#" class="navigation-item">System Overlay</a>
    <a href="#" class="navigation-item">Navigation</a>
    <a href="#" class="navigation-item">Buttons</a>
    <a href="#" class="navigation-item">Forms</a>
    <a href="#" class="navigation-item">Edit/Delete</a>
    <a href="#" class="navigation-item">File Upload</a>
    <a href="#" class="navigation-item">Contributors</a>
    <a href="#" class="navigation-item">Error-handling</a>
    <a href="#" class="navigation-item">Tooltips</a>
    <a href="http://invisionapp.com/somewhere" class="navigation-item" target="_blank">Tahi Overview</a>
    <hr>
    <a href="#" class="navigation-item navigation-item--account">
      <img src="/images/profile-no-image.png" class="user-thumbnail">
      <span>
        User Name
      </span>
    </a>
    <a href="#" class="navigation-item">Sample Nav</a>
  </div>

</body>
</html>
