<p>
Hello <%= @invitee_name %>
</p>

<p>
<%= @invitor_name %> just added you to a conversation on Tahi. Visit this link to view the conversation:
</p>

<p>
<%= client_paper_task_url(@task.paper, @task) %>
</p>

<p>
Team Tahi
</p>
