<h1>
  Hello <%= @invitee_name %>
</h1>
<h2>
  You've been invited to the Editor's Discussion for the paper:
</h2>

<hr />

<h3>
  <%= @task.paper.display_title %>
</h3>

<h4>Abstract</h4>

<p>
  <%= @paper_preview %>
</p>

<hr />

<%= link_to 'View Discussion', client_paper_task_url(@task.paper, @task) %>
