<div class="container">
  <div class="greeting">
    <h3 class="user-name">
      Hello <%= @editor_name %>
    </h3>
    <p class="message">
      You've been assigned as an Editor on a Manuscript
    </p>
  </div>
  <hr>
  <div class="paper-info">
    <div class="paper-abstract">
      <p>
        You've been assigned as an Editor on a Manuscript titled
        "<%= @paper.display_title(sanitized: false) %>".
      </p>
      <p>
        Visit this link to view the paper:
        <%= client_paper_url(@paper) %>
      </p>
    </div>
  </div>
  <hr>
  <div class="footer">
    Sincerely,
    <br>
    <%= @journal.name %> Team
  </div>
</div>
