<p>
Hello <%= @editor_name %>,
</p>

<p>
You've been assigned as an editor on a paper titled <%= @paper.display_title %>:
</p>

<p>
<%= client_paper_url(@paper) %>
</p>

<p>
We look forward to your contributions!
</p>
