<%# Copyright (c) 2018 Public Library of Science %>

<%# Permission is hereby granted, free of charge, to any person obtaining a %>
<%# copy of this software and associated documentation files (the "Software"), %>
<%# to deal in the Software without restriction, including without limitation %>
<%# the rights to use, copy, modify, merge, publish, distribute, sublicense, %>
<%# and/or sell copies of the Software, and to permit persons to whom the %>
<%# Software is furnished to do so, subject to the following conditions: %>

<%# The above copyright notice and this permission notice shall be included in %>
<%# all copies or substantial portions of the Software. %>

<%# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR %>
<%# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, %>
<%# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL %>
<%# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER %>
<%# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING %>
<%# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER %>
<%# DEALINGS IN THE SOFTWARE. %>

<%= render partial: 'email/journal_logo_or_name', locals: { journal: @paper.journal } %>
<br><br>

<h1>
  A new version has been submitted for the following paper:
</h1>

<hr>

<p class="paper-name">
  <%= @paper.display_title(sanitized: false) %>
</p>

<%= render partial: 'email/button', locals: {
  href: client_paper_url(@paper),
  text: 'View Paper'
} %>

<div class="paper-abstract">
  <p class="abstract-title">Abstract</p>
  <div class="abstract-text">
    <%= @paper.abstract %>
  </div>
</div>
