<%= render partial: 'email/journal_logo_or_name', locals: { journal: @journal } %>
<br><br>

<h1>
  A new version has been submitted for the following paper:
</h1>

<hr>

<p class="paper-name">
  <%= @paper.display_title(sanitized: false) %>
</p>

<%= render partial: 'email/button', locals: {
  href: client_paper_url(@paper),
  text: 'View Paper'
} %>

<div class="paper-abstract">
  <p class="abstract-title">Abstract</p>
  <div class="abstract-text">
    <%= @paper.abstract %>
  </div>
</div>
