<p>Hello <%= @user.first_name %> <%= @user.last_name %>,</p>

<p>
  You have been added to a conversation in Aperta
  for the manuscript "<%= @paper.display_title(sanitized: false) %>"
</p>

<%= render partial: 'email/button', locals: {
  href: client_discussion_url(@topic, @paper),
  text: 'View Conversation'
} %>
