<div class="sheet-content">
  <div class="discussions-index-header">
    <h1>Discussions</h1>
    <button class="button-secondary button--green">Create New Topic</button>
  </div>

  <br><br>
  {{#link-to "paper.workflow.discussions.show" 1 class="discussions-index-topic"}}
    <span class="badge">2</span>
    Helvetica jean shorts
  {{/link-to}}
  {{#link-to "paper.workflow.discussions.show" 1 class="discussions-index-topic"}}Master cleanse lomo mixtape{{/link-to}}
  {{#link-to "paper.workflow.discussions.show" 1 class="discussions-index-topic"}}Truffaut Brooklyn aesthetic actually blog{{/link-to}}
  {{#link-to "paper.workflow.discussions.show" 1 class="discussions-index-topic"}}
    <span class="badge">7</span>
    Locavore organic VHS banh mi
  {{/link-to}}
  {{#link-to "paper.workflow.discussions.show" 1 class="discussions-index-topic"}}
    <span class="badge">11</span>
    Bushwick gastropub
  {{/link-to}}
  {{#link-to "paper.workflow.discussions.show" 1 class="discussions-index-topic"}}Thundercats McSweeney's Godard, tote bag{{/link-to}}
  {{#link-to "paper.workflow.discussions.show" 1 class="discussions-index-topic"}}Asymmetrical readymade small batch{{/link-to}}
  {{#link-to "paper.workflow.discussions.show" 1 class="discussions-index-topic"}}Mustache Echo Park{{/link-to}}
</div>
