<div class="cover-letter-task-snapshot-label">
  Text:
</div>
<div class="cover-letter-task-snapshot-text">
  {{text-diff viewingText=text1.answer comparisonText=text2.answer}}
</div>

<div class="cover-letter-task-snapshot-attachment">
  {{attachment-snapshot attachment1=attachment1 attachment2=attachment2}}
</div>
