<div class="snapshot-text wrap">
  <b>Name:</b> {{text-diff viewingText=viewingName comparingText=comparingName}}<br/>
  <b>Contributions:</b> {{text-diff viewingText=viewingContributions comapringText=comparingContributions}}<br />
</div>
