<div class="snapshot-text wrap">
  {{debugger}}
  <b>Position:</b> {{text-diff viewingText=viewingPosition comparisonText=comparingPosition}}<br />
  <b>Name:</b> {{text-diff viewingText=viewingName comparisonText=comparingName}}<br/>
  <b>Contributions:</b> {{text-diff viewingText=viewingContributions comparingText=comparingContributions}}<br />
  
</div>
