{{partial "task-completed-section"}}

<div class="task-main-content">
  <div class="editors-discussion-instruction">
    <p>
      Use this card to decide if this paper should move forward to peer review. Add the appropriate editors to the discussion at the bottom of this card.
    </p>

    <p>
      If the decision is made to not peer review, the paper can be rejected using the "Register Decision" card.
    </p>

    <p>
      Otherwise, invite an Academic Editor using the "Assign Editor" card.
    </p>
  </div>
</div>
