<div>
  <p>
    Publications fees (also referred to as “Article Processing Charges” or APCs) help PLOS recover 
    the costs of publication — including peer review management, journal production and online hosting and archiving. 
    All content published by PLOS is published Open Access and is freely available online for researchers &amp; readers 
    to read, distribute and reuse. Publication fees vary by journal and are payable for articles upon acceptance.
    The effective publication fee charged is based on the manuscript submission date.
  </p>

  <ul>
    {{#each previousJournals as |journal|}}
      <li>
        <i>{{journal.name}}</i>
        ${{journal.price}} USD
      </li>
    {{/each}}
  </ul>

  <p>
    On or After May 14, 2018, 10 a.m. Pacific:
  </p>

  <ul>
    {{#each journals as |journal|}}
      <li>
        <i>{{journal.name}}</i>
        ${{journal.price}} USD
      </li>
    {{/each}}
  </ul>
</div>
