<div class="admin-section">
  <h1 class="admin-section-title admin-section-title-journals">Journals</h1>

  {{#if currentUser.siteAdmin}}
    <button class="add-new-journal button-primary button--blue {{if newJournalPresent "button--disabled"}}" {{action "addNewJournal"}}>
      Add new journal
    </button>
  {{/if}}

  <br class="clear">

  {{#each arrangedContent as |journal|}}
    {{journal-thumbnail journal=journal canEdit=currentUser.siteAdmin}}
  {{/each}}
</div>
