<td>
  {{role.name}}
</td>
<td class="centered">
  {{check-box
      name=(concat role.name "-view")
      checked=(readonly viewAllowed)
      disabled=(readonly editAllowed)
      action=(action "toggleViewPermission")}}
</td>
<td class="centered">
  {{check-box
      name=(concat role.name "-edit")
      checked=(readonly editAllowed)
      action=(action "toggleEditPermission")}}
</td>
