:coffeescript
  window.onresize = ->
    Tahi.utils.resizeContainer('.phase-container','h2')

  $ ->
    Tahi.utils.resizeContainer('.phase-container', 'h2')
    # fix for safari.
    setTimeout( ->
      Tahi.utils.resizeContainer('.phase-container', 'h2')
    ,200)

#column-manager{data: {url: manage_paper_path(@paper)}}

- content_for :tahi_container_class do
  full-width
