<table>
  <thead>
    <tr>
      <th>
        Label:
      </th>
      <th>
        File:
      </th>
      <th>
        Striking Image:
      </th>
    </tr>
  </thead>

  {{#each figure in figures}}
    {{figure-snapshot snapshot1=figure.[0] snapshot2=figure.[1]}}
  {{/each}}
</table>

<hr>

{{#each notFigure in notFigures}}
  {{nested-snapshot snapshot1=notFigure.[0] snapshot2=notFigure.[1]}}
{{/each}}
