.left-drawer {
  position: absolute;
  min-height: 100%;
  box-sizing: border-box;
  left: 0;
  top: 0;
}

.left-drawer-title {
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
  margin-left: 15px;
}

.left-drawer-toggle {
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 15px;
  height: 100%;
  font-size: 20px;
  cursor: pointer;
  transition: transform .5s;
}

.left-drawer-toggle:focus,
.left-drawer-toggle:active {
  outline: none;
}

.left-drawer-open .left-drawer-toggle {
  transform: rotateZ(180deg);
}
