<td class="col-xs-8 preprint-dashboard-paper-title {{type}}-paper-title hug-left">
  <a href="www.google.com">Sisas</a>
  <br>
  <span class="dashboard-journal-name">
    ApertaXiv
  </span>
  <span class="dashboard-manuscript-id">
    | ID: {{model.aarxDoi}}
  </span>
</td>
<td class="col-xs-3 hug-left">
  <span class="role-tag">{{roles}}</span><br>
</td>
<td class="col-xs-2"><div class='status-tag hug-left'>POSTED</div></td>
