<label>
  {{radio-button selection=selection
                 name=name
                 id=idYes
                 value=yesValue
                 action=(action "selectYes")
                 disabled=disabled}}
  {{yesLabel}}
</label>

<label>
  {{radio-button selection=selection
                 name=name
                 id=idNo
                 value=noValue
                 action=(action "selectNo")
                 disabled=disabled}}
  {{noLabel}}
</label>
