<div class="card-editor-save-buttons">
  <div class="card-editor-save-buttons-container">
    <button class="button button--blue button-primary editor-save"
            {{action 'saveCard'}}
            disabled={{ null }}>Save and Publish</button>
  </div>
</div>

<div class="card-editor-workspace">
  <div class="card-editor-xml-container">
    <div class="card-editor-xml-controls"></div>
    <div class="card-editor-xml">
      {{textarea value=card.xml autoresize=true rows=10}}
    </div>
  </div>
</div>
