<div class="card-editor-save-buttons">
  <div class="card-editor-save-buttons-container">
    <button class="button button--blue button-primary editor-save">Save</button>
    <button class="button button--blue button-primary editor-publish" disabled>Publish Card</button>
  </div>
</div>

<div class="card-editor-workspace-container">
  {{card-editor/editor/workspace card=card}}
</div>
