{{#task-disclosure-group class="paper-sidebar"}}
  <div class="paper-sidebar-info">
    {{#if paper.doi}}
      <div class="paper-sidebar-doi"><strong>Manuscript ID:</strong> {{paper.manuscript_id}}</div>
    {{/if}}

    {{#if readyToSubmit}}
      <button id="sidebar-submit-paper" {{action "submitPaper"}}
        class="button-primary button--green">
        Submit
      </button>
    {{/if}}

    {{#if preSubmission}}
      You must complete the following tasks before submitting:
    {{/if}}

    {{#if isSubmitted}}
      This paper has been submitted.
    {{/if}}

    <hr>
  </div>

  {{#if assignedTasks}}
    <div id="paper-assigned-tasks">
      {{#each sortedAssignedTasks as |task|}}
        {{#task-disclosure title=task.title completed=task.completed}}
          {{#task-load task=task}}
            {{component (task-component-name task.title) task=task}}
          {{/task-load}}
        {{/task-disclosure}}
      {{/each}}
    </div>
  {{/if}}

  {{#if metadataTasks}}
    <div id="paper-metadata-tasks">
      {{#each sortedMetadataTasks as |task|}}
        {{#task-disclosure title=task.title completed=task.completed}}
          {{#task-load task=task}}
            {{component (task-component-name task.title) task=task}}
          {{/task-load}}
        {{/task-disclosure}}
      {{/each}}
    </div>
  {{/if}}
{{/task-disclosure-group}}
