<div class="paper-withdraw-wrapper">
  <i class="fa fa-exclamation-circle"></i>
  <h1>Are you sure?</h1>

  {{flash-messages}}

  <p>
    Withdrawing your manuscript will withdraw it from consideration.<br>
    Please provide your reason for withdrawing this manuscript.
  </p>

  {{textarea rows="10" class="form-control withdraw-reason" value=model.withdrawalReason}}

  <div class="pull-right">
    <button class="button-link withdraw-yes" {{action "withdraw"}}>YES, WITHDRAW</button>
    <button class="button cancel-button withdraw-no" {{action "close"}}>NO, I'M STILL WORKING</button>
  </div>
</div>
