<td>{{model.username}}</td>
<td>{{model.firstName}}</td>
<td>{{model.lastName}}</td>
<td>
  {{user-role-selector journalRoles=journalRoles
                       userJournalRoles=model.adminJournalRoles
                       selected=(action "noOp")
                       removed=(action "noOp")}}
</td>
