<td class='username'>{{model.username}}</td>
<td class='first-name'>{{model.firstName}}</td>
<td class='last-name'>{{model.lastName}}</td>
<td>
  {{user-role-selector journalRoles=journalRoles
                       userJournalRoles=model.adminJournalRoles
                       selected=(action "noOp")
                       removed=(action "noOp")}}
</td>
