<td>{{model.username}}</td>
<td>{{model.firstName}}</td>
<td>{{model.lastName}}</td>
<td>
  {{user-role-selector journalRoles=selectableJournalRoles
                       userJournalRoles=model.adminJournalRoles
                       selected=(action "noOp")
                       removed=(action "noOp")}}
</td>
