<td class='last-name'>{{user.lastName}}</td>
<td class='first-name'>{{user.firstName}}</td>
<td class='username'>{{user.username}}</td>
<td class='user-role'>
  {{user-role-selector journalRoles=journalRoles
                       userJournalRoles=user.adminJournalRoles
                       selected=(action "addRole")
                       removed=(action "removeRole")}}
</td>
