<div class="manuscript-manager-template">
  <div class="admin-header">
    <div class='relative'>
      <h2 class="title">Manuscript Manager Templates</h2>
      <button class="button-primary button--light-blue" {{action "addTemplate" phase taskType}}>
      Add New Template
      </button>
    </div>
  </div>
  {{each content itemViewClass="ETahi.ManuscriptManagerTemplateThumbnailView"}}
</div>
