<div id="tahi-container" class="manuscript-manager-template">
  <h2>Manuscript Manager Templates</h2>
  {{each content itemViewClass="ETahi.ManuscriptManagerTemplateThumbnailView"}}
  <button class="primary-button blue-box" {{action "addTemplate" phase taskType}}>
    Add New Template
  </button>
</div>
