<div class="manuscript-manager-template">
  <div class="admin-header">
    <h2 class="title">Manuscript Manager Templates</h2>
    <div class="col-md-3 pull-right">
      <a class="button-primary button--light-blue admin-header-button" {{action "addTemplate" phase taskType}}>Add New Template</a>
    </div>
  </div>
  {{each content itemViewClass="ETahi.ManuscriptManagerTemplateThumbnailView"}}
</div>
