{{textarea classNames=textareaClassNames value=value placeholder=placeholder}}
<div class='expanding-textarea-arrow'>
  <div class='expanding-textarea-arrow-line1'></div>
  <div class='expanding-textarea-arrow-line2'></div>
</div>
