{{#if model.question}}
  <div class="question-text">{{{model.question}}}</div>
{{/if}}

{{#if helpText}}
  <ul class="question-help">{{{helpText}}}</ul>
{{/if}}
{{textarea name=ident value=model.answer class="form-control" disabled=disabled}}
