html {
  overflow: auto !important;
}

// disable all css animations when testing

* {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
}

.overlay {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;

  &.animation-fade-in { opacity: 1 }
}
