{{partial "task-completed-section"}}
<div class="custom-card-task {{if hasAdditionalText 'dualColumn' 'singleColumn'}}">
  {{card-content content=contentRoot owner=task disabled=isNotEditable}}
</div>
