{{partial "task-completed-section"}}
<div class="custom-card-task {{if renderAdditionalText 'dual-column' 'single-column'}}">
  {{card-content content=contentRoot owner=task disabled=isNotEditable}}
</div>
