<h1>Financial Disclosure</h1>

<form>
  <fieldset>
    <ol>
      <li class="question">
        {{question-radio ident="financial.received_funding" task=model
                         question="Did any of the authors receive specific funding for this work?" }}
      </li>
    </ol>
  </fieldset>
</form>

