{{inline-edit-h1 title=model.title setTitle="setTitle" editOnOpen=isNewTask}}

<div class="task-body">
  {{#each blocks as |block|}}
    {{#inline-edit-body-part
      block=block
      cancel="resetBlock"
      save="saveBlock"
      delete="deleteBlock"
      addItem="addCheckboxItem"}}
      {{#each block as |item|}}
        {{view "inlineEdit"
               item=item
               isSendable=false
               isNew=false}}
      {{/each}}
    {{/inline-edit-body-part}}
  {{/each}}
  {{#each newBlocks as |block|}}
    {{#inline-edit-body-part
      block=block
      editing=true
      cancel="resetBlock"
      save="saveBlock"
      delete="deleteBlock"
      addItem="addCheckboxItem"}}
      {{#each block as |item|}}
        {{view "inlineEdit"
               item=item
               isSendable=false
               isNew=true}}
      {{/each}}
    {{/inline-edit-body-part}}
  {{/each}}
</div>

{{#reveal-adhoc-toolbar-buttons}}
  {{partial "components/reveal-adhoc-toolbar-buttons/buttons"}}
{{/reveal-adhoc-toolbar-buttons}}
