<div class="overlay-container full">

  <div class="overlay-title-text">
    <h1>Pick the type of card to add</h1>
  </div>

  <div class="inner-content">
    <div class="call-to-action">
      {{view "chosen" content=sortedTaskTypes
                      name="task_types"
                      width="200px"
                      prompt="Select a task type"
                      class="task-type-select"
                      value=taskType
                      optionValuePath="content"
                      optionLabelPath="content.title"}}
      <div class="overlay-action-buttons">
        <button class="button-primary button--green" {{action "addTaskType" phaseTemplate taskType}}>Add</button>
        <button class="button-link button--green cancel" {{action "closeAction"}}>cancel</button>
      </div>
    </div>
  </div>
</div>
