<div class="overlay-container">
  <h1>Manuscript CSS</h1>
  <p>Enter or edit CSS to format the manuscript editor and output for this journal.</p>
  {{textarea value=content.manuscriptCss placeholder="Type your CSS here" autofocus="autofocus"}}

  <div class="overlay-action-buttons">
    <a href="#" class="button-link button--grey cancel-link" {{action "closeAction"}}>cancel</a>
    <button type="button" class="button-primary button--blue button--wide" {{action "save"}}>Save</button>
  </div>
</div>
