<div class="overlay-container">
  <h1>ePub CSS</h1>
  <p>Enter or edit CSS to format the ePub output for this journal's papers.</p>
  {{textarea value=content.epubCss placeholder="Type your CSS here" autofocus="autofocus"}}

  <div class="overlay-action-buttons">
    <a href="#" class="button-link button--grey cancel-link" {{action "closeAction"}}>cancel</a>
    <button type="button" class="button-primary button--blue button--wide" {{action "save"}}>Save</button>
  </div>
</div>
