<div class="overlay-container">
  <h1>
    You're about to delete this card forever.
  </h1>
  <h1>
    Are you sure?
  </h1>

  <div class="overlay-action-buttons">
    <button class="button-primary button--green" {{action "closeAction"}}>
      cancel
    </button>
    <button class="button-primary button--green" {{action "removeTask"}}>
      Yes, Delete this Card
    </button>
  </div>
</div>
