<div class="overlay-title-text delete-card-title">
  <h1>
    You<span class="apostrophe">&apos;</span>re about to delete this card forever.
  </h1>
  <h2>
    Are you sure?
  </h2>
</div>

<div class="submit-action-buttons delete-card-action-buttons">
  <div>
    <button class="button-primary button--green" {{action "removeTask"}}>
      Yes, Delete this Card
    </button>
  </div>
  <div>
    <button class="button-link button--green" {{action "closeAction"}}>
      cancel
    </button>
  </div>
</div>
