<div class="overlay-container">
  <h1>Choose a new column</h1>

  {{#each flow in flows}}
    <a class="button-secondary flow-manager-button" {{action "createFlow" flow}}>{{flow.title}}</a>
  {{/each}}
</div>
