<div class="overlay">
  {{progress-loader visible=true
                    large=true}}
  <div class="quote">
    "Beneath the clothes, we find a man... and beneath the man 
    we find... his... nucleus."
  </div>
</div>
