<div class="message-header"> 
  <div class="navigation-toggle">
    Tahi
  </div>
</div>
<div class="message-text">
  <h1>Your manuscript is looking great!</h1>
  <h4>You've successfully uploaded PAPER TITLE HERE</h4>
</div>
