<div class="overlay-container overlay--fullscreen--green paper-submit-overlay">
<img class="paper-submit-icon" src="/images/submit-image-success.png">
  <div class="overlay-title-text animation-fade-in">
    <h1>Congratulations</h1>
  </div>

  <h5>You've successfully submitted your paper!</h5>
  
  <div class="submit-action-buttons">
    <button class="button-link button--white success-close {{action "closeAction"}}>Close</button>
  </div>
</div>
