<div class="overlay-container">
  <section class="overlay-content">
    <h2>You have unsaved changes</h2>
    <a class="button-primary button--blue" {{action "saveChanges"}}>Save Changes</a>
    <a class="button-secondary button--blue" {{action "cancelTransition"}}>Continue Editing</a>
    <a class="button-link button--grey" {{action "discardChanges"}}>Discard Changes</a>
  </section>
</div>
