<div id="versioned-metadata">
  <div class="versioned-metadata-version">Viewing
    <span class="versioned-metadata-version-string">
      Version {{ snapshot.versionString }}
      &mdash;
      {{format-date snapshot.created_at format='MMM D, YYYY'}}
    </span>
  </div>

  <h2>{{model.title}}</h2>

  {{nested-snapshot snapshot=snapshot.contents}}
</div>
