<div class="admin-section">
  <h2 class="admin-section-title">Manuscript Manager Templates</h2>
  <button class="button-primary button--blue" {{action "addTemplate" phase taskType}}>Add New Template</button>
  <br><br>
  {{each content itemViewClass="admin/manuscript-manager-templates/thumbnail"}}
</div>
