---
http_interactions:
- request:
    method: post
    uri: https://sandbox.orcid.org/oauth/token
    body:
      encoding: UTF-8
      string: client_id=APP-PLM33GS3DKZ60O79&client_secret=056cab03-aebe-4cb2-86d1-0011184af5ee&grant_type=authorization_code&code=ZZZZZZ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"messageVersion":"1.2","orcidProfile":null,"orcidSearchResults":null,"errorDesc":{"content":"Invalid
        authorization code: ZZZZZZ"}}'
  recorded_at: Fri, 07 Oct 2016 15:24:11 GMT
recorded_with: VCR 2.9.3
