---
http_interactions:
- request:
    method: post
    uri: https://cs9.salesforce.com/services/oauth2/token?client_id=3MVG9FS3IyroMOh4aBMHbfRbXKX._hh4FxYttVhYdR3vSZPp26m7x9C5FxLkispk7XbKq0wjNwtPV7C4XQTl0&client_secret=4273174531479571356&grant_type=password&password=Openaccess4me&username=integrationuser@plos.org.plostest2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00DK000000XN2av!ARcAQIZe7nknpLyTrDVJNioP0TnJV1ittgbG5MhuF0X41xOU4Crms58vm71lB9KQMUfnCfjLmEWHrBFqo65g61k8ffomW2cI","instance_url":"https://cs9.salesforce.com","id":"https://test.salesforce.com/id/00DK000000XN2avMAD/005U0000002AXTZIA4","token_type":"Bearer","issued_at":"1440020588263","signature":"IzeuTp4W6GSKpwvwUEiqycpBtWIsSbx/hF5QbzzuTUk="}'
  recorded_at: Wed, 19 Aug 2015 21:43:08 GMT
recorded_with: VCR 2.9.3
