<label for="admin">Admin</label>

{{select-2-single class="admin-select2"
                  minimumInputLength=3
                  placeholder="Select admin"
                  name="assign_admin"
                  remoteSource=select2RemoteSource
                  resultsTemplate=resultsTemplate
                  selectedData=task.admin
                  selectedTemplate=resultsTemplate
                  selectionSelected="assignAdmin"
                  value=""}}
