<label class="author-label">
  {{check-box checked=isSelected action="update" class="author-contribution-other"}}
  Other
</label>
{{#if isSelected}}
  {{nested-question-input ident="contributions.other"
      task=author
      displayQuestionText=false
      inputClassNames="form-control"
      placeholderText="Please specify"
      wrapInput=false
      tagName="span"
      enter="textUpdate"
      focus-out="textUpdate"}}
{{/if}}
