{{partial "task-completed-section"}}

<div class="task-main-content">
  <div class="edit-cover-letter">

    <p>To be of most use to editors, we suggest your letter could address the following questions:</p>

    <ul>
      <li>What is the scientific question you are addressing?</li>
      <li>What is the key finding that answers this question?</li>
      <li>What is the nature of the evidence you provide in support of your conclusion?</li>
      <li>What are the three most recently published articles that are relevant to this question?</li>
      <li>What significance do your results have for the field?</li>
      <li>What significance do your results have for the broader community (of biologists and/or the public)?</li>
      <li>What other novel findings do you present?</li>
      <li>Is there additional information that we should take into account?</li>
    </ul>
    <p>
      In your cover letter, please list any scientists whom you request be
      excluded from the assessment process along with a justification. You may
      also suggest experts appropriate to be considered as Academic Editors for
      your manuscript. Please be aware that your cover letter may be seen by
      members of the Editorial Board. For Research articles, if our initial
      assessment is positive, we will request further information, including
      Reviewer Candidates and Competing Interests. For other submission types,
      if the Reviewer Candidate and Competing Interests cards are already
      visible to you, please complete them now with the relevant information.
    </p>

    {{nested-question-textarea
      ident='cover_letter--text'
      inputClassNames='form-control cover-letter-field'
      placeholder="Please type or paste your cover letter into this text field, or attach a file below"
      owner=task
      disabled=isNotEditable}}

    {{nested-question-uploader-manager
      buttonText="attach file"
      ident="cover_letter--attachment"
      owner=task
      accept=".docx,.pdf"
      disabled=isNotEditable}}
  </div>
</div>
