<table class="table export-history">
  <tbody>
    <tr>
      <th colspan="2" class="status">Status</th>
      <th class="date">Date</th>
    </tr>

    {{#each sortedExports as |export|}}
      {{export-delivery delivery=export}}
    {{/each}}
  </tbody>
</table>
