{{#if linkedInvitations.length}}
  {{#unless previousRound}}
    <div class="invitation-alternates-info">
     {{fa-icon icon="info-circle"}}
      Candidates in a linked group must be invited one at a time. Once a candidate
      has been invited, the ability to send invitations to other candidates in their
      group is disabled until the outstanding invitation has been declined,
      expired, or rescinded.
    </div>
  {{/unless}}
{{/if}}

{{#each sortedInvitations key="id" as |invitation|}}
  {{invitation-drop-target
      position=invitation.position
      index=invitation.position
      changePosition=(action 'changePosition')}}

  {{invitation-detail-row invitation=invitation
                          invitations=invitations
                          changePositionPending=changePositionPending
                          setRowState=(action attrs.setRowState invitation)
                          deleteOnCancel=(eq invitation composedInvitation)
                          composedInvitation=composedInvitation
                          toggleActiveInvitation=toggleActiveInvitation
                          destroyInvite=destroyInvite
                          saveInvite=saveInvite
                          previousRound=previousRound
                          activeInvitation=activeInvitation
                          activeInvitationState=activeInvitationState}}
{{/each}}

{{invitation-drop-target
    isLast=true
    position=sortedInvitations.length
    index=(inc sortedInvitations.length)
    changePosition=(action 'changePosition')}}
