{{#if linkedInvitations.length}}
  {{#unless previousRound}}
    <div class='invitation-alternates-info'>
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      Candidates in a linked group must be invited one at a time. Once a candidate
      has been invited, the ability to send invitations to other candidates in their
      group is disabled until the outstanding invitation has been declined,
      expired, or rescinded.
    </div>
  {{/unless}}
{{/if}}
{{#each linkedInvitations as |invitation|}}
  {{invitation-queue invitation=invitation
                     invitations=invitations
                     setRowState=(action attrs.setRowState)
                     deleteOnCancel=(eq invitation composedInvitation)
                     composedInvitation=composedInvitation
                     toggleActiveInvitation=toggleActiveInvitation
                     previousRound=previousRound
                     activeInvitation=activeInvitation
                     activeInvitationState=activeInvitationState
                     alternateQueuing=true}}
{{/each}}

{{#each mainQueueInvitations as |invitation|}}
  {{invitation-detail-row invitation=invitation
                          invitations=invitations
                          setRowState=(action attrs.setRowState invitation)
                          deleteOnCancel=(eq invitation composedInvitation)
                          composedInvitation=composedInvitation
                          toggleActiveInvitation=toggleActiveInvitation
                          previousRound=previousRound
                          activeInvitation=activeInvitation
                          activeInvitationState=activeInvitationState}}
{{/each}}
