{{#if linkedInvitations.length}}
  {{#unless previousRound}}
    <div class="invitation-alternates-info">
     {{fa-icon icon="info-circle"}}
      Candidates in a linked group must be invited one at a time. Once a candidate
      has been invited, the ability to send invitations to other candidates in their
      group is disabled until the outstanding invitation has been declined,
      expired, or rescinded.
    </div>
  {{/unless}}
{{/if}}

{{invitation-drop-target index=0
                     model=invitation
                     isEditable=true}}

{{#each (sort-by "position" invitations) as |invitation|}}
  {{invitation-detail-row invitation=invitation
                          invitations=invitations
                          setRowState=(action attrs.setRowState invitation)
                          deleteOnCancel=(eq invitation composedInvitation)
                          composedInvitation=composedInvitation
                          toggleActiveInvitation=toggleActiveInvitation
                          destroyInvite=destroyInvite
                          previousRound=previousRound
                          activeInvitation=activeInvitation
                          activeInvitationState=activeInvitationState}}

  {{invitation-drop-target index=0
                       model=invitation
                       isEditable=true}}
{{/each}}
