<tbody class='active-invitations'>
  {{#each invitations as |invitation|}}
    {{invitation-detail-row
        invitation=invitation
        destroyAction=(action 'destroyInvitation' invitation)}}
  {{/each}}
</tbody>

{{#if groupByDecision}}
  {{#each previousDecisionsWithFilteredInvitations as |decision|}}
    <tr class='revision-human-number'>
      <td colspan=5>Round {{decision.revisionNumber}}</td>
    </tr>
    <tbody class='expired-invitations'>
      {{#each decision.filteredInvitations as |invitation|}}
        {{invitation-detail-row invitation=invitation}}
      {{/each}}
    </tbody>
  {{/each}}
{{/if}}
