{{partial "task-completed-section"}}

<div class="task-main-content">
  {{invitation-manager task=task
                       replaceTargetName="EDITOR NAME"
                       groupByDecision=false
                       endpoint="academic_editors"
                       placeholder="Invite editor by name or email"}}
</div>
