{{partial "task-completed-section"}}

<div class="task-main-content">
  <h3>Please use the "Add New Article" button to list the related articles here.</h3>

  {{#each relatedArticles as |article|}}
    {{related-article relatedArticle=article}}
  {{/each}}

  <button class="button button-primary button--green related-article-task-add"
          {{action "newArticle"}}>
    Add new article
  </button>
</div>
