{{partial "task-completed-section"}}

<div class="task-main-content">

  {{#each relatedArticles as |article|}}
    {{related-article relatedArticle=article}}
  {{/each}}

  <button class="button button-primary button--green related-article-task-add"
          {{action "newArticle"}}>
    Add new article
  </button>
</div>
