 {{partial "task-completed-section"}}

<div class="task-main-content">
  <p>Click below to generate a similarity report via iThenticate. If a report was generated for a previous version it can be found in the version history.</p><br>
  <button class="button-primary button--green">Generate Report</button>
</div>
