<div class="attachment-thumbnail-image">
  <img class="preview" src={{attachment.previewSrc}} alt={{attachment.alt}}>
</div>

<div class="attachment-thumbnail-text-content">
  <h2 class="attachment-thumbnail-title">
    {{if attachment.title attachment.title "Attachment title"}}
  </h2>

  <div class="attachment-thumbnail-caption">
    {{if attachment.caption attachment.caption "There is no caption for this file."}}
  </div>

  {{#if attachment.isStrikingImage}}
    <br>
    &nbsp;
    This is the striking image
  {{/if}}
</div>
