{{partial "task-completed-section"}}

<div class="task-main-content">
  <div class="title-and-abstract">
    <div class="form-group qa-paper-title">
      <h3>Title</h3>
        {{rich-text-editor
          editorStyle='basic'
          value=task.paperTitle
          ident='article-title-input'
          class='article-title-input'
          onContentsChanged=(action 'titleChanged')
          disabled=isNotEditable
          errorMessage=validationErrors.paperTitle
          displayIcon=true
          displayText=true
        }}
    </div>

    <div class="form-group qa-paper-abstract">
       <h3>Abstract</h3>
        {{rich-text-editor
          editorStyle='basic'
          value=task.paperAbstract
          ident='article-abstract-input'
          class='article-abstract-input'
          onContentsChanged=(action 'abstractChanged')
          disabled=isNotEditable
          errorMessage=validationErrors.paperAbstract
          displayIcon=true
          displayText=true
        }}
    </div>
  </div>
</div>
