<img {{bind-attr class=":edit-paper-stop-icon isEditing::hidden"}} src="/images/stop-sign.svg">
<span {{bind-attr class=":edit-paper-start-icon :glyphicon iconClass isEditing:hidden"}}></span>
<span class="edit-paper-prompt">{{prompt}}</span>
