{{#if (eq selectedPaymentMethod 'institutional')}}
<div>
  <h3>
    Institutional Fee Support
  </h3>

  <p>
    Institutions participating in the PLOS Institutional Account Program have arrangements with PLOS to administer payment 
    for partial or full publication fees for their institutions' authors.
    To be eligible, authors must be a corresponding author affiliated with the institution or agency in the
    <a href="https://www.plos.org/institutional-account-program" target="_blank">Institutional Account Program</a>
    (fully paid or restricted).
  </p>
  <p>
    Authors may also be eligible for direct funding from their institution or funder,
    which may be different from the PLOS Institutional program.
    See additional
    <a href="https://www.plos.org/publications/publication-fees/open-access-funds/" target="_blank">funds</a>
    for examples.
    To confirm amounts and details of funding and eligibility, contact the organization as indicated.
  </p>

  <p>
    Authors who need to request additional support  – and have no other means of funding - should apply for
    <a href="https://www.plos.org/publications/publication-fees/plos-publication-fee-assistance/" target="_blank">PLOS Publication Fee Assistance</a>.
  </p>

  <div class="form-group required {{if validationErrors.affiliation "error"}}">
    {{error-message message=null}}
    {{#if institutionalAccounts.loaded}}
      {{nested-question-select ident="plos_billing--ringgold_institution"
                        owner=task
                        placeholder="Select an Institution"
                        source=institutionalAccounts.data
                        enable=isEditable
                        width="350"
                        errors=validationErrors.plos_billing--ringgold_institution
                        }}
    {{/if}}
  </div>
</div>
{{/if}}
