{{user-thumbnail user=commenter}}
<span class="comment-name">{{commenter.fullName}}</span>
<span class="comment-date">posted {{format-date createdAt}}</span>
<div class="comment-body">{{highlightedBody}}</div>
