{{user-thumbnail user=comment.commenter}}
<span class="comment-name">{{comment.commenter.fullName}}</span>
<span class="comment-date">posted {{format-date comment.createdAt}}</span>
<div class="comment-body">{{comment.body}}</div>
