{{unbound user-thumbnail commenter}}
<span class="comment-date">{{formatted-time createdAt}}</span>
<span class="comment-name">{{commenter.fullName}} posted</span>
<div class="comment-body">{{display-line-breaks highlightedBody}}</div>
