<aside class="sidebar">
  <div class="task-list">
    {{#if model.doi}}
      <div class="task-list-doi"><strong>DOI:</strong> {{model.doi}}</div>
    {{/if}}

    {{#if model.readyToSubmit}}
      <button {{action "submit" target="view"}}
        id="sidebar-submit-paper"
        class="button-primary button-pre-submit-paper button--green">
        Submit
      </button>
    {{/if}}

    {{#if model.preSubmission}}
      You must complete the following tasks before submitting:
    {{/if}}

    {{#if model.postSubmission}}
      This paper has been submitted.
    {{/if}}

    <hr />

    {{partial "paper/task-list"}}
  </div>
</aside>
