<div class="paper-profile">
  {{#link-to "paper.workflow" task.paper.id class="paper-profile-title"}}
    {{{task.paper.displayTitle}}}
  {{/link-to}}
  {{card-preview paper=task.paper
                 task=task
                 class="flow-card"
                 action="viewCard"}}
</div>
