<div class="paper-profile">
  {{link-to task.litePaper.displayTitle "paper.manage" task.litePaper.id class="paper-profile-title"}}
  {{card-preview paper=task.litePaper
                 task=task
                 commentLooks=commentLooks
                 classes="flow-card"
                 action="viewCard"}}
</div>
