<div class="paper-profile">
  {{link-to task.paper.displayTitle "paper.workflow" task.paper.id class="paper-profile-title"}}
  {{card-preview paper=task.paper
                 task=task
                 classes="flow-card"
                 action="viewCard"}}
</div>
