<h2 id="task-overlays">
  Overlays
</h2>

<div class="ui-element">
  <h3 id="system-overlay">
    White System Overlay
    {{!-- Seems Mis-named --}}
  </h3>

  <a class="toggle-link">Click to show White System Overlay</a>

  <div element-name="system-overlay" source-page-name="paper_manager_overlay" source-page-selector=".overlay--fullscreen" overlay="true">
    <div class="overlay overlay--fullscreen activity-overlay animation-fade-in" id="overlay">
      <span class="overlay-close-x animation-scale-in" data-ember-action="1778">×</span>
      <div class="overlay-container">
        <header class="overlay-title-text">
          <h1 style="padding-bottom: 25px;">
            Who can collaborate on this manuscript?
          </h1>
        </header>

        <p class="overlay-supporting-text">
          Please select people to collaborate with on this paper.
          Collaborators can edit the paper,
          will be notified about edits on the paper,
          and can participate in the discussion about this paper.
        </p>

        <div class="overlay-action-buttons">
          <button class="button-primary button--green" data-ember-action="1779">
            cancel
          </button>
          <button class="button-primary button--green" data-ember-action="1780">
            Yes, Delete this Card
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<hr/>

<div class="ui-element">
  <h3 id="system-overlay">
    Green System Overlay
    {{!-- Seems Mis-named --}}
  </h3>

  <a class="toggle-link">Click to show Green System Overlay</a>

  <div element-name="system-overlay" source-page-name="paper_manager_overlay" source-page-selector=".overlay--fullscreen" overlay="true">
    <div class="overlay overlay--fullscreen overlay--green paper-submit-overlay animation-fade-in" id="overlay">
      <span class="overlay-close-x animation-scale-in" data-ember-action="1778">×</span>
      <div class="overlay-container">
        <img class="paper-submit-icon" src="/images/submit-image-success.png">
        <div class="overlay-title-text-submit animation-fade-in">
          <h1>Congratulations</h1>
        </div>

        <h5>You've successfully submitted your paper!</h5>
      </div>
    </div>
  </div>
</div>

<hr/>

<div class="ui-element">
  <h3 id="card-overlay">
    Card Overlay
  </h3>

  <a class="toggle-link">Click to show Card Overlay</a>

  <div element-name="card-overlay" source-page-name="paper_manager" source-page-selector=".overlay" overlay="true">
    <div class="overlay  animation-fade-in">
      <span class="overlay-close-x animation-scale-in" data-ember-action="1361">×</span>
      <div class="overlay-container">

        <header class="overlay-header">
          <h2 class="overlay-header-title overlay-header-title--with-icon">
            <a id="ember1362" class="ember-view overlay-header-link" href="/papers/2">
              <svg class="manuscript-icon" width="20px" height="18px" viewbox="0 0 21 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M20.0078261,22.9331296 L0.0604347826,22.9331296 L0.0604347826,4.44517593 L20.0078261,4.44517593 L20.0078261,22.9331296 L20.0078261,22.9331296 Z M16.6632609,7.66368519 L3.40478261,7.66368519 L3.40478261,9.87935185 L16.6632609,9.87935185 L16.6632609,7.66368519 L16.6632609,7.66368519 Z M16.6632609,11.9932222 L3.40478261,11.9932222 L3.40478261,14.2086759 L16.6632609,14.2086759 L16.6632609,11.9932222 L16.6632609,11.9932222 Z M16.6632609,16.2279907 L3.40478261,16.2279907 L3.40478261,18.4434444 L16.6632609,18.4434444 L16.6632609,16.2279907 L16.6632609,16.2279907 Z"></path>
                <path d="M17.826087,0 L17.826087,3.21212037 L20.0066593,3.21212041 L20.0066593,0 L17.826087,0 Z"></path>
                <rect x="14.3478261" y="0" width="2.10043478" height="3.21212037"></rect>
                <rect x="10.6521739" y="0" width="2.10043478" height="3.21212037"></rect>
                <rect x="7.17391304" y="0" width="2.10043478" height="3.21212037"></rect>
                <rect x="3.47826087" y="0" width="2.10043478" height="3.21212037"></rect>
                <rect x="0" y="0" width="2.10043478" height="3.21212037"></rect>
                <rect x="0" y="1.27777778" width="20.0078261" height="1.93434259"></rect>
              </svg>

              Feature Recognition from 2D Hints in Extruded Solids - 522-9dc220
            </a>
          </h2>
          <a class="button-secondary button--green overlay-close-button" data-ember-action="1363">Close</a>
        </header>


        <main class="overlay-content">
          <div class="overlay-main-work">
            <h1>Upload Figures</h1>

            <span class="button-primary button--green fileinput-button">
              <span>Add new Figures</span>
              <input type="file" id="figure_attachment" class="ember-view ember-text-field" accept=".jpg,.jpeg,.tiff,.tif,.gif,.png,.eps" name="file" multiple>
            </span>
            <div id="paper-attachment-uploads">
            </div>

          </div>
          <div class="discussion">
            <h2>Discussion</h2>
            <div id="ember1374" class="ember-view comment-board">
              <div class="comment-board-form form-group ">
                <img id="ember1422" class="ember-view user-thumbnail" alt="Henry567 Smith567" src="/images/profile-no-image.png" toggle="tooltip" title="Henry567 Smith567">
                <textarea id="ember1425" class="ember-view ember-text-area new-comment-field" placeholder="Type your message here"></textarea>

                <div class="message-comment-buttons">
                  <button type="submit" class="button-secondary button--green" data-ember-action="1426">Post Message</button>
                  <a href="#" class="button-link cancel-link" data-ember-action="1427">Cancel</a>
                </div>
              </div>

              <ul class="message-comments">
              </ul>

            </div>
          </div>

        </main>

        <footer class="overlay-footer">
          <div class="overlay-footer-content">
            <div class="overlay-completed-checkbox">
              <div class="">
                <input type="checkbox" id="task_completed" class="ember-view ember-checkbox" name="task_completed">
                <label for="task_completed">Completed</label>
                <div id="ember1384" class="ember-view error-message error-message--hidden">
                </div>
              </div>
            </div>

            <div id="ember1393" class="ember-view participant-selector select2-multiple">
              <span class="participant-selector-label">Following:</span>

              <div class="select2-container select2-container-multi ember-view ember-text-field select2 participant-select2" id="s2id_ember1446">
                <ul class="select2-choices">  <li class="select2-search-choice">
                  <div>
                    <img title="" data-toggle="tooltip" src="/images/profile-no-image.png" class="user-thumbnail-small" alt="Henry548 Smith548" data-original-title="Henry548 Smith548">
                  </div>
                  <a tabindex="-1" class="select2-search-choice-close" href="#"></a>
                </li>
                <li class="select2-search-field">
                  <label class="select2-offscreen" for="s2id_autogen1"></label>
                  <input type="text" class="select2-input select2-default" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off" id="s2id_autogen1" style="width: 22px;" placeholder="">
                </li>
              </ul>
              <div class="select2-drop select2-drop-multi select2-display-none participant-dropdown">
                <ul class="select2-results">   <li class="select2-no-results">No matches found</li>
                  <li class="select2-no-results">No matches found</li>
                </ul>
              </div>
            </div>
            <div id="ember1446" class="ember-view ember-text-field select2 participant-select2 select2-offscreen" placeholder="Add People" name="add_participant" type="text" tabindex="-1">
            </div>

            <div class="add-participant-button" data-toggle="tooltip" title="" data-ember-action="1447" data-original-title="Add Someone"></div>
          </div>
          <a class="button-secondary button--green overlay-close-button" data-ember-action="1394">Close</a>
        </div>
      </footer>
    </div>
  </div>
</div>
</div>
<br>
