<h2 id="task-overlays">
  Overlays
</h2>

<div class="constrain">
  <h3 id="white-overlay">White Overlay</h3>
  <p>rgba: 255, 255, 255, 98</p>
  <div class="overlay-preview">
    <div class="overlay overlay--visible overlay--fullscreen" style="display: block">
      <span class="overlay-close-x animation-scale-in" data-ember-action="1005">×</span>
      <div class="overlay-title-text">
        <h1>Create a New Submission</h1>
      </div>
    </div>
  </div>
  <hr />

  <h3 id="green-overlay">Green Overlay</h3>
  <p>rgba: 57, 163, 41, 98</p>
  <div class="overlay-preview">
    <div class="overlay overlay--visible overlay--green" style="display: block">
      <span class="overlay-close-x animation-scale-in" data-ember-action="1005">×</span>
      <div class="overlay-title-text">
        <h1>Create a New Submission</h1>
      </div>
    </div>
  </div>
  <hr />

  <h3 id="card-overlay">Card Overlay</h3>
  <p>rgba: 0, 0, 0, 70</p>
  <div class="overlay-preview">
    <div class="overlay overlay--visible" style="display: block">
      <div class="overlay-container">
        <span class="overlay-close-x animation-scale-in" data-ember-action="1005">×</span>
        <div class="overlay-title-text">
          <h1>Create a New Submission</h1>
        </div>
      </div>
    </div>
  </div>
  <hr />

</div>
