{{yield}}
{{#if display}}
  <span>Review due</span>
  {{input type="number"
    class="due-input form-control"
    classBinding="errored:error"
    value=value
    input=(action 'onInputChange')
    placeholder=placeholder
    size=4}}
  <span>days after acceptance {{appendedText}}</span>
{{/if}}
