<div class="left-drawer-title">
  <button class="left-drawer-toggle" {{action "onToggle"}}>{{fa-icon "chevron-right"}}</button>
  <div class="left-drawer-hide-when-closed">{{title}}</div>
</div>

{{yield}}
