{{add-column position=nextPosition action="addPhase"}}

{{phase-header phase=phaseTemplate
               savePhase="savePhase"
               removePhase="removeRecord"
               rollbackPhase="rollbackPhase"}}

<div class="column-content">
  {{#sortable-list list=phaseTemplate
                   items=sortedTasks
                   itemMovedWithinList=attrs.taskMovedWithinList
                   itemMovedBetweenList=attrs.taskMovedBetweenList
                   startDragging=attrs.startDragging
                   stopDragging=attrs.stopDragging}}
    {{#each sortedTasks as |task|}}
      {{card-preview  task=task
                      canRemoveCard=true
                      removeTask="removeRecord"
                      showDeleteConfirm="showDeleteConfirm"
                      action=attrs.editTaskTemplate}}
    {{/each}}
  {{/sortable-list}}
 <a {{action "chooseNewCardTypeOverlay" phaseTemplate}} class="button-secondary button--green">Add New Card</a>
</div>
