<div class="task-main-content">
  <p class="content-text">{{{content.text}}}
    {{#if content.isRequired}}
      {{#unless answer.wasAnswered}}<span class="required-field">*</span>{{/unless}}
    {{/if}}</p>
  {{card-content/toggle-switch content=content
                  labelText='Pass'
                  disabled=disabled
                  answer=answer
                  valueChanged=(action 'saveAnswer')}}
</div>