<div class="task-main-content">
  <p class="content-text">{{{content.text}}}
    {{#if content.isRequired}}
      <span class="required-field">*</span>
    {{/if}}</p>

  {{card-content/toggle-switch content=content
                  labelText='Pass'
                  disabled=disabled
                  answer=answer
                  repetition=repetition
                  valueChanged=(action 'saveAnswer')}}
</div>

{{card-content/validation-errors hideErrors=answer.hideErrors errors=answer.readyIssuesArray}}

{{card-content/display-children
  content=content
  owner=owner
  disabled=disabled
  hasAnswerContainer=false
  answerChanged=(action 'sendbackChanged')
  repetition=repetition
  preview=preview
}}
