{{#if renderEngagementBanner}}
  <div id="submission-process">
    <div id="inner">
      <span id='sp-close' {{action 'toggle'}}>&times;</span>

      <h4>{{paper.journal.name}} Submission Process</h4>

      <p>
        To facilitate submission, we have broken down the process.  Initially {{paper.journal.name}}
        editors only need your manuscript, with figures and supporting information, and a cover
        letter to evaluate your submission.  You will be asked for additional information only if
        your manuscript is sent out to peer reviewers.
      </p>

      <div class='balls-and-columns'>
        <div id='cols'>

          <div class='container-fluid row' id='lines'>
            <div class='right'> <span class='line'></span> </div>
            <div>               <span class='line'></span> </div>
            <div class='left'>  <span class='line'></span> </div>
          </div>

          <div class='container-fluid row' id='balls'>
            <div class="col-xs-4"> <span class='ball img-circle'>1</span> </div>
            <div class="col-xs-4"> <span class='ball img-circle'>2</span> </div>
            <div class="col-xs-4"> <span class='ball img-circle'>3</span> </div>
          </div>

          <div class='container-fluid row'>

            <div class="col-xs-4">
              <h5 class='bright'>Initial Submission</h5>
              <p>Submit your article along with cover letter, supporting information, and figures.</p>
            </div>

            <div class="col-xs-4">
              <h5>PLOS Initial Evaluation</h5>
              <p>PLOS editors will evaluate your submission. If they decide to send your manuscript to peer reviewers, you might be invited to add some additional information.</p>
            </div>

            <div class="col-xs-4">
              <h5>Preparation for Peer Review</h5>
              <p>You will be asked for some additional information such as full author list and competing interests statements, to get your manuscript ready for peer review. </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
{{yield}}
