{{#each content.children as |child|}}
  {{#if (eq child.contentType 'display-children')}}
    {{card-content
    content=child
    owner=owner}}
  {{else}}
  <li class="{{liClass}}">
    {{card-content
        content=child
        owner=owner}}
  </li>
  {{/if}}
{{/each}}
