<div class="tahi-generic-loading">
  {{progress-spinner visible=true size="large" align="middle"}}

  <div class="quote">
    &ldquo;Beneath the clothes, we find a man&hellip; and beneath the man we find&hellip; his&hellip; nucleus.&rdquo;
  </div>
</div>
