{{#if (eq selectedPaymentMethod 'special_collection')}}
  <div>
    <h3>
      Invitation to a Special Collection
    </h3>

    <h5>
      Author confirmation
    </h5>

    <p>
      To provide Open Access, PLOS uses a business model to
      offset expenses - including those of peer review management,
      journal production and online hosting and archiving -
      by charging a publication fee to the authors, institutions
      or funders for each article published.
    </p>

    <p>
      Submissions to Special Collections are by invitation only
      and are subject to
      <a href="https://www.plos.org/publications/publication-fees/special-collection-fees/" target="_blank">specific terms and charges</a>.
    </p>

    <p>
      If you have not received and read the
      PLOS Collections Terms of Submission,
      or have not received specific submission instructions
      directing you to select this option,
      please contact
      <a href="mailto:collections@plos.org">collections@plos.org</a>
      before proceeding.
    </p>

    <p>
      Papers submitted for potential inclusion in a PLOS Special
      Collection are not eligible for the PLOS Publication Fee
      Assistance (PFA) Program.
    </p>

    <p>
      All papers that are submitted for inclusion in a Special
      Collection will be charged the Article Processing Charge
      of the relevant journal of publication plus a Collection
      Surcharge on publication:
    </p>

    <table class="plos-billing-table">
      <tr>
        <th class="plos-billing-table-data-left">
          Journal
        </th>
        <th>
          Article Processing Charge (USD)
        </th>
        <th>
          Collection Surcharge (USD)
        </th>
        <th>
          Total (USD)
        </th>
      </tr>
      {{#each journals as |journal|}}
      <tr>
        <td class="plos-billing-table-data-left">
          {{journal.name}}
        </td>
        <td>
          ${{journal.price}}
        </td>
        <td>
          ${{journal.collectionSurcharge}}
        </td>
        <td>
          ${{journal.totalPrice}}
        </td>
      </tr>
      {{/each}}

    </table>

    <p>
      You or the collection funder will receive an invoice
      detailing the charge and payment terms
      if your paper is accepted for publication.
    </p>

    <p>
      By checking the box below, you are acknowledging
      that you have read and agree to the following statement:
    </p>

    <hr>

    <p>
      {{#nested-question-check ident="plos_billing--agree_to_collections" owner=task
          displayQuestionText=false
          as |check| }}
            {{#if check.yieldingForText}}
              <p class="model-question">
                I have read and agree to the
                <a href="http://collections.plos.org/s/file?id=6e00/PLOS-Collections-Terms-2015.pdf" target="_blank">
                  Terms of Submission to PLOS Collections
                </a>
              </p>
            {{/if}}
      {{/nested-question-check}}
    </p>
  </div>
{{/if}}
