<div class="control-bar-item control-bar-link journal-add-flow-column-button" {{action "addFlow"}}>
  <div class="control-bar-link-icon"><span class="fa fa-plus"></span></div>
  Add New Column
</div>
