<li class="control-bar-item">
  <div class="control-bar-link add-flow-column-button __with-icon" {{action "addFlow"}}>
    <div class="control-bar-link-icon">
      <span class="fa fa-plus"></span>
    </div>
    <div class="control-bar-link-text">Add New Column</div>
  </div>
</li>
