{{content-editable tagName="h2"
                   class="column-title"
                   value=view.phase.name
                   plaintext="true"
                   preventEnterKey="true"}}

<div class="column-title-update-buttons">
  <button class="column-header-update-cancel btn-link" {{action "cancel" target="view"}}>cancel</button>
  <button class="column-header-update-save button-primary button--green" {{action "save" target="view"}}>Save</button>
</div>

<span class="glyphicon glyphicon-pencil edit-icon column-icon"></span>
{{#if view.phase.noTasks}}
  <span class="glyphicon glyphicon-remove remove-icon column-icon" {{action "removePhase" view.phase}}></span>
{{/if}}
