{{#power-select
    options=content.possibleValues
    selected=selectedValue
    onchange=(action "valueChanged")
    searchEnabled=false
    disabled=disabled
    content=content
    required=content.isRequired
    as |val|}}
  {{val.label}}
{{/power-select}}

<p>
  {{card-content/validation-errors content=content errors=answer.readyIssuesArray}}
</p>

{{card-content/display-children
  content=content
  owner=owner
  disabled=disabled
  preview=preview
}}
