{{#card-content/label content=content onclick=(action "toggleDropdown")}}
  <div class="card-form-control">
    {{#power-select
        options=content.possibleValues
        selected=selectedValue
        onchange=(action "valueChanged")
        onfocus=(action "handleFocus")
        searchEnabled=false
        disabled=disabled
        ariaLabel=content.label
        content=content
        required=content.isRequired
        as |val|}}
      {{val.label}}
    {{/power-select}}
  </div>
{{/card-content/label}}

{{card-content/validation-errors content=content hideErrors=answer.hideErrors errors=answer.readyIssuesArray}}

{{card-content/display-children
  content=content
  owner=owner
  disabled=disabled
  repetition=repetition
  preview=preview
}}
