.edit-email-backsplash {
  padding-top: 20px;
  background-color: $aperta-grey-light;
}

.edit-email-well {
  background-color: white;
}

.admin-email-template-row {
  a {
    color: $aperta-blue;
  }
}

.email-editor-header-back {
  color: $aperta-blue;
  cursor: pointer;
  &:hover {
    color: $aperta-blue;
  };
}

.available-merge-fields-header {
  margin: 24px 0px 12px;
  font-size: 18px;
}

.available-merge-fields {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 614px;
  color: $aperta-grey;
  white-space: nowrap;
}

.available-merge-field-group {
  margin: 8px 0;
  .available-merge-field, .available-merge-field-group {
    margin-left: 10px;
  }
}
