.admin-workflow-thumbnail {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-workflow-thumbnail-journal {
  font-size: 14px;
  text-transform: uppercase;
}

.admin-workflow-thumbnail-name {
  margin: 0;
  flex: 1;
}
