<h2 id="admin">
  Admin
</h2>

<h3 id="form">Forms</h3>
<div class="row">
  <div class="col-md-6">
    <div class="journal-thumbnail-edit-form">
      <div class="journal-thumbnail-logo-upload">
        <div class="journal-thumbnail-logo">
          <img src="#" />
        </div>
        <span class="button-secondary fileinput-button button--blue knockout">Upload New</span>
        <span class="journal-thumbnail-logo-upload-note">(250px x 40px)</span>
      </div>
      <div class="inset-form-control required ">
        <div class="inset-form-control-text">
          <label>Journal Title</label>
          <div id="ember3396" class="ember-view error-message error-message--hidden">
          </div>
        </div>
        <input id="ember3397" class="ember-view ember-text-field form-control journal-name-edit inset-form-control-input" placeholder="PLOS Yeti" type="text">
      </div>
      <div class="inset-form-control required ">
        <div class="inset-form-control-text">
          <label>Journal Title</label>
          <div id="ember3396" class="ember-view error-message error-message--hidden">
          </div>
        </div>
        <textarea id="ember3399" class="ember-view ember-text-area journal-description-edit inset-form-control-textarea" placeholder="Accelerating the publication of peer-reviewed science">
        </textarea>
      </div>
      <div class="journal-edit-buttons">
        <a href="#" class="button-link button--white" data-ember-action="3400">Cancel</a>
        <a href="#" class="button-secondary button--blue knockout" data-ember-action="3401">Save</a>
      </div>
    </div>
  </div>
</div>
<hr/>

<div class="constrain">
  <section id="card-preview">
    <h3>
      Card Preview
    </h3>

    {{card-preview paper=paper task=task canRemoveCard=true showDeleteConfirm="showDeleteConfirm" canDragCard=true action="viewCard"}}
  </section>

  <hr>

  <section id="phase-column">
    <h3>
      Phase Columm
    </h3>

    <ul class="columns">
      {{phase-column phase=phase paper=paper savePhase="savePhase" addPhase="addPhase" showDeleteConfirm="showDeleteConfirm" removePhase="removePhase" rollbackPhase="rollbackPhase" viewCard="viewCard" chooseNewCardTypeOverlay="chooseNewCardTypeOverlay" changePhaseForTask="changePhaseForTask"}}
    </ul>
  </section>

  <hr>

  <section id="role-selector">
    <h3>
      Role Selector
    </h3>

    {{user-role-selector journalRoles=cities userJournalRoles=cities selected="assignOldRole" removed="removeOldRole"}}

  </section>
</div>
