<div id="standard-submit-message">
  <img class="paper-submit-icon animation-scale-in" src="/images/submit-image-success.png">
  <div class="overlay-title-text-submit animation-fade-in">
    <h1>Congratulations</h1>
  </div>

  <h5>You've successfully submitted your paper!</h5>

  <div class="submit-action-buttons">
    <button class="button-link button--white success-close" {{action "close"}}>Close</button>
  </div>
</div>
