<div class="sheet sheet--visible">
  <div class="sheet-close-x">
    <span class="sheet-pop-out" {{action "popOutDiscussions"}}>&#8598;</span>
    <span {{action "hideDiscussions"}}>&times;</span>
  </div>
  {{liquid-outlet}}
</div>
