<div class="add-author-form">
  <div class="form-group form-inline author-top">
    <div class="form-group author-name required">
      {{input type='text'
      value=newAuthor.firstName
      class='form-control'
      placeholder='First name'}}
    </div>
    <div class="form-group author-name required">
      {{input type='text'
      value=newAuthor.lastName
      class='form-control'
      placeholder='Last name'}}
    </div>
  </div>
  <div class="form-group form-inline">
    <div class="form-group author-half required">
      {{input type='text'
      value=newAuthor.awesomeName
      class='form-control'
      placeholder='Your Awesome Name'}}
    </div>
  </div>
</div>
