<label>
  {{radio-button-action name=name value=yesValue checked=yesChecked action="selectYes"}}
  {{yesLabel}}
</label>

<label>
  {{radio-button-action name=name value=noValue checked=noChecked action="selectNo"}}
  {{noLabel}}
</label>
