<div class='card-container'>
  {{#link-to 'paper.task' task classNameBindings=':card task.completed:completed task.isMessage:message' }}
    <span class='glyphicon glyphicon-ok completed-glyph'></span>
    <span>{{task.title}}</span>
  {{/link-to}}
  <span class="glyphicon glyphicon-remove-circle remove-card js-remove-card pointer"
    data-toggle="tooltip"
    data-placement="right"
    title="Delete Card"></span>
</div>
