<div class='card-container'>
  <a {{bind-attr class=':card task.completed:completed task.isMessage:message' href=taskHref}} >
    <span class='glyphicon glyphicon-ok completed-glyph'></span>
    <span>{{task.title}}</span>
  </a>
  <span class="glyphicon glyphicon-remove-circle remove-card js-remove-card pointer"
    data-toggle="tooltip"
    data-placement="right"
    title="Delete Card"></span>
</div>
