<div class="card-content" {{action "viewCard" task}}>
  {{badge unreadCommentsCount "unread-comments-count"}}
  <div class="card-completed-icon"></div>
  {{task.title}}
  {{#if canRemoveCard }}
    <span {{action "promptDelete" task bubbles=false}}
      class="card-remove"
      data-toggle="tooltip"
      data-placement="right"
      title="Delete Card">
    </span>
  {{/if}}
</div>
