<div class="card-content" {{action 'viewCard' litePaper task}}>
  {{#if unreadCommentsCount}}
    <span class="badge unread-comments-count">{{unreadCommentsCount}}</span>
  {{/if}}
  <div class="card-completed-icon"></div>
  {{task.title}}
</div>
