<ul class="participants">
  {{#each p in currentParticipants}}
    <li class="participant">{{userThumbnail p}}</li>
  {{/each}}
  <li class="chosen-style-override participant">
    {{type-ahead value=""
                 class="participant-select"
                 name="add_participant"
                 sourceList=availableParticipants
                 valueProperty="full_name"
                 subvalueProperty="info"
                 remoteUrl=remoteUrl
                 suggestionSelected="addParticipant"
                 clearOnSelect=true
                 placeholder="Add People"}}
  </li>
</ul>
