<ul class="participants">
  <li class="participant-selector2">
    {{select-2 value=""
              class="participant-select2"
              name="add_participant_select2"
              suggestionSelected="addParticipant"
              selectedData=availableParticipants
              selectedTemplate=selectedTemplate
              resultsTemplate=resultsTemplate
              closeOnSelect=true
              multiSelect=true
              allowClear=false
              minimumInputLength=3
              remoteSource=remoteSource
              placeholder="Add People"}}
  </li>
</ul>
