<img {{bind-attr class=":stop-edit isEditing::hidden"}} src="/images/stop-sign.svg" />
<span {{bind-attr class=":start-editing-icon :glyphicon iconClass isEditing:hidden"}}></span>
<span>{{prompt}}</span>
