.activity-overlay {
  td  { padding: 0 15px 25px 0; }
  img { margin-right: 6px; }

  table { width: 100%; }
}

.activity-overlay-message {
  font-size: 17px;
}

.activity-overlay-user {
  font-weight: bold;
  white-space: nowrap;
}
