@import 'activity-overlay';
@import 'ad-hoc-task-overlay';
@import 'card-delete-overlay';
@import 'collaborators_overlay';
@import 'edit_task_types_overlay';
@import 'feedback_overlay';
@import 'invite_reviewers_overlay';
@import 'journal-edit-overlay';
@import 'new_card_overlay';
@import 'paper_new_overlay';
@import 'paper_submit_overlay';
@import 'paper_withdraw_overlay';
@import 'reviewer_report_overlay';
@import 'versioned_metadata';
@import 'upload_manuscript_overlay';
