.show-collaborators-overlay {
  .collaborators-list {
    list-style: none;
    padding-left: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: -20px;
  }

  .collaborator {
    margin-bottom: 20px;
  }

  .delete-button {
    cursor: pointer;
  }

  .name {
    font-weight: bold;
    padding-left: 10px;
  }

  .delete-button {
    color: $tahi-green;
    width: 17px;
    top: 2px;
    opacity: 1;
  }

  .call-to-action {
    margin-top: 0;
  }

  .select2-drop {
    display: none;
  }

  .select2-choice {
    margin-top: 2px;
  }
}
