.show-collaborators-overlay {
  .collaborators-list {
    list-style: none;
    padding-left: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: -20px;
  }

  .collaborator {
    margin-bottom: 20px;
    &:hover .delete-button {
      opacity: 1;
    }
  }

  .delete-button {
    cursor: pointer;
  }

  .name {
    font-weight: bold;
  }

  .email {
    margin-left: 10px;
    color: $tahi-grey;
    font-style: italic;
  }

  .delete-button {
    color: $tahi-green;
    width: 17px;
    top: 2px;
    opacity: 0;
  }
  .call-to-action {
    margin-top: 0;
  }
  .email {
    float: right;
    margin-top: 4px;
  }
  .avatar {
    margin-right: 10px;
  }
  .select2-drop {
    display: none;
  }
  .select2-choice {
    margin-top: 2px;
  }
}
