.journal-task-types {
  width: 100%;
  margin-bottom: 100px;

  .clear-role-button {
    margin-left: 10px;
  }
}

.edit-task-types-overlay.overlay--fullscreen {
  .task-headers h3 {
    display: inline-block;

    &:nth-child(2) {
      float: right;
    }
  }

  .individual-task-type {
    position: relative;
    margin-top: 20px;

    p { display: inline-block; }

    .role-dropdown {
      float: right;
    }
  }

  .overlay-container {
    width: 500px;
  }
}

.admin-roles-table {
  width: 100%;
}

.admin-role {
  position: relative;
  height: 40px;
  margin-bottom: 10px;

  &.is-editing {
    height: auto;
    .action-buttons { display: block; }
  }

  &.not-editing {
    .token {
      border-color: transparent;
      background-color: transparent;
    }
  }
}

.admin-roles-header {
  margin-bottom: 10px;
  padding: 0;
  color: #797979;
  font-size: 21px;
  font-weight: normal;
}

.admin-role:hover .admin-role-action-button {
  color: $tahi-blue;
}

.admin-role-name {
  display: inline-block;
  width: 20%;
  padding-top: 3px;
  vertical-align: top;

  &.admin-roles-header { padding-top: 0; }
}

.admin-role-permissions {
  display: inline-block;
}
