.feedback-overlay-thanks {
  text-align: center;
}

.feedback-overlay-remarks.form-control {
  height: 20rem;
}

.feedback-overlay-screenshots {
  list-style-type: none;
  padding-left: 0;
  width: 60%;
  margin-top: 40px;
  margin-bottom: 40px;

  li {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  li:last-of-type { margin-bottom: 2rem; }
}

.feedback-overlay-remove-screenshot {
  margin-right: 0.5rem;
  color: #d4d4d4;
  cursor: pointer;

  &:hover {
    color: $tahi-green-dark;
  }
}

.feeback-overlay-screenshot-uploader input {
  color: transparent;
}

.feedback-overlay-footer-content.overlay-footer-content {
  padding: 0;
  float: right;
  margin-top: 0;

  .button-primary { width: 16%; }
  .button-link    { margin-right: 1rem; }
}

.feedback-overlay-content {
  margin: 0 auto;
  width: 500px
}

.overlay-container.feedback {
  width: 700px;
  margin-top: 0;
  padding: 0;
}

.feedback-overlay-uploading {
  height: 18px;
  line-height: 18px;

  .progress-spinner {
    float: left;
    margin-right: 6px;
  }
}
