#task-body {
  width: $message-body-width;
  height: 150px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

#task-title-field {
  width: 700px;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 5px;
}
