.paper-submit-overlay {
  text-align: center;

  .overlay-title-text-submit h1 {
      padding-top: 20px;
      padding-bottom: 40px;
  }

  h5 {
    opacity: 0.5;
  }

  .submit-action-buttons {
    display: block;
    margin: auto;

    button {
      text-align: center; // override
      display: block;
      margin: 40px auto 0 auto;
      &:last-child {
        margin-top: 20px;
      }
    }

    .success-close {
      margin-top: 100px;
    }
  }

  .paper-submit-icon {
    margin: 150px auto 0 auto;
  }

  #paper-submit-title {
    font-weight: 200;
    font-size: 1.5em;
  }

  span.overlay-close-x {
    color: $tahi-white;
  }

  .delete-card-title {
    h1 {
      padding-bottom: 40px;
    }

    h2 {
      margin-bottom: 0;
      padding-bottom: 40px;
    }
  }

  .delete-card-action-buttons {
    float: none;
    text-align: inherit;
  }

  .balls-to-columns {
    h1 {
      padding: 20px 0;
      margin: 0;
    }
    padding-top: 150px;
    h4, p {
      opacity: 0.5;
    }
    #message {
      margin: 10px 60px 70px;
    }
    .bright {
      opacity: 1;
    }
    p {
      text-align: left;
      font-size: 80%
    }
    #cols {
      margin: 0 -100px 0;
    }
    #lines {
      font-size: 0; /* removes spaces between boxes */
      margin: 50px 0 -12px 0;
      div {
        display: inline-block;
        width:33%;
      }
      .right {
        text-align: right;
      }
      .left {
        text-align: left;
      }
      .right span, .left span {
        width: 50%;
      }
      .line {
        display: inline-block;
        border-top: 1px solid white;
        height: 1px;
        width:100%;
      }
    }
    #balls {
      margin-bottom: 20px;
      span {
        width:25px; height: 25px;
        padding-top:2px;
        display: inline-block;
        background-color:#90CA8A;
        &.check {
          margin-top: -5px;
          padding-top:1px;
          width:35px; height: 35px;
          font-size: 25px;
          background-color: white;
          color: #3EA232;
          color: #39A329;
        }
      }
    }
  }
}

.button-submit-paper {
  @extend .button;
  color: $tahi-green;
  &:hover { text-decoration: none; }

  &.button--white  {
    background-color: $tahi-white;

    &:focus, &:hover {
      color: #fff;
      background-color: $tahi-green-light;
    }
  }
}
