.paper-withdraw-wrapper {
  width: 70%;
  margin: auto;
  text-align: center;

  h1 {
    font-size: 48px;
    margin-bottom: 1em;
  }

  i {
    font-size: 75px;
    margin-top: 150px;
  }

  p {
    color: $tahi-black;
  }

  textarea.form-control {
    height: 120px;
    margin: 20px auto;
    border-radius: 8px;
  }

  .cancel-button {
    color: #fff;
  }
}
