.paper-new-overlay .overlay-title-text h1 {
  padding-top: 75px;
}

.paper-new-overlay .form-group {
  margin-bottom: 30px;
}

.paper-new-paper-saving {
  float: right;
  font-size: 15px;
  font-style: italic;

  .progress-spinner {
    position: relative;
    top: 11px;
    margin: 0 12px 0 5px;
  }
}

.paper-new-label {
  margin-bottom: 0.85rem;
  color: $tahi-grey;
  font-size: 18px;
}

.paper-new-input {
  width: 100%;
  border: 1px solid $tahi-grey-light;
  border-radius: 5px;
  padding: 15px 50px 15px 15px;
  font-size: 14px;
}

.paper-new-valid-icon {
  position: absolute;
  top: 49px;
  right: -35px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background-color: $tahi-green;
}

.paper-new-submit-actions {
  padding: 25px 0;

  .paper-new-upload-button {
    width: 48%;
    padding: 13px 0;
    font-size: 22px;
    margin-bottom: 10px;

    .fa {
      margin-right: 10px;
      font-size: 115%;
    }
  }
}


// -- Text Input

.paper-new-overlay {
  .format-input {
    border-radius: 5px;
  }

  .format-input-field {
    min-height: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 15px 0 15px 15px;
  }

  .format-input-button {
    padding: 15px 0;
    width: 50px;

    &:last-of-type {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}


// -- Select Fields

.paper-new-select {
  .ember-power-select-status-icon {
    right: 15px;
  }

  .paper-new-select-trigger {
    border: 1px solid $tahi-grey-light;
    border-radius: 5px;
    padding: 15px;
    color: #222;
    font-size: 14px;
    cursor: pointer;
  }

  &.ember-basic-dropdown--disabled .paper-new-select-trigger {
    border-color: #dedede;
    cursor: not-allowed;
    background: #fff;

    .ember-power-select-placeholder {
      color: #bbb;
    }
  }
}

.paper-new-select-dropdown {
  .ember-power-select-option {
    padding: 10px 15px;
    font-size: 14px;

    &.ember-power-select-option--highlighted {
      color: #000;
      background: #eee;
    }
  }
}
