.paper-submit-overlay {
  text-align: center;

  .overlay-title-text-submit h1 {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  h5 {
    opacity: 0.5;
  }

  .submit-action-buttons {
    display: block;
    margin: auto;

    button {
      text-align: center; // override
      display: block;
      margin: 40px auto 0 auto;
      &:last-child {
        margin-top: 20px;
      }
    }

    .success-close {
      margin-top: 100px;
    }
  }

  .paper-submit-icon {
    margin: 150px auto 0 auto;
  }

  #paper-submit-title {
    font-weight: 200;
    font-size: 1.5em;
  }

  span.overlay-close-x {
    color: $tahi-white;
  }

  .delete-card-title {
    h1 {
      padding-bottom: 40px;
    }

    h2 {
      margin-bottom: 0;
      padding-bottom: 40px;
    }
  }

  .delete-card-action-buttons {
    float: none;
    text-align: inherit;
  }

  .button-primary {
    color: $tahi-green;
    background-color: #fff;

    &:focus, &:hover {
      color: #fff;
      background-color: $tahi-green-light;
      text-decoration: none;
    }
  }
}
