.paper-new-overlay {
  .paper-new-paper-type-select {
    float: right;
  }
}

.paper-new-paper-saving {
  font-style: italic;

  .progress-spinner {
    position: relative;
    top: 11px;
    margin: 0 15px 0 5px;
  }
}

.paper-new-label {
  margin-bottom: 0.85rem;
  color: $tahi-grey;
  font-size: 18px;
}
