.reviewer-report-feedback {
  margin-top: 40px;
  margin-left: 30px;
}

.reviewer-report-wrapper .flex-element input[type=radio] {
  margin-right: 5px;
}

.reviewer-report-confirmation {
  margin-left: 30px;
  margin-top: 40px;
}

.form-control.taller {
  height: 265px;
}

