#paper-manuscript-upload {
  color: $aperta-green;
}

#paper-manuscript-upload,
#paper-file-uploads,
#paper-attachment-uploads {
  position: relative;

  .processing {
    @extend .col-xs-9;
    margin-left: 70px;
    font-size: 32px;
    margin-top: 28px;
  }

  .fa {
    font-size: 60px;
    text-align: center;
    padding-top: 14px;
    width: 80px;
    float: left;
  }
}

.fileinput-button.manuscript-task {
  margin-left: 10px;
  display: inline-block;
  position: absolute;
}
