#versioned-metadata {

  .versioned-metadata-version {
    margin-top: -30px;
    margin-left: -10px;
    margin-bottom: 30px;

    .versioned-metadata-version-string {
      font-weight: bold;
    }
  }
}