#versioned-metadata {
  h2 {
    margin-bottom: 20px;
  }

  .versioned-metadata-version {
    margin-top: -30px;
    margin-bottom: 30px;

    .versioned-metadata-version-string {
      font-weight: bold;
    }
  }
}
