.voucher-invitations-overlay {
  .overlay-header-title {
    font-size: 18px !important;
    padding-bottom: 10px !important;
    border-bottom: 1px solid grey;
  }
  .overlay-body {
    padding-top: 20px;
  }
  .overlay-container {
    padding-top: 5px !important;
  }
}
#main-navigation {
  visibility: hidden;
}
