.authors-overlay-list {
  list-style-type: none;
  padding-left: 0;
  overflow: auto;

  li {
    position: relative;
    float: left;
    width: 100%;
    padding: 30px;
    font-size: 18px;
    border-bottom: 1px solid #cccccc;

    &:last-of-type {
      border-bottom: none;
    }

    & .author-form {
      margin: 0;
    }

    div {
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .author-edit {
      display: none;
      color: $tahi-secondary;
      font-size: 24px;
      position: absolute;
      right: 10px;
      top: 38%;
    }

    &:hover .author-edit {
      display: block;
    }
  }
}

.add-author-form {
  padding: 30px;
  margin: 15px 0;
  background: rgb(194, 232, 188);

  .form-group.required::before {
    left: -12px;
    top: 4px;
    color: $tahi-primary;
    font-size: 18pt;
  }

  .twitter-typeahead {
    width: 100%;
    &:focus {
      border: none;
      outline: none;
    }
  }

  .affiliation-field {
    border-radius: 4px;
    width: 390px;
    &.tt-hint {
      height: 34px;
    }
  }
}

.author-header {
  margin-bottom: 20px;
}

.author-half {
  width: 391px;
}

.author-name {
  width: 162px;
}

.author-form-buttons {
  margin-right: 2px;
}

.author-bump {
  margin-left: 14px;
}

.author-top {
  border-bottom: 1px solid $tahi-secondary;
  padding-bottom: 15px;
}

.author-middle {
  width: 42px;
  margin: 0 9px;
}

.author-label {
  font-weight: normal;
}

.author-cancel, .author-cancel:hover {
  color: $tahi-primary;
  margin-right: 10px;
}

.author-form {
  display: none;
  margin: 0 30px;
  &.show-new-author-form { display: block; }
}
