// Override default overlay styles:
.message-overlay {
  a, a:hover { color: $tahi-purple; }

  .overlay-header-link {
    color: $tahi-purple;
  }

  .button-primary {
    @extend .button--purple;
    color: #fff;
  }

  button.button-secondary {
    @include button-secondary-modifier($tahi-purple, $tahi-purple-light, $tahi-purple-dark);
  }

  .close-overlay, .overlay-completed-checkbox label {
    color: $tahi-purple;
  }
}

// Chosen overrides for message overlay:
.message-overlay .chosen-style-override .chosen-container-single .chosen-single {
  @include tahi-chosen($tahi-purple)
}
