// Override default overlay styles:
.message-overlay {
  a, a:hover { color: $tahi-message; }

  .overlay-paper-link {
    color: $tahi-message;
  }

  .button-primary {
    @extend .button--purple;
    color: #fff;
  }

  button.button-secondary {
    @include button-secondary-modifier($tahi-message, $tahi-message);
  }

  .close-overlay, .overlay-completed-checkbox label {
    color: $tahi-message;
  }
}

// Chosen overrides for message overlay:
.message-overlay .chosen-style-override .chosen-container-single .chosen-single {
  @include tahi-chosen($tahi-message)
}
