// Override default overlay styles:
.message-overlay {
  .overlay-paper-link {
    color: $tahi-message;
  }

  .button-primary {
    background-color: $tahi-message;
  }

  .close-overlay, .overlay-completed-checkbox label {
    color: $tahi-message;
  }

  .button-secondary {
    color: $tahi-message;
    border: 1px solid $tahi-message;

    &:hover {
      border: 1px solid $tahi-message;
      color: white;
      background: $tahi-message;
    }
  }
}

// Chosen overrides for message overlay:
.message-overlay .chosen-style-override .chosen-container-single .chosen-single {
  @include tahi-chosen($tahi-message)
}

.message-overlay {
  img.user-thumbnail { width: 40px; }
  #participants {
    margin-bottom: 10px;
    > ul {
      padding: 10px;
      width: $message-body-width;
      background: #f3f3f3;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      list-style: none;
      li {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}

.message-comment-buttons {
  width: $message-body-width;
  a { color: $tahi-message; }
  .button-secondary { float: right; }
}

.message-comments {
  list-style-type: none;
  margin-bottom: 30px;
  padding-left: 10px;
  .unread {
    background: #efedf7;
    @include linear-gradient(to right,  rgba(239,237,247,0) 0%,rgba(239,237,247,0.5) 25%,rgba(239,237,247,1) 50%,rgba(239,237,247,0.5) 75%,rgba(239,237,247,0) 100%);
  }
}

.message-comment {
  width: $message-body-width;
  border-top: 1px solid #ddd;
  padding: 10px 0;

  &:first-of-type { border-top: none; }
}

.comment-date,
.comment-avatar {
  margin: 0 5px;
}

.comment-avatar { width: 40px; }

.comment-name { font-weight: bold; }

.comment-body {
  padding-top: 8px;
  line-height: 1.3;
  width: $message-body-width;
}

.comment-actions {
  width: $message-body-width;
  padding-left: 10px;
  height: 31px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;

  a, a:hover { color: $tahi-message; }
}

.load-all-comments .glyphicon { padding-right: 20px; }

.new-comment {
  width: 700px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid $tahi-matte;
  padding: 5px;
}

.participants {
  padding: 10px;
  width: 700px;
  background: #f3f3f3;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  list-style: none;
}

.participant {
  display: inline-block;
  margin-right: 10px;
}
