.decision-selections {
  > .form-group {
    display: inline-block;
    &:first-child { margin-left: 10px; }
  }

  label {
    margin-right: 70px;
    padding-left: 10px;
    font-size: 24px;
    font-weight: normal;
    vertical-align: -4px;
  }

  input[type=radio] { @include transform(scale(2)); }
}

.decision-letter-description { font-size: 18px; }

.task_paper_decision_letter {
  width: 640px;
  height: 270px;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 20px;
}
