.unsaved-data-overlay {
  .overlay-content {
    min-height: 300px;
    margin: 0 auto;
    border: none;
    width: 490px;
    padding: 90px 20px 60px 20px;
    font-size: 14px;
  }

  .button-row a {
    margin-right: 20px;
  }
}
