.unsaved-data-overlay {
  .overlay-content {
    min-height: 300px;
    margin: 0 auto;
    border: none;
    padding: 20px {
      top: 90px;
      bottom: 60px;
    }
    font-size: 14px;
    width: 470px;
  }

  .button-row a {
    margin-right: 20px;
  }
}
