#paper-manuscript-upload {
  color: $tahi-primary;
}

#paper-manuscript-upload,
#paper-file-uploads,
#paper-attachment-uploads {
  .processing {
    @extend .col-xs-9;
    margin-left: 70px;
    font-size: 32px;
    margin-top: 28px;
  }

  .preview-container {
    @extend .col-xs-2;
    width: 100px;
    height: 100px;
    padding: 0;
  }

  .preview-container > * {
    width: 100px;
    height: 100px;
  }

  .glyphicon {
    font-size: 72px;
    text-align: center;
    padding-top: 14px;
    width: 80px;
  }

  .progress {
    @extend .col-xs-9;
    padding: 0;
    margin-bottom: 0;
    margin-left: 60px;
    margin-top: 40px;
  }
}
