{{#if withdrawn}}
  <div class='withdrawal-banner'>
    <div class='banner-text'>
      This paper has been withdrawn from Plos Biology and is in View Only mode
      {{#if staff}}
        <div class='button-secondary' {{action 'reactivate'}}>REACTIVATE</div>
      {{/if}}
    </div>
  </div>
{{/if}}
