{{#if withdrawn}}
  <div class="withdrawal-banner">
    <div class="banner-text">
      This paper has been withdrawn from Plos Biology and is in View Only mode
      <div class="button-secondary">REACTIVATE</div>
    </div>
  </div>
{{/if}}
