{{#expanding-textarea}}
  {{textarea classNames="new-comment-field" value=comment placeholder="Type your message here"}}
  <div class="drag-to-resize" data-drag-offset="65" title="Drag to resize">&nbsp;</div>
{{/expanding-textarea}}

<div class="message-comment-buttons">
  <button type="submit" class="new-comment-submit-button button-secondary button--green" {{action "save"}}>
    Post Message
  </button>
  <a href="#" class="button-link cancel-link" {{action "cancel"}}>Cancel</a>
</div>
