{{#expanding-textarea}}
  {{textarea classNames="new-comment-field" value=comment placeholder="Type your message here"}}
{{/expanding-textarea}}

<div class="message-comment-buttons">
  <button type="submit" class="button-secondary button--green" {{action "save"}}>Post Message</button>
  <a href="#" class="button-link cancel-link" {{action "cancel"}}>Cancel</a>
</div>
