<!DOCTYPE html>
<html>
<head>
  <title>Plos bio academic editor</title>
  <%= stylesheet_link_tag    "plos_bio_academic_editor/application", media: "all" %>
  <%= javascript_include_tag "plos_bio_academic_editor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
