{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

{{#if currentReviewerReport.activeAdminEdit}}
  <div class="card-content-field-set">
    <h4>Please document the edits you've made</h4>
    <div class="required-standalone">
      <span class="required-label">Editor Note</span>
      {{textarea class=notesClass value=activeEdit.notes focusIn=(action 'clearNotesError')}}
      {{#if notesEmpty}}
        <span class="error">{{fa-icon 'warning'}} This field is required.</span>
      {{/if}}
    </div>
  </div>
  <div class="right-align-contents">
    <button class="button-secondary display-while-disabled" {{action "cancelEdit"}}>cancel</button>
    <button class="button-primary button--green display-while-disabled" {{action "saveEdit"}}>save</button>
  </div>
{{/if}}
