<%= render partial: 'email/journal_logo_or_name', locals: { journal: @paper.journal } %>
<br><br>

<h1>
  The author has submitted tech check fixes for the following paper:
</h1>

<hr>

<p class="paper-name"><%= @paper.display_title %></div>

<%= render partial: 'email/button', locals: {
  href: client_paper_url(@paper),
  text: 'View Paper'
} %>

<p class="abstract-title"><b>Abstract</b></p>
<div class="abstract-text">
  <%= @paper.abstract || @paper.body.truncate_words(100) %>
</div>
