<div class="supporting-information-file-snapshot-label">
  File:
</div>
{{text-diff viewingText=file1 comparisonText=file2}}

<div class="supporting-information-file-snapshot-label">
Title:
</div>
<div class="supporting-information-file-snapshot-title">
  {{text-diff viewingText=title1 comparisonText=title2}}
</div>

<div class="supporting-information-file-snapshot-label">
  Caption:
</div>
{{text-diff viewingText=caption1 comparisonText=caption2}}

<div class="supporting-information-file-snapshot-label">
  Publishable:
</div>
{{text-diff viewingText=publishable1 comparisonText=publishable2}}
