<table id="permission-table">
  <thead>
    <tr>
      <th></th>
      <th class="permission centered">READ<br>Can view the card content</th>
      <th class="permission centered">WRITE<br>Can answer questions and interact with the card</th>
    </tr>
  </thead>
  <tbody>
    {{#each card.journal.adminJournalRoles as |role| }}
      {{card-editor/permissions/role
          role=role
          card=card
          turnOnPermission=turnOnPermission
          turnOffPermission=turnOffPermission}}
    {{/each}}
  </tbody>
</table>