<div class="snapshot-text wrap">
  {{#if isAuthor}}
    {{diff-individual-author viewing=viewing comparing=comparing}}
  {{else}}
    {{diff-group-author viewing=viewing comparing=comparing}}
  {{/if}}
</div>
