<div class="snapshot-text wrap">
  {{#if isAuthor}}
    {{diff-individual-author viewingAuthor=viewing comparingAuthor=comparing}}
  {{else}}
    {{diff-group-author viewingAuthor=viewing comparingAuthor=comparing}}
  {{/if}}
</div>
