{{#if assignedTasks}}
  <div id="paper-assigned-tasks">
    {{#each task in assignedTasks}}
      {{flow-card paper=paper
                  task=task
                  commentLooks=commentLooks
                  action='viewCard'}}
    {{/each}}
  </div>
  <hr>
{{/if}}

{{#if editorTasks}}
  <div id="paper-editor-tasks">
    {{#each task in editorTasks}}
      {{flow-card paper=paper
                  task=task
                  commentLooks=commentLooks
                  action='viewCard'}}
    {{/each}}
  </div>
  <hr>
{{/if}}

{{#if authorTasks}}
  <div id="paper-metadata-tasks">
    {{#each task in authorTasks}}
      {{flow-card paper=paper
                  task=task
                  commentLooks=commentLooks
                  action='viewCard'}}
    {{/each}}
  </div>
  <hr>
{{/if}}
