<div id="tahi-container" class="full-width">
  <div class="control-bar">
    <div class="control-bar-inner-wrapper">
      <ul>
        <li id="control-bar-paper-journal-logo">
          {{#if paper.logo}}
            <img src="">
          {{else}}
            <div>Logo</div>
          {{/if}}
        </li>
        <li id="control-bar-paper-short-title">
          <h2 class="tasks-paper-title">{{shortTitle}}</h2>
        </li>
      </ul>
      <ul>
        <li>{{link-to 'Manuscript Manager' 'paper.manage' model}}</li>
      </ul>
    </div>
  </div>
</div>
