<div id="manuscript-manager">
  {{title}}
  <div class="full-height">
    <ul class="columns">
      {{#each phase in phases}}
        <li class="column">
          <div class="column-title">
            <h2>{{phase.name}}</h2>
          </div>
          <div class="column-content">
            <ul class='cards'>
              {{#each task in phase.tasks}}
                <li class='card-item'>
                  <div class='card-container'>
                    <a {{bind-attr class=':card task.completed:completed task.message'}}>
                      <span class='glyphicon glyphicon-ok completed-glyph'></span>
                      <span>{{task.title}}</span>
                    </a>
                  </div>
                </li>
              {{/each}}
            </ul>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
