<div class="overlay-x-container">
  <header class="overlay-x-header">
    <h1 class="overlay-x-header-title">{{title}}</h1>
    <span class="overlay-x-close" {{action "close"}}>&times;</span>
  </header>

  {{yield}}
</div>
