<div class="sheet-toolbar">
  <span class="sheet-close-x" {{action "closeSheet"}}>&times;</span>
  <!--
  <span class="sheet-toolbar-button">
    <i class="fa fa-chevron-left"></i> back
  </span>
  -->
</div>

<div class="sheet-content">
  <div class="discussions-index-header">
    <h1>Discussions</h1>
    <button class="button-secondary button--green">Create New Topic</button>
  </div>
</div>
