.adhoc-content-toolbar {
  overflow: hidden;
  position: relative;
  margin: 10px 0 40px 0;

  .button-primary {
    position: relative;
    z-index: 1;

    .glyphicon-remove {
      position: relative;
      top: 2px;
      display: none;
    }
  }

  .button-secondary {
    position: relative;
    opacity: 0;
    @include transform(scale(0));
    @include transition(all 0.1s ease-in-out);

    .glyphicon {
      @include transform(scale(0));
      @include transition-property (transform);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in-out);
      @include transition-delay(0.1s);
    }
  }


  &._animate-forward {
    .adhoc-toolbar-item--text  { @include transition-delay(0.05s); }
    .adhoc-toolbar-item--email { @include transition-delay(0.10s); }
    .adhoc-toolbar-item--image { @include transition-delay(0.15s); }
  }

  &._animate-backward {
    .adhoc-toolbar-item--list  { @include transition-delay(0.15s); }
    .adhoc-toolbar-item--text  { @include transition-delay(0.10s); }
    .adhoc-toolbar-item--email { @include transition-delay(0.05s); }
  }

  &._active {
    .button-primary {
      .glyphicon-plus {
        top: 2px;
        @include transform(rotate(45deg));
      }
    }

    .button-secondary {
      opacity: 1.0;
      @include transform(scale(1));

      .glyphicon {
        @include transform(scale(1));
      }
    }
  }
}
