// Used on Flow Manager and Manuscript Manager screens
//
// Markup:
// <div class="columns">
//   <div class="column">
//
//     <div class="column-header">
//       <h2 class="column-title">Super Column Title</h2>
//       (icons here...)
//     </div>
//
//     <div class="column-content">
//       content here...
//     </div>
//
//   </div>
// </div>
//
// Styleguide Columns

.columns {
  position: absolute;
  top: $tahi-navigation-height + $tahi-control-bar-height - 20;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: auto;
  margin-bottom: 0;
  padding-top: 20px;
  text-align: center;
  white-space: nowrap;
}

.column {
  position: relative;
  display: inline-block;
  width: 251px; // +1px for border
  height: 100%;
  border-right: 1px solid $tahi-grey-light;
  text-align: left;
  vertical-align: top;
  white-space: initial;

  &:last-of-type { border-right: none; }

  .edit-icon   { right: 10px; }
  .remove-icon { right: 30px; cursor: pointer; }

  .progress-spinner {
    &:after {
      right: 44%;
    }
  }
}

.column.current-drop-target {
  background: #f6f6f6;
}

.column.not-drop-target {
  //opacity: 0.6;
}


.column-header {
  position: relative;
  margin: 0 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;

  .fa {
    display: none;
    position: absolute;
    top: -8px;
    cursor: pointer;
    color: $tahi-green;
  }

  .remove-column     { right: 0; }
  .edit-column-title { right: 20px; }

  .select2-container { width: 100%; margin-bottom: 5px; }
}

.column:hover .column-header .fa {
  display: block;
}

.column-title {
  width: 100%;
  outline: none;
  margin: 0;
  padding: 5px 0;
  font-size: 27px;
  word-wrap: break-word;
}

.column-title-update-buttons {
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: -25px;
  left: 0;
  height: 0;
  background: #fff;
  z-index: 1;
  opacity: 0;

  @include transition-property(opacity bottom);
  @include transition-duration(0.1s);
}

.active .column-title-update-buttons {
  bottom: -48px;
  display: block;
  height: 50px;
  border-bottom: 1px solid #aaa;
  padding-top: 10px;
  opacity: 1.0;
}

.column-header-update-save {
  float: right;
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn-link.column-header-update-cancel {
  color: $tahi-green;
}

.column-icon {
  color: $tahi-green-light;
  font-size: 14px;
  position: absolute;
  display: none;
}


.column-header:hover .column-icon {
  display: inline;
  top: -10px;
}


.column-content {
  @include position(absolute, 56px 0px 0px 0px);
  overflow-y: auto;
  width: 235px;
  padding: 10px 0 0 15px;
  white-space: normal; // IE needs this for some reason :-\
  @include user-select(none);

  > ul {
    list-style-type: none;
    padding-left: 0;
  }

  .empty-text {
    color: #999;
    font-size: 19px;
    font-style: italic;
  }

  .add-new-card-button {
    margin-bottom: 30px;
  }
}

.column-content--dragging {
  overflow: visible;
}

.column-content {
  .sortable {
    min-height: 48px;
  }

  .sortable-no-cards {
    position: relative;
    margin-bottom: 8px;
    border: 1px solid $tahi-grey-light;
    border-radius: 5px;
    color: $tahi-grey-light;
    font-size: 20px;
    text-align: center;

    &:after {
      @include position(absolute, 0px 0px 0px 0px);
      content: 'No Cards';
      line-height: 45px;
    }
  }
}


// Add button between columns

.add-column {
  position: absolute;
  top: -17px;
  right: -11px;
  display: inline-block;
  width: 20px;
  height: 15px;
  font-size: 10px;
  text-align: center;
  opacity: 0;
  background-color: $tahi-green-light;
  cursor: pointer;

  &:hover { opacity: 1; }

  i { color: #FFFFFF; }

  &.first-add-column {
    position: relative;
    top: -24px;
    left: 28px;
  }
}
