// TODO: DEPRECATED: see inset-form-control below
.form-control.tall-text-field {
  width: 100%;
  height: 50px;
  padding-top: 25px;

  @include placeholder {
    color: $tahi-grey-light;
  }
}

// TODO: DEPRECATED: see inset-form-control below
.text-field-title {
  position: absolute;
  color: $tahi-grey;
  margin-top: 4px;
  margin-left: 13px;
  pointer-events: none;

  &.required {
    label { padding-left: 12px; }

    &::after {
      position: absolute;
      top: -0.1rem;
      right: -1.15rem;
      content: '*';
      color: $tahi-green;
      font-size: 24px;
    }
  }
}

.form-inline .text-field-title.required::after {
  display: none;
}

/*
  .inset-form-control
    .inset-form-control-text
      label
      .error-message
    .inset-form-control-input
*/

.inset-form-control {
  position: relative;
  margin-bottom: 15px;

  label { color: $tahi-grey; }

  &.required {
    label { padding-left: 12px; }

    &::before {
      content: '*';
      position: absolute;
      top: 4px;
      left: 12px;
      color: $tahi-green;
      font-size: 24px;
      z-index: 1;
    }
  }
}

.inset-form-control-text {
  @include position(absolute, 5px 13px auto 13px);
  @include display(flex);
  pointer-events: none;
  z-index: 1;

  label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include flex-grow(1);
    @include flex-shrink(0);
  }

  .fa {
    pointer-events: auto;
    cursor: help;
  }

  .error-message {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    @include ellipsis;
    width: auto; // override ellipsis above
  }
}

.inset-form-control-textarea {
  resize: vertical;
}

.inset-form-control-textarea,
.inset-form-control-input {
  @extend .form-control;
  height: 50px;
  padding-top: 26px;
  @include placeholder { color: $tahi-grey-light; };
  margin-bottom: 5px;
}

.inset-form-control-textarea:focus,
.inset-form-control-input:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.drag-to-resize {
  background: #EEE;
  background-image: url(image_path('vertical-resize-handler.png'));
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #DDD;
  cursor: row-resize;
  height: 20px;
}
