.paper-submission-process {
  #submission-process {
    display: none;
    position: relative;
    top: 60px;
    z-index: z('submission-process');
  }

  &.show-process #submission-process {
    display: inline-block;;
  }
}

#submission-process {
  background-color: #F5F5F5;
  padding: 30px;

  #inner {
    position: relative;
    padding:20px 30px 30px 50px;
    border: 1px solid #E1F6DD;
    background-color: #EAFDE8;
  }

  #sp-close {
    color: $tahi-green;
    font-size: 25px;
    opacity: 0.5;
    cursor: pointer;
    @include position(absolute, 0px 0px auto auto);
    padding: 3px 13px;

    &:hover {
      opacity: 1;
    }
  }

  p {
    font-size: 85%;
  }
  h4 {
    margin-top: 0;
  }

  .balls-and-columns {
    p {
      color: #333;
    }
    #balls {
      margin-bottom: 2px;
      .ball {
        color: white;
        background-color:#39A329;
      }
    }
    #lines {
      margin-top: 35px;
      .line {
        border-top: 1px solid #39A329;
      }
    }
    h5 {
      color: #66AA4A;
    }
  }
}

#submission-process-toggle {
  color: $tahi-green;
  font-size: 17px;
  float:right;
  margin: 0px 5px 10px 10px;
  cursor: pointer;
}
