.navigation {
  overflow: auto;
  @include position(fixed, 0px auto 0px -310px);
  width: 310px;
  padding-left: 50px;
  background: rgb(35,35,35);
  z-index: z('navigation');
  @include user-select(none);

  hr {
    border-top: 1px solid #666;
    margin: 40px 10% 0 10%;
  }

  .spinner {
    top: 10px;
    right: 15px;
  }
}

html.navigation-visible .navigation {
  @extend .navigation-animate-in;
  left: -30px;
}


.navigation-title {
  position: relative;
  display: block;
  margin-bottom: 25px;
  padding: 16px 0 10px 70px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
  @include user-select(none);

  &:focus, &:hover {
    color: #fff;
    text-decoration: none;
  }
}


.navigation-close {
  @include position(absolute, -5px auto auto 32px);
  font-size: 52px;
}


/* start Navigation items */

.navigation-item {
  display: block;
  font-size: 15px;
  padding: 18px 30px;
  color: #fff;
  text-transform: uppercase;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.navigation-item--admin:hover,
.navigation-item--admin:focus {
  color: $tahi-blue;
}

.navigation-item--account {
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: capitalize;

  img { margin-right: 8px; }
}

.navigation-item--feedback {
  color: #999;
  font-size: 13px;
  text-transform: none;

  &:hover, &:focus {
    color: $tahi-white;
  }
}

/* end Navigation items */
