.overlay--card {
  .task-completed-section {
    position: absolute;
    bottom: calc(-6rem + 1px);
    right: 18rem;

    .error-message {
      display: block;
      position: absolute;
      right: 0;
      bottom: -2rem;
    }
  }
}

.overlay-header {
  ul {
    padding-left: 0;
    margin-bottom: 5px;

    li {
      display: inline-block;
    }

    li + li:before {
      content: " | ";
      padding: 0 5px;
    }
  }
}

.task-overlay-paper-title {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.2;

  .manuscript-icon {
    @include position(absolute, 2px auto auto 0px);
    path, rect { fill: $tahi-green; }
  }
}

@media only screen and (max-width: 600px) {
  .task-overlay-paper-title {
    font-size: 1.3rem;
  }
}

ol.snapshot-children .nested-level-2:nth-child(n+2) {
  border-top: 1px solid lighten(gray, 30%);
  margin-top: 20px;
  padding-top: 20px;
}
