.overlay-discussion-board {
  max-width: 700px;
  margin-top: 30px;

  h2 {
    margin-bottom: 0;
    border-top: 1px solid #dfdfdf;
    padding: 10px 0 20px 9px;
    font-size: 20px;
  }

  .participant-selector {
    float: left;
    width: 66%;
  }
}

.overlay-completed-checkbox {
  margin-right: 35px;

  label {
    color: $tahi-green;
    text-transform: uppercase;
  }

  input {
    margin-right: 10px;
    vertical-align: 2px;
    @include transform(scale(2));
  }
}

.overlay-title-text {
  h1 {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 75px;
    margin: 0 !important;
  }
}

.overlay-supporting-text {
  color: $tahi-grey-dark;
  padding-bottom: 75px;
  text-align: center;
}

.overlay-main-work {
  position: relative;
  padding: 0 10px 60px 10px;
}

.overlay-footer .participant-selector {
  @include flex-grow(1);
}

.overlay-action-buttons {
  padding-top: 0;
  float: right;

  .button-primary.button--green {
    width: inherit;
  }
}

.call-to-action {
  margin-top: 20px;

  div {
    display: inline-block;
  }
}

.constrained-form-width {
  width: 800px;
}
