.overlay--card {
  .task-completed-section {
    position: absolute;
    bottom: -5.5rem;
    right: 16.5rem;

    .error-message {
      display: block;
    }
  }
}

.task-overlay-paper-title {
  position: relative;
  display: inline-block;
  padding-left: 27px;
  font-size: 1.6rem;
  line-height: 1.2;

  .manuscript-icon {
    @include position(absolute, 2px auto auto 0px);
    path, rect { fill: $tahi-green; }
  }
}

@media only screen and (max-width: 600px) {
  .task-overlay-paper-title {
    font-size: 1.3rem;
  }
}
