$ov--card-side-pad: 8.0rem;
$ov--card-breakpoint: 900px;

.overlay--card {
  background-color: rgba(0,0,0, 0.68);

  // TODO: This needs another home:
  h1 {
    margin: 0 0 1em 0;
    font-size: 4.8rem;
  }

  .overlay-container {
    position: relative;
    max-width: 112.0rem;
    margin: 4.0rem auto;
    border-radius: 5px;
    background: #fff;
  }
}

@media only screen and (max-width: 1150px) {
  .overlay--card .overlay-container {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}

// Temporary:
.overlay--visible {
  display: block;
}

// Card Overlay Header ---------------------------------------------------------

.overlay--card {
  .overlay-header {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(flex-end);
    position: relative;
    margin: 0 $ov--card-side-pad;
    border-bottom: 1px solid #000;
    padding: 5.0rem 5px 1.0rem 5px;

    span:first-of-type {
      @include flex-grow(1);
      margin-right: 1rem;
    }
  }

  .overlay-close {
    display: none;
    @include position(absolute, 0px 0px auto auto);
    right: -#{$ov--card-side-pad};
    width: auto !important; // bootstrap/glyphicon override
    padding: 0 2.25rem 0 1.5rem;
    color: $tahi-green;
    font-size: 7.0rem;
    line-height: 110%; // bootstrap override
    cursor: pointer;
    z-index: 2;
  }

  .overlay-close-button {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media only screen and (max-width: $ov--card-breakpoint) {
  .overlay--card .overlay-header {
    margin-right: $ov--card-side-pad / 2;
    margin-left:  $ov--card-side-pad / 2;
  }
}

// Card Overlay Body -----------------------------------------------------------

.overlay--card {
  .overlay-body {
    position: relative;
    padding: 4rem $ov--card-side-pad;


    // TODO: These need another home:
    label {
      padding-right: 25px;
    }

    .model-question {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 650px) {
  .overlay--card .overlay-body-title {
    font-size: 3.6rem;
  }
}

@media only screen and (max-width: 450px) {
  .overlay--card .overlay-body-title {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: $ov--card-breakpoint) {
  .overlay--card .overlay-body {
    padding-right: $ov--card-side-pad / 2;
    padding-left:  $ov--card-side-pad / 2;
  }
}

// Card Overlay Footer ---------------------------------------------------------

.overlay--card {
  .overlay-footer {
    @include display(flex);
    @include justify-content(flex-end);
    @include align-items(center);
    margin: 10px $ov--card-side-pad 0 $ov--card-side-pad;
    border-top: 1px solid #000;
    padding: 15px 0 50px 0;
  }
}

@media only screen and (max-width: $ov--card-breakpoint) {
  .overlay--card .overlay-footer {
    margin-right: $ov--card-side-pad / 2;
    margin-left:  $ov--card-side-pad / 2;
  }
}
