// A description goes here.
//
// Markup:
// <div class="overlay">
//   <div class="overlay-container">
//
//     <div class="overlay-header">
//       <h2 class="overlay-header-title"></h2>
//     </div>
//
//     <div class="overlay-content"></div>
//
//     <div class="overlay-footer">
//       <div class="overlay-footer-content"></div>
//     </div>
//
//   </div>
// </div>
//
// Styleguide Overlay


.overlay {
  overflow: auto;
  @include position(fixed, 0px 0px 0px 0px);
  background-color: rgba(0,0,0, 0.7);
  z-index: z('overlay', 'base');
  opacity: 0;

  h1 {
    margin: 0 0 1em 0;
    font-size: 48px;
  }

  .discussion {
    width: 700px;
    margin-top: 30px;

    h2 {
      margin-bottom: 0;
      border-top: 1px solid #dfdfdf;
      padding: 10px 0 20px 9px;
      font-size: 20px;
    }
  }
}

.overlay--fullscreen {
  background-color: rgba(255,255,255, 0.95);

  .overlay-close-x { display: block; }

  .overlay-container {
    background: transparent;
    margin-top: 0;
    padding-top: 0;
  }

  .loader-component-circle {
    margin-top: 0;

    &:after {
      right: 46%;
    }
  }
}

.overlay--fullscreen--green {
  background-color: rgba(57,163,41, 0.95);
  color: white;

  .overlay-close-x { display: block; }

  .overlay-container {
    background: transparent;
    margin-top: 0;
    padding-top: 0;
  }
}

.overlay-close-x {
  @include position(fixed, 0px 40px auto auto);
  display: none;
  width: auto !important; //bootstrap/glyphicon override
  color: $tahi-green;
  font-size: 90px;
  line-height: 100%;
  cursor: pointer;
  z-index: z('overlay', 'close-x');
}

.overlay-container {
  position: relative;
  width: 1120px;
  margin: 40px auto 0 auto;
  padding: 10px 80px;
  background: white;
}

.overlay-header,
.overlay-footer {
  overflow: hidden;
  position: relative;
  margin: 0;
}

.overlay-close-button {
  position: absolute;
  width: 8.333333333333332%;
}

.overlay-completed-checkbox {
  float: right;
  width: 33.333333333%;
  text-align: right;

  label {
    color: $tahi-green;
    text-transform: uppercase;
  }

  input {
    margin-right: 10px;
    vertical-align: 2px;
    @include transform(scale(2));
  }
}

.overlay-content {
  position: relative;
  min-height: 300px;
  margin: 0 auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 40px 0 10px 0;
  font-size: 14px;

  p { margin: 15px; }

  label {
    padding-right: 25px;
  }
}
.overlay-title-text {
  h1 {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 100px;
    margin: 0 !important;
  }
}

.overlay-main-work {
  padding: 0 10px 60px 10px;
}

.overlay-container.full {
  width: 700px;
  margin-top: 0;
  padding: 0;
  height: 100%;
}

.inner-content {
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
  height: 100%
}

.overlay-action-buttons {
  padding-top: 0;
  float: right;

  .button-primary.button--green {
    width: inherit;
  }
}

.call-to-action {
 margin-top: 20px;

  div {
    display: inline-block;
  }
}

.apostrophe {
  font-family: 'Times New Roman', serif;
}

.constrained-form-width {
  width: 800px;
}
