/*
  Overlay Structure:

  .overlay
    .overlay-container [no base styles, based on root modifier]
      .overlay-close   [no base styles, based on root modifier]
      .overlay-header  [no base styles, based on root modifier]
        .overlay-header-title [no base styles, based on root modifier]
      .overlay-body    [no base styles, based on root modifier]

  .overlay modifiers:
    .overlay--fullscreen | .overlay--card | .overlay--blue | .overlay--grey
*/

.overlay {
  overflow: auto;
  @include position(fixed, 0px 0px 0px 0px);
  z-index: z('overlay', 'base');
}

.overlay--loading {
  .overlay-container { min-height: 600px; }
}
