.overlay-x--card {
  .task-completed-section {
    position: absolute;
    top: 10px;
    left: 30px;
  }

  .task-main-content {
    padding-top: 2rem;
  }
}

.task-overlay-paper-title {
  position: relative;
  margin: 0 0 12px 0;
  font-size: 1.6rem;
  line-height: 0.9;
}
