/*
  Overlay Structure:

  .overlay-x
    .overlay-x-container [no base styles, based on root modifier]
      .overlay-x-close   [no base styles, based on root modifier]
      .overlay-x-header  [no base styles, based on root modifier]
        .overlay-x-header-title [no base styles, based on root modifier]
      .overlay-x-main    [no base styles, based on root modifier]

  .overlay-x modifiers: .overlay-x--fullscreen | .overlay-x--card
*/

$ov--card-side-pad: 8.0rem;
$ov--card-breakpoint: 900px;

$ov--fullscreen-side-pad: 4rem;
$ov--fullscreen-breakpoint: 780px;

.overlay-x {
  overflow: auto;
  @include position(fixed, 0px 0px 0px 0px);
  z-index: z('overlay', 'base');
}


// Card Overlay ---------------------------------------------------------------

.overlay-x--card {
  background-color: rgba(0,0,0, 0.68);

  .overlay-x-container {
    max-width: 112.0rem;
    margin: 4.0rem auto;
    border-radius: 5px;
    background: #fff;
  }
}

@media only screen and (max-width: 1150px) {
  .overlay-x--card .overlay-x-container {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}

@media only screen and (max-width: $ov--card-breakpoint) {
  .overlay-x--card .overlay-x-close {
    right: -#{$ov--card-side-pad/2};
  }
}

// Card Overlay Header ---------------------------------------------------------

.overlay-x--card {
  .overlay-x-header {
    position: relative;
    margin: 0 $ov--card-side-pad;
    border-bottom: 1px solid #aaa;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 6.0rem 5px 1.0rem 5px;
  }

  .overlay-x-close {
    @include position(absolute, 0px 0px auto auto);
    right: -#{$ov--card-side-pad};
    width: auto !important; // bootstrap/glyphicon override
    padding: 0 2.0rem 0 1.5rem;
    color: $tahi-green;
    font-size: 6.0rem;
    line-height: 110%; // bootstrap override
    cursor: pointer;
    z-index: 2;
  }

  .overlay-x-header-title {
    margin-bottom: 0; // bootstrap override
    font-size: 4.2rem;
  }
}

@media only screen and (max-width: $ov--card-breakpoint) {
  .overlay-x--card .overlay-x-header {
    margin-right: $ov--card-side-pad / 2;
    margin-left:  $ov--card-side-pad / 2;
  }
}

// Card Overlay Body -----------------------------------------------------------

.overlay-x--card {
  .overlay-x-body {
    position: relative;
    min-height: 25rem;
    padding: 3.0rem $ov--card-side-pad 2rem $ov--card-side-pad;
  }
}

@media only screen and (max-width: $ov--card-breakpoint) {
  .overlay-x--card .overlay-x-body {
    padding-right: $ov--card-side-pad / 2;
    padding-left:  $ov--card-side-pad / 2;
  }
}


// Fullscreen Overlay ----------------------------------------------------------

.overlay-x--fullscreen {
  background-color: rgba(255,255,255, 0.96);

  .overlay-x-container {
    position: relative;
    min-height: 25rem;
    max-width: 70rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: $ov--fullscreen-breakpoint) {
  .overlay-x--fullscreen .overlay-x-container {
    margin-right: $ov--fullscreen-side-pad;
    margin-left:  $ov--fullscreen-side-pad;
  }
}

// Fullscreen Overlay Header ---------------------------------------------------

.overlay-x--fullscreen {
  .overlay-x-close {
    @include position(fixed, 0px 0px auto auto);
    width: auto !important; // bootstrap/glyphicon override
    padding: 0 30px 0 20px;
    color: $tahi-green;
    font-size: 80px;
    line-height: 100%; // bootstrap override
    cursor: pointer;
    z-index: z('overlay', 'close-x');
  }

  .overlay-x-header {
    position: relative;
    text-align: center;
  }

  .overlay-x-header-title {
    padding: 7.5rem 0;
    margin-bottom: 0; // bootstrap override
    font-size: 4.8rem;
  }
}

// Fullscreen Overlay Body ----------------------------------------------------

.overlay-x--fullscreen {
  .overlay-x-body {
  }
}
