$ov--fullscreen-side-pad: 4rem;
$ov--fullscreen-breakpoint: 780px;

.overlay--fullscreen {
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  padding: 40px 0;

  .overlay-container {
    position: relative;
    width: 85rem;
    margin: auto 75px;
    background-color: $aperta-grey-xlight;
    padding: 40px 60px;
  }
}

@media only screen and (max-width: $ov--fullscreen-breakpoint) {
  .overlay--fullscreen .overlay-container {
    margin-right: $ov--fullscreen-side-pad;
    margin-left:  $ov--fullscreen-side-pad;
  }
}

// Fullscreen Overlay Header ---------------------------------------------------

.overlay--fullscreen {
  .overlay-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px; // bootstrap/glyphicon override
    color: $aperta-green;
    font-size: 60px;
    line-height: 30px; // bootstrap override
    cursor: pointer;
    z-index: z('overlay', 'close-x');

    &:hover {
      color: shade($aperta-green, 15%);
    }
  }

  .overlay-header {
  }

  .overlay-header-title {
    padding: 15px 0 45px 0;
    margin-bottom: 0; // bootstrap override
    font-size: 36px;
    font-weight: normal;
  }

  // -- Grey Theme --------------
  &.overlay--grey {
    color: $aperta-grey;
    background-color: #f2f2f2;

    .overlay-close {
      color: $aperta-grey;
    }
  }

  // -- Green Theme -------------
  &.overlay--green {
    color: #fff;
    background-color: rgba(57,163,41, 0.95);

    .overlay-container {
      background-color: transparent;
    }

    .overlay-close {
      color: #fff;
    }
  }

  // -- Blue Theme --------------
  &.overlay--blue {
    .overlay-close {
      color: $aperta-blue;

      &:hover {
        color: $aperta-blue-dark;
      }
    }
  }

  // -- Green Theme -------------
  &.overlay-x--green {
    color: #fff;
    background-color: rgba(57,163,41, 0.95);

    .overlay-x-close {
      color: #fff;
    }
  }
}
