$ov--fullscreen-side-pad: 4rem;
$ov--fullscreen-breakpoint: 780px;

.overlay--fullscreen {
  background-color: rgba(255,255,255, 0.96);

  .overlay-container {
    position: relative;
    min-height: 25rem;
    max-width: 70rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: $ov--fullscreen-breakpoint) {
  .overlay--fullscreen .overlay-container {
    margin-right: $ov--fullscreen-side-pad;
    margin-left:  $ov--fullscreen-side-pad;
  }
}

// Fullscreen Overlay Header ---------------------------------------------------

.overlay--fullscreen {
  .overlay-close {
    @include position(fixed, 0px 0px auto auto);
    width: auto !important; // bootstrap/glyphicon override
    padding: 0 30px 0 20px;
    color: $tahi-green;
    font-size: 80px;
    line-height: 100%; // bootstrap override
    cursor: pointer;
    z-index: z('overlay', 'close-x');
  }

  .overlay-header {
    position: relative;
    text-align: center;
  }

  .overlay-header-title {
    padding: 7.5rem 0;
    margin-bottom: 0; // bootstrap override
    font-size: 4.8rem;
  }

  // -- Grey Theme --------------
  &.overlay--grey {
    color: $tahi-grey;
    background-color: #f2f2f2;

    .overlay-close {
      color: $tahi-grey;
    }
  }

  // -- Green Theme -------------
  &.overlay--green {
    color: #fff;
    background-color: rgba(57,163,41, 0.95);

    .overlay-close {
      color: #fff;
    }
  }

  // -- Blue Theme --------------
  &.overlay--blue {
    .overlay-close {
      color: $tahi-blue;

      &:hover {
        color: $tahi-blue-dark;
      }
    }
  }

  // -- Green Theme -------------
  &.overlay-x--green {
    color: #fff;
    background-color: rgba(57,163,41, 0.95);

    .overlay-x-close {
      color: #fff;
    }
  }
}
