.popover-menu {
  border: solid 1px #d5d5d5;
  border-radius: 0.6rem;
  padding: 0.25rem 0;
  box-shadow: 0 0 0.7rem 1rem rgba(0, 0, 0, 0.05), 0 0 0.1rem 0.2rem rgba(0, 0, 0, 0.02);
  background-color: #fff;
}

.popover-menu-content:before,
.popover-menu-content:after {
  content: '';
  position: absolute;
}

.ember-basic-dropdown-content--below .popover-menu-content:after {
  top: -8px;
  right: 10px;
  @include triangle(16px, #fff, up);
  z-index: 2;
}

.ember-basic-dropdown-content--below .popover-menu-content:before {
  top: -9px;
  right: 9px;
  @include triangle(18px, #d5d5d5, up);
  z-index: 1;
}

.ember-basic-dropdown-content--above .popover-menu-content:after {
  bottom: -8px;
  right: 10px;
  @include triangle(16px, #fff, down);
  z-index: 2;
}

.ember-basic-dropdown-content--above .popover-menu-content:before {
  bottom: -9px;
  right: 9px;
  @include triangle(16px, #d5d5d5, down);
  z-index: 1;
}

.popover-menu-item {
  display: block;
  padding: 0.8rem 1.5rem;
  color: $tahi-green;
  font-size: 1.3rem;
  line-height: 100%; // .main-navigation-item override
  text-decoration: none;

  &:hover {
    color: #fff;
    text-decoration: none;
    background: $tahi-green;
  }

  .fa {
    margin-right: 0.5rem;
  }
}


.basic-popover-trigger {
  display: inline-block;
}

.basic-popover-content {
  border: none;
}
