// Should work on any element type: div, span, etc.
//
// Styleguide UI.Token

.token {
  position: relative;
  display: inline-block;
  border: 1px solid $tahi-blue;
  border-radius: 3px;
  padding: 2px 6px;
  color: $tahi-blue;
  font-size: 14px;
  line-height: 175%;
  cursor: default;
  background: #D7EBFE;
  @include user-select(none);
}

.token--with-remove {
  padding-left: 2.25rem;

  &:hover {
    .token-remove {
      visibility: visible;
      @extend .animation-scale-in;
    }
  }
}

.token-remove {
  visibility: hidden;
  display: inline-block;
  @include position(absolute, 0 auto 0 1px);
  width: 2.15rem;
  font-family: 'FontAwesome';
  line-height: 174%;
  text-align: center;
  cursor: pointer;

  &:before { content: "\f00d"; }
  &:hover  { text-decoration: none; }
}

.token--add {
  cursor: pointer;
}
