.tahi-tooltip-container {
  position: relative;
}

.tahi-tooltip {
  position: absolute;
  top: 30px;
  width: 250px;
  padding: 10px;
  background-color: #000;
  color: white;
  left: 50%;
  margin-left:-125px;
  border-radius:5px;
  z-index: 2;

  .user-thumbnail {
    width: 50px;
    border-radius: 5px;
    vertical-align: top;
  }

  .collaborator-status {
    margin: 0;
  }

  .info {
    display: inline-block;
    margin-left: 10px;

    .name {
      font-size: 16px;
    }

    .roles, .status {
      font-family: 'arial';
      color: #FFFFFF;
    }

    .roles {
      font-size: 12px;
    }

    .status {
      font-size: 11px;
      opacity: 0.4;
      padding-left: 5px;
    }

    p {
      margin: 0 0 2px;
    }
  }
}

.tahi-tooltip-arrow {
  @include triangle(5px, #000, up);
  position: absolute;
  left: 50%;
  top: -5px;
}
