.primary-button {
  @extend .btn, .btn-primary;
  text-transform: uppercase;
  border: none;
  background-color: $tahi-primary;
  -webkit-font-smoothing: antialiased;

  &:focus, &:hover {
    background-color: $btn-primary-bg-hover;
  }

  &.wide-button {
    padding-left: 25px;
    padding-right: 25px;
  }

  &.message {
    background: $tahi-message;
  }
}

.secondary-button {
  @extend .btn, .btn-default;
  color: $tahi-primary;
  border-color: $tahi-primary;
  text-transform: uppercase;
  background: white;

  &:focus, &:hover {
    border-color: $tahi-primary-hover;
    color: $tahi-primary-hover;
    background-color: $tahi-secondary;
  }

  &.blue {
    border-color: $tahi-blue-light;
    color: $tahi-blue-hover;

    &:focus, &:hover {
      border-color: $tahi-blue-hover;
      color: #fff;
      background-color: $tahi-blue-hover;
    }
  }

  &.white {
    border-color: #fff;
    background: #fff;
    font-weight: bold;

    &:focus, &:hover {
      border-color: $tahi-blue-hover;
      background-color: $tahi-blue-hover;
      color: #fff;
    }
  }
}


.link {
  &.white {
    color: white;
    &:hover, &:focus {
      color: white;
    }
  }
}

.upload-error-button {
  font-size: 40px;
  color: $tahi-primary;
  line-height: .5;
  &:hover {
    color: $tahi-primary-hover;
  }
}

.disabled-button {
  cursor: default;
  background-color: #bbb;

  &:focus, &:hover { background-color: #bbb; }
}

.glyphicon-button {
  margin-right: 5px;
}
