// Should work on any element type: div, span, button, a, etc.
// Base button classes: .button-primary, .button-secondary, .button-link
//
// .button--green      - Make the button GREEN
// .button--purple     - Make the button PURPLE
// .button--blue-light - Make the button LIGHT BLUE
// .button--grey       - Make the button GREY
// .button--white      - Make the button WHITE
// .button--disabled   - Style the button as disabled
// .button--wide       - Extra padding on left and right
// .button--small      - Less padding all around
//
// Styleguide UI.Button


@mixin button-primary-modifier($color, $color-hover) {
  background-color: $color;

  &:focus, &:hover {
    color: #fff;
    background-color: $color-hover;
  }
}

@mixin button-secondary-modifier($color, $color-hover, $highlight) {
  border-color: $color;
  color: $color;

  &:focus, &:hover {
    border-color: $highlight;
    color: $highlight;
    background-color: $color-hover;
  }
}

@mixin button-link-modifier($color, $color-hover) {
  color: $color;
  &:hover, &:focus { color: $color-hover; }
}

// Meant for @extend. Does not have any colors
.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  @include user-select(none);
  -webkit-font-smoothing: antialiased;
  @include transition(all 0.1s ease-in-out);

  &:hover { text-decoration: none; }
}


.button-primary {
  @extend .button;
  color: #fff;
  &:hover { text-decoration: none; }

  &.button--green      { @include button-primary-modifier($tahi-primary, $tahi-primary-hover); }
  &.button--purple     { @include button-primary-modifier($tahi-message, $tahi-message-hover); }
  &.button--blue-light { @include button-primary-modifier($tahi-blue-light, $tahi-blue); }
  &.button--grey       { @include button-primary-modifier($tahi-grey, $tahi-grey-hover); }
  &.button--white {
    color: $tahi-primary;
    background: #fff;
  }
}


.button-secondary {
  @extend .button;
  background: #fff;

  &.button--green      { @include button-secondary-modifier($tahi-primary, $tahi-secondary, $tahi-primary-hover); }
  &.button--purple     { @include button-secondary-modifier($tahi-message, $tahi-message-light, $tahi-message-hover); }
  &.button--blue-light { @include button-secondary-modifier($tahi-blue-light, $tahi-blue-light-hover, $tahi-blue); }
  &.button--grey       { @include button-secondary-modifier($tahi-grey, $tahi-grey-tertiary, $tahi-grey-hover); }
  &.button--white {
    border-color: #fff;
    background: #fff;
  }
}


.button-link {
  @extend .button;
  text-transform: none;
  background: transparent;

  &.button--green      { @include button-link-modifier($tahi-primary, $tahi-primary-hover); }
  &.button--purple     { @include button-link-modifier($tahi-message, $tahi-message-hover); }
  &.button--blue-light { @include button-link-modifier($tahi-blue-light, $tahi-blue); }
  &.button--grey       { @include button-link-modifier($tahi-grey, $tahi-grey-hover); }
  &.button--white      { @include button-link-modifier(#fff, #fff); }

  &:hover {
    text-decoration: underline;
  }
}


// .button modifier
.button--disabled {
  color: #eee;
  background-color: $tahi-disabled;
  cursor: not-allowed;

  &:focus, &:hover {
    color: #eee;
    background-color: $tahi-disabled;
  }

  &.button-primary,
  &.button-secondary {
    color: #eee;
    border-color: $tahi-disabled;
    background-color: $tahi-disabled;

    &:focus, &:hover {
      color: #eee;
      border-color: $tahi-disabled;
      background-color: $tahi-disabled;
    }
  }

  &.button-link {
    color: $tahi-disabled;
    background: transparent;
    &:focus, &:hover {
      color: $tahi-disabled;
      text-decoration: none;
    }
  }
}


// .button modifier
.button--small {
  padding: 1px 5px;
}


// .button modifier
.button--wide {
  padding-left: 25px;
  padding-right: 25px;
}
