// Should work on any element type: div, span, button, a, etc.
// Base button classes: .button-primary, .button-secondary, .button-link
//
// .button--green      - Make the button GREEN
// .button--purple     - Make the button PURPLE
// .button--blue       - Make the button BLUE
// .button--light-blue - Make the button LIGHT BLUE
// .button--grey       - Make the button GREY
// .button--white      - Make the button WHITE
// .button--disabled   - Style the button as disabled
// .button--wide       - Extra padding on left and right
// .button--small      - Less padding all around
//
// Styleguide Button


@mixin button-primary-hover($color) {
  color: #fff;
  background-color: $color;
}

@mixin button-secondary($color) {
  border-color: $color;
  color: $color;
}

@mixin button-secondary-hover($color) {
  border-color: $color;
  color: #fff;
  background-color: $color;
}

// Meant for @extend. Does not have any colors
.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  @include user-select(none);
  -webkit-font-smoothing: antialiased;

  &:hover { text-decoration: none; }
}


.button-primary {
  @extend .button;
  color: #fff;

  &:hover {
    text-decoration: none;
  }

  &.button--green {
    background-color: $tahi-primary;

    &:focus, &:hover {
      @include button-primary-hover($tahi-primary-hover);
    }
  }

  &.button--purple {
    background: $tahi-message;

    &:focus, &:hover {
      @include button-primary-hover($tahi-message-hover);
    }
  }

  &.button--blue {
    background-color: $tahi-blue;

    &:focus, &:hover {
      @include button-primary-hover($tahi-blue-hover);
    }
  }

  &.button--light-blue {
    background-color: $tahi-blue-light;

    &:focus, &:hover {
      @include button-primary-hover($tahi-blue-light-hover);
    }
  }

  &.button--grey {
    background-color: $tahi-grey;

    &:focus, &:hover {
      @include button-primary-hover($tahi-grey-hover);
    }
  }

  &.button--white {
    color: $tahi-primary;
    background: #fff;
  }
}


.button-secondary {
  @extend .button;
  background: #fff;

  &.button--green {
    @include button-secondary($tahi-primary);

    &:focus, &:hover {
      @include button-secondary-hover($tahi-primary-hover);
    }
  }

  &.button--purple {
    @include button-secondary($tahi-message);

    &:focus, &:hover {
      @include button-secondary-hover($tahi-message-hover);
    }
  }

  &.button--grey {
    @include button-secondary($tahi-grey);

    &:focus, &:hover {
      @include button-secondary-hover($tahi-grey-hover);
    }
  }

  &.button--blue {
    @include button-secondary($tahi-blue);

    &:focus, &:hover {
      @include button-secondary-hover($tahi-blue-hover);
    }
  }

  &.button--light-blue {
    @include button-secondary($tahi-blue-light);

    &:focus, &:hover {
      @include button-secondary-hover($tahi-blue-light-hover);
    }
  }

  &.button--white {
    border-color: #fff;
    background: #fff;
  }
}


.button-link {
  @extend .button;
  text-transform: none;
  background: transparent;

  &.button--green {
    color: $tahi-primary;
    &:hover, &:focus { color: $tahi-primary-hover; }
  }

  &.button--purple {
    color: $tahi-message;
    &:hover, &:focus { color: $tahi-message-hover; }
  }

  &.button--blue {
    color: $tahi-blue;
    &:hover, &:focus { color: $tahi-blue-hover; }
  }

  &.button--light-blue {
    color: $tahi-blue-light;
    &:hover, &:focus { color: $tahi-blue-light-hover; }
  }

  &.button--grey {
    color: $tahi-grey;
    &:hover, &:focus { color: $tahi-grey-hover; }
  }

  &.button--white {
    color: #fff;
    &:hover, &:focus { color: #fff; }
  }
}


// .button modifier
// Maybe we should have a disabled state for each style/color type?
.button--disabled {
  cursor: default;
  background-color: $tahi-disabled;

  &:focus, &:hover {
    color: #fff;
    background-color: $tahi-disabled;
  }

  &.button-secondary {
    color: #fff;
    background-color: $tahi-disabled;

    &:focus, &:hover { background-color: $tahi-disabled; }
  }

  &.button-link {
    color: $tahi-disabled;
    background: transparent;

    &:focus, &:hover { color: $tahi-disabled; }
  }
}


// .button modifier
.button--small {
  padding: 1px 5px;
  text-transform: none;
}


// .button modifier
.button--wide {
  padding-left: 25px;
  padding-right: 25px;
}
