// Card
//
// Description goes here
//
// Markup:
// <div class="card {$modifiers}">
//   <div class="card-content">...</div>
//   <div class="remove-card"></div>
// </div>
//
// .card--message   - Use if Task is message type
// .card--completed - Use if Task is completed
//
// Styleguide Card


.card {
  position: relative;
  display: block;
  margin-bottom: 8px;

  .tooltip { position: fixed; }

  .completed-glyph {
    position: absolute;
    top: 15px;
    display: none;
    color: $tahi-primary;
  }
}


.card:focus,
.card:hover {
  .remove-card { display: inline; }

  .card-content {
    color: #fff;
    text-decoration: none;
    background-color: $btn-primary-bg;
  }
}


.remove-card {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}


.card-content {
  position: relative;
  border-radius: 5px;
  padding: 10px 15px;
  color: $tahi-primary-hover;
  font-size: 20px;
  word-wrap: break-word;
  background-color: $tahi-secondary;
  cursor: pointer;

  .badge {
    position: absolute;
    top: -5px;
    left: -5px;
    padding: 1px 5px;
    background: #d00;
  }
}


// .card modifier:
.card--message {
  .card-content {
    color: #3f1587;
    background-color: $tahi-message-light;
  }

  &:focus .card-content,
  &:hover .card-content {
    color: #fff;
    background-color: $tahi-message;
  }
}


// .card modifier:
.card--completed {
  .task-title {
    margin-left: 30px;
  }

  .card-content {
    color: $tahi-tertiary - #666;
    background: $tahi-tertiary;

    .completed-glyph {
      display: inline;
      margin-right: 5px;
      color: $tahi-primary;
    }
  }

  &:focus .card-content,
  &:hover .card-content {
    color: #fff;
    background: $tahi-tertiary - #333;

    .glyphicon { color: white; }
  }
}
