// Description goes here
//
// .card--message   - Use if Task is message type
// .card--completed - Use if Task is completed
//
// Styleguide UI.Card


.card {
  position: relative;
  display: block;
  margin-bottom: 8px;

  .tooltip { position: fixed; }
}


.card:focus,
.card:hover {
  .card-remove { display: inline; }

  .card-content {
    color: #fff;
    text-decoration: none;
    background-color: $tahi-primary;
  }
}


.card-completed-icon {
  @extend .glyphicon, .glyphicon-ok, .completed-glyph;
  position: absolute;
  top: 15px;
  left: 15px;
  display: none;
  color: $tahi-primary;
}


.card-remove {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  @extend .glyphicon, .glyphicon-remove-circle;
}


.card-content {
  position: relative;
  border-radius: 5px;
  padding: 10px 15px;
  color: $tahi-primary-hover;
  font-size: 20px;
  word-wrap: break-word;
  background-color: $tahi-secondary;
  cursor: pointer;

  .badge {
    position: absolute;
    top: -5px;
    left: -5px;
    padding: 1px 5px;
    background: #d00;
  }
}


// .card modifier:
.card--message {
  .card-content {
    color: #3f1587;
    background-color: $tahi-message-light;
  }

  &:focus .card-content,
  &:hover .card-content {
    color: #fff;
    background-color: $tahi-message;
  }
}


// .card modifier:
.card--completed {
  .card-content {
    padding-left: 45px;
    color: $tahi-tertiary - #666;
    background: $tahi-tertiary;
  }

  .card-completed-icon {
    display: inline;
    margin-right: 5px;
    color: $tahi-primary;
  }

  &:focus .card-content,
  &:hover .card-content {
    color: #fff;
    background: $tahi-tertiary - #333;

    .glyphicon { color: white; }
  }
}

h1 > .edit-h1-icon {
  display: inline;
}

.edit-h1-icon {
  margin-left: 10px;
  color: #d4d4d4;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  top: -8px;

  &:hover {
    color: $tahi-primary-hover;
  }
}

.inline-edit-h1 {
  border: 3px solid #C3E7BF;
  background-color: #C3E7BF;
  overflow: hidden;
  padding: 2px;

  input[type="text"] {
    width: 100%;
    font-size: 48px;
    margin-bottom: 4px;
    border: 0;
  }
}
