// Card
//
// Description goes here
//
// Markup:
// <div class="card {$modifiers}">
//   <div class="card-content">...</div>
//   <div class="remove-card"></div>
// </div>
//
// .card-message   - Use if Task is message type
// .card-completed - Use if Task is completed
//
// Styleguide Card

.figure-thumbnail-text-content:hover .glyphicon-pencil {
  display:inline-block;
}

.edit-figure-icon {
  color: #8ecb87;
  font-size:14px;
  display: none;
  margin-left: 10px;
}

.card {
  position: relative;
  display: block;
  margin-bottom: 8px;

  .tooltip { position: fixed; }
}

.remove-card {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
}

.card:focus,
.card:hover {
  .remove-card { display: inline; }

  .card-content {
    color: white;
    text-decoration: none;
    background-color: $btn-primary-bg;
  }
}

.card-content {
  position: relative;
  display: block;
  border-radius: 5px;
  padding: 10px 15px;
  color: $tahi-primary-hover;
  font-size: 20px;
  word-wrap: break-word;
  background-color: $tahi-secondary;
  cursor: pointer;

  .completed-glyph { display: none; }
}

// .card modifier:
.card-message .card-content {
  color: #3f1587;
  background-color: $tahi-message-light;
  .badge.unread-comments-count {
    position: absolute;
    top: -5px;
    left: -5px;
    padding: 1px 5px;
    background: red;
  }
}

.card-message:focus .card-content,
.card-message:hover .card-content {
  color: white;
  text-decoration: none;
  background-color: $tahi-message;
}

// .card modifier:
.card-completed .card-content {
  color: $tahi-tertiary - #666;
  background: $tahi-tertiary;

  .completed-glyph {
    display: inline;
    margin-right: 5px;
    color: $tahi-primary;
  }
}

.card-completed:focus .card-content,
.card-completed:hover .card-content {
  color: white;
  background: $tahi-tertiary - #333;

  .glyphicon { color: white; }
}
