.tahi-chosen-style {
  height: 34px;
  border: 1px solid $tahi-green;
  color: $tahi-green;
  font-size: 14px;
  text-transform: uppercase;
  background: #fff;

  span {
    color: $tahi-green;
    margin-top: 4px;
  }

  div b {
    background-position: 0px 6px;
  }
}

@mixin tahi-chosen($text-color) {
  @extend .tahi-chosen-style;
  color: $text-color;
  border: 1px solid $text-color;
  span {
    color: $text-color;
  }
}

.chosen-style-override .chosen-container-single .chosen-single {
  @include tahi-chosen($tahi-green)
}

.chosen-container .chosen-results li {
  text-transform: capitalize;
}

.chosen-style-override .chosen-container-multi {
  height: auto;
}

.chosen-style-override .chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 6px;
}

.chosen-style-override .chosen-container-multi .chosen-choices {
  border: none;
  background-image: none;

  li.search-field input[type="text"] {
    height: 19px;
    margin: 0;
    padding: 0;
  }
}

.chosen-style-override .chosen-container-active .chosen-choices {
  box-shadow: none;
}
