.control-bar {
  overflow: auto;
  height: $tahi-control-bar-height;
  border-bottom: 1px solid #939393;
  padding: 7px 0 5px 0;
  background: #e1e1e1;
  z-index: 2;
  width: 100%;

  &.control-bar-blue {
    background-color: #87c0f9;
  }
}

.control-bar-inner-wrapper {
  overflow: hidden;
  margin: 0 auto;
  min-width: 960px;
  max-width: 1120px;
  position: relative;
}

.control-bar ul {
  list-style-type: none;
  float: left;
  margin-bottom: 0; // from bootstrap?
  padding-left: 0;  // from bootstrap?
  padding-right: 20px;
  @extend .clear-before-and-after;

  &:last-of-type {
    float: right;
    padding-right: 0;

    a {
      color: #000000;
      text-transform: uppercase;
      font-weight: normal;
    }
  }
}

.control-bar-item {
  position: relative;
  float: left;
  display: block;
}

.control-bar-link {
  line-height: 36px;
  font-weight: bold;
  text-transform: none;
  background: none;
  display: block;
  margin-left: 25px;

  span {
    padding-left: 5px;
    vertical-align: 17px;
    color: #444
  }

  .pdf-icon path, .epub-icon path, .manuscript-manager-icon path {
    fill: #444;
  }

  &:focus, &:hover {
    text-decoration: none;

    span { color: $tahi-primary; }

    .pdf-icon path, .epub-icon path, .manuscript-manager-icon path {
      fill: $tahi-primary;
    }
  }
}

.control-bar-message {
  padding: 2px 5px;
  border-radius: 5px;
}
