.control-bar {
  overflow: hidden;
  height: $tahi-control-bar-height;
  border-bottom: 1px solid #939393;
  padding: 7px 0 5px 0;
  color: #000;
  background: #e1e1e1;
  z-index: 2;

  &.control-bar-blue {
    background-color: #87c0f9;
  }
}

.control-bar-inner-wrapper {
  overflow: hidden;
  margin: 0 auto;
  min-width: 960px;
  max-width: 1120px;
  position: relative;
}

.control-bar ul {
  list-style-type: none;
  float: left;
  margin-bottom: 0; // from bootstrap?
  padding-left: 0;  // from bootstrap?
  padding-right: 20px;
  @extend .clear-before-and-after;

  &:last-of-type {
    float: right;
    padding-right: 0;

    a { text-transform: uppercase; }
  }
}

.control-bar-item {
  position: relative;
  float: left;
  display: block;
  margin-right: 10px;
}

.control-bar-link {
  padding: 10px;
  line-height: 36px;
  font-weight: bold;
  text-transform: none;
  background: none;

  &:focus, &:hover { text-decoration: none; }
}

.control-bar-message {
  padding: 2px 5px;
  border-radius: 5px;
}
