// Elements in control-bar should be in unordered lists. The ULs will align left except for the last one which will align right.
//
// Styleguide UI.ControlBar

.control-bar {
  overflow: hidden;
  width: 100%;
  height: $tahi-control-bar-height;
  border-bottom: 1px solid #F5F5F5;
  padding: 7px 0 5px 0;
  background: #fff;
  z-index: 2;

  &.__fixed {
    @include position(fixed, 0px 0px auto 0px);
  }
}

.control-bar-inner-wrapper {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  padding-left: 125px;
}

.control-bar ul {
  list-style-type: none;
  float: left;
  padding: 0 30px 0 0;
  @extend .clear-before-and-after;

  &:last-of-type { float: right; }
}

.control-bar-item {
  position: relative;
  float: left;
  display: block;
  margin: 3px 0 0 0;
}

.control-bar-link {
  display: block;
  margin: 7px 0 0 25px;
  color: $tahi-green;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background: none;

  .control-bar-link-icon {
    height: 28px;
  }

  svg {
    display: block;
    margin: 0 auto;
  }

  svg path, svg rect {
    fill: $tahi-green;
  }

  &:focus, &:hover {
    color: $tahi-green-dark;
    text-decoration: none;

    svg path, svg rect {
      fill: $tahi-green-dark;
    }
  }
}

.control-bar-message {
  padding: 2px 5px;
  border-radius: 5px;
}

.manuscript-manager-icon {
  position: relative;
  top: 2px;
}
