.inline-edit-icon {
  display: inline;
  margin-left: 10px;
  padding: 0.75rem;
  color: #d4d4d4;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  top: -7px;

  &:hover {
    color: $tahi-primary-hover;
  }
}

.inline-edit-form {
  display: none;
  position: relative;
  overflow: hidden;
  padding: 5px;
  background-color: #C3E7BF;
  margin-top: 30px;

  &.editing {
    display: block;
    top: -14px;
    left: -4px;

    input[type="text"], textarea { display: block; }
  }

  &.large-edit {
    font-size: 48px;
  }

  input[type="text"], textarea {
    display: none;
    width: 100%;
    margin-bottom: 4px;
    border: 0;
    outline: none;
  }
}

.inline-edit.editing { display: none; }

.bodypart-display {
  position: relative;
  margin: 10px 0;

  > * {
    float: left;
  }

  .item-text {
    min-height: auto;
    @include transition(min-height, 0.3s);
  }

  &.confirm-delete .item-text {
    min-height: 60px;
    @include transition(min-height, 0.3s);
  }

  .glyphicon.inline-edit-icon {
    top: 3px;
  }
}

.destroy-overlay {
  @include position(absolute, 0px 0px 0px 0px);
  padding: 0px 30px;
  color: #fff;
  background-color: #29a904;
  z-index: 1; // higher index to ensure overlay stays above all other content

  > * {
    display: inline-block;
  }

  button {
    margin-top: -10px;
  }

  p {
    margin: 0 0 15px 0;
    font-size: 21px;
    font-weight: bold;
  }
}
