.inline-edit-icon {
  display: inline-block;
  margin-left: 10px;
  padding: 0.75rem;
  color: #d4d4d4;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  top: -7px;

  &:hover {
    color: $tahi-green-dark;
  }
}

.inline-edit-form {
  display: none;
  position: relative;
  overflow: hidden;

  &.editing {
    display: block;

    div[contenteditable] {
      width: 910px;
    }

    &.large-edit {
      font-size: 48px;
      background-color: #C3E7BF;
      padding: 5px;
    }

    input[type="text"], textarea {
      width: 100%;
      margin-bottom: 4px;
      border: 0;
      outline: none;
    }
  }
}

.inline-edit.editing { display: none; }

.inline-edit-body-part {
  position: relative;

  .view-actions {
    display: block;
    margin-top: 18px;
  }

  .edit-actions, .add-item {
    display: none;
  }

  &.editing {
    background-color: #C3E7BF;
    padding: 5px;
    margin: 10px 0;

    .view-actions {
      display: none;
    }
    .edit-actions {
      display: block;
    }
    .add-item {
      display: inline-block;
    }
    .item-remove {
      margin: 10px;
      color: $tahi-green;
      @extend .glyphicon, .glyphicon-remove-circle;
    }
  }

  &.email .add-item,
  &.text .add-item {
    display: none;
  }
}

.inline-edit-body-part.email {
  @include transition(padding, 0.3s);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  &.show-state {
    padding: 50px 5px 30px 5px;
  }

  &.editing {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .view-actions {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;

    .button-secondary {
      margin-left: 15px;
    }
  }

  .inline-edit-icon {
    top: 2px;
  }
}

.bodypart-display {
  position: relative;
  margin: 10px 0;

  > * {
    float: left;
  }

  .glyphicon.inline-edit-icon {
    top: 3px;
  }
}

.bodypart-last-sent {
  margin: 0 0 0 25px;
  color: $tahi-green;
  font-size: 11px;
  font-style: italic;
}

.bodypart-overlay {
  background-color: #29a904;
  z-index: 1; // higher index to ensure overlay stays above all other content
}

.overlay-content .bodypart-overlay p {
  margin: 0 0 15px 0;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
}

.bodypart-destroy-overlay {
  padding: 30px;

  > * {
    display: inline-block;
  }

  button {
    margin-top: -10px;
  }
}

.bodypart-choose-receiver-overlay {
  padding: 20px 0 20px 110px;
}

.overlay-content .bodypart-email-sent-overlay {
  .glyphicon-remove {
    @include position(absolute, 0px 0px auto auto);
    width: auto !important; //bootstrap/glyphicon override
    padding: 25px;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    z-index: 1;
  }

  p {
    @include position(absolute, 50% 0px auto 0px);
    margin-top: -20px;
    font-size: 32px;
    text-align: center;
  }
}
