$nav-bar-background-color: black;
$nav-bar-color: white;
$nav-bar-hover-color: $tahi-primary-hover;
$nav-bar-active-color: $tahi-primary;

#nav-bar-container {
  background-color: $nav-bar-background-color;
  width: 100%;
}

#nav-bar {
  margin: 0 auto;
  background-color: $nav-bar-background-color;
  min-width: 960px;
  max-width: 1120px;
}

#nav-bar header {
  text-transform: uppercase;

  > a {
    @extend .navbar-brand;
    color: $nav-bar-color;
    padding: 8px 0;
  }
}

#nav-bar section {
  @extend .collapse, .navbar-collapse;
}

#nav-bar section > ul {
  @extend .nav, .navbar-nav;
  color: $nav-bar-color;
}

#nav-bar section > ul:last-of-type {
  @extend .navbar-right;
}

#nav-bar section > ul:last-of-type li:last-of-type {
  @extend .navbar-text;
  padding-right: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#nav-bar section > ul > li > a {
  color: $nav-bar-color;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#nav-bar section > ul > li.nav-bar-item > a {
  &:hover {
    background: $nav-bar-hover-color;
  }

  &.active {
    background: $nav-bar-active-color;
  }
}

#nav-bar section > ul > li.nav-bar-text > a {
  &:hover {
    text-decoration: underline;
    background-color: transparent;
  }
}
