.overlay-header {
  padding: 50px 0 0 0;
}

.overlay-header-title {
  position: relative;
  float: left;
  width: 91.7%;
  margin: 0 0 12px 0;
  padding-right: 100px;
  line-height: 0.9;

  .manuscript-icon {
    @include position(absolute, 8px auto auto 0px);
    path, rect { fill: $tahi-green; }
  }
}

.overlay-header-title--with-icon {
  padding-left: 24px;
}

.overlay-header .overlay-close-button {
  right: 0;
  bottom: 10px;
}

/*
  .overlay-header-title
    .overlay-header-link
*/
.overlay-header-link {
  font-size: 18px;
  &:hover { text-decoration: none; } // override global tahi a style
}
