.overlay {
  background-color: rgba(255,255,255,0.98);
  bottom: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}
.overlay {
  background-color: rgba(0,0,0,0.7);
  height: 100%;
}

.overlay > div {
  padding: 10px 80px;
  width: 1120px;
  background: white;
  margin: 0 auto;
  margin-top: 40px;
}

.empty-overlay {
  min-height: 550px;
}

.choose-card-type-overlay {
  @extend .empty-overlay;

  #choose-card-type {
    width: 550px;
    margin: 200px auto 0;
  }

  .primary-button {
    margin-right: 20px;
  }

  #choose-card-type-buttons {
    margin-top: 45px;
  }
}

.loading {
  @extend .empty-overlay;
  text-align: center;
  position: relative;
}

.loading h1 {
  position: absolute;
  top: 43%;
  left: 480px;
  font-weight: bold;
  color: $tahi-backdrop;
  font-style: italic;
}

.overlay main {
  min-height: 300px;
  padding:8px;
  margin: 0 auto;
  position: static;
  z-index: 10;
  font-size: 14px;
  padding: 40px 30px 60px;
  top: 110px !important;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.overlay main p {
  margin: 15px;
}

.overlay header,
.overlay footer {
  @extend .row;
  position: relative;
}

.overlay footer {
  margin: 0;
  padding-bottom: 50px;
}

.overlay header {
  margin: 0;
  padding-top: 50px;
}

.overlay-paper-title {
  padding: 0;
  padding-right: 15px;
  font-size: 18px;
  font-family: $tahi-font-family;
  color: $btn-primary-bg;
  &:hover {
    text-decoration: none;
  }
}

.message .overlay-paper-title {
  color: $tahi-message;
}


.overlay footer {
  margin-top: 10px;
  margin-bottom: 0;
}

.overlay header h2 {
  @extend .col-xs-10;
  margin: 0 0 15px 0;
}

.overlay header > a {
  @extend .col-xs-2;
  bottom: 10px;
  position: absolute;
}

.overlay footer > a {
  @extend .col-xs-2;
}

.overlay footer .content {
  @extend .col-xs-10;
  margin-top: 5px;

  input[type="checkbox"] {
    margin-right: 10px;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    vertical-align: 2px;
  }

  .assignee-drop-down {
    @extend .col-xs-9;
  }

}

.completed-checkbox {
  @extend .col-xs-3;
  text-align: right;
  text-transform: uppercase;
  color: $tahi-primary;
}

.overlay h1 {
  font-size: 48px;
  margin: 0 0 20px 0;
}

.overlay #task_title {
  width: 700px;
  border-radius: 3px;
  border: 1px solid $tahi-matte;
  padding: 5px;
}

.overlay label {
  padding-right: 25px;
}

.overlay #task_body, .new-comment {
  width: 700px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid $tahi-matte;
  padding: 5px;
}

#upload-figures-content img {
  min-height: 190px;
}

#paper-figures {
  list-style-type: none;
  margin: 20px 0 0;
  padding: 0;
  li {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}

#paper-figures li img {
  height: 190px
}

#paper-manuscript-upload {
  color: $tahi-primary;
}

#paper-manuscript-upload,
#paper-figure-uploads {
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;

  li {
    border: 1px solid $tahi-tertiary;
    background: white;
    padding: 10px;
    @extend .row;
    margin: 0;
    margin-top: 20px;
  }

  li .processing {
    @extend .col-xs-9;
    margin-left: 70px;
    font-size: 32px;
    margin-top: 28px;
  }

  li .preview-container {
    @extend .col-xs-2;
    width: 100px;
    height: 100px;
    padding: 0;
  }

  li .preview-container > * {
    width: 100px;
    height: 100px;
  }

  li .glyphicon {
    font-size: 72px;
    text-align: center;
    padding-top: 14px;
    width: 80px;
  }

  li .progress {
    @extend .col-xs-9;
    padding: 0;
    margin-bottom: 0;
    margin-left: 60px;
    margin-top: 40px;
  }
}

.decision-selections > .form-group {
  display: inline-block;

  &:first-child {
    margin-left: 10px;
  }
}

.form-group p {
  font-size: 18px;
  margin: 15px 0;
}

.task_paper_decision_letter {
  border-radius: 10px;
  border: 1px solid #333;
  padding: 20px;
  width: 640px;
  height: 270px;
}

.decision-selections label {
  padding-left: 10px;
  font-size: 24px;
  font-weight: normal;
  vertical-align: -4px;
  margin-right: 70px;
}

.decision-selections input[type=radio] {
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}

.decision-letter-description {
  font-size: 18px;
}

.white-overlay {
  background: white !important;
}


.overlay .message-overlay footer .primary-button,
.overlay .message-overlay header .primary-button {
  background-color: $tahi-message;
}

.message .completed-checkbox {
  color: $tahi-message;
}

$message-body-width: 700px;
.message-overlay {
  .secondary-button {
    color: $tahi-message;
    border: 1px solid $tahi-message;
    &:hover {
      background: $tahi-message;
      color: white;
      border: 1px solid $tahi-message;
    }
  }
  .message-color {
    color: $tahi-message;
  }
  .img {
    height: 40px;
    width: 40px;
  }
  .form-group input, .form-group textarea {
    width: $message-body-width;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ddd;
  }
  textarea {
    height: 150px;
    &.new-comment {
      height: 60px;
    }
  }

  footer {
    .message {
      float: right;
    }
  }

  .chosen-single {
    height: 40px;
    background: white;
    border: 1px solid $tahi-message;
    font-size: 18px;
    color: $tahi-message;
    text-transform: uppercase;
    span, b {
      margin-top: 8px;
    }
  }

  .chosen-drop {
    border: 1px solid $tahi-message;
    border-top: none;
  }

  .chosen-results li.highlighted {
    width: 100%;
    background: $tahi-message;
  }

  #participants {
    margin-bottom: 10px;
    > ul {
      padding: 10px;
      width: $message-body-width;
      background: #f3f3f3;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      list-style: none;
      li {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}

.comment-buttons {
  width: $message-body-width;
  .message {
    float: right;
  }
}

.chosen-style-override .chosen-container-single .chosen-single {
  height: 40px;
  background: white;
  border: 1px solid $tahi-primary;
  font-size: 18px;
  color: $tahi-primary;
  text-transform: uppercase;
  span {
    color: $tahi-primary;
    margin-top: 8px;
  }
  div b {
    background-position: 0px 8px;
  }
}

.message .chosen-style-override .chosen-container-single .chosen-single {
  border-color: $tahi-message;
  color: $tahi-message;
  span {
    color: $tahi-message;
  }
}

.chosen-style-override .chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 8px;
}

.message-comments {
  list-style-type: none;
  padding-left: 10px;
  margin-bottom: 30px;
}

.message-comment {
  padding: 10px 0;
  width: $message-body-width;
  border-top: 1px solid #ddd;
  &:first-of-type {
    border-top: none;
  }
}

.comment-date,
.comment-avatar {
  margin: 0 5px;
}

.comment-avatar { width: 40px; }

.comment-name { font-weight: bold; }

.comment-body {
  padding-top: 8px;
  line-height: 1.3;
  width: $message-body-width;
}

.author-form {
  display: none;
  &.show-new-author-form {
    display: block;
  }
}

