// A description goes here.
//
// Markup:
// <div class="overlay">
//   <div class="overlay-container">
//     <div class="overlay-header">
//       <h2 class="overlay-header-title"></h2>
//     </div>
//     <div class="overlay-content"></div>
//     <div class="overlay-footer">
//       <div class="overlay-footer-content"></div>
//     </div>
//   </div>
// </div>
//
// Styleguide Overlay


.overlay {
  overflow: auto;
  @include position(fixed, 0px 0px 0px 0px);
  background-color: rgba(0,0,0, 0.7);
  z-index: z($z-layer-overlay-base);
  opacity: 0;

  h1 {
    margin: 0 0 1em 0;
    font-size: 48px;
  }

  &.feedback-overlay {
    h1 {
      margin-bottom: 0.5em;
    }
  }

  .discussion {
    margin-top: 30px;
  }
}

.overlay--fullscreen {
  background-color: rgba(255,255,255, 0.95);

  .overlay-close-x { display: block; }

  .overlay-container {
    background: transparent;
  }
}


.overlay-close-x {
  @include position(fixed, 0px 0px auto auto);
  position: fixed;
  display: none;
  width: auto !important; //bootstrap/glyphicon override
  padding: 25px 25px 15px 15px;
  color: $tahi-green;
  font-size: 42px;
  cursor: pointer;
  z-index: z($z-layer-overlay-close-x);
}


.overlay-container {
  position: relative;
  width: 1120px;
  margin: 40px auto 0 auto;
  padding: 10px 80px;
  background: white;

  &.feedback {
    .overlay-content {
      min-height: 220px;
      padding: 0;
    }
  }
}


.overlay-header,
.overlay-footer {
  @extend .row;
  position: relative;
  margin: 0;
}


/* begin header styles ---------- */

.overlay-header {
  padding: 50px 0 0 0;
}

.overlay-header-title {
  float: left;
  width: 83%;
  margin: 0 0 12px 0;
}

.overlay-close-button {
  @extend .col-xs-2;
}

.overlay-header .overlay-close-button {
  position: absolute;
  bottom: 10px;
}

/*
  .overlay-header-title
    .overlay-paper-link
*/
.overlay-paper-link {
  font-size: 18px;
  &:hover { text-decoration: none; } // override global tahi a style
}

/* end header styles ---------- */

/* begin footer styles ---------- */

.overlay-footer {
  margin-top: 10px;
  padding-bottom: 50px;
}

.overlay-footer-content {
  @extend .col-xs-10;
  margin-top: 5px;
  padding-left: 0; // bootstrap .col-xs-10 override

  .assignee-drop-down {
    @extend .col-xs-9;
    padding-left: 0; // bootstrap .col.xs.9 override
  }
  .cancel {
    @extend .pull-right;
  }
}

.overlay-footer .button-primary {
  @extend .col-xs-2;
}

.overlay-completed-checkbox {
  @extend .col-xs-4;
  text-align: right;
  float: right;

  label {
    color: $tahi-green;
    text-transform: uppercase;
  }

  input {
    margin-right: 10px;
    vertical-align: 2px;
    @include transform(scale(2));
  }
}

/* end footer styles ---------- */

.overlay-content {
  min-height: 300px;
  margin: 0 auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 40px 20px 60px 20px;
  font-size: 14px;

  &.minimal {
    padding-left: 0;
    padding-right: 0;
    border: none;
    &.thanks {
      font-size: 48px;
      padding: 100px;
      text-align: center;
    }

  }

  p { margin: 15px; }

  label {
    padding-right: 25px;
  }
}
.overlay-container {
  .thanks {
    @extend .overlay-content;
    height: 178px;
  }
  textarea.remarks {
    width: 100%;
    height: 178px;
  }
}


.overlay-action-buttons {
  padding-top: 45px;
  text-align: right;
}
