// Should work on any element type: div, span, etc.
//
// Styleguide UI.Token

.token {
  position: relative;
  display: inline-block;
  border: 1px solid $tahi-blue;
  border-radius: 3px;
  padding: 2px 6px;
  color: $tahi-blue;
  font-size: 14px;
  line-height: 175%;
  cursor: default;
  background: #D7EBFE;
  @include user-select(none);
}

.token--with-remove {
  padding-left: 2.25rem;

  &:hover {
    .token-remove {
      visibility: visible;
      @extend .animation-scale-in;
    }
  }
}

.token-remove {
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1px;
  width: 2.15rem;
  line-height: 200%;
  text-align: center;
  visibility: hidden;
  cursor: pointer;

  &:before { content: "\e014"; }
  &:hover  { text-decoration: none;
  }
}

.token--add {
  cursor: pointer;

  .glyphicon { font-size: 12px; }
}
