.user-thumbnail {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.user-thumbnail-small {
  width: 25px;
  height: 25px;
  border-radius: 4px;
}

.participant-thumbnail {
  position: relative;
  display: inline-block;
  margin-right: 4px;
}

.participant-remove {
  @include position(absolute, -8px -8px 0 0);
  display: none;
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 17px;
  text-align: center;
  line-height: 13px;
  box-shadow: 0 1px 2px rgba(0,0,0, 0.5);
  cursor: pointer;
  background: rgba(0,0,0, 0.7);
  z-index: 1;
}

.participant-thumbnail:hover .participant-remove {
  display: block;
  @extend .animation-scale-in;
}
