<div class="question-text">{{{model.question}}}</div>
{{#if helpText}}
  <div class="help">{{{helpText}}}</div>
{{/if}}

{{binary-radio-button name=ident selection=model.answer yesValue="Yes" noValue="No"}}

{{#if template}}
  <div class="additional-data">
    {{yield}}
  </div>
{{/if}}
