<div class="question-text">{{model.question}}</div>
<div class="additional-data">
  <span class="button-secondary button--green fileinput-button">
    Select &amp; upload
    {{file-uploader accept='.docx'
                    start='uploadStarted'
                    progress='uploadProgress'
                    done='uploadFinished'
                    error='uploadError'
                    filePrefix='question_attachment'}}
  </span>
  {{#if fileUpload}}
    <div id="paper-file-uploads">
      {{upload-preview upload=fileUpload}}
    </div>
  {{/if}}
  {{#if model.questionAttachment}}
    {{question-attachment-thumbnail attachment=model.questionAttachment}}
  {{/if}}
</div>
