<button {{action clicked}} class={{buttonClassNames}}>
  <div class="left-drawer-hide-when-open admin-drawer-item-abbreviation">
    <i class="{{abbreviationIconClassNames}}" />
  </div>
  <div class="left-drawer-hide-when-closed admin-drawer-item-title">
    {{title}}
  </div>
</button>
