<img class="paper-submit-icon" src="/images/submit-image.png">
<div class="overlay-title-text-submit animation-fade-in">
  <h1>Are you sure?</h1>
</div>

<h5>You are about to submit the paper</h5>
<p id="paper-submit-title">{{{model.displayTitle}}}</p>

{{flash-messages}}

<div class="submit-action-buttons">
  <button class="button-primary" {{action "submit"}}>Yes, Submit My Manuscript</button>
  <button class="button-link button--white" {{action "close"}}>Go back and make sure</button>
</div>
