{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

{{#overlay-fullscreen
   visible=newCardOverlayVisible
   outAnimationComplete=(action "hideNewCardOverlay")
   overlayClass="overlay--blue"
   as |overlay|}}
  {{admin-page/new-card-overlay
    journal=journal
    success=(action "editCard")
    close=(action overlay.animateOut)}}
{{/overlay-fullscreen}}


<h2>Card Catalogue</h2>

{{#if journal}}
  {{#if (can 'create_card' journal)}}
  <button class="button-primary button--blue" {{action "showNewCardOverlay"}}>
    Add new card
  </button>
  {{/if}}
{{/if}}

{{#admin-page/catalogue}}
  {{#each sortedCards as |card|}}
    {{#admin-page/catalogue/item action=(action "editCard" card) class=(if (eq card.state "draft") "draft")}}
      {{admin-page/card-thumbnail card=card}}
    {{/admin-page/catalogue/item}}
  {{/each}}
{{/admin-page/catalogue}}
