# PostgreSQL. Versions 8.2 and up are supported.
#
# Install the pg driver:
#   gem install pg
# On OS X with Homebrew:
#   gem install pg -- --with-pg-config=/usr/local/bin/pg_config
# On OS X with MacPorts:
#   gem install pg -- --with-pg-config=/opt/local/lib/postgresql84/bin/pg_config
# On Windows:
#   gem install pg
#       Choose the win32 build.
#       Install PostgreSQL and put its /bin directory on your path.
#
# Configure Using Gemfile
# gem 'pg'

development:
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: tahi_development
  pool: 5
  username: tahi
  password:

test:
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: tahi_test
  pool: 5
  username: tahi
  password:

performance:
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: tahi_performance
  pool: 48
  username: tahi
  password:

staging:
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: tahi_staging
  pool: 48
  password:

production:
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: tahi_production
  pool: 48
  password:

# PLoS Editorial Manager connection
plos_editorial_manager:
  adapter: sqlserver
  host: ENV["EM_HOST"]
  database: ENV["EM_DATABASE"]
  username: ENV["EM_USERNAME"]
  password: ENV["EM_PASSWORD"]
