<h1>Hello World!</h1>
<p>Find my template at: engines/<%= engine_file_name %>/app/assets/javascripts/<%= engine_file_name %>/templates/overlays/<%= file_name %>_overlay.hbs</p>
<p>Enter JavaScript in: engines/<%= engine_file_name %>/app/assets/javascripts/<%= engine_file_name %>/views/overlays/<%= file_name %>_overlay_view.js</p>
