@import 'check-box.scss';
@import 'text-view.scss';
@import 'short-input.scss';
@import 'radio.scss';
@import 'paragraph-input.scss';
@import 'dropdown.scss';
@import 'file-uploader.scss';
@import 'date-picker.scss';
@import 'tabbed-textarea.scss';
@import 'toggle-switch.scss';
@import 'tech-check.scss';
@import 'sendback-reason.scss';
@import 'display-children';


// These are base rules for all card content types
.card-content {
    .question-text, .content-text {
        font-size: 20px;
    }
}
