.card-content-edit-frame {
  background-color: $aperta-grey-xlight;
  border-radius: 5px;
  margin-right: 60px;
  margin-left: 20px;
  border: 2px solid transparent;

  .fa-trash {
    border: none;
    background-color: inherit;
  }

  &.card-content-edit-frame-focused {
    border-color: $aperta-blue;
  }

  section {
    padding: 10px 15px;
    &.footer {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #d6d6d6;

    }

    .content-name {
      text-transform: uppercase;
      color: $aperta-grey;
    }
  }

  .fa-trash {
    cursor: pointer;
  }

  h1 {
    margin-left: 20px
  }
}
