.card-content-edit-text {
  width: 100%;
  // On Chrome, prevent handle from allowing resize past parent width
  max-width: 100%;
  display: block;
  padding: 15px;
  border: none;
  background-color: $aperta-grey-xlight;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  &:focus {
    background-color: #fff;
  }
}
