.card-content-check-box {
    .content-text {
        margin-top: 15px;
    }

  label {
    padding-left: 20px;
  }
}

div.card-content-flex-box {
  display: inline-flex;

  div.flex-label {
    padding: 0em 1em;
  }
}
