.card-content-check-box {
  .content-text {
    margin-top: 10px;
  }

  label {
    .required-field {
        position: inherit;
        margin-left: 5px;
    }
  }
}

.card-checkbox {
  .card-form-element {
    display: flex;

    input {
      margin-right: 5px;
    }

    .card-form-label {
      font-size: 14px;
      font-weight: normal;
    }
  }
}
