.card-content-check-box {
  .content-text {
    margin-top: 15px;
  }

  label input[type="checkbox"] {
    margin-right: .5em;
  }
  label {
    display: flex;
    .required-field {
        position: inherit;
        margin-left: 5px;
    }
  }
}
