.card-content-check-box {
  .content-text {
    margin-top: 10px;
  }

  label {
    .required-field {
        position: inherit;
        margin-left: 5px;
    }
  }
}

.card-checkbox {
  .card-form-element {
   margin:0;
  }

  .card-form-label {
    display: inline;
    font-size: 14px;
    font-weight: normal;
    margin-left: 5px;
  }
}
