.card-content-field-set {
  padding: 20px 30px;
  margin: 15px 0;
  background: $aperta-grey-xlight;

  p { margin: 0 0 1rem 0; }

  &.large-description-text-container {
    p.description {
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 24px;
    }
  }
}
