.card-content-paragraph-input {
  .form-control {
    min-height: 100px;
    }
    textarea {
      resize: vertical;
    }

    label,
    .card-form-label {
      margin-bottom: 10px;
      &.content-text {
        font-size: 16px;
        line-height: 20px;
      }
    }
}
