.card-content-paragraph-input {
  margin-top: 15px;

  .form-control {
    min-height: 100px;
  }

  textarea {
    resize: vertical;
  }

  legend {
    border: 0;
    font-size: inherit;
    margin-bottom: 10px;
  }
}
