.card-content-sendback-reason {
    .card-content-paragraph-input {
        margin-top: 0;
    }

    .card-content-field-set {
        padding: 0 15px 15px 15px;
        margin: 0;
        /* p { margin: 0 0 1rem 0; } */
    }

    .fa-pencil {
        cursor: pointer;
    }
}

.sendback-reason-row {
    display: flex;
    .card-content-check-box {
        margin-right: 5px;
    }
}
