// .attachment-thumbnail
//   .attachment-thumbnail-image
//   .attachment-thumbnail-edit-content
//   .attachment-thumbnail-text-content
//   .attachment-thumbnail-destroy-overlay


.attachment-thumbnail {
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  border: 1px solid #d7d7d7;
  padding: 10px;
}

.attachment-original-download-link {
  clear: left;
  float: left;
  display: block;
  width: 40%;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.attachment-thumbnail-destroy-icon {
  @include position(absolute, 0px 0px auto auto);
  padding: 14px 27px 0 0;
  color: #d4d4d4;
  font-size: 18px;
  cursor: pointer;

  &:hover { color: $tahi-green-dark; }
}


// start attachment-thumbnail-text-content

.attachment-thumbnail-text-content {
  position: relative;
  margin: 0 20px 40px 445px;
}

._edit .attachment-thumbnail-text-content {
  display: none;
}

.attachment-thumbnail-title {
  margin: 3px 0 1em 0;
  font-size: 21px;
  outline: none;
  word-wrap: break-word;
}

.attachment-thumbnail-caption {
  color: #666;
  font-size: 14px;
  font-style: italic;
  outline: none;
}

.attachment-edit-icon {
  position: absolute;
  top: 6px;
  left: -40px;
  margin-left: 10px;
  color: #d4d4d4;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    color: $tahi-green-dark;
  }
}

// end attachment-thumbnail-text-content


// start attachment-thumbnail-edit-content

.attachment-thumbnail-edit-content {
  // position and z-index to keep above delete icon
  position: relative;
  z-index: 1;

  display: none;
  margin: 0 0 0 445px;
  padding: 20px;
  background: #C4E8BF;

  input[type=text], textarea {
    width: 100%;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 4px;
    color: #555;
  }

  .field { margin-bottom: 15px; }
}

._edit .attachment-thumbnail-edit-content {
  display: block;
}

.attachment-thumbnail-edit-actions {
  text-align: right;
}

// end attachment-thumbnail-edit-content


// start attachment-thumbnail-destroy-overlay

.attachment-thumbnail-destroy-overlay {
  @include position(absolute, 0px 0px 0px 0px);
  display: none;
  padding: 20px 30px 0 30px;
  color: #fff;
  background-color: #29a904;
  z-index: 1; // higher index to ensure overlay stays above all other content

  p {
    margin: 0 0 15px 0;
    font-size: 21px;
    font-weight: bold;
  }
}

._destroy .attachment-thumbnail-destroy-overlay {
  display: block;
}

// end attachment-thumbnail-destroy-overlay


// start attachment-thumbnail-preview

.attachment-thumbnail-preview {
  position: relative;
  top: -5px;
  margin-bottom: 20px;
  border: 13px solid #000;
  padding: 13px;
  color: #fff;
  text-align: center;
  background: #fff;

  img { max-width: 100%; }

  &:before {
    content: ' ';
    position: absolute;
    top: -37px;
    left: 50%;
    @include triangle(24px, #000, up);
  }
}

.attachment-thumbnail-preview-close {
  @include position(absolute, 0px 0px auto auto);
  padding: 0 5px 18px 15px;
  color: #fff;
  font-size: 68px;
  font-weight: bold;
  line-height: 35px;
  background: #000;
  cursor: pointer;
}

// end attachment-thumbnail-preview


// start attachment-thumbnail-image

.attachment-thumbnail-image {
  position: relative;
  float: left;
  width: 40%;

  img { max-width: 100%; }

  &:hover {
    min-height: 50px;

    .attachment-thumbnail-edit-overlay { display: block; }
  }
}

.attachment-thumbnail-image-preview {
  margin: auto;
  cursor: pointer;
  display: block;
}

.view-attachment-detail {
  margin-right: 10px;

  .glyphicon { margin-right: 5px; }
}

.attachment-thumbnail-image-placeholder {
  min-height: 200px;
  text-align: center;
  background: #f6f6f6;

  &:hover { min-height: 200px; }

  .progress-text {
    margin-top: 100px;
  }

  .progress-spinner {
    &:after {
      left: 45%;
    }
  }
}

// end attachment-thumbnail-image


// start attachment-thumbnail-edit-overlay

.attachment-thumbnail-edit-overlay, .replace-spinner {
  @include position(absolute, 0px 0px 0px 0px);
  display: none;
  color: #fff;
  text-align: center;
}

.attachment-thumbnail-edit-overlay-buttons {
  @include position(absolute, 50% 0px 0px 0px);
  margin-top: -17px;
}

// end attachment-thumbnail-edit-overlay
