.paper-sidebar {
  overflow: auto;
  @include position(absolute, 0px 0px 0px 0px);
  padding: 15px 20px;
}


.paper-sidebar-doi {
  margin-bottom: 5px;
}

#sidebar-submit-paper {
  width: 100%;
  height: 45px;
  margin-top: 8px;
}

.paper-sidebar .task-disclosure-heading {
  height: 4rem;
  padding-top: 0.8rem;
  padding-bottom: 0.9rem;
  line-height: 4rem; // override default
  @include ellipsis;
  cursor: pointer;
}

.paper-sidebar--manuscript .task-disclosure-heading {
  @include position(absolute, 0px 0px auto 0px);
}

.paper-sidebar--versions .task-disclosure-heading {
  margin-bottom: 0.5rem;
}
