.asterisk-field {
  font-size: 18px;
  color: $aperta-green;
}

.title-and-abstract-header {
  font-size: 18px;

    &::after {
      content: '*';
      font-size: 18px;
      color: $aperta-green;
      font-weight: bold;
    }
}

.article-abstract-input {
  p {
    // important had to be as it was still
    // reflecting the .form-group style
    font-size: 14px !important;
  }
}
