.upload-preview-filename {
  color: $tahi-white;
  position: absolute;
  left: 12px;
  top: 10px;
}

.upload-preview-image-wrapper {
  overflow: hidden;
  width: 75px;
}

.upload-error-button {
  color: $tahi-green;
  font-size: 40px;
  line-height: 0.5;

  &:hover {
    color: $tahi-green-dark;
  }
}

.upload-error-text {
  display: block;
  margin-top: 35px;
  color: $tahi-error-red;
}
