.user-details {
  .user-affiliation {
    padding: 250px 0 0px 250px;
  }
}

.user-affiliation{
  margin: 20px 0;

  h1 {
    margin: 5px 0;
    color: #999;
    font-size: 14px;
  }

  h2 { @include ellipsis; }

  .did-you-mean {
    margin-bottom: 15px;
  }

  .select2-container {
    width: 100%;
    margin-bottom: 10px;
  }

  .action-icons {
    margin-left: .25em;
    &>span {
      margin: 0 .12em;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .affiliation-existing {
    position: relative;
    margin: 5px 0 20px 0;
    font-size: 18px;
  }

  .affiliations-form {
    width: 290px;
    margin: 40px 0;
    border-radius: 6px;
    padding: 20px;
    background: #f5f5f5;

    input {
      margin-bottom: 15px;
    }

    .affiliation-field-institution {
      input { margin: 0 0; }
    }
  }
}
