{{#if model.doi}}
  <div class="task-list-doi"><strong>DOI:</strong> {{model.doi}}</div>
{{/if}}

{{#if assignedTasks}}
  <div id="paper-assigned-tasks">
    {{#each sortedAssignedTasks as |task|}}
      {{card-preview paper=paper
                     task=task
                     commentLooks=commentLooks
                     action="viewCard"}}
    {{/each}}
  </div>
  <hr>
{{/if}}

{{#if editorTasks}}
  <div id="paper-editor-tasks">
    {{#each sortedEditorTasks as |task|}}
      {{card-preview paper=paper
                     task=task
                     commentLooks=commentLooks
                     action="viewCard"}}
    {{/each}}
  </div>
  <hr>
{{/if}}

{{#if authorTasks}}
  <div id="paper-metadata-tasks">
    {{#each sortedAuthorTasks as |task|}}
      {{card-preview paper=paper
                     task=task
                     commentLooks=commentLooks
                     action="viewCard"}}
    {{/each}}
  </div>
  <hr>
{{/if}}
