.assign_team_select2_container {
  display: inline-block !important;
  padding-left: 50px;
}

.assign_team_select2_container_first {
  padding-right: 0;
  padding-left: 0;
}

.assign-team-role-user-selection .auto-suggest-border {
  width: 400px;
  display: inline-block;
}

.assign-user-button {
  margin-left: 20px;
}

.assign-team-content {
  .assignee-thumbnail {
    width: 37px;
    height: 37px;
  }
  padding: 0;
}
