<% if content.present? %>
  <div>
    <p> <%= (content.text || content.label).try(:html_safe) %></p>
    <div class="answer">
      <%= owner.answers.where(card_content: content).first.try(:value).try(:html_safe) %>
    </div>
    <% if content.children.present? %>
      <div style="margin-left: 1em;">
        <%= render partial: 'export/content', collection: content.children, locals: {owner: owner} %>
      </div>
    <% end %>
  </div>
<% end %>
