<% if content.present? %>
  <div class="card-form-text">
    <%= content.text.try(:html_safe) %>
  </div>

  <% if content.content_type %>
    <%= render partial: "export/content_" + content.content_type.underscore, object: content,
               locals: { answer: content.answer_for_owner(@owner) }
    %>
  <% else %>
    <%= render partial: "export/answer", object: content.answer_for_owner(@owner) %>
  <% end %>
<% end %>
