<!DOCTYPE html>
<html>
  <head>
    <title><%= @topic.title %></title>
  </head>
  <body>
    <h1><%= @topic.title %></h1>
    <%= render partial: "export/reply", collection: @topic.discussion_replies %>
  </body>
</html>
