<!DOCTYPE html>
<html>
  <head>
    <style>
     .divider:nth-child(odd) {
       border-top: thick double;
       border-bottom: thick double;
       background-color: #e3e3e3;
     }
     .answer {
       color: green;
     }
     .depth-level-0 {
       margin-left: 10px;
     }
     .depth-level-1 {
       margin-left: 20px;
     }
     .depth-level-2 {
       margin-left: 30px;
     }
     .depth-level-3 {
       margin-left: 40px;
     }

    </style>
    <title></title>
  </head>
  <body>
    <%= render partial: "export/content", object: @content, locals: {owner: @owner} %>
    <% if @owner.try(:comments).try(:any?) %>
      <h2>Discussions</h2>
      <div>
        <%= render partial: "export/comment", collection: @owner.comments %>
      </div>
    <% end %>

    <% if @owner.try(:invitations).try(:any?) %>
        <h2>Invitations</h2>
        <table>
          <%= render partial: "export/invitation", collection: @owner.invitations %>
        </table>
    <% end %>
  </body>
</html>
