<div class="admin-section">
  <h1 class="admin-section-title admin-section-title-journals">Journals</h1>

  {{#if currentUser.siteAdmin}}
    <div class="add-new-journal button-primary button--blue button--disabled">Add new journal</div>
  {{/if}}

  <br class="clear"><br><br>

  {{progress-spinner visible=true
                     color="blue"
                     size="large"
                     align="middle"}}
</div>
