<div class="admin-section">
  {{#if currentUser.siteAdmin}}
    <div class="add-new-journal button-primary button--blue button--disabled">Add new journal</div>
  {{/if}}

  <br><br><br>

  {{progress-spinner visible=true color="blue" size="large"}}
</div>
