{{#if currentUser.siteAdmin}}
  <div class="button-primary button--blue button--disabled pull-right">Add new journal</div>
{{/if}}

<h2>Journals</h2>

<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>

{{progress-spinner visible=true color="blue" size="large"}}
