<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
  <ul class="nav bs-docs-sidenav">
    <li>
      <ul class="nav">
        <li>
          <a href="#form">Form</a>
        </li>
        <li>
          <a href="#card-preview">Card Preview</a>
        </li>
        <li>
          <a href="#phase-column">Phase Column</a>
        </li>
        <li>
          <a href="#user-role-selector">User Role Selector</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
