# global passenger
passenger_root /usr/lib/ruby/vendor_ruby/phusion_passenger/locations.ini;
passenger_ruby /usr/bin/ruby;
passenger_max_pool_size 10;

# redirect to https version of site
server {
  listen 80;
  rewrite ^(.*) https://$host$1 permanent;
}

server {
  listen 443 default;
  server_name _; # catch all

  # ssl
  ssl on;
  ssl_certificate /etc/ssl/certs/{{ssl_cert_file}};
  ssl_certificate_key /etc/ssl/private/{{ssl_key_file}};
  ssl_session_timeout 5m;

  # passenger
  root /var/www/tahi/current/public;
  passenger_enabled on;
  rails_env production;

  # connections
  client_max_body_size 4G;
  keepalive_timeout 10;
}
