{{type-ahead value=newAffiliation.name sourceList=institutions placeholder="Affiliation Name"}}
<div class="form-group">
  <button class="secondary-button" {{action 'createAffiliation'}}>done</button>
</div>
