<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Publishing Information</title>
    <style>
      <%= publishing_info_presenter.css %>
    </style>
  </head>
  <body>
    <%= publishing_info_presenter.html.html_safe %>
  </body>
</html>
