<div class="snapshot-funder">
  <div>
    <span class="snapshot-question-label">Funder: </span>{{text-diff viewingText=viewingFunderLine comparisonText=comparisonFunderLine}}
  </div>
  <div>
    <span class="snapshot-question-label">Grant #: </span>{{text-diff viewingText=viewingGrantNumber comparisonText=comparisonGrantNumber}}
  </div>
  {{nested-snapshot snapshot1=viewingInfluence snapshot2=comparisonInfluence}}
</div>
