<li class="dashboard-paper-title">
  {{#link-to "paper.index" model.id
             class="link-tooltip"
             data-toggle="tooltip"
             title=model.roleList}}
    {{partial "svg/manuscript-icon"}}
    {{{model.displayTitle}}}
  {{/link-to}}

  {{#if unreadCommentsCount}}
    <span class="badge badge--red link-tooltip" title={{badgeTitle}}>
      {{unreadCommentsCount}}
    </span>
  {{/if}}
</li>
