{{partial "task-completed-section"}}

<div class="task-main-content">
  {{invitation-manager task=task
                       replaceTargetName="REVIEWER NAME"
                       groupByDecision=true
                       endpoint="reviewers"
                       placeholder="Invite reviewer by name or email"}}
</div>
