.edit-cover-letter {
  ul {
    padding-left: 1.75rem;
  }

  .cover-letter-field {
    overflow: auto;
    height: 250px;
    margin-bottom: 15px;
    border: 1px solid #b1b1b1;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 15px;

    &:focus {
      border: 1px solid rgb(118, 179, 229);
    }
  }
}

.cover-letter {
  margin: 15px;
}
