.edit-cover-letter {
  .taller-textarea {
    width: 687px;
    height: 265px;
    margin-bottom: 15px;
    display: block;
    border: 1px solid #878787;
    border-radius: 4px;
    font-size: 15px;
    overflow: scroll;
  }

  .taller-textarea:focus {
    border: 1px solid rgb(118, 179, 229);
  }

  h5 {
    line-height: 20px;
    margin: 30px 0;
  }
}

.cover-letter {
  margin: 15px;

  p {
    margin: 10px 0;
  }
}
