.edit-cover-letter {
  .taller-textarea {
    overflow: scroll;
    display: block;
    height: 250px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 15px;
  }

  .taller-textarea:focus {
    border: 1px solid rgb(118, 179, 229);
  }

  h5 {
    line-height: 20px;
    margin: 30px 0;
  }
}

.cover-letter {
  margin-top: 15px;

  p {
    margin: 10px 0;
  }
}
