.edit-cover-letter {
  .taller-textarea {
    height: 265px;
    padding-top: 25px;
    margin-bottom: 15px;
    display: block;
  }
}

.cover-letter {
  margin-top: 15px;

  p {
    margin: 10px 0;
  }
}
