.remove-funder {
  float: right;
  margin: 13px 5px 10px 0px;
  cursor: pointer;

  &:before {
    font-size: 1.2em;
  }
}

.block-title {
  display: inline-block;
  margin-bottom: 22px;
}

p.question-text {
  font-size: 1.2em;
  margin-left: 0;
}
