.invite-reviewer-edit-invite {
  width: 700px;

  .taller-textarea {
    overflow: auto;
    white-space: pre-line;
    height: 265px;
    margin: 20px 0;
  }

  .invite-reviewer-cta {
    float: right;
  }
}

.invite-reviewer-button,
.compose-invite-button {
  margin-left: 20px;
}

.invite-reviewer-text {
  position: relative;
  padding: 0 45px 0 1rem;
  font-size: 18px;

  .invitee-thumbnail {
    width: 37px;
    height: 37px;
  }
  padding: 0;
}
