.invite-editor-edit-invite {
  width: 700px;

  .taller-textarea {
    overflow: auto;
    white-space: pre-line;
    height: 265px;
    margin: 20px 0;
  }

  .invite-editor-cta {
    float: right;
    margin-bottom: 10px;
  }
}
