.invite-reviewer-edit-invite {
  width: 700px;

  .taller-textarea {
    overflow: auto;
    white-space: pre-line;
    height: 265px;
    margin: 20px 0;
  }

  .invite-reviewer-cta {
    float: right;
  }
}

.invite-reviewer-button,
.compose-invite-button {
  @extend .invite-editor-button;
}

.invite-reviewer-text {
  @extend .invite-editor-text;
  .invitee-thumbnail {
    width: 37px;
    height: 37px;
  }
  padding: 0;
}
