$invite-padding-vertical: 1rem;
$invite-padding-horizontal: 2rem;
$invite-padding: $invite-padding-vertical $invite-padding-horizontal;

.compose-invite-button {
  margin-left: 20px;
}

.pending-invitation {
  .invitation-metadata {
    font-size: 14px;
    font-weight: bold;
    .date {
      font-weight: normal;
    }
  }

  h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  p, h3 {
    margin-bottom: 20px;
  }
}

.standard-invite-text .fileinput-button {
  float: left;
}

.invitation-show-body,
.invitation-edit-body {
  overflow: auto;
  max-height: 300px;
  border: 1px solid #bababa;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  white-space: pre-wrap;
}

.invitation-show-body {
  color: #666;
  // override default in _content-editable.scss
  background: rgba(255,255,255, 0.6);
}

.invitees, .assignments {
  width: $message-body-width;
  margin-top: 36px;

  .invitation-updated-at,
  .assignment-updated-at {
    font-size: 14px;
    text-transform: capitalize;
  }

  .revision-human-number {
    border-bottom: 1px solid $tahi-grey-light;
    td {
      padding-top: 45px;
      padding-bottom: 5px;
    }
  }
  .expired-invitations {
    &::before {
      content: '';
      display: block;
      height: 25px;
    }
  }
  .invitation, .assignment {
    &::after {
      content: '';
      display: block;
      height: 46px;
    }

    .invite-remove, .assignment-remove {
      position: inherit;
      top: 4px;
      right: 0;
      color: #d5d5d5;
      font-size: 18px;
      cursor: pointer;
    }
  }
}

.invitation-email-entry {
  padding: $invite-padding;
  display: flex;
  background: $tahi-grey-light;
}

.invitation-compose-button {
  margin-left: 20px;
}

.invitation-item {
  border-bottom: 1px solid $tahi-grey-light;

  &:last-child {
    margin-bottom: 1px;
    border-bottom: none;
  }
}

.invitation-item--closed {
  &:hover {
    background: $tahi-grey-xlight;
  }

  .invitation-item-action-text { display: none; }
}

.invitation-item--show {
  .invitation-item-header,
  .invitation-item-details {
    background-color: $tahi-grey-light;
  }
}

.invitation-item--edit {
  .invitation-item-header,
  .invitation-item-details {
    background-color: $tahi-grey-light;
  }
}

.invitation-item--delete {
  box-shadow: 0px 0px 15px rgba(0,0,0, 0.1);
}

.invitation-decline-info {
  padding: 0 $invite-padding-horizontal 1rem $invite-padding-horizontal;
  color: #555;
  font-size: 1.2rem;
}

.invitation-item-header {
  width: 100%;
  font-size: 1.4rem;
}

.invitation-item-header > * {
  padding: $invite-padding-vertical 0;
}

.invitation-item-full-name {
  width: 30%;
  flex-grow: 0;
  padding-left: $invite-padding-horizontal;
  cursor: pointer;
}

.invitation-state--accepted .invitation-item-full-name {
  font-weight: bold;
}

.invitation-item-updated-at {
  flex-grow: 2;
  padding-left: $invite-padding-horizontal;
  cursor: pointer;
}

.invitation-state--accepted .invitation-item-updated-at {
  font-weight: bold;
}

.invitation-item-actions {
  padding: 0 $invite-padding-horizontal 0 0;
  text-align: right;
}

.invitation-item-action {
  display: inline-block;
  margin-left: 2rem;
  padding: $invite-padding-vertical 0;
  color: $tahi-grey;
  cursor: pointer;

  .fa { font-size: 1.7rem; }
}

.invitation-item-details {
  padding: 0 2rem 2rem 2rem;
}

.invitation-item-state {
  margin-right: 0.25rem;
}

.invite-edit-buttons {
  padding-top: $invite-padding-vertical;
  .attachment-manager {
      margin-bottom: 0px;
  }

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.invitation-item-delete-confirmation {
  padding: $invite-padding;
}

.invite-edit-save-confirmation {
  margin-right: 30px;;
  color: $tahi-grey-dark;
  font-size: 1.4rem;
}
