.invite-reviewer-edit-invite {
  width: 700px;

  .taller-textarea {
    overflow: auto;
    white-space: pre-line;
    height: 265px;
    margin: 20px 0;
  }

  .invite-reviewer-cta {
    float: right;
  }
}

.invite-reviewer-button,
.compose-invite-button {
  @extend .invite-editor-button;
}

.invite-reviewer-text {
  @extend .invite-editor-text;
  .invitee-thumbnail {
    width: 37px;
    height: 37px;
  }
  padding: 0;
}

.invite-reviewer-remove {
  @extend .invite-editor-remove;
  position: inherit;
}

.invitees {
  width: $message-body-width;
  margin-top: 36px;
  .invitation-updated-at,
  .invitation-state {
    font-size: 14px;
    text-transform: capitalize;
  }
  .revision-human-number {
    border-bottom: 1px solid $tahi-grey-light;
    td {
      padding-top: 45px;
      padding-bottom: 5px;
    }
  }
  .expired-invitations {
    &::before {
      content: '';
      display: block;
      height: 25px;
    }
  }
  .invitation {
    &::after {
      content: '';
      display: block;
      height: 46px;
    }
  }
}
