.decision-selections {
  margin-bottom: 15px;
  .form-group {
    display: inline-block;
    &:first-child { margin-left: 10px; }
  }

  label {
    margin-right: 15px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    vertical-align: -4px;
  }
}

.register-decision-saving-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: rgba(255,255,255, 0.75);

  &.is-saving-data { display: block; }
}

.decision-letter-field {
  width: 100%;
  height: 25rem;
}
