.reviewer-recommendations-task {
  .author-task-item-view-text {
    .email,
    .author-name {
      width: 40%;
    }

    .decision { width: 20%; }
  }
}

.reviewer-canditates-wrapper {
  .button-primary.button--green {
    margin-bottom: 10px;
  }

  .control-buttons {
    padding-bottom: 20px;
  }

  .reviewer-recommendation-decision {
    text-transform: capitalize;
  }
}
