.revise-overlay-response-field {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
}

.revise-task .error-message {
  margin-bottom: 1rem;
  margin-left: 0; //override default
}

.revise-save-button {
  margin-bottom: 1rem;
}
