<label class="question-checkbox">
  {{check-box name=ident checked=checked disabled=disabled}}
  {{#if shouldDisplayQuestionText}}
    <p class="{{textClassNames}}">{{{questionText}}}</p>
  {{/if}}
</label>

{{#if template}}
  <div class="additional-data">{{yield checked}}</div>
{{/if}}
