<div class="template">
  {{!-- verify that we are comfortable with triple --}}
  <div>
    to: {{{to}}}
  </div>
  <br>
  {{!-- verify that we are comfortable with triple --}}
  <div>
    subject: {{{subject}}}
  </div>
  <br>
  {{!-- verify that we are comfortable with triple --}}
  <div>
    body: {{{body}}}
  </div>
</div>
