<div class="snapshot-question-attachment">
  <div>
    <span class="snapshot-question-label">File: </span>
    <a href="{{url}}">{{url}}</a>
  </div>
  {{#if title}}
    <div>
      <span class="snapshot-question-label">Title: </span>{{title}}
    </div>
  {{/if}}

  {{#if caption}}
    <div>
      <span class="snapshot-question-label">Caption: </span>{{caption}}
    </div>
  {{/if}}
</div>
