{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

{{#if paper.versionsContainPdf}}
  <p class="versioning-bar-pdf-message">
    {{fa-icon icon="info-circle"}}
    Visualized differences between document versions are only available when comparing two Word files. Differences between version metadata can always be viewed in the task cards below.
  </p>
{{/if}}

<div class="versioning-bar-content">
  {{fa-icon icon="files-o"}}

  <label class="bar-item paper-viewing-version">
    Now viewing:
    {{#power-select options=paper.versionedTexts
                    selected=viewingVersion
                    onchange=(action "setViewingVersion")
                    searchEnabled=false
                    triggerClass="aperta-select"
                    as |version|}}
      {{version.versionString}}
    {{/power-select}}
  </label>

  <label class="bar-item paper-comparison-version">
    Compare with:
    {{#power-select options=paper.versionedTexts
                    selected=comparisonVersion
                    placeholder="-"
                    onchange=(action "setComparisonVersion")
                    searchEnabled=false
                    triggerClass="aperta-select"
                    as |version|}}
      {{version.versionString}}
    {{/power-select}}
  </label>
</div>

{{#link-to "paper.index" paper class="versioning-bar-close"}}
  &times;
{{/link-to}}
