<div class="bar-item">
  {{fa-icon icon="files-o"}}
</div>

<label class="bar-item">
  Now viewing:
  {{select-native name="view_version"
                  content=paper.versionedTexts
                  optionValuePath="id"
                  optionLabelPath="versionString"
                  selection=viewingVersion
                  action=(action "setViewingVersion")}}
</label>

<label class="bar-item">
  Compare With:
  {{select-native name="compare_version"
                  prompt="-"
                  content=paper.versionedTexts
                  optionValuePath="id"
                  optionLabelPath="versionString"
                  selection=comparisonVersion
                  action=(action "setComparisonVersion")}}
</label>
