<div class="versioning-bar-content">
  <div class="versioning-bar-content-header">
    {{#link-to "paper.index" paper class="close"}}
      &times;
    {{/link-to}}
  </div>
  <div class="versioning-bar-content-body">
    <div class="row">
      <div class="col col-md-6 paper-viewing-version">
        <label class="bar-item ">
          {{fa-icon icon="files-o"}}
          Now viewing:
        </label>
        {{#power-select options=paper.versionedTexts
                        selected=viewingVersion
                        onchange=(action "setViewingVersion")
                        searchEnabled=false
                        triggerClass="aperta-select"
                        as |version|}}
          {{version.versionString}}
        {{/power-select}}
      </div>
      <div class="col col-md-6 paper-comparison-version">
        <label class="bar-item">
          Compare with:
        </label>
        {{#power-select options=paper.versionedTexts
                        selected=comparisonVersion
                        placeholder="-"
                        onchange=(action "setComparisonVersion")
                        searchEnabled=false
                        triggerClass="aperta-select"
                        as |version|}}
          {{version.versionString}}
        {{/power-select}}
      </div>
    </div>
  </div>
</div>

