<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <script type="text/javascript" async
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=MML_HTMLorMML-full">
    </script>
    <style>
      <%= yield :styles %>
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
