<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
  <ul class="nav bs-docs-sidenav">
    <li>
      <ul class="nav">
        <li>
          <a href="#auto-suggest">Auto Suggest</a>
        </li>
        <li>
          <a href="#select-box">Select Box</a>
        </li>
        <li>
          <a href="#replace-image">Replace Image</a>
        </li>
        <li>
          <a href="#upload-progress-bar">Upload Progress Bar</a>
        </li>
        <li>
          <a href="#select-2-single">Select2 Single</a>
        </li>
        <li>
          <a href="#select-2-multiple">Select2 Multiple</a>
        </li>
        <li>
          <a href="#checkbox">Checkbox</a>
        </li>
        <li>
          <a href="#file-uploader">File Uploader</a>
        </li>
        <li>
          <a href="#content-editable">Editable Content</a>
        </li>
        <li>
          <a href="#format-input">Format Input</a>
        </li>
        <li>
          <a href="#inline-body-edit">Inline Body Edit</a>
        </li>
        <li>
          <a href="#participant-selector">Participant Selector</a>
        </li>
        <li>
          <a href="#relative-time">Relative Time</a>
        </li>
        <li>
          <a href="#user-thumbnail">User Thumbnail</a>
        </li>

        <li>
          <a href="#datepicker">Date Picker</a>
          <ul>
            <li>
              <a href="#datepicker-single">Single</a>
            </li>
            <li>
              <a href="#date-picker-group">Group</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#comment-form">Discussion Board Form</a>
        </li>
        <li>
          <a href="#card-comment">Card Comment</a>
        </li>
        <li>
          <a href="#inline-edit-h1">H1 Inline Edit</a>
        </li>
        <li>
          <a href="#direct-download-link">Direct Download Link</a>
        </li>
        <li>
          <a href="#segmented-buttons">Segmented Buttons</a>
        </li>
        <li>
          <a href="#reveal-adhoc-toolbar-buttons">Ad Hoc Button Revealer</a>
        </li>
        <li>
          <a href="#dashboard-link">Dashboard Link</a>
        </li>
        <li>
          <a href="#question-components">Question Components</a>
        </li>
        <li>
          <a href="#did-you-mean">Did you mean?</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
