<!DOCTYPE html>
<html>
<head>
  <title>ChangesForAuthor</title>
  <%= stylesheet_link_tag    "changes_for_author/application", media: "all" %>
  <%= javascript_include_tag "changes_for_author/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
