{{#if preview}}
  <div>
    This switch appears only in the card preview;
    it toggles between the <b>then</b> and the <b>else</b> portions of this <b>if</b> section.
  </div>
  {{card-content/toggle-switch
    size="small"
    answer=(hash value=previewState)
    valueChanged=(toggle "previewState" this)
  }}
{{/if}}

{{#if condition}}
  {{card-content
  content=content.children.firstObject
  owner=owner
  disabled=disabled
  }}
{{else}}
  {{card-content
  content=content.children.lastObject
  owner=owner
  disabled=disabled
  }}
{{/if}}
