{{#if preview}}
  <div class="if-preview">
    This switch appears only in the card preview for an <b>IF</b> component.<br/>
    Switch it <i>right</i> to preview the <b>THEN</b> section; <i>left</i> to preview the <b>ELSE</b> section.
  </div>
  {{card-content/toggle-switch
    size="small"
    content=(hash)
    answer=(hash value=previewState)
    valueChanged=(toggle "previewState" this)
  }}
{{/if}}

{{#if condition}}
  {{card-content
  content=content.children.firstObject
  owner=owner
  disabled=disabled
  }}
{{else if bivalent}}
  {{card-content
  content=content.children.lastObject
  owner=owner
  disabled=disabled
  }}
{{/if}}
