{{#if preview}}
  <span>Use this to toggle the preview state for this 'if'</span>
  {{card-content/toggle-switch
    size="small"
    answer=(hash value=previewState)
    valueChanged=(toggle "previewState" this)
  }}
  <!-- 'toggle' is from ember-composable-helpers
       https://github.com/DockYard/ember-composable-helpers#toggle -->
{{/if}}

{{#if condition}}
  {{card-content
  content=content.children.firstObject
  owner=owner
  disabled=isNotEditable
  scenario=(hash isEditable=isEditable)}}
{{else}}
  {{card-content
  content=content.children.lastObject
  owner=owner
  disabled=isNotEditable
  scenario=(hash isEditable=isEditable)}}
{{/if}}
