<tr class="user-row">
  <td>{{username}}</td>
  <td>{{firstName}}</td>
  <td>{{lastName}}</td>
  <td>
    {{user-role-selector journalRoles=selectableJournalRoles
                         userJournalRoles=selectableUserJournalRoles
                         selected="assignRole"
                         removed="removeRole"}}
  </td>
</tr>
