.admin-workflow-thumbnail {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.admin-workflow-thumbnail-journal {
  font-size: 14px;
  text-transform: uppercase;
}

.admin-workflow-thumbnail-name {
  margin: 0;
  flex: 1;
}

.admin-workflow-thumbnail-icon {
  float: right;
  color: $aperta-grey-light;
  &:hover {
    color: $aperta-white;
  }
}

.admin-workflow-thumbnail-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 15px 10px;
  line-height: 1.2;
  background-color: $aperta-blue-dark;
  z-index: z('overlay-verification');
  cursor: auto;
}

.admin-workflow-thumbnail-outer {
  padding: 15px;
}
