@import 'text-view.scss';
@import 'tabbed-textarea.scss';
@import 'toggle-switch.scss';
@import 'tech-check.scss';
@import 'sendback-reason.scss';

// These are base rules for all card content types
.card-content {
    .question-text, .content-text {
        font-size: 16px;
        line-height: 20px;
    }
}

.card-form-text {
  margin-top: 10px;
}
