<label class="question-checkbox">
  {{check-box name=ident checked=checked disabled=disabled}}
  <p class="model-question">{{model.question}}</p>
</label>

{{#if template}}
  <div class="additional-data">{{yield checked}}</div>
{{/if}}
