<label class="question-checkbox">
  {{check-box name=ident checked=checked disabled=disabled}}
  {{#if model.question}}
    <p class="model-question">{{model.question}}</p>
  {{/if}}
  {{#if displayQuestion}}
    <p class="model-question">{{{displayQuestion}}}</p>
  {{/if}}
</label>

{{#if template}}
  <div class="additional-data">{{yield checked}}</div>
{{/if}}
