<label class="question-checkbox">{{check-box name=ident checked=checked}}
  <p class="model-question">{{model.question}}</p>
</label>
{{#if template}}
  <div class="additional-data {{if displayContent "" "hidden"}}">{{yield}}</div>
{{/if}}
