<label class="option">
  {{radio-button
    selection=answer.value
    value=yesValue
    disabled=disabled
    action=(action "valueChanged")}}
  <span class="card-content-radio-label">{{{yesLabel}}}</span>
</label>
<label class="option">
  {{radio-button
    selection=answer.value
    value=noValue
    disabled=disabled
    action=(action "valueChanged")}}
  <span class="card-content-radio-label">{{{noLabel}}}</span>
</label>