{{#if shouldDisplayQuestionText}}
  <div class="question-text">{{{model.text}}}</div>
{{/if}}

{{#if helpText}}
  <ul class="question-help">{{{helpText}}}</ul>
{{/if}}
{{textarea name=ident value=model.answer.value class=textAreaClassNames placeholder=placeholder disabled=disabled}}
