<div class="overlay overlay--card overlay--visible overlay--loading animation-fade-in">
  <div class="overlay-container">
    {{progress-spinner visible=true
                       size="large"
                       center=true}}
  </div>
</div>
