<div class="overlay-x overlay-x--card overlay-x--loading animation-fade-in">
  <div class="overlay-x-container">
    {{progress-spinner visible=true
                       size="large"
                       center=true}}
  </div>
</div>
