.attachment-manager {
  margin-bottom: 10px;

  .attachment-item {
    margin-bottom: 10px;
    min-height: 30px;
  }

  p.description {
    font-style: italic;
  }

  .file-action {
    color: $tahi-grey-dark;
    margin-left: 10px;
    cursor: pointer;
  }

  .file-link {
    font-size: 18px;
  }

  .progress {
    margin: 0px;
  }

  .s3-file-uploader {
    display: none;
  }

  input.form-control {
    margin-top: 10px;
  }

  .processing-attachment {
    height: 30px;
    line-height: 30px;
    color: $tahi-grey-dark;
    font-size: 18px;

    .progress-spinner {
      float: left;
      margin-right: 15px;
    }
  }

}
