.attachment-thumbnail {
  margin-bottom: 20px;

  .outline {
    @include clearfix;
    position: relative;
    border: 1px solid #d7d7d7;
    padding: 20px;
    background-color: $tahi-grey-xlight;

    &.tall {
      padding: 55px 20px;
    }

    .left-column {
      float: left;
      margin: 0;
      border-radius: 0;
      padding: 0;
      width: 40%;

      .download-link {
        text-align: center;
      }

      .thumbnail-preview {
        display: block;
        position: relative;
        width: 100%;

        .file-thumbnail {
          display: block;
          margin: auto;
          width: 60px;
          color: $tahi-green;
        }

        .image-thumbnail {
          display: block;
          margin: auto;
          max-width: 100%;
        }

        .image-hover-buttons {
          display: none;
          position: absolute;
          top: 40%;
          left: 0;
          width: 100%;
          text-align: center;

          input {
            width: 100%;
            height: 100%;
          }
        }

        &:hover .image-hover-buttons {
          display: block;
        }

        .progress-spinner {
          display: block;
          margin: auto;
        }

        .progress-text {
          margin-top: 100px;
          text-align: center
        }
      }
    }

    .right-column {
      position: relative;
      float: left;
      padding-left: 20px;
      width: 60%;

      .info {
        .title {
          word-wrap: break-word;
          margin: 8px 0 1em 0;
          outline: none;
          font-size: 21px;
        }

        .caption {
          margin-bottom: 15px;
        }

        .striking {
          margin-bottom: 15px;
          span {
            color: $tahi-green;
          }
        }
      }

      .edit-info {
        position: relative;
        left: -5px;
        padding-right: 55px;
        width: 100%;
        height: 100%;

        input[type=text], textarea {
          border-radius: 3px;
          display: block;
          border: 1px solid #999;
          padding: 4px;
          width: 100%;
          color: #555;
        }

        .title {
          margin-top: 0;
        }

        .field {
          margin-bottom: 15px;
        }

        .striking {
          float: left;
        }

        .actions {
          float: right;
        }
      }
    }

    .edit-icons {
      position: absolute;
      top: 20px;
      right: 20px;
      color: #d4d4d4;
      font-size: 18px;

      .fa {
        &:hover { color: $tahi-green-dark; }
        cursor: pointer;
        padding-left: 10px;
      }
    }

    .delete-confirmation {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: $tahi-green;
      padding-top: 50px;
      width: 100%;
      height: 100%;
      text-align: center;
      color: #fff;
    }
  }

  .big-preview {
    position: relative;
    top: -5px;
    margin-bottom: 20px;
    border: 13px solid #000;
    background: #fff;
    padding: 13px;
    text-align: center;
    color: #fff;

    img { max-width: 100%; }

    &:before {
      @include triangle(24px, #000, up);
      position: absolute;
      top: -25px;
      left: 20%;
      content: ' ';
    }

    .close {
      @include position(absolute, 0px 0px auto auto);
      background: #000;
      cursor: pointer;
      padding: 0 5px 18px 15px;
      line-height: 35px;
      color: #fff;
      font-size: 68px;
      font-weight: bold;
    }
  }
}
