.attachment-file-link {
  padding-bottom: 10px;
  font-size: 18px;
}

.decision-attachment-manager {
  .fileinput-button {
    margin-top: 8px;
  }

  .file-action {
    color: $aperta-grey-dark;
    margin-left: 10px;
    cursor: pointer;
  }
}
