.autosave {
  position: absolute;
  top: 0;
  right: -10px;

  .autosave-spinner {
    position: absolute;
    top: 0;
    left: 0;
  }

  .progress-spinner:after {
    height: 20px;
    width: 20px;
  }
}

.autosave-spinner {
  opacity: 0;
}

.autosave-message {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  opacity: 0;

  p {
    color: $tahi-blue;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    transform: translateY(-10%);
  }

  i.fa-check-circle {
    margin-top: -3px;
    font-size: 1.6em;

    &:before { color: $tahi-blue; }
  }
}
