.auto-complete {
  list-style-type: none;
  border-bottom: 1px solid #BFBFBF;
  z-index: z('auto-complete');
}

.auto-complete-item {
  overflow: hidden;
  border-right: 1px solid #BFBFBF;
  border-left: 1px solid #BFBFBF;
  padding: 0 25px;
  color: #000;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
  background: rgba(255,255,255, 0.96);
}

.auto-complete-item:hover {
  background: rgba(230, 230, 230, 0.95);
}

.auto-complete-item--highlight,
.auto-complete-item--highlight:hover {
  border-right-color: rgb(38, 131, 226);
  border-left-color: rgb(38, 131, 226);
  color: #fff;
  background: rgba(38, 131, 226, 0.95);
}
