// Description goes here
//
// .card--completed - Use if Task is completed
//
// Styleguide UI.Card

.card {
  position: relative;
  display: block;
  margin-bottom: 8px;
}

.card:focus,
.card:hover {
  .card-remove { opacity: 1; }

  .card-content {
    color: #fff;
    text-decoration: none;
    background-color: $tahi-green;
  }
}

.card-completed-icon {
  @extend .fa, .fa-check;
  display: inline;
  margin-right: 5px;
  color: $tahi-green;
}

.card-remove {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  @extend .fa, .fa-times-circle-o;
  opacity: 0;
}

.card-content {
  display: block;
  position: relative;
  border-radius: 5px;
  padding: 10px 12px;
  color: $tahi-green-dark;
  font-size: 18px;
  background-color: $tahi-green-light;
  cursor: pointer;

  .badge {
    position: absolute;
    top: -5px;
    left: -5px;
    padding: 1px 5px;
  }
  .card-title {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .card-completed-icon {
    color: $tahi-green;
    margin-right: 7px;
    margin-top: 5px;
    display: none;
    float: left;
  }
  .card-diff-icon {
    color: $tahi-green;
    margin-right: 7px;
    margin-top: 3px;
    float: left;
  }
}

// .card modifier:
.card--completed {
  .card-content {
    color: $tahi-grey-light - #666;
    background: $tahi-grey-light;
  }

  .card-completed-icon {
    display: block;
    color: $tahi-green;
  }
}

.card--completed:hover .card-content,
.card--completed:focus .card-content {
  color: #fff;
  background: $tahi-grey-light - #333;

  .fa { color: #fff; }
}

// .card modifier:
.card--dragging {
  @include transform(rotate(2deg) scale(1.05));
  box-shadow: 0 2px 2px rgba(0,0,0, 0.1);
}
