// Description goes here
//
// .card--completed - Use if Task is completed
//
// Styleguide UI.Card


.card {
  position: relative;
  display: block;
  margin-bottom: 8px;

  .tooltip { position: fixed; }
}


.card:focus,
.card:hover {
  .card-remove { display: inline; }

  .card-content {
    color: #fff;
    text-decoration: none;
    background-color: $tahi-green;
  }
}


.card-completed-icon {
  @extend .glyphicon, .glyphicon-ok, .completed-glyph;
  position: absolute;
  top: 15px;
  left: 15px;
  display: none;
  color: $tahi-green;
}


.card-remove {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  @extend .glyphicon, .glyphicon-remove-circle;
}


.card-content {
  position: relative;
  border-radius: 5px;
  padding: 10px 15px;
  color: $tahi-green-dark;
  font-size: 20px;
  word-wrap: break-word;
  background-color: $tahi-green-light;
  cursor: pointer;

  .badge {
    position: absolute;
    top: -5px;
    left: -5px;
    padding: 1px 5px;
    background: #d00;
  }
}


// .card modifier:
.card--completed {
  .card-content {
    padding-left: 45px;
    color: $tahi-grey-light - #666;
    background: $tahi-grey-light;
  }

  .card-completed-icon {
    display: inline;
    margin-right: 5px;
    color: $tahi-green;
  }
}

.card--completed:hover .card-content,
.card--completed:focus .card-content {
  color: #fff;
  background: $tahi-grey-light - #333;

  .glyphicon { color: #fff; }
}
