// Description goes here
//
// .card--completed - Use if Task is completed
//
// Styleguide UI.Card

.card {
  position: relative;
  display: block;
  margin-bottom: 8px;
  @include user-select(none);
}

.card:focus,
.card:hover {
  .card-remove { display: inline; }

  .card-content {
    color: #fff;
    text-decoration: none;
    background-color: $tahi-green;
  }
}

.card-completed-icon {
  @extend .fa, .fa-check, .completed-glyph;
}

.card-remove {
  @extend .fa, .fa-times-circle-o;
}

.card-content {
  position: relative;
  border-radius: 5px;
  padding: 10px 15px;
  color: $tahi-green-dark;
  font-size: 18px;
  background-color: $tahi-green-light;
  cursor: pointer;

  .badge {
    position: absolute;
    top: -5px;
    left: -5px;
    padding: 1px 5px;
  }
  .card-title {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .card-completed-icon {
    color: $tahi-green;
    display: none;
    position: absolute;
    left: 15px;
    top: 15px;
  }
  .card-remove {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
  }

}

// .card modifier:
.card--completed {
  .card-content {
    padding-left: 37px;
    color: $tahi-grey-light - #666;
    background: $tahi-grey-light;
  }

  .card-completed-icon {
    display: inline;
    margin-right: 5px;
    color: $tahi-green;
  }
}

.card--completed:hover .card-content,
.card--completed:focus .card-content {
  color: #fff;
  background: $tahi-grey-light - #333;

  .fa { color: #fff; }
}

// .card modifier:
.card--dragging {
  @include transform(rotate(2deg) scale(1.05));
  box-shadow: 0 2px 2px rgba(0,0,0, 0.1);
}
