$comments-animation-speed: 0.3s;

.comment-board {
  margin-bottom: 10px;
}

/* start comment form */

.comment-board-form {
  overflow: hidden;
  position: relative;
  padding-bottom: 0;
  @include transition(all $comments-animation-speed);

  &.editing {
    padding-bottom: 45px;

    .message-comment-buttons {
      height: auto;
      bottom: 0;
      opacity: 1.0;
    }

    .new-comment-field {
      height: 100px;
    }
  }

  .user-thumbnail {
    float: left;
    margin: 0 7px 0 10px;
  }
}

.new-comment-field {
  width: 100%;
  height: 34px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 5px;
}

.message-comment-buttons {
  overflow: hidden;
  @include position(absolute, auto 0px 20px 0px);
  @include transition(all $comments-animation-speed);
  @include transition-delay(0.15s);
  height: 0;
  opacity: 0;

  .button-secondary, .button-link {
    float: right;
    margin-bottom: 1px;
    margin-left: 15px;
  }
}

/* end comment form */

.message-comments {
  list-style-type: none;
  margin-top: 30px;
  padding-left: 0px;

  .unread {
    background: #efedf7;
    @include linear-gradient(to right, rgba(239,237,247,0) 0%,rgba(239,237,247,0.5) 25%,rgba(239,237,247,1) 50%,rgba(239,237,247,0.5) 75%,rgba(239,237,247,0) 100%);
  }
}

.message-comment {
  position: relative;
  border-top: 1px solid #ddd;
  padding: 15px 0px;

  .badge {
    @include position(absolute, 5px auto auto -10px);
  }
}

.comment-date,
.comment-avatar {
  margin: 0 5px 0 0;
}

.comment-name {
  padding-left: 4px;
  font-weight: bold;
}

.comment-body {
  padding: 0 0 0 40px;
  line-height: 1.3;
}

.comment-actions {
  border-top: 1px solid #ddd;
  padding: 10px 0 0 10px;
}

.load-all-comments .fa { padding-right: 20px; }
