/*
  .control-bar
    .control-bar-inner-wrapper
      .control-bar-item
      .control-bar-item
      .control-bar-item
    .control-bar-sub-items
*/

.control-bar {
  @include position(fixed, $main-nav-height 0px auto 0px);
  width: 100%;
  height: $tahi-control-bar-height;
  border-bottom: 1px solid #ddd;
  background: rgba(255,255,255, 0.94);
  z-index: z('control-bar');
  @include transition(height 0.2s ease-in-out);

  &.control-bar--sub-items-active {
    @include transition(height 0.2s ease-in-out);
    height: 105px;
  }
}

.control-bar-inner-wrapper {
  position: relative;
  height: $tahi-control-bar-height;
  @include display(flex);
  @include align-content(center);
  @include justify-content(flex-end);
}

.control-bar-sub-items {
  overflow: hidden;
  height: 0;
  font-size: 12px;
  @include transition(height 0.2s);
}

.control-bar--sub-items-active .control-bar-sub-items {
  height: 45px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.05);
}

.control-bar-item-spacer {
  flex-grow: 1;
}

.control-bar-item {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.control-bar-item--first { padding-left:  25px; }
.control-bar-item--last  { padding-right: 25px; }

.control-bar-link {
  color: $tahi-green;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  background: none;
  @include user-select(none);

  .fa { font-size: 16px; }

  svg {
    display: block;
    margin: 0 auto;
  }

  svg polygon,
  svg path,
  svg rect { fill: $tahi-green; }

  &:focus, &:hover { text-decoration: none; }
}

.control-bar-link-icon {
  height: 22px;
}
