/*
  .control-bar
    .control-bar-inner-wrapper
      .control-bar-item
      .control-bar-item
      .control-bar-item
    .control-bar-sub-items
*/



// contributors section -------------------------
// child of .control-bar-sub-items

.contributors {
  display: none;
  padding-right: 25px;
  line-height: 30px;
  text-align: right;

  &.active {
    display: flex;
    align-items: center;
  }
}

.contributors-add {
  margin-right: 15px;
  color: $aperta-green;
  cursor: pointer;
}

.contributor {
  display: inline-block;
  margin: 3px 10px 3px 0;

  &:before {
    content: ' ';
    $circle-radius: 0.8em;
    display: inline-block;
    width: $circle-radius;
    height: $circle-radius;
    margin-right: 4px;
    border: 2px solid $aperta-green;
    border-radius: $circle-radius / 2;
    vertical-align: middle;
    background-color: $aperta-green-light;
  }
}


// manuscript-download-links section -------------
// child of .control-bar-sub-items

.manuscript-download-links {
  display: none;
  height: 100%;
  justify-content: flex-end;
  align-items: center;

  &.active { display: flex; }

  a {
    display: flex;
    align-items: center;
    margin-right: 25px;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;

    svg {
      position: relative;
      top: -1px;
      margin-left: 5px;
    }

    svg path { fill: $aperta-green; }
  }

  a:hover {
    color: $aperta-green-dark;
    text-decoration: none;

    svg path { fill: $aperta-green-dark; }
  }
}
