h2[contenteditable=true] {
  margin-top: 0;
  padding: 5px 0;
  // Bootstrap's default height is 33px and we add 4px for the above padding.
  // This is required for Firefox, without which the H2 height shrinks to 0
  // when empty.
  min-height: 37px;
}

label[contenteditable=true] {
  background-color: $tahi-white;
  padding: 5px;
}

div[contenteditable=true] {
  background-color: $tahi-white;
  white-space: pre-wrap;
}

.two-element-form {
  overflow: hidden;
  margin-bottom: 5px;

  label {
    float: left;
    width: 870px;
    margin: 3px;
  }

  input[type=checkbox] {
    margin-top: 10px;
  }
}

.content-editable-muted {
  color: #aaa;
}
