.decision-bar {
  position: relative;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid $tahi-grey-light;

  .decision-bar-bar {
    color: #333333;
    background-color: $tahi-grey-xlight;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;

    .decision-bar-verdict {
      margin: 0;
    }

    .decision-bar-revision-number {
      width: 30px;
      float: left;
      font-weight: bold;
    }

    .decision-bar-rescinded {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  .decision-bar-contents {
    border-top: 1px solid $tahi-grey-light;
    padding: 15px 15px 25px 15px;

    h4 {
      margin-bottom: 25px;
    }
  }
}
