.flash-message {
  position: relative;
  margin-bottom: 15px;
  padding: 12px 0;
  font-size: 14px;
  text-align: center;
}

.flash-message--success {
  border: 1px solid #d7f0d1;
  color: $tahi-green;
  background: #eafde7;
}

.flash-message--alert {
  border: 1px solid #e1e1e1;
  color: #928b71;
  background: #f2f2d5;
}

.flash-message--error {
  border: 1px solid #e6ddd3;
  color: #7a334e;
  background: $tahi-error-background-red;
}

.flash-message-content {
  position: relative;
  display: inline-block;
}

.flash-message-remove {
  @include position(absolute, -1.5rem -2.5rem auto auto);
  padding: 0 0.5rem;
  font-size: 24px;
  cursor: pointer;
  @include user-select(none);
}
