.format-input {
  border: 1px solid #d5d5d5;
  background: #fff;

  &.read-only {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
  }

  .format-input-field {
    min-height: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .format-input-button {
    width: 50px;
    color: #ddd;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    padding: 0 10px;
    float: right;


    &:last-of-type {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &.format-input--active .format-input-button {
    color: #666;
  }

  &.format-input--active .format-input-button--active {
    color: $tahi-green;
  }

  &.form-control.format-input--active {
    @extend .form-control:focus;
  }

  &.error {
    border: 1px solid $tahi-error-red;
    color: #555555;
  }
}

.form-textarea {
  border-radius: 5px;
  padding: 30px 10px 10px 10px;

  .format-input-button {
    margin-top: -20px;
  }

  .format-input-field {
    margin-top: 10px;
  }
}
