.overlay-content .comparing-toolbar {
  margin-top: -35px;
  margin-bottom: 20px;
}

.overlay-content .overlay-main-work {
  padding: 0 0 0 0;
}

.overlay-content .overlay-main-work > h1 {
  margin-bottom: 10px;
}

#paper-container .not-ve .html-diff, .diff {
  figure.added, figure.removed {
    padding: 15px;
  }

  span.added, span.removed {
    padding: 1px;
  }

  span.removed {
    text-decoration: line-through;
  }

  .added, .removed {
    td, th {
      border: 1px dotted #333;
    }
  }

  .added {
    background-color: rgba($tahi-green-light, .5);
    color: $tahi-green;
    th {
      background: darken($tahi-green-light, 5%);
    }
  }

  .removed {
    opacity: .8;
    background-color: rgba($tahi-red-light, .5);
    color: $tahi-red;
    th {
      background: darken($tahi-red-light, 5%);
    }
  }

  .unchanged {

  }

  .diff-child > .diff-child {
    padding-bottom: 20px;
  }

  .diff-child > .diff-child > .diff-child {
    padding-left: 20px;
  }

  .diff-child .property:first-of-type {
    font-size: 1.2em;
    color: #333;
  }

  label {
    display: none;
    font-size: 1.1em;
  }

  .diff-child h3 {
    display: none;
  }
  cite:after {
    font-style: normal;
    content: "[\2020]";
    padding: 3px;
  }
}
