.letter-template {
  min-height: 20px;
  padding: 30px 33px 68px 33px;
  margin-bottom: 20px;
  background-color: $tahi-grey-lighter;
  border: 1px solid #e3e3e3;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

  p {
    font-weight: 600;
    margin-top: -10px;
  }

  .letter-select2 {
    margin-bottom: 5px;
  }

  .form-control {
    border: 0px solid #FFFFFF;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 1px $tahi-grey-lighter;
    border-bottom-style: solid;
    border-radius: 0px;
    padding: 6px 5px;
    margin: 0px;
  }

  .input-group {
    .input-group-addon.email-header {
      background-color: #FFFFFF;
      border-width: 0px 0px 1px 0px;
      border-style: solid;
      border-color: $tahi-grey-lighter;
      border-radius: 0px;
      border-bottom: 1px $tahi-grey-lighter;
      border-bottom-style: solid;
      padding: 6px 5px 6px 12px;
      font-size: 14px;
      font-weight: normal;
      line-height: 1;
      color: #555555;
      text-align: center;
    }
  }

  .send-email-action {
    margin-top: 14px;
    float: right;
  }
}
