@mixin color-way($dark, $light) {
  border-top: 2px solid $dark;
  border-bottom: 2px solid $light;
  border-left: 2px solid $dark;
  border-right: 2px solid $light;
}

.loader-component-circle {
  @include size(100%, 100%);
  @include display(flex);
  @include box-align(center);
  @include justify-content(center);
  margin-top: 60px;

  &:after {
    @include animation(rotate 2s linear infinite);
    @include size(30px, 30px);
    border-radius: 100%;
    @include color-way($tahi-green-dark, $tahi-green-light);
    content: '';
    position: absolute;
  }
}

.large:after {
  @include size(50px, 50px);
}

.admin:after {
  @include color-way($tahi-blue-dark, $tahi-blue-light);
}

.white:after {
  @include color-way($tahi-grey-light, $tahi-white);
}
