.nested-question {
  position: relative;

  .fa-exclamation-triangle {
    position: absolute;
    color: #D0021B;
    bottom: 5px;
    right: 8px;
    cursor: help;
  }
}

.nested-question-display.required::after {
  content: '*';
  color: $tahi-green;
  font-size: 24px;
}

.answer-text br {
  line-height: 1.75em;
}
