.paper-sidebar {
  overflow: auto;
  @include position(absolute, 0px 0px 0px 0px);
  padding: 15px 20px;
}

.paper-sidebar-doi {
  margin-bottom: 10px;
}

#sidebar-submit-paper {
  width: 100%;
  height: 45px;
  margin-top: 8px;
}
