.paper-sidebar {
  overflow: auto;
  @include position(absolute, 0px 0px 0px 0px);
  padding: 15px 0;
}

.paper-sidebar-info {
  padding: 0 20px;
}

.paper-sidebar-doi {
  margin-bottom: 10px;
}

.paper-progress {
  position: relative;
  height: 22px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  line-height: 18px;
  text-align: center;

  span {
    position: relative;
    z-index: 1;
  }
}

.paper-progress-bar {
  @include position(absolute, -1px -1px -1px -1px);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: $tahi-green-light;
  @include transition(right 0.3s ease-in-out);
}

#sidebar-submit-paper {
  width: 100%;
  height: 45px;
  margin-top: 8px;
}
