#paper-container .sidebar {
  background: $tahi-white;
  padding-top: 8px;

  h5 {
    padding-top: 10px;
    color: $tahi-grey-dark;
  }

  .task-list-doi {
    margin-bottom: 10px;
  }

  .button-pre-submit-paper {
    margin-top: 8px;
    width: 100%;
    height: 45px;
  }

  .task-list {
    padding: 15px 30px 30px 30px;
  }
}
