.question-attachment {
  min-height: 110px;
  background: #fff;
}

.question-attachment-thumbnail-image {
  @include position(absolute, 10px auto auto 30px);
  width: 66px;
  height: 78px;
  padding: 10px;
  font-size: 50px;
}

.question-attachment-thumbnail-text-content {
  margin: 25px 20px 10px 120px;
}
