.rich-text-editor-container{
  &.error{
    .mce-tinymce{
      border-color: #CE0B24;
    }
    .error-message{
      margin-left: 0px;
    }
  }
}
.read-only .rich-text-editor {
  padding: 10px 5px;
  outline:1px solid $aperta-grey-light;
}
