.rich-text-editor-container{
  &.error{
    .mce-tinymce{
      border-color: $aperta-red;
    }
    .error-message{
      margin-left: 0px;
    }
  }
}
.read-only {
  .card-form-label {
    margin-top:10px;
  }
  .rich-text-editor {
   border:1px solid $aperta-grey-light;
   border-radius:4px;
   margin-bottom:10px; 
   padding: 4px;
  }
}
