.rich-text-editor-container{
  &.error{
    .mce-tinymce{
      border-color: $aperta-red;
    }
    .error-message{
      margin-left: 0px;
    }
  }
}

.read-only .rich-text-editor {
   border:1px solid $aperta-grey-light;
   border-radius:4px;
   padding: 4px;
}
