.scheduled-events {
  .scheduled-event {
    display: flex;
    color: #878787;

    > p:first-child {
      width: 50%;
    }

    p span {
      font-weight: bold;
    }
  }

  .event-active {
    color: black;
  }

  .event-errored {
    span {
      color: #ce0b24;
    }
  }
}
