.scheduled-events {
  .scheduled-event {
    display: flex;
    color: #878787;

    > p:first-child {
      width: 42rem;
      margin-right: 20px;
    }

    > p:nth-child(2) {
      width: 9rem;
      white-space: nowrap;
      font-weight: bold;
    }
  }

  .event-active {
    color: black;
  }

  .event-errored {
    span {
      color: #ce0b24;
    }
  }
}
