.ember-application { //for select2 specifity issues
  .participant-selector {
    .select2-search-field input {
      min-width: 200px;
      height: 25px;
      margin-left: 5px;
      margin-top: 0;
      border: 1px solid #ccc;
      border-radius: 3px;
      display: none;

      &.active {
        display: block;
      }
    }

    .select2-choices {
      border: none;
      background-image: none;
      overflow: visible;
      padding-right: 0;

      .select2-search-choice {
        border: none;
        padding: 0;
        margin-top: 0;
        border-radius: 0;
        box-shadow: none;
        background: transparent;
        background-image: none;

        &:first-child {
          border-bottom-color: $tahi-green;
        }

        .select2-search-choice-close {
          @include position(absolute, -6px auto auto 17px);
          @include size(14px 14px);
          display: none;
          border: 2px solid #fff;
          border-radius: 50%;
          color: #fff;
          font-size: 17px;
          text-align: center;
          line-height: 10px;
          box-shadow: 0 1px 2px rgba(0,0,0, 0.5);
          cursor: pointer;
          background: rgba(0,0,0, 0.7);
          z-index: 1;

          &:after {
            content: "\00d7";
          }

          &:hover {
            display: block;
          }
        }

        &:hover .select2-search-choice-close {
          display: block;
        }
      }
    }

    .cannot-clear a.select2-search-choice-close {
      display: none !important;
    }
  }

  .bodypart-overlay {
    .select2-choices,
    .select2-search-field {
      background: $tahi-green;

      input {
        margin: 0;
        background: white !important;
      }
    }
  }
}

.add-participant-button {
  @include size(25px 25px);
  border: 1px solid $tahi-green;
  border-radius: 3px;
  color: $tahi-green;
  background: $tahi-white;
  line-height: 20px;
  position: relative;
  display: inline-block;
  font-size: 32px;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
  @include user-select(none);

  &.searching {
    display: none;
  }

  &:hover {
    border: 1px solid #137300;
    background: rgba($tahi-green, 0.5);
    color: #137300;
  }
}

.participant-dropdown.select2-drop-multi.select2-drop-active {
  &.select2-drop-above {
    border: 1px solid #ccc;
    margin-top: -4px;
  }

  border: 1px solid #ccc;
  box-shadow: none;

  .select2-highlighted {
    background: $tahi-green;

    .suggestion-sub-value { color: rgba(255,255,255, 0.7); }
  }

  .suggestion-sub-value {
    margin-bottom: 3px;
    color: #666;
    font-size: 90%;
  }

  .select2-no-results, .select2-searching {
    background: $tahi-white;
  }
}

.participant-selector-label {
  font-size: 14px;
  margin-right: 5px;
}
