$sheet-toolbar-height: 60px;

.sheet {
  @include position(fixed, $main-nav-height -450px 0px auto);
  width: 450px;
  background: rgba(250,250,250, 0.94);
  z-index: z('sheet');

  .liquid-container {
    @include position(absolute, 0px 0px 0px 0px);
  }

  .liquid-child {
    @include position(absolute, 0px auto 0px 0px);
    width: 100%;
  }
}

.sheet--visible {
  @extend .sheet-animate-in;
  right: 0;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}


.sheet-close-x {
  @include position(absolute, -4px 0px auto auto);
  padding-right: 30px;
  color: $tahi-green;
  font-size: 42px;
  cursor: pointer;
  z-index: 1;
}

.sheet-toolbar {
  @include position(absolute, 0px 0px auto 0px);
  height: $sheet-toolbar-height;
}

.sheet-toolbar-button {
  display: inline-block;
  margin-left: 30px;
  color: $tahi-green;
  font-size: 14px;
  cursor: pointer;
  line-height: $sheet-toolbar-height;
}


.sheet-content {
  @include position(absolute, $sheet-toolbar-height 0px 0px 0px);
  overflow-y: auto;
}
