$sheet-toolbar-height: 60px;

/*
  .sheet
    .sheet-toolbar
    .sheet-header
    .sheet-content
*/

.sheet {
  @include position(fixed, 0px -450px 0px auto);
  width: 450px;
  background: rgba(250,250,250, 0.94);
  z-index: z('sheet');

  .liquid-container {
    @include position(absolute, 0px 0px 0px 0px);
  }

  .liquid-child {
    @include position(absolute, 0px auto 0px 0px);
    @include display(flex);
    @include flex-flow(column nowrap);
    width: 100%;
  }
}

.sheet--visible {
  @extend .sheet-animate-in;
  right: 0;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}


.sheet-close-x {
  @include position(absolute, -4px 0px auto auto);
  padding-right: 30px;
  color: $tahi-green;
  font-size: 42px;
  cursor: pointer;
  z-index: 1;
}

.sheet-toolbar {
  min-height: $sheet-toolbar-height;
}

.sheet-toolbar-button {
  display: inline-block;
  margin-left: 30px;
  color: $tahi-green;
  font-size: 14px;
  cursor: pointer;
  line-height: $sheet-toolbar-height;
}


.sheet-header {
  @include flex(0 0 auto);
}


.sheet-content {
  @include flex(0 1 100%);
  overflow-y: scroll;
}
