.split-pane {
  @include display(flex);
  background: #fff;
  height: 100%;
}

.split-pane-element {
  @include flex(0.5);
  position: relative;
  overflow-y: auto;
  overflow-x: hide;

  &:first-of-type {
    @include order(1);
  }

  &:last-of-type {
    @include order(3);
  }

  &::-webkit-scrollbar-thumb { background: transparent; }
  &:hover::-webkit-scrollbar-thumb { background: #ddd; }
}

.split-pane-drag-handle {
  position: relative;
  width: 1px;
  cursor: ew-resize;
  @include order(2);
  z-index: 2;

  &:after {
    content: '';
    @include position(absolute, 0px auto 0px 0px);
    width: 1px;
    background: #ddd;
  }

  &:hover:after {
    background: #bbb;
  }
}
