.split-pane {
  display: flex;
  background: #fff;
  height: 100%;
}

.split-pane-element {
  flex: 0.5;
  position: relative;
  overflow-y: auto;
  overflow-x: hide;

  &:first-of-type {
    order: 1;
  }

  &:last-of-type {
    order: 3;
  }

  &::-webkit-scrollbar-thumb { background: transparent; }
  &:hover::-webkit-scrollbar-thumb { background: #ddd; }
}

.split-pane-drag-handle {
  position: relative;
  width: 1px;
  cursor: ew-resize;
  order: 2;
  z-index: 2;
  background-color: #ddd;

  .box-handle {
    position: relative;
    display: block;
    z-index: 1;
    background-color: #ddd;
    width: 23px;
    height: 35px;
    top: 50%;
    left: -9px;
    .vertical-line {
      position: relative;
      display: inline-block;
      top: 4px;
      border-left: solid white 1px;
      padding-left: 2px;
      left: 5px;
      height: 26px;
    }
    .tooltip {
      display: none;
      margin-top: 0; // bootstrap override
      font-size: 1.4rem;
    }

    .tooltip-inner div {
      padding-top: 3px;
      cursor: pointer;
    }

    &:hover .tooltip { display: block; }
  }
  &:after {
    content: '';
    @include position(absolute, 0px auto 0px 0px);
    width: 3px;
    background: #ddd;
  }

  &:hover:after {
    background: #bbb;
  }
}

.split-pane-drag-handle:hover .box-handle {
  background-color: #bbb;

}
