.supporting-information-file-snapshot {
  margin-bottom: 3em;

  .supporting-information-file-snapshot-label {
    margin-top: 1em;
    color: $tahi-grey;
  }
  .supporting-information-file-snapshot-title {
    font-weight: bold;
  }
}
