.supporting-information-files {
  margin-bottom: 15px;
}

.si-files-upload-button {
  margin-right: 10px;
  float: left;
  margin-top: 2px;
}

.si-file {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  border-top: 2px solid;
  border-color: $tahi-grey-light;

  &.si-file-delete {
    background-color: $tahi-grey-xlight;
    transition: background-color 0.1s;
  }

  &:last-of-type {
    border-bottom: 2px solid;
  }

  .si-file-viewing {
    padding: 10px 15px;
  }

  .si-file-editor {
    margin: 0;
    input[type=text], textarea {
      border-radius: 3px;
      display: block;
      border: 1px solid $tahi-grey-light;
      padding: 4px;
      color: #555;
    }
  }

  .si-file-control-icons {
    float: right;
    >i {
      cursor: pointer;
      color: $tahi-grey-light;
      padding-left: 7px;

      &:hover {
        color: $tahi-green;
      }
    }
  }

  .si-file-filename {
    color: $tahi-green;

    >i {
      padding-right: 4px;
    }
  }

  .si-file-title {
    font-weight: bold;
  }

  .si-file-caption {
    margin-top: 3px;
    padding-top: 3px;
  }

  .si-file-delete {
    position: absolute;
    top: 0;
    right: -275px;
    background-color: $tahi-green;
    width: 275px;
    height: 53px;
    transition: right 0.1s;

    &.visible {
      right: 0;
    }

    &.si-file-full-height {
      height: 60px;
    }

    button {
      border-radius: 0;
      display: block;
      border: 0;
      height: 100%;
    }

    .si-file-cancel-delete-button {
      float: right;
      width: 30%;
      background-color: $tahi-green-light;
      color: $tahi-white;
      &:focus,
      &:hover {
        background-color: darken($tahi-green-light, 10%);
      }
    }

    .si-file-delete-button {
      width: 70%;
      background-color: $tahi-green;
      color: $tahi-white;
      &:focus,
      &:hover {
        background-color: darken($tahi-green, 5%);
      }
    }
  }
}
