$task-disclosure-radius: 4px;
$task-disclosure-font-size: 1.8rem;

.task-disclosure {
  position: relative;
  margin-bottom: 0.5rem;
  padding-top: 40px;
}

.task-disclosure-heading {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: $task-disclosure-radius;
  padding: 0 1.3rem 0 1.3rem;
  color: #222;
  font-size: $task-disclosure-font-size;
  line-height: $task-disclosure-font-size * 1.25;
  background: $aperta-grey-lighter;
  z-index: 1;
  @include user-select(none);

  a {
    display: flex;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 0.9rem;
    width: 100%;
    color: #222;
    text-decoration: none;
  }
}

.task-disclosure--open .task-disclosure-heading {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.task-disclosure-body {
  overflow: auto;
  border: 1px solid #e9e9e9;
  border-bottom-right-radius: $task-disclosure-radius;
  border-bottom-left-radius: $task-disclosure-radius;
}

.task-disclosure-completed-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  margin-right: 1.3rem;
  border-radius: 50%;
  background: #F7F7F7;
  transition: all 0.2s;

  svg {
    width: 16px;
  }

  polygon {
    fill: rgba(0,0,0, 0.05);
    transition: all 0.2s;
  }

  &.active {
    background: $aperta-green;
    polygon { fill: #fff; }
  }
}


// TaskLoad overrides ---------------------------------------------------------

.task-disclosure {
  .task-loading {
    height: 1.8rem;
    margin: 3rem 2rem;
    line-height: 1.8rem;
    font-size: 1.6rem;

    .progress-spinner {
      float: left;
      margin-right: 7px;
    }
  }
}


// TaskComponent overrides ----------------------------------------------------

.task-disclosure .task {
  .task-completed-section {
    display: inline-block;
    padding: 10px 15px;
    color: #666;
    cursor: pointer;
    transition: opacity 0.2s;
    @include user-select(none);

    // Bootstrap override :-\
    margin-bottom: 0;

    .button-secondary {
      text-transform: none;
    }
  }

  .task-main-content {
    @include clearfix;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
  }

  .task-main-content legend {
    border: 0;
    color: #000;
    font-size: 1.7rem;
  }

  .task-main-content .question label {
    margin-right: 10px;
  }

  .task-main-content .question-dataset {
    padding: 15px 20px;
    background: #f9f9f9;

    label { margin-right: 15px; }
  }
}
