//
// Styleguide UI.WithdrawalBanner

.withdrawal-banner {
  position: relative;
  height: 45px;
  color: white;
  line-height: 45px;
  text-align: center;
  background-color: $tahi-grey-dark;

  .button-secondary {
    color: grey;
    margin-top: -5px;
    margin-left: 5px;
    padding: 3px;
  }
}
