.questionnaire {
  counter-reset: reviewer-form-counter;

  ol > li {
    position: relative;
    margin-bottom: 50px;
    &:before {
      content: counter(reviewer-form-counter);
      counter-increment: reviewer-form-counter;

      background: $tahi-green;
      padding: 5px;
      border-radius: 1000px;
      width: 23px;
      height: 23px;
      display: inline-block;
      text-align: center;
      color: white;
      font-weight: bold;
      font-size: 15px;
      line-height: 14px;
      position: absolute;
      left: -30px;
      top: 1px;
    }
  }
}

.question {
  margin-top: 10px;
  margin-bottom: 15px;
}

.question-info {
  font-style: italic;
}

.question-text {
  font-size: 1.4em;
  line-height: 1.2em;
}

.question-dataset {
  padding: 30px;
  margin: 15px 0;
  background: rgb(194, 232, 188);
}

.question-dataset-header {
  @extend .question-text;
  margin-bottom: 10px;
}

.sub-question .question-text {
  font-size: 14px;
}

ul.help {
  padding-left: 0;
  margin: 15px 0;
  li {
    list-style-type: none;
    &:before {
      content: ">";
      color: $tahi-green-dark;
      font-size: 1.4em;
      font-weight: 700;
      margin-right: 0.1em;
    }
  }
}

.item {
  margin: 5px 0;
}

label {
  font-weight: normal;
}

.dataset {
  padding: 30px;
  margin: 15px 0;
  background: rgb(194, 232, 188);
}

.yes-no-with-comments {
  background: rgb(194, 232, 188);
  padding: 10px;
  border-radius: 5px;
}
