.upload-error-button {
  color: $tahi-primary;
  font-size: 40px;
  line-height: 0.5;

  &:hover {
    color: $tahi-primary-hover;
  }
}

.upload-error-text {
  display: block;
  margin-top: 35px;
  color: $tahi-error-red;
}
