#versioning-bar {
  width: 100%;
  line-height: 30px;

  .versioning-bar-container {
    width: $tahi-paper-width;
    margin: 5px 0 0 25px;

    .bar-item {
      float: left;
      margin-right: 15px;

      &.exit-versions {
        float: right;
        margin-right: 0px;
        font-size: 36px;
        line-height: 17px;
        color: $tahi-green;
        cursor: pointer;
      }

      .fa {
        color: $tahi-green;
      }

      select {
        margin-left: 5px;
        width: 200px;
      }
    }
  }
}
