.versioning-bar-content {
  margin: 20px auto;
  background: #d5d5d5;
  border-radius: 4px;
}

.versioning-bar-content-header {
  padding: 1em;
}

.versioning-bar-content-body {
  padding:0 1em 1.5em;
}

.versioning-bar-content .close {
  font-size:4rem;
  font-weight:normal;
  color:#39a329;
  opacity:1;
  text-shadow: 0 0 0;
}
