
<td class="figure-snapshot-item-label">
  {{text-diff viewingText=title1 comparisonText=title2}}
</td>
<td class="figure-snapshot-item-file">
  {{text-diff viewingText=file1 comparisonText=file2}}
</td>
