{{#if label}}
  <span class="participant-selector-label">{{label}}</span>
{{/if}}

{{select-2-multiple value=""
                    class="participant-select2"
                    name="add_participant"
                    selectionSelected="addParticipant"
                    selectionRemoved="removeParticipant"
                    dropdownClosed="dropdownClosed"
                    selectedData=currentParticipants
                    selectedTemplate=selectedTemplate
                    resultsTemplate=resultsTemplate
                    closeOnSelect=true
                    allowClear=canManage
                    minimumInputLength=3
                    remoteSource=remoteSource
                    dropdownClass="participant-dropdown"
                    placeholder="Add People"}}

{{#if canManage}}
  <div class="add-participant-button" data-toggle="tooltip" title="Add Someone" {{action "activateDropdown"}}>+</div>
{{/if}}
