<div class="control-bar">
  <div class="control-bar-inner-wrapper">
    <div class="control-bar-item control-bar-link control-bar-item--last add-flow-column-button" {{action "showNewColumnOverlay"}}>
      <div class="control-bar-link-icon"><span class="fa fa-plus"></span></div>
      Add New Column
    </div>
  </div>
</div>

{{flash-messages classNames="flash-messages--below-control-bar"}}

<ul class="columns">
  {{#each model as |flow|}}
    {{flow-column flow=flow
                  papers=flow.papers
                  editable=false
                  journalName=flow.journalName
                  journalLogo=flow.journalLogo
                  saveFlow="saveFlow"
                  removeFlow="removeFlow"
                  viewCard="viewCard"}}
  {{/each}}
</ul>

{{#overlay-base visible=showNewColumnOverlay
                outAnimationComplete=(action "hideNewColumnOverlay")
                as |animateOut|}}
  {{#overlay-fullscreen class="flow-manager-column-overlay"
                        title="Add New Column"
                        close=(action animateOut)}}
    {{flow-manager-add-column flows=potentialFlows
                              isLoading=isLoadingPotentialFlows
                              addFlow=(action "addFlow")
                              close=(action animateOut)}}
  {{/overlay-fullscreen}}
{{/overlay-base}}
