{{#overlay-fullscreen visible=overlayVisible
                      outAnimationComplete=(action "hideInvitationsOverlay")
                      title="Aperta"
                      wormhole=false
                      overlayClass="voucher-invitations-overlay"
                      enableClose=false
                      as |overlay|}}
    {{#if declineDone}}
      <div class='message declined'>
        <h1>Thank You!</h1>
      </div>
    {{else}}
      {{invitations-x invitations=invitations
                      loading=invitationsLoading
                      accept=(action "acceptVoucherInvitation")
                      decline=(action "declineVoucherInvitation")}}
    {{/if}}
{{/overlay-fullscreen}}
