@import 'variables';
@import 'bootstrap';

#overlay .standards-message-overlay header h2  a {
  color: $tahi-message;
}

#overlay .standards-message-overlay footer .primary-button,
#overlay .standards-message-overlay header .primary-button {
  background-color: $tahi-message;
}

#overlay .standards-message-overlay footer .content .completed-checkbox {
  color: $tahi-message;
}

$message-body-width: 700px;
.standards-message-overlay {
  .secondary-button {
    color: $tahi-message;
    border: 1px solid $tahi-message;
    &:hover {
      background: $tahi-message;
      color: white;
      border: 1px solid $tahi-message;
    }
  }
  .message-color {
    color: $tahi-message;
  }
  .img {
    height: 40px;
    width: 40px;
  }
  .form-group input, .form-group textarea {
    width: $message-body-width;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ddd;
  }
  textarea {
    height: 150px;
    &.new-comment {
      height: 60px;
    }
  }

  footer {
    .message {
      float: right;
    }
  }

  .comment-buttons {
    width: $message-body-width;
    .message {
      float: right;
    }
  }
  .chosen-single {
    height: 40px;
    background: white;
    border: 1px solid $tahi-message;
    font-size: 18px;
    color: $tahi-message;
    text-transform: uppercase;
    span, b {
      margin-top: 8px;
    }
  }

  .chosen-drop {
    border: 1px solid $tahi-message;
    border-top: none;
  }

  .chosen-results li.highlighted {
    width: 100%;
    background: $tahi-message;
  }

  #participants {
    margin-bottom: 10px;
    > ul {
      padding: 10px;
      width: $message-body-width;
      background: #f3f3f3;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      list-style: none;
      li {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}

.message-comments {
  list-style-type: none;
  padding-left: 10px;
  margin-bottom: 30px;
}

.message-comment {
  padding: 10px 0;
  width: $message-body-width;
  border-top: 1px solid #ddd;
  &:first-of-type {
    border-top: none;
  }
}

.comment-date,
.comment-avatar {
  margin-right: 8px;
}

.comment-avatar { width: 40px; }

.comment-name { font-weight: bold; }

.comment-body {
  padding-top: 8px;
  line-height: 1.3;
  width: $message-body-width;
}
