<tr class="user-row" {{action "viewUserDetails" user}}>
  <td class="truncated-field">{{user.firstName}}</td>
  <td class="truncated-field">{{user.lastName}}</td>
  <td class="truncated-field">{{user.username}}</td>
</tr>
