<li>
  <div class="paper-profile">
    <a class="paper-title" href="{{paper_path}}">
      <h4>{{task.paper.title}}<h4>
    </a>

    <div class="card-container">
      <a class="card flow-card completed message">
        <span class="glyphicon glyphicon-ok completed-glyph">
          {{task.title}}
        </span>
      </a>
      <span
        class="glyphicon glyphicon-remove-circle remove-card js-remove-card pointer"
        data-toggle="tooltip"
        data-placement="right"
        title="Delete Card" {{action 'removeTask'}}>
      </span>
    </div>
  </div>
</li>
