<li>
  <div class="paper-profile">
    {{link-to task.paperTitle 'paper.manage' task.paper.id class="paper-profile-title"}}

    <div {{bind-attr class=":card :flow-card task.completed:card-completed task.isMessage:card-message"}}>
      <div class="card-content">
        <span class="glyphicon glyphicon-ok completed-glyph"></span>
        {{task.title}}
      </div>
      <span {{action 'removeTask'}}
        class="glyphicon glyphicon-remove-circle remove-card"
        data-toggle="tooltip"
        data-placement="right"
        title="Delete Card">
      </span>
    </div>

  </div>
</li>
