<div class="overlay-completed-checkbox">
  {{display validationErrors.completed or=""}}
  {{#if isEditable}}
    {{check-box id="task_completed" name="task_completed" checked=completed action='saveModel'}}
  {{else}}
    {{check-box id="task_completed" name="task_completed" checked=completed disabled='disabled'}}
  {{/if}}
  <label for="task_completed">Completed</label>
</div>
