<div class="overlay-completed-checkbox">
  {{#if isEditable}}
    {{input id="task_completed" type='checkbox' name="task_completed" checked=completed change=saveModel}}
  {{else}}
    {{input id="task_completed" type='checkbox' name="task_completed" checked=completed disabled='disabled'}}
  {{/if}}
  <label for="task_completed">Completed</label>
</div>
