<header class="overlay-header">
  <h2 class="overlay-header-title">
    {{#link-to 'paper.edit' paperId class="overlay-paper-link"}}
      {{paperTitle}}
    {{/link-to}}
  </h2>
  <a {{bind-attr class=":primary-button :overlay-close-button"}} {{action 'closeAction'}}>Close</a>
</header>
