<header class="nav-bar">
  <nav id="top-nav">
    {{#link-to "index" classNames="nav-bar-home"}}
      <strong>Tahi</strong> Dashboard
    {{/link-to}}
    {{#if isLoggedIn}}
      <ul class="nav-bar-links">
        {{#if canViewAdminLinks}}
          <li class="nav-bar-item">{{#link-to "flow_manager"}}Flow Manager{{/link-to}}</li>
          <li class="nav-bar-item">{{#link-to "admin"}}Admin{{/link-to}}</li>
        {{/if}}
        <li class="nav-bar-text nav-bar-welcome dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Welcome back, {{unbound username}}
          </a>
          <ul class="dropdown-menu">
            <li>{{#link-to 'profile'}}Edit My Profile{{/link-to}}</li>
            <li><a href="/users/sign_out">Sign out</a></li>
          </ul>
        </li>
      </ul>
    {{/if}}
  </nav>
</header>
{{#if error}}
  <div id='application-error' class='alert alert-danger alert-dismissable application-error'>{{error}}</div>
{{/if}}
{{outlet}}
{{outlet "overlay"}}
