<div id="nav-bar-container">
  <nav id="nav-bar">
    <header>
      <strong> Tahi Dashboard </strong>
    </header>
    <section>
      <ul>
        <li class="nav-bar-item">Sign Out</li>
        <li class="nav-bar-item">Welcome Back</li>
      </ul>
    </section>
  </nav>
</div>

{{outlet}}
