<div class="card-content" {{action "viewCard" view.content}}>
  <span class="card-completed-icon"></span>
  {{#if controller.canRemoveCard }}
    <span {{action "removeTask" view.content}}
      class="card-remove"
      data-toggle="tooltip"
      data-placement="right"
      title="Delete Card">
    </span>
  {{/if}}
  {{#if unreadCommentsCount}}
    <span class="badge unread-comments-count">{{unreadCommentsCount}}</span>
  {{/if}}
  {{title}}
</div>
