<div class="card-content" {{action 'viewCard' view.content}}>
  <div class="glyphicon glyphicon-ok completed-glyph"></div>
  {{#if unreadCommentsCount}}
    <span class="badge unread-comments-count">{{unreadCommentsCount}}</span>
  {{/if}}
  <div class="task-title">{{title}}</div>
</div>

<span {{action 'removeTask' view.content}}
  class="glyphicon glyphicon-remove-circle remove-card"
  data-toggle="tooltip"
  data-placement="right"
  title="Delete Card">
</span>
