<div class="card-container" {{action 'viewCard' this}}>
  <span {{bind-attr class=":card completed:completed isMessage:message"}}>
    <span class="glyphicon glyphicon-ok completed-glyph"></span>
    {{title}}
  </span>
</div>

<span {{action 'removeTask' this}}
  class="glyphicon glyphicon-remove-circle remove-card pointer"
  data-toggle="tooltip"
  data-placement="right"
  title="Delete Card">
</span>
