{{#view ETahi.ControlBarView}}
  <div class="control-bar-inner-wrapper">
    <ul>
      <li class="control-bar-item">
        <div class="control-bar-link control-bar-link--with-icon add-flow-column-button" {{action "chooseNewFlowManagerColumn"}}>
          <div class="control-bar-link-icon"><span class="glyphicon glyphicon-plus"></span></div>
          <div class="control-bar-link-text">Add New Column</div>
        </div>
      </li>
    </ul>
  </div>
{{/view}}

<ul class="columns">
  {{#each userFlow in model}}
    {{flow-column userFlow=userFlow
                  litePaper=litePaper
                  commentLooks=commentLooks
                  editable=false
                  saveFlow="saveFlow"
                  removeFlow="removeFlow"
                  viewCard="viewCard"}}
  {{/each}}
</ul>
