<li>
  <div class="paper-profile">
    {{link-to litePaper.displayTitle 'paper.manage' view.litePaper.id class="paper-profile-title"}}
    {{#each task in view.tasks}}
      {{flow-card litePaper=litePaper
                  task=task
                  action='viewCard'}}
    {{/each}}
  </div>
</li>
