{{add-column position=view.nextPosition action='addPhase'}}

{{view ETahi.PhaseHeaderView phase=view.content}}

<div class="column-content">
  {{#each task in tasks}}
    {{view ETahi.CardView context=task content=task canRemoveCard=true}}
  {{/each}}

  <a {{action 'chooseNewCardTypeOverlay' view.content}} class="secondary-button">
    Add New Card
  </a>
</div>
