{{add-column position=view.nextPosition action='addPhase'}}

{{view ETahi.PhaseHeaderView phase=view.phase}}

<div class="column-content">
  {{#each task in phase.tasks}}
    {{flow-card paper=paper
                task=task
                commentLooks=commentLooks
                canRemoveCard=canRemoveCard
                action='viewCard'}}
  {{/each}}
  <a {{action 'chooseNewCardTypeOverlay' view.phase}} class="button-secondary button--green">
    Add New Card
  </a>
</div>
