{{add-column position=view.nextPosition action='addPhase'}}

{{view ETahi.PhaseHeaderView phase=view.content}}

<div class="column-content">
  {{each taskTemplates itemViewClass="ETahi.CardView"}}

  <a {{action 'chooseNewCardTypeOverlay' view.content}} class="button-secondary button--green">
    Add New Card
  </a>
</div>
