<div id="tahi-container">
  <h1>Give your submission a short title</h1>

  <div class="form-group">
    {{input type="text" value=shortTitle class="form-control"}}
  </div>

  <div class="form-group">
    <label>Journal</label>
    <select>
      <option>PLOS Yeti</option>
    </select>
  </div>

  <button type="submit" class="primary-button wide-button" {{action 'createNewPaper'}}>Create</button>
</div>
