{{add-column position=nextPosition action='addPhase'}}

{{view ETahi.PhaseHeaderView phase=content}}

<div class="column-content">
  {{#each task in taskTemplates}}
    {{flow-card paper=null
                task=task
                canRemoveCard=true
                removeTask="removeTask"
                action=null}}
  {{/each}}
  <a {{action 'chooseNewCardTypeOverlay' content}} class="button-secondary button--green">
    Add New Card
  </a>
</div>

