<div class="editor-toolbar">
  {{toggle-paper-editable action="toggleEditing"
                          canEdit=canToggleEditing
                          isEditing=false}}

  {{#if noTasks}}
    <button {{action "submit" target="view"}} class="no-sidebar-submit-manuscript button-primary {{if model.allSubmissionTasksCompleted "button--green" "button--disabled"}}">
      Submit Manuscript
    </button>
  {{/if}}

  <span class="saving-spinner {{if isSaving "" "hidden"}}">
    <i class="fa fa-spinner fa-spin"></i>
  </span>
</div>
