<!-- START BLOCKQUOTE -->
<table border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td class="blockquote">
        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td class="blockquote-border">&nbsp;</td>
            <td class="blockquote-text">
              <blockquote><%= text %></blockquote>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<!-- END BLOCKQUOTE -->
