{{add-column position=nextPosition action="addPhase"}}

{{phase-header phase=phase
               savePhase="savePhase"
               removePhase="removePhase"
               rollbackPhase="rollbackPhase"}}

<div class="column-content">
  {{#sortable-list list=phase
                   items=sortedTasks
                   itemMovedWithinList=attrs.taskMovedWithinList
                   itemMovedBetweenList=attrs.taskMovedBetweenList
                   startDragging=attrs.startDragging
                   stopDragging=attrs.stopDragging}}
    {{#each sortedTasks as |task|}}
      {{card-preview paper=paper
                     task=task
                     canRemoveCard=true
                     showDeleteConfirm="showDeleteConfirm"
                     canDragCard=true
                     action=(action attrs.viewCard task)}}
    {{/each}}
  {{/sortable-list}}

  <a {{action "chooseNewCardTypeOverlay" phase}} class="button-secondary button--green add-new-card-button">Add New Card</a>
</div>
