.confirmation-container {
  padding: 0 60px 35px 60px;

  .logo {
    margin-bottom: 20px;
  }

  h1 {
    flex: 0 0 100%;
    margin-top: 1px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 44px;
  }

  p {
    text-align: left;
    margin: 0 0 25px 0;
    flex: 0 0 100%;
    font-size: 14px;
  }
}

.co-author-confirmaion {
  background: rgba(255,255,255, 0.95);
  width: 860px;
  min-height: 550px;

  .message {
    font-size: 20px;
    margin-bottom: 20px;

    &.thank-you {
      margin-top: 100px;
    }
  }

  .feedback-header {
    padding: 5px 15px;
    border-bottom: 1px solid #ccc;
    margin-right: auto;
  }

  .aperta-logo {
    font-size: 18px;
    font-weight: 300;
    margin-right: auto;
    align-self: flex-start;
  }

  .flex-bar {
    @include clearfix;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.pending-confirmation {

  .confirmation-metadata {
    font-size: 14px;
    font-weight: bold;
    .date {
      font-weight: normal;
    }
  }

  .decline-button {
    margin-left: 15px;
  }

  .email-icon{
    color: gray;
  }

  .refute-authorship{
    margin-top: 1em;
  }

  h1,
  .h1 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 36px;
  }

  p{
    margin-bottom: 20px;
  }
}
