.base-screen {
  padding-top: 80px;
  padding-bottom: 20px;
}
  
@media only screen and (max-width: 1150px) {
  .base-layout,
  .base-screen {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 1151px) {
  .base-layout,
  .base-screen {
    width: 1120px;
    margin-right: auto;
    margin-left: auto;
  }
}
