.flex-group {
  @include display(flex);
  @include flex-wrap(wrap);

  height: 100%;
  overflow-y: scroll;
  &.flex-group--divider {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid $tahi-grey;
  }
}

.flex-element {
  @include flex(10 10 auto);

  input[type=text] { width: 100%; }
  select { width: 100%; }
}


.flex-form {
  margin: 15px 0;
  padding: 20px;
  background: #eee;

  .flex-element {
    margin-bottom: 1.5rem;
    padding-right: 5px;
    padding-left: 5px;
  }

  .flex-group.flex-element {
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
