html {
  overflow: -moz-scrollbars-vertical;

  &.matte { background-color: #f5f5f5; }
  &.navigation-visible {
    overflow: hidden;
  }
}

body { background: transparent; } // override bootstrap

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  padding-left: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 4px !important;
  min-height: 40px;
  background: #ddd;
}

// override bootstrap
label { font-weight: normal; }

// override bootstrap
textarea.form-control {
  height: 70px;
}

// remove chrome outline on form fields
input:focus, textarea:focus, *[contenteditable] {
  outline: none;
}

a, button, .fa, {
  @include transition(all 0.1s ease-in-out);
}

a {
  color: $tahi-green;

  &:focus, &:hover {
    text-decoration: underline;
    color: $tahi-green;
  }
}

hr { border-top: 1px solid #d6d6d6; }

body, h1, h2, h3, h4, h5, h6 {
  font-family: $tahi-font-family;
}

// bootstrap override
h1, h2, h3 {
  margin-top: 0;
}

textarea { resize: none; }


.matte #tahi-container {
  padding-top: 114px;
  @include transition(padding-top 0.2s);

  main {
    max-width: 1120px;
    margin: 0 auto;
  }
}

html.control-bar-sub-nav-active.matte #tahi-container { padding-top: 175px; }

.matte.paper-submitted #tahi-container {
  padding-top: 90px;
}

html.control-bar-sub-nav-active.matte.paper-submitted #tahi-container {
  padding-top: 135px;
}

#tahi-container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 120px 0 20px 0;

  &.full-width { max-width: none; }

  .paper-status {
    position: relative;
    line-height: 0px;
    top: 20px;
    left: 120px;
    z-index: 1;
  }

  > main {
    overflow: hidden;
    min-width: 960px;
    margin-left: 0;
    margin-right: 0;
  }
}

.warning {
  color: red;
  font-size: 14px;
  font-style: italic;
}

#upload-file-wrapper {
  margin: 50px 0;
  color: red;

  .warning { margin-top: 10px; }
}

.datepicker-field {
  width: 100px;
  display: inline-block;
  &.datepicker {
    margin-right: 15px;
  }
}

// for old style forms
.form-group {
  position: relative;

  p {
    margin: 15px 0;
    font-size: 18px;
  }

  &.required {
    position: relative;
    &::before {
      content: "*";
      font-size: 24pt;
      font-weight: bold;
      position: absolute;
      color: #5d4aac;
      left: -20px;
    }
  }
}

// for new style forms
.form-inline {
  .required {
    &::before {
      content: "*";
      margin: 0 3px 0 -3px;
      color: $tahi-green;
      font-size: 18pt;
      float: left;
    }
  }
}

.error {
  input, select, textarea {
    border: 1px solid $tahi-error-red;
  }
}

.flash-messages--below-control-bar {
  margin-top: $tahi-control-bar-height;
}
.flash-messages--on-paper-edit-page {
  position: absolute;
  top: $tahi-control-bar-height + $ve-toolbar-height - 2px;
  width: 100%;
}

// Main Content:

.navigation-visible .main-content {
  @include filter(grayscale(50%));
}
.overlay-open .main-content {
  @include filter(grayscale(50%) blur(3px));
}

.main-content-cover {
  @include position(fixed, 0px 0px 0px 0px);
  display: none;
  background: rgba(255,255,255, 0.4);
  z-index: z('main-content-cover');
}

html.navigation-visible .main-content-cover { display: block; }


.navigation-toggle {
  @include position(fixed, 0px auto auto 0px);
  padding: 13px 0 10px 54px;
  color: $tahi-green;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  z-index: z('navigation-toggle');
  @include user-select(none);

  svg {
    @include position(absolute, 14px auto auto 20px);
    width: 28px;
  }

  path { fill: $tahi-green; }

  &:hover {
    color: $tahi-green-dark;
    path { fill: $tahi-green-dark; }
  }
}

html[screen="admin"] .navigation-toggle {
  color: $tahi-blue;
  path { fill: $tahi-blue; }
}

// end Main Content


.tahi-generic-loading {
  @include position(absolute, 30% 30% auto 30%);
  text-align: center;

  .quote {
    padding-top: 4rem;
    font-size: 1.5em;
    font-style: italic;
  }
}

.clear {
  clear: both;
}

.feedback {
  font-size: 16px;
  color: $tahi-green;
}
