html {
  overflow: -moz-scrollbars-vertical;

  &.matte { background-color: #f5f5f5; }
}

body { background: transparent; } // override bootstrap

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  padding-left: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 4px !important;
  min-height: 40px;
  background: #ddd;
}

.main-content {
  @include position(absolute, $main-nav-height 0px 0px 0px);
  overflow: auto;
}

.overlay-open .main-content {
  @include filter(grayscale(50%) blur(3px));
}

// Config for Ember-CLI addon ember-power-select
.ember-basic-dropdown-content {
  z-index: z('power-select-content');
}

// override bootstrap
label { font-weight: normal; }

// override bootstrap
textarea.form-control {
  height: 70px;
}

// override bootstrap
sub {
  vertical-align: sub;
  bottom: auto;
}

sup {
  vertical-align: super;
  top: auto;
}

// remove chrome outline on form fields
input:focus, textarea:focus, *[contenteditable] {
  outline: none;
}

a, button, .fa, {
  @include transition(all 0.1s ease-in-out);
}

a {
  color: $tahi-green;

  &:focus, &:hover {
    text-decoration: underline;
    color: $tahi-green;
  }
}

hr { border-top: 1px solid #d6d6d6; }

body, h1, h2, h3, h4, h5, h6 {
  font-family: $tahi-font-family;
}

// bootstrap override
h1, h2, h3 {
  margin-top: 0;
}

textarea { resize: none; }


.warning {
  color: red;
  font-size: 14px;
  font-style: italic;
}

#upload-file-wrapper {
  margin: 50px 0;
  color: red;

  .warning { margin-top: 10px; }
}

.datepicker-field {
  width: 100px;
  display: inline-block;
  &.datepicker {
    margin-right: 15px;
  }
}

// for old style forms
.form-group {
  position: relative;

  p {
    margin: 15px 0;
    font-size: 18px;
  }

  &.required {
    position: relative;
    &::before {
      content: "*";
      font-size: 24pt;
      font-weight: bold;
      position: absolute;
      color: #5d4aac;
      left: -20px;
    }
  }
}

// for new style forms
.form-inline {
  .required {
    &::before {
      content: "*";
      margin: 0 3px 0 -3px;
      color: $tahi-green;
      font-size: 18pt;
      float: left;
    }
  }
}

.error {
  input, select, textarea, .did-you-mean-input {
    border: 1px solid $tahi-error-red;
  }
}


// end Main Content


.tahi-generic-loading {
  @include position(absolute, 30% 30% auto 30%);
  text-align: center;

  .quote {
    padding-top: 4rem;
    font-size: 1.5em;
    font-style: italic;
  }
}

.clear {
  clear: both;
}

.feedback {
  font-size: 16px;
  color: $tahi-green;
}

.preserve-line-breaks {
  white-space: pre-line;
}
