// Primary Color
$tahi-green: #39a329;
$tahi-green-light: #8ecb87;
$tahi-green-dark: #0f7400;

// Admin
$tahi-blue: #2d85de;
$tahi-blue-light: #94b8e0;
$tahi-blue-dark: #205e9c;

// Misc
$tahi-grey: #777;
$tahi-grey-xlight: #f5f5f5;
$tahi-grey-lighter: #e6e6e6;
$tahi-grey-light: #d5d5d5;
$tahi-grey-dark: #878787;
$tahi-black: #333333;

$tahi-white: #fff;
$tahi-error-red: #BB0000;
$tahi-error-background-red: #f7efe9;
$tahi-red-light: lighten($tahi-error-red, 50%);

$tahi-font-family: 'source-sans-pro', helvetica, sans-serif;
$tahi-article-font-family: 'lora', georgia, times, serif;

// What is this?
$grid-float-breakpoint: 0;

$tahi-control-bar-height: 60px;

$main-nav-height: 42px;

$message-body-width: 700px;

$tahi-paper-width: 1120px;
