// Primary Color
$tahi-green: #39a329;
$tahi-green-light: #8ecb87;
$tahi-green-dark: #0f7400;

// Admin
$tahi-blue: #2d85de;
$tahi-blue-light: #94b8e0;
$tahi-blue-dark: #205e9c;

// Misc
$tahi-grey: #777;
$tahi-grey-xlight: #f5f5f5;
$tahi-grey-light: #d5d5d5;
$tahi-grey-dark: #878787;
$tahi-black: #000000;

$tahi-white: #fff;
$tahi-error-red: #BB0000;
$tahi-light-red: lighten($tahi-error-red, 50%);
$tahi-error-background-red: #f7efe9;

$tahi-font-family: 'Cabin', helvetica, sans-serif;
$tahi-article-font-family: 'librebaskerville', times, serif;
$grid-float-breakpoint: 0;

$tahi-navigation-height: 36px;
$tahi-control-bar-height: 60px;

$tahi-navigation-width: 280px;

$message-body-width: 700px;

$ve-toolbar-height: 45px;
$tahi-paper-width: 1120px;
$tahi-paper-width-with-sidebar: 75%;
