@font-face {
  font-family: 'librebaskerville';
  src: asset-url('librebaskerville-bold-webfont.eot');
  src: asset-url('librebaskerville-bold-webfont.eot?#iefix') format('embedded-opentype'),
       asset-url('librebaskerville-bold-webfont.woff') format('woff'),
       asset-url('librebaskerville-bold-webfont.ttf') format('truetype'),
       asset-url('librebaskerville-bold-webfont.svg#librebaskervillebold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'librebaskerville';
  src: asset-url('librebaskerville-italic-webfont.eot');
  src: asset-url('librebaskerville-italic-webfont.eot?#iefix') format('embedded-opentype'),
       asset-url('librebaskerville-italic-webfont.woff') format('woff'),
       asset-url('librebaskerville-italic-webfont.ttf') format('truetype'),
       asset-url('librebaskerville-italic-webfont.svg#librebaskervilleitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'librebaskerville';
  src: asset-url('librebaskerville-regular-webfont.eot');
  src: asset-url('librebaskerville-regular-webfont.eot?#iefix') format('embedded-opentype'),
       asset-url('librebaskerville-regular-webfont.woff') format('woff'),
       asset-url('librebaskerville-regular-webfont.ttf') format('truetype'),
       asset-url('librebaskerville-regular-webfont.svg#librebaskervilleregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'cabin';
  src: asset-url('cabin-bold-webfont.eot');
  src: asset-url('cabin-bold-webfont.eot?#iefix') format('embedded-opentype'),
       asset-url('cabin-bold-webfont.woff') format('woff'),
       asset-url('cabin-bold-webfont.ttf') format('truetype'),
       asset-url('cabin-bold-webfont.svg#cabinbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'cabin';
  src: asset-url('cabin-italic-webfont.eot');
  src: asset-url('cabin-italic-webfont.eot?#iefix') format('embedded-opentype'),
       asset-url('cabin-italic-webfont.woff') format('woff'),
       asset-url('cabin-italic-webfont.ttf') format('truetype'),
       asset-url('cabin-italic-webfont.svg#cabinitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'cabin';
  src: asset-url('cabin-regular-webfont.eot');
  src: asset-url('cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
       asset-url('cabin-regular-webfont.woff') format('woff'),
       asset-url('cabin-regular-webfont.ttf') format('truetype'),
       asset-url('cabin-regular-webfont.svg#cabinregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans';
  src: asset-url('SourceSansPro-Bold.eot');
  src: asset-url('SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
       asset-url('SourceSansPro-Bold.woff') format('woff'),
       asset-url('SourceSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans';
  src: asset-url('SourceSansPro-It.eot');
  src: asset-url('SourceSansPro-It.eot?#iefix') format('embedded-opentype'),
       asset-url('SourceSansPro-It.woff') format('woff'),
       asset-url('SourceSansPro-It.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'source-sans';
  src: asset-url('SourceSansPro-Regular.eot');
  src: asset-url('SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
       asset-url('SourceSansPro-Regular.woff') format('woff'),
       asset-url('SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
