$z-layers: (
  paper-placeholder:    1001,
  submission-process:   1002,
  paper-container:      1003,
  control-bar:          1004,
  withdrawl-banner:     1004,
  flash-positioned:     1005,
  floating-list-active: 1007,
  figures-overlay:      1100,
  sheet:                1150,
  main-nav:             1175,
  overlay: (
    base: 1200,
    close-x: 100
  ),
  progress-spinner:  1400,
  loading-container: 1500,
  power-select-content: 1600
);

@function map-has-nested-keys($map, $keys...) {
  @each $key in $keys {
    @if not map-has-key($map, $key) {
      @return false;
    }
    $map: map-get($map, $key);
  }

  @return true;
}

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}

@function z($layers...) {
  @if not map-has-nested-keys($z-layers, $layers...) {
    @warn "No layer found for `#{inspect($layers...)}` in $z-layers map. Property omitted.";
  }

  @return map-deep-get($z-layers, $layers...);
}
