@include keyframes(fadeIn) {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@include keyframes(fadeOut) {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.fadeInAndOutAnimation {
  &.in {
    @include animation(fadeIn 200ms $ease-out-quad);
    @include animation-fill-mode(forwards);
  }
  &.out {
    @include animation(fadeOut 200ms $ease-out-quad);
  }
}



@include keyframes(fadeInDown) {
  0% {
    @include transform(translateY(-200px));
    opacity: 0;
  }

  100% {
    opacity: 1;
    @include transform(translateY(0));
  }
}

@include keyframes(fadeOutDown) {
  0% {
    @include transform(translateY(0));
    opacity: 1;
  }

  100% {
    opacity: 0;
    @include transform(translateY(60px));
  }
}

@include keyframes(scaleIn) {
  0% {
    @include transform(scale(0));
    opacity: 0;
  }

  98% {
    opacity: 1;
    @include transform(scale(1.1));
  }

  100% {
    opacity: 1;
    @include transform(scale(1));
  }
}

.fadeInDown {
  @include animation-name(fadeInDown);
  @include animation-duration(300ms);
  @include animation-fill-mode(both);
  @include animation-timing-function(cubic-bezier(0.175, 0.885, 0.32, 1.275));
}

.fadeOutDown {
  @include animation-name(fadeOutDown);
  @include animation-duration(200ms);
  @include animation-fill-mode(both);
}

.scaleIn {
  @include animation-name(scaleIn);
  @include animation-duration(250ms);
  @include animation-fill-mode(both);
  @include animation-timing-function(cubic-bezier(0.175, 0.885, 0.32, 1.275));
}
