/*
  these styles are also embedded in mailer.html.erb. If you update these, please update those.
  $ scss app/assets/stylesheets/email.scss email.css -t compressed
 */

.outer-wrapper {
  height: 100%;
  width: 100%;
  background: #d5d5d5;
}

.inner-wrapper {
  font-family: helvetica, sans-serif;
  width: 100%;
  background: #d5d5d5;
  padding-top: 20px;

  .container {
    width: 470px;
    margin: 0 auto;
  }
}

.mailer {
  width: 600px;
  background: #fff;
  border: thin solid #fff;
  margin: 20px auto;
  padding: 30px 0;
}

.greeting,
.user-name {
  text-align: center;
}

.greeting {
  width: 400px;
  margin: 40px auto 30px auto;

  .user-name {
    margin: 0;
  }

  .message {
    margin-top: 5px;
    margin-bottom: -10px;
    font-size: 1.2em;
  }
}

hr {
  border-top-color: #f5f5f5;
}

.paper-info {
  .journal-info {
    .journal-name,
    .journal-logo {
      margin: 20px 0 10px 0;
    }
  }

  .paper-name {
    font-weight: 600;
  }

  .paper-abstract {
    margin-bottom: 40px;

    .abstract-title {
      margin-bottom: 5px;
    }
    .abstract-text {
      font-size: 0.8em;
    }
  }
  .warning {
    background: red;
    color: white;
    padding: 50px;
  }
}

.footer {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;

  .paper-title {
    margin: 20px auto;
  }

  .paper-abstract {
    text-align: left;
  }

  .button {
    margin: 0 auto 20px auto;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 9px 25px;
    font-size: 0.8em;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    background: #39a329;
    color: #fff;

    &:hover { text-decoration: none; }
  }

  .signature {
    text-align: left;
  }
}
