@import 'variables';
@import "bootstrap";
@import 'tahi';

html, body {
  height: 100%;
}

body.full-height {
  overflow: hidden;

  #tahi-container {
    height: 100%;
  }
}

#flow-manager, .columns {
  height: 100%;
}

.paper-profiles {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  padding-bottom: 150px;
}

.paper-profile {
  border: 1px solid $tahi-tertiary;
  border-bottom: 2px solid $tahi-tertiary;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 219px;

  .paper-title {
   color: black;
  }

  h4 {
    font-family: $tahi-article-font-family;
    font-size: 14px;
    line-height: 17px;
    margin: 10px;
  }
}

.column {
  width: 235px;
  height: 100%;
  padding-right: 15px;
  border-right: 1px solid $tahi-tertiary;
  margin-right: 15px;
  display: inline-block;
  vertical-align: top;
}

.column h1 {
  font-size: 30px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
}

.column ul {
  list-style-type: none;
  padding-left: 0;
}

.card.flow-card {
  background: rgb(194,232,188);
}

.column a.card {
  width: inherit;
  margin-bottom: 0;
  border-radius: 0;
  border-top: 1px solid white;

  &:hover {
    background: $tahi-primary;
  }
}

