@import 'variables';
@import 'bootstrap';
@import 'tahi';

html, body {
  height: 100%;
}

body.full-height {
  overflow: hidden;

  #tahi-container {
    height: 100%;
  }
}

.columns {
  padding: 40px 0;
  height: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  text-align: center;
  .add-column {
    &:hover {
      opacity: 1;
    }
    display: inline-block;
    position: absolute;
    background-color: $tahi-secondary;
    top: -17px;
    right: -11px;
    width: 20px;
    height: 15px;
    text-align: center;
    font-size: 10px;
    opacity: 0;
    i {
      color: #FFFFFF;
    }
    &.first-add-column {
      left: 28px;
      top: -24px;
      position: relative;
    }
  }
}

.column {
  white-space: initial;
  text-align: left;
  height: 100%;
  width: 251px; // +1px for border
  padding: 0 15px;
  vertical-align: top;
  border-right: 1px solid $tahi-tertiary;
  display: inline-block;
  position: relative;

  h2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    outline: none;
    margin-top: 0;
  }

  .remove-column {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.column:last-of-type {
  border-right: none;
}

.column-title {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;

  .edit-icon {
    display: none;
    color: $tahi-secondary;
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 3px;
  }
  &:hover .edit-icon {
    display: inline;
  }
}

.full-height {
  height: 100%;
}

.column-header-update-buttons {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
}

.active .column-header-update-buttons {
  display: block;
  bottom: -48px;
  z-index: 1;
  border-bottom: 1px solid #aaa;
  padding: 10px 0;
  background: #fff;
}

.column-header-update-save {
  float: right;
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn-link.column-header-update-cancel {
  color: $tahi-primary;
}

.column-content {
  position: absolute;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 15px;
  width: 225px;
  padding-top: 10px;
  overflow-y: auto;

  > ul {
    list-style-type: none;
    padding-left: 0;
  }

  .empty-text {
    color: #999;
    font-size: 19px;
    font-style: italic;
  }
}

.paper-profile {
  border: 1px solid $tahi-tertiary;
  border-bottom: 2px solid $tahi-tertiary;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 219px;

  .paper-title {
    color: black;
  }

  h4 {
    font-family: $tahi-article-font-family;
    font-size: 14px;
    line-height: 17px;
    margin: 10px;
  }
}

.card.flow-card {
  width: 217px;
  margin-bottom: 0;
  border-radius: 0;
  border-bottom: 1px solid white;
  background: rgb(194,232,188);

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background: $tahi-primary;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 10px;
  padding-left: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  width: 4px !important;
  min-height: 40px;
}

#overlay > .flow-manager-column-overlay {
  width: 700px;
  height: 500px;
  margin-top: 100px;
  padding: 0;
  background: #ececec;
}

.modal-heading {
  margin-top: 0;
  margin-bottom: 0;
  padding: 16px;
  font-size: 20px;
  background: white;
  color: #666;
}

.modal-buttons {
  margin: 40px auto 0;
  width: 460px;

  li {
    margin-bottom: 15px;
  }

  li a {
    width: 100%;
    height: 80px;
    padding-top: 18px;
    font-size: 30px;
    color: #444;
    text-transform: none;
    border: 1px solid #d0d0d0;

    &:hover {
      background: #e4f4e1;
    }
  }
}

.close-button {
  float: right;
  position: relative;
  top: 13px;
  right: 16px;
  color: gray;
  font-size: 24px;
}

#control-bar section > ul:last-of-type li > a.add-column-button {
  background: white;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 11px;
  font-weight: normal;
  span.glyphicon {
    margin-left: 4px;
    font-size: 20px;
    vertical-align: -4px;
  }

  &:hover {
    background-color: $tahi-secondary;
    border-color: $tahi-primary-hover;
    color: $tahi-primary-hover;
    span.glyphicon {
      color: $tahi-primary-hover;
    }
  }
}
