@import 'variables';
@import 'bootstrap';

#overlay, #new-overlay {
  background-color: rgba(255,255,255,0.98);
  bottom: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  display: none;
}
#overlay, #new-overlay {
  background-color: rgba(0,0,0,0.7);
  height: 100%;
}

#overlay > div, #new-overlay > div {
  padding: 10px 80px;
  width: 1120px;
  background: white;
  margin: 0 auto;
  margin-top: 40px;
}

#new-overlay main,
#overlay main {
  min-height: 300px;
  padding:8px;
  margin: 0 auto;
  position: static;
  z-index: 10;
  font-size: 14px;
  padding: 40px 30px 60px;
  top: 110px !important;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#new-overlay main p {
  margin: 15px;
}

#overlay header,
#overlay footer,
#new-overlay header,
#new-overlay footer {
  @extend .row;
  position: relative;
}

#overlay footer, #new-overlay footer {
  margin: 0;
  padding-bottom: 50px;
}

#overlay header,
#new-overlay header {
  margin: 0;
  padding-top: 50px;
}

#new-overlay header,
#overlay header {
  > h2, > h2 > a {
    padding: 0;
    padding-right: 15px;
    font-size: 18px;
    font-family: $tahi-font-family;
    color: $btn-primary-bg;
    &:hover {
      text-decoration: none;
    }
  }
}

#overlay footer,
#new-overlay footer {
  margin-top: 10px;
  margin-bottom: 0;
}

#new-overlay header h2,
#overlay header h2 {
  @extend .col-xs-10;
  margin: 0 0 15px 0;
}

#new-overlay header > a,
#overlay header > a {
  @extend .col-xs-2;
  bottom: 10px;
  position: absolute;
}

#new-overlay footer > a,
#overlay footer > a {
  @extend .col-xs-2;
}

#new-overlay footer .content,
#overlay footer .content {
  @extend .col-xs-10;
  margin-top: 5px;

  input[type="checkbox"] {
    margin-right: 10px;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    vertical-align: 2px;
  }

  .assignee-drop-down {
    @extend .col-xs-9;
  }

  .completed-checkbox {
    @extend .col-xs-3;
    text-align: right;
    text-transform: uppercase;
    color: $tahi-primary;
  }
}

#new-overlay h1,
#overlay h1 {
  font-size: 48px;
  margin: 0 0 20px 0;
}

#new-overlay input#task_title {
  width: 360px;
  border-radius: 3px;
  border: 1px solid $tahi-matte;
  padding: 5px;
}

#new-overlay label {
  padding-right: 25px;
}

#new-overlay textarea#task_body {
  width: 660px;
  height: 90px;
  border-radius: 3px;
  border: 1px solid $tahi-matte;
  padding: 5px;
}

#overlay #task-body {
  margin: 30px 0;
  font-size: 16px;
}

#upload-figures-content img {
  min-height: 190px;
}

#paper-figures {
  list-style-type: none;
  margin: 20px 0 0;
  padding: 0;
  li {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}

#paper-figures li img {
  height: 190px
}

#paper-manuscript-upload {
  color: $tahi-primary;
}

#paper-manuscript-upload,
#paper-figure-uploads {
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;

  li {
    border: 1px solid $tahi-tertiary;
    background: white;
    padding: 10px;
    @extend .row;
    margin: 0;
    margin-top: 20px;
  }

  li .processing {
    @extend .col-xs-9;
    margin-left: 70px;
    font-size: 32px;
    margin-top: 28px;
  }

  li .preview-container {
    @extend .col-xs-2;
    width: 100px;
    height: 100px;
    padding: 0;
  }

  li .preview-container > * {
    width: 100px;
    height: 100px;
  }

  li .glyphicon {
    font-size: 72px;
    text-align: center;
    padding-top: 14px;
    width: 80px;
  }

  li .progress {
    @extend .col-xs-9;
    padding: 0;
    margin-bottom: 0;
    margin-left: 60px;
    margin-top: 40px;
  }
}

.decision-selections > .form-group {
  display: inline-block;

  &:first-child {
    margin-left: 10px;
  }
}

.form-group p {
  font-size: 18px;
  margin: 15px 0;
}

#task_paper_decision_letter {
  border-radius: 10px;
  border: 1px solid #333;
  padding: 20px;
  width: 640px;
  height: 270px;
}

.decision-selections label {
  padding-left: 10px;
  font-size: 24px;
  font-weight: normal;
  vertical-align: -4px;
  margin-right: 70px;
}

.decision-selections input[type=radio] {
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}

