@import 'variables';
@import "bootstrap";
@import 'tahi';

$paper-font-family: 'librebaskerville';
$paper-trim-color: #d0d0d0;
$control-bar-background-color: #eff5df;
$control-bar-color: black;
$control-bar-hover-color: #64184a;
$control-bar-active-color: #a42778;
$control-bar-secondary-color: #878787;

#control-bar-container {
  background-color: $control-bar-background-color;
  width: 100%;
  border-bottom: 1px solid $paper-trim-color;
}

#control-bar {
  margin: 0 auto;
  background-color: $control-bar-background-color;
  min-width: 960px;
  max-width: 1120px;
  height: 50px;
  padding: 9px 0 5px;
}

#control-bar section {
  @extend .collapse, .navbar-collapse;
}

#control-bar section > ul {
  @extend .nav, .navbar-nav;
  color: $control-bar-color;

  li {
    margin-right: 10px;
  }
}

#control-bar section > ul:last-of-type {
  @extend .navbar-right;

  li > a {
    @extend .primary-button;
  }
}

#short-title-editable {
  font-size: 18px;
  line-height: 36px;
}

#revision {
  line-height: 36px;
  color: $control-bar-secondary-color;
}

#title-editable {
  margin-top: 0;
}

#toolbar {
  height: 60px;
}

.author-detail {
  display: inline-block;
  min-width: 100px;
}

#tahi-container > main {
  @extend .row;
  margin-left: 0;
  margin-right: 0;
  background-color: white;
  min-width: 960px;

  > article {
    @include make-xs-column(9);
    border-right: 1px solid $paper-trim-color;
  }

  > aside {
    @include make-xs-column(3);
  }
}

.placeholder {
  color: #aaa;
}

main > article > div,
main > aside > div {
  margin: 0 auto;
}

main > article > div {
  width: 700px;
}

main > aside > div {
  padding-top: 60px;
  width: 220px;
}
#tahi-container > main > article * {
  font-family: $paper-font-family;
}

#authors {
  font-style: italic;
}

.card {
  background-color: #eff5df;
  color: $btn-primary-bg;
  width: 100%;
  font-size: 18px;
  padding: 10px 15px;
  display: block;
  border-radius: 5px;
  margin-bottom: 20px;

  &:hover {
    background-color: $btn-primary-bg;
    color: white;
    text-decoration: none;
  }
}
