.pdf-image {
  page-break-inside:avoid;
  width:auto;

  // Max height of 825 was chosen to allow the image to fill most of the page
  // while allowing a little room for the title/caption.
  max-height:825px;
}

.pdf-image-with-caption {
  page-break-after:avoid;
}

figure {
  page-break-inside: avoid;
}

.supporting-information-files {
  page-break-before: always;
}

p {
  font-family: Lora;
  line-height: 20px;
  margin-bottom: 10px;
  font-size: 14px;
}

// see figure_inserter.rb:84 for reasoning behind this selector
img.pdf-image-with-caption + p {
  font-family: Source Sans Pro;
  line-height: 16px;
}
