html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: auto;

  // For HTML tag when overlays are being displayed
  &.noscroll { overflow: hidden; }

  &.matte { background-color: #ddd; }
}

body { background: transparent; } // override bootstrap

// top level error above overlay
.application-error {
  position: absolute;
  top: 50px;
  z-index: 10000;
  right: 40%;
  text-align: center;
  min-width: 20%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  padding-left: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 4px !important;
  min-height: 40px;
  background: #ddd;
}

// remove chrome outline on form fields
input:focus, textarea:focus, *[contenteditable] {
  outline: none;
}

a, button, .glyphicon, {
  @include transition(all 0.1s ease-in-out);
}

a {
  color: $tahi-green;

  &:focus, &:hover {
    text-decoration: underline;
    color: $tahi-green;
  }
}

hr { border-top: 1px solid #d6d6d6; }

body, h1, h2, h3, h4, h5, h6 {
  font-family: $tahi-font-family;
}

textarea { resize: none; }


#tahi-container {
  max-width: 1120px;
  margin: 0 auto;

  &.full-width { max-width: none; }

  .paper-status {
    position: relative;
    line-height: 0px;
    top: 20px;
    left: 120px;
    z-index: 1;
  }

  > main {
    overflow: hidden;
    min-width: 960px;
    margin-left: 0;
    margin-right: 0;
    background-color: white;
  }
}

.warning {
  color: red;
  font-size: 14px;
  font-style: italic;
}

#upload-file-wrapper {
  margin: 50px 0;
  color: red;

  .warning { margin-top: 10px; }
}

.clear-before-and-after {
  &:before {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
    content: ' ';
    display: table;
  }
}

.submit-error {
  margin-top: 20px;
  text-align: center;
  padding: 5px;
}


.datepicker-field {
  width: 100px;
  display: inline-block;
  &.datepicker {
    margin-right: 15px;
  }
}

.form-group {
  p {
    margin: 15px 0;
    font-size: 18px;
  }

  &.required {
    position: relative;
    &::before {
      content: "*";
      font-size: 24pt;
      font-weight: bold;
      position: absolute;
      color: #5d4aac;
      left: -20px;
    }
  }
}


.error-message {
  color: $tahi-error-red;
}

.add-remove-groups div {
  width: 35px;
  height: 25px;
  text-align: center;
  border: 1px solid $tahi-green;
  border-radius: 5px;
  padding-top: 4px;
  color: $tahi-green;
}


.error {
  border: 1px solid $tahi-error-red;
  color: $tahi-error-red;
}
