@import 'variables';
@import 'bootstrap';

html {
  overflow: -moz-scrollbars-vertical;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
}


a, a:hover, button, button:hover, .glyphicon, .glyphicon:hover {
  @include transition(all 0.2s ease-in-out);
}

body {
  background-color: $tahi-matte;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: $tahi-font-family;
}

textarea {
  resize: none;
}

#tahi-container {
  max-width: 1120px;
  margin: 0 auto;
}

.small_text {
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

.editable, .title {
  margin-bottom: 36px
}

.primary-button {
  @extend .btn, .btn-primary;
  text-transform: uppercase;
  border: none;
  &:hover {
    background-color: $btn-primary-bg-hover;
  }
}

.secondary-button {
  @extend .btn, .btn-default;
  color: $tahi-primary;
  border-color: $tahi-primary;
  text-transform: uppercase;
  &:hover {
    background-color: $tahi-secondary;
    border-color: $tahi-primary-hover;
    color: $tahi-primary-hover;
  }
}

.progress {
  @extend .progress-striped, .active;
}

.progress .progress-bar {
  @include progress-bar-variant($tahi-tertiary);
}
