@import 'variables';
@import 'mixins';
@import 'bootstrap';
@import 'tahi';

.phases {
  @extend .row;
  list-style-type: none;
  padding: 40px 0 0;
  min-height: 800px;
  background: white;

  .phase {
    @extend .col-xs-3;
    @include tahi-gradient-vertical-three-colors(white, 25%, #ececec, 50%, white, 85%);
    border-right: 1px solid $tahi-tertiary;
    min-height: 600px;
  }

  .phase.active {
    background: white;
  }

  .phase:last-of-type {
    border-right: none;
  }
}

.cards {
  list-style-type: none;
  padding: 0;
}
