// Green
$tahi-primary: #39a329;
$tahi-primary-hover: #0f7400;

$tahi-whiteish: #fff;

// Desaturated green:
$tahi-secondary: #8ecb87;

// Light, very desaturated green:
$tahi-tertiary: #d5d8d5;
// Middle grey:
$tahi-tertiary-dark: #878787;

$tahi-blue: #347bc5;
$tahi-blue-hover: #0052a8;

$tahi-blue-light: #87c0f9;
$tahi-blue-light-hover: #d6eaff;

$tahi-grey: #777;
$tahi-grey-hover: #555;
$tahi-grey-tertiary: #bbbbbb;

// Lightish grey:
$tahi-disabled: #bbb;

// Purple
$tahi-message: #5d4aac;
$tahi-message-hover: #351e94;
$tahi-message-light: #9f95d0;

$tahi-error-red: #BB0000;

$tahi-font-family: 'Cabin', helvetica, sans-serif;
$tahi-article-font-family: 'librebaskerville', times, serif;
$grid-float-breakpoint: 0;

$tahi-nav-bar-height: 36px;
$tahi-control-bar-height: 52px;

$message-body-width: 700px;
