// Primary Color
$tahi-green: #39a329;
$tahi-green-light: #8ecb87;
$tahi-green-dark: #0f7400;

// Light, very desaturated green:
$tahi-tertiary: #d5d8d5;
// Middle grey:
$tahi-tertiary-dark: #878787;

$tahi-whiteish: #fff;

// Admin
$tahi-blue: #87c0f9;
$tahi-blue-light: #d6eaff;
$tahi-blue-dark: #347bc5;

// Misc
$tahi-grey: #777;
$tahi-grey-hover: #555;
$tahi-grey-tertiary: #bbbbbb;
$tahi-grey-dark: #555;
$tahi-grey-light: #bbb;

// Messages
$tahi-purple: #5d4aac;
$tahi-purple-light: #9f95d0;
$tahi-purple-dark: #351e94;

$tahi-error-red: #BB0000;

$tahi-font-family: 'Cabin', helvetica, sans-serif;
$tahi-article-font-family: 'librebaskerville', times, serif;
$grid-float-breakpoint: 0;

$tahi-nav-bar-height: 36px;
$tahi-control-bar-height: 52px;

$message-body-width: 700px;
