<div id="initial-submit-message" class="submit-message balls-and-columns">
  <div class="overlay-title-text-submit animation-fade-in">
    <h1>Congratulations</h1>
  </div>

  <h5 id="message">You have successfully submitted your manuscript for initial review. If the initial review is favorable, we will invite you to add some information to facilitate peer review.</h5>

  {{paper-submit/checklist completedStage=1}}

</div>
