<div id="initial-submit-message" class="submit-message balls-and-columns">
  <div class="overlay-title-text-submit animation-fade-in">
    <h1>Congratulations</h1>
  </div>

  <h5 id="message">You have successfully submitted your manuscript for initial review. If the initial review is favorable, we will invite you to add some information to facilitate peer review.</h5>

  <div id="cols">

    <div class="container-fluid row" id="lines">
      <div class="right"> <span class="line"></span> </div>
      <div>               <span class="line"></span> </div>
      <div class="left">  <span class="line"></span> </div>
    </div>

    <div class="container-fluid" id="balls">
      <div class="col-xs-4"> <span class="ball img-circle check"><i class="fa fa-check"></i></span> </div>
      <div class="col-xs-4"> <span class="ball img-circle">2</span> </div>
      <div class="col-xs-4"> <span class="ball img-circle">3</span> </div>
    </div>

    <div class="container-fluid row">

      <div class="col-xs-4">
        <h5 class="bright">Initial Submission</h5>
        <p>Submit your article along with cover letter, supporting information, and figures.</p>
      </div>

      <div class="col-xs-4">
        <h5>PLOS Initial Evaluation</h5>
        <p>PLOS editors will evaluate your submission. If they decide to send your manuscript to peer reviewers, you might be invited to add some additional information.</p>
      </div>

      <div class="col-xs-4">
        <h5>Preparation for Peer Review</h5>
        <p>You will be asked for some additional information such as full author list and competing interests statements, to get your manuscript ready for peer review. </p>
      </div>

    </div>

  </div>

</div>
