{{inline-edit-h1 title=title model=model}}

<div class="task-body">
  {{#each part in body}}
    {{inlineEdit part
      cancel="resetBlockItem"
      save="saveBlockItem"
      saveModel="saveModel"
      delete="deleteBlockItem"}}
  {{/each}}
  {{#each item in newBlockItems}}
    {{inlineEdit item
      isNew=true
      editing=true
      cancel="resetBlockItem"
      save="saveBlockItem"
      saveModel="saveModel"}}
  {{/each}}
</div>

{{view ETahi.AdhocContentToolbarView}}
