{{inline-edit-h1 title=title model=model}}

<div class="task-body">
  {{#each part in body}}
    {{inlineEdit part model}}
  {{/each}}
  {{#each item in newBlockItems}}
    {{inlineEdit item model isNew=true editing=true cancel="removeBlockItem"}}
  {{/each}}
</div>

{{view ETahi.AdhocContentToolbarView}}
