{{inline-edit-h1 title=title model=model}}

<div class="task-body">
  {{#each part in body}}
    {{#each piece in part}}
      {{inlineEdit piece
        cancel="resetBlockItem"
        save="saveBlockItem"
        saveModel="saveModel"
        delete="deleteBlockItem"}}
    {{/each}}
  {{/each}}
  {{#each part in newBlockItems}}
    {{#each piece in part}}
      {{inlineEdit piece
        isNew=true
        editing=true
        cancel="resetBlockItem"
        save="saveBlockItem"
        saveModel="saveModel"}}
    {{/each}}
  {{/each}}
</div>

{{view ETahi.AdhocContentToolbarView}}
