<div class="author-header">
  <h1>{{title}}</h1>
</div>
<ul class="authors-overlay-list">
  {{#each group in resolvedPaper.authorGroups}}
    {{render 'author_group' group}}
  {{/each}}
</ul>
{{#if isEditable}}
  <div class="add-remove-groups">
    <button class="button-secondary remove-group glyphicon glyphicon-minus" {{action 'removeAuthorGroup'}}>
    </button>
    <button class="button-secondary add-group glyphicon glyphicon-plus" {{action 'addAuthorGroup'}}>
    </button>
  </div>
{{/if}}
