<div class="overlay-container">
  <a href="#" class="overlay-close-button" {{action 'closeOverlay'}}><span class="glyphicon glyphicon-remove"></span></a>
  <h2 class="modal-heading">Choose a new column</h2>

  <ul class="modal-buttons list-unstyled">
    <li><a class="secondary-button btn-lg">Up for grabs</a></li>
    <li><a class="secondary-button btn-lg">My Tasks</a></li>
    <li><a class="secondary-button btn-lg">My Papers</a></li>
    <li><a class="secondary-button btn-lg">Done</a></li>
  </ul>
</div>
