<div class="overlay-container choose-card-type-overlay">
  <div id="choose-card-type">
    <h2>Pick the type of card to add</h2>

    <div id="choose-card-type-buttons">
      {{#if journalTaskTypes}}
        {{chosen content=journalTaskTypes
                 name="task_types"
                 width="200px"
                 prompt="Select a task type"
                 class="task-type-select"
                 value=taskType
                 optionValuePath="content"
                 optionLabelPath="content.title"}}
        <button class="button-primary button--green" {{action "addTaskType" phase taskType}}>Add</button>
        <a class="button-link button--green cancel" {{action "closeAction"}}>cancel</a>
      {{/if}}
  </div>
</div>
