<h1>Enter Declarations</h1>

<form>
  <div class="form-group">
    <fieldset>
    <div>
     {{view ETahi.RailsFormView valueBinding='hi' viewName='RailsFormView' classNames='bye'}}
    </div>
    <div>
     {{view ETahi.RailsFormView valueBinding='hi' viewName='RailsFormView'}}
    </div>
    <div>
     {{view ETahi.RailsFormView valueBinding='hi' viewName='RailsFormView'}}
    </div>
    </fieldset>
  </div>
</form>
