<h1>Enter Declarations</h1>

<form>
  <div class="form-group">
    <fieldset>
    {{#each survey in surveys}}
      <div class="declaration">
        <label>{{survey.question}}</label>
        {{view ETahi.TextArea value=survey.answer
          model=survey
          class='form-control'
          rows='6'}}
      </div>
    {{/each}}
    </fieldset>
  </div>
</form>
