<h1>Enter Declarations</h1>

<form>
  <div class="form-group">
    <fieldset>
    {{#each survey in surveys}}
      <div class="declaration">
        <label>{{survey.question}}</label>
        {{#if isEditable}}
          {{view ETahi.TextArea value=survey.answer
            model=survey
            class='form-control'
            rows='6'}}
        {{else}}
          <div>{{survey.answer}}</div>
        {{/if}}
      </div>
    {{/each}}
    </fieldset>
  </div>
</form>
