<h1>Enter Declarations</h1>

<form>
  <div class="form-group">
    <fieldset>
    {{#each declaration in declarations}}
      {{view ETahi.DeclarationView declaration=declaration}}
    {{/each}}
    </fieldset>
  </div>
</form>
