<div class="overlay-container">
  <h1>Available Task Types</h1>

  <table class="admin-roles-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Role</th>
        <th>Task Type</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each journalTaskType in sortedTaskTypes}}
        {{render "journal_task_type" journalTaskType}}
      {{/each}}
    </tbody>
  </table>

  <div class="overlay-action-buttons">
    <button class="button-primary button--blue button--wide" {{action "closeOverlay"}}>Done Editing</button>
  </div>
</div>
