{{participant-selector currentParticipants=participants
                       everyone=allUsers
                       onRemove="removeParticipant"
                       paperId=model.paper.id
                       onSelect="saveNewParticipant"}}

<div class="form-group required">
  {{input id="task-title-field" value=model.title placeholder="Type a short card title here"}}
</div>

<div class="form-group">
  {{textarea id="task-body" value=newComment.body placeholder="Type the initial message here"}}
</div>
