<div class="form-group">
  {{input id="task_title" value=task.title placeholder="Type a short card title here"}}
</div>

<div class="form-group">
  <label for="task_assignee_id">Assign this task to:</label>
  {{chosen content=paper.assignees
     optionLabelPath="content.fullName"
     optionValuePath="content"
     value=task.assignee
     prompt="Assign this task to"}}
</div>

<div class="form-group">
  {{textarea id="task_body" value=task.body placeholder="Provide some details here"}}
</div>
