<div>
  <ul class="participants">
    {{#each p in model.participants}}
      <li class="participant">
        {{userThumbnail p}}
      </li>
    {{/each}}
    {{chosen content=availableParticipants
       optionLabelPath="content.fullName"
       optionValuePath="content"
       selectionBinding=model.participants
       multiple=true
       prompt="Add people"}}
  </ul>
</div>

<div class="form-group">
  {{input id="task_title" value=model.title placeholder="Type a short card title here"}}
</div>

<div class="form-group">
{{textarea id="task_body" value=model.body placeholder="Provide some details here"}}
</div>

