<h1>Assign Reviewers</h1>
<label for="reviewer" >Reviewers</label>
{{chosen content=paper.availableReviewers
         multiple=true
         selectionBinding=model.paper.reviewers
         optionValuePath="content"
         optionLabelPath="content.fullName"
         data-placeholder="Select reviewers"
         changeAction='save'
}}
