<h1>Assign Admin</h1>
<label for="admin">Admin</label>
{{chosen content=paper.assignees
         name="admin"
         selectionBinding=paper.admin
         prompt="Please select an admin"
         optionValuePath="content.id"
         changeAction='save'
         optionLabelPath="content.fullName"}}
