<h1>Assign Admin</h1>
<label for="admin">Admin</label>
{{chosen content=model.assignees
         name="admin"
         selectionBinding=model.admin
         prompt="Please select an admin"
         optionValuePath="content.id"
         changeAction='saveModel'
         optionLabelPath="content.fullName"
         class="chosen-assignee"}}
