<h1>Assign Editor</h1>
<label for="editor">Editor</label>
{{chosen content=editors
          name="editor"
          prompt="Please select editor"
          value=editor.id
          optionValuePath="content.id"
          optionLabelPath="content.fullName"}}
