<h1>Assign Reviewers</h1>
<label for="reviewer">Reviewers</label>

{{chosen content=model.paper.availableReviewers
         multiple="multiple"
         value=model.paper.reviewers
         optionValuePath="content"
         optionLabelPath="content.fullName"
         data-placeholder="Select reviewers"
}}
