<h1>Assign Reviewers</h1>
<label for="reviewer">Reviewers</label>
{{chosen content=reviewers multiple="multiple" name="reviewer" prompt="Select reviewers" optionValuePath="content.id" optionLabelPath="content.fullName"}}
