<h1>Assign Editor</h1>
<label for="editor">Editor</label>
{{chosen content=editors
         prompt="Please select editor"
         value=editor
         changeAction='saveModel'
         optionValuePath="content"
         optionLabelPath="content.fullName"}}
