<h1>Assign Reviewers</h1>
<label for="reviewer">Reviewers</label>

{{chosen content=model.paper.availableReviewers
         prompt="Select reviewers"
         multiple="multiple"
         value=model.paper.reviewers
         optionValuePath="content"
         optionLabelPath="content.fullName"}}
