<h1>{{model.title}}</h1>
<h2>You may upload a manuscript at any time.</h2>
<div id="upload-file-wrapper">
  <span class="secondary-button fileinput-button">
    Select and upload a document
    {{file-uploader id='upload-files'
                    class='js-jquery-fileupload'
                    type='file'
                    name='upload_file'
                    target='parentView'
                    model=model
    }}
  </span>
</div>

{{view.error}}

<ul id="paper-manuscript-upload">
  <li>
    <div class="preview-container glyphicon glyphicon-file"></div>
    <div class="processing" >Processing...</div>

    <div class="progress">
      <div class="progress-bar" {{bind-attr style=view.progressBarStyle}}></div>
    </div>
  </li>
</ul>
