<div class="admin-section">
  <h2 class="admin-section-title">Available Task Types</h2>
  <br><br>
  <table class="admin-table roles">
    <thead>
      <tr>
        <th class="admin-task-type-title">Title</th>
        <th class="admin-task-type-role">Role</th>
        <th class="admin-task-type">Task Type</th>
        <th class="admin-task-type-actions">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each journalTaskType in sortedTaskTypes}}
        {{render "journal_task_types/show" journalTaskType}}
      {{/each}}
    </tbody>
  </table>
</div>

