@import "plos-billing-table";

.plos-billing-country-loading .progress-spinner {
  float: left;
  margin-right: 6px;
}

.billing-payee-city,
.billing-payee-state-postal {
  flex-basis: 200px;
}

.billing-payee-state-postal .flex-element {
  flex-basis: 180px;
}
