<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
  <ul class="nav bs-docs-sidenav">
    <li>
      <ul class="nav">
        <li>
          <h4><a href="#top-of-page">Card UI Elements</a></h4>
        </li>
        <li>
          <a href="#cards">Cards</a>
        </li>
        <li>
          <a href="#workflow">Workflow</a>
        </li>
        <li>
          <a href="#pop-up-messages">Pop-up Messages</a>
        </li>
        <li>
          <a href="#ad-hoc">Ad Hoc</a>
        </li>
        <li>
          <a href="#competing-interests">Competing Interests</a>
        </li>
        <li>
          <a href="#data-availability">Data Availability</a>
        </li>
        <li>
          <a href="#ethics">Ethics</a>
        </li>
        <li>
          <a href="#figures">Figures</a>
        </li>
        <li>
          <a href="#cover-letter-card">Cover Letter</a>
        </li>
        <li>
          <a href="#financial-disclosure">Financial Disclosure</a>
        </li>
        <li>
          <a href="#paper-admin">Paper Admin</a>
        </li>
        <li>
          <a href="#paper-editor">Paper Editor</a>
        </li>
        <li>
          <a href="#paper-reviewer">Paper Reviewer</a>
        </li>
        <li>
          <a href="#add-author">Add Author</a>
        </li>
        <li>
          <a href="#publishing-related-questions">Publishing Related Questions</a>
        </li>
        <li>
          <a href="#register-decision">Register Decision</a>
        </li>
        <li>
          <a href="#reporting-guidelines">Reporting Guidelines</a>
        </li>
        <li>
          <a href="#reviewer-report">Reviewer Report</a>
        </li>
        <li>
          <a href="#supporting-information">Supporting Information</a>
        </li>
        <li>
          <a href="#taxon">Taxon</a>
        </li>
        <li>
          <a href="#tech-check">Tech Check</a>
        </li>
        <li>
          <a href="#upload-manuscript">Upload Manuscript</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
