<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
  <ul class="nav bs-docs-sidenav">
    <li>
      <ul class="nav">
        <li>
          <a href="#format">Format</a>
        </li>
        <li>
          <a href="#header-footer">Header/Footer</a>
        </li>
        <li>
          <a href="#body">Body</a>
          <ul>
            <li>
              <a href="#ordered-instructions">Ordered Instructions</a>
            </li>
            <li>
              <a href="#radio-buttons">Radio Buttons</a>
            </li>
            <li>
              <a href="#checkboxes">Checkboxes</a>
            </li>
            <li>
              <a href="#buttons">Buttons</a>
            </li>
            <li>
              <a href="#pulldowns">Pulldowns</a>
            </li>
            <li>
              <a href="#forms">Forms</a>
            </li>
            <li>
              <a href="#content-entry">Content Entry</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
