<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
  <ul class="nav bs-docs-sidenav">
    <li>
      <ul class="nav">
        <li>
          <a href="#format">Format</a>
        </li>
        <li>
          <a href="#body">Body</a>
          <ul>
            <li>
              <a href="#content-entry">Content Entry</a>
            </li>
            <li>
              <a href="#form-patterns">Form Patterns</a>
            </li>
            <li>
              <a href="#file-upload">File Upload</a>
            </li>
            <li>
              <a href="#edit-delete">Edit/Delete</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
