{{#if shouldDisplayQuestionText}}
  <span class="{{textClassNames}}">
    {{{questionText}}}
  </span>
{{/if}}

{{#if hasBlock}}
  {{yield textYieldValue}}
{{/if}}


{{input name=ident
        value=model.answer.value
        class=inputClassNames
        placeholder=placeholderText
        disabled=disabled}}
