<p>
Hello <%= @invitee.full_name %>,
</p>

<p>
Your invitation to become a reviewer on "<%= @paper.display_title %>" has been rescinded. Please email us if you have any questions.
</p>

<p>
<%= root_url %>
</p>
