<%= render partial: 'email/journal_logo_or_name', locals: { journal: @paper.journal } %>
<br><br>

<div>
  <%= simple_format @invitation.body %>
</div>

<%= render partial: 'email/button', locals: {
  href: client_dashboard_url({ invitation_token: @invitation.token }),
  text: 'Accept Invitation'
} %>

<%= render partial: 'email/button', locals: {
  href: confirm_decline_invitation_url({ token: @invitation.token }),
  text: 'Decline'
} %>
