<p>
Hello <%= @invitee.full_name %>,
</p>

<p>
You've been assigned as a reviewer on a paper titled "<%= @paper.display_title %>".
</p>

<p>
<%= root_url %>
</p>

<p>
We look forward to your contributions!
</p>
