<div id='full-submit-message' class='submit-message balls-and-columns'>
  <div class="overlay-title-text-submit animation-fade-in">
    <h1>Congratulations</h1>
  </div>

  <h5 id='message'>You have successfully submitted your manuscript. We will start the peer review process.</h5>

  {{paper-submit/checklist completedStage=3}}

</div>
