#paper-manuscript-upload {
  color: $tahi-green;
}

#paper-manuscript-upload,
#paper-file-uploads,
#paper-attachment-uploads {
  position: relative;

  .processing {
    @extend .col-xs-9;
    margin-left: 70px;
    font-size: 32px;
    margin-top: 28px;
  }

  .fa {
    font-size: 60px;
    text-align: center;
    padding-top: 14px;
    width: 80px;
    float: left;
  }

  // .progress {
  //   position: absolute;
  //   top: 50%;
  //   left: 100px;
  //   right: 60px;
  // }
}
