{{!-- Copyright (c) 2018 Public Library of Science --}}

{{!-- Permission is hereby granted, free of charge, to any person obtaining a --}}
{{!-- copy of this software and associated documentation files (the "Software"), --}}
{{!-- to deal in the Software without restriction, including without limitation --}}
{{!-- the rights to use, copy, modify, merge, publish, distribute, sublicense, --}}
{{!-- and/or sell copies of the Software, and to permit persons to whom the --}}
{{!-- Software is furnished to do so, subject to the following conditions: --}}

{{!-- The above copyright notice and this permission notice shall be included in --}}
{{!-- all copies or substantial portions of the Software. --}}

{{!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR --}}
{{!-- IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, --}}
{{!-- FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL --}}
{{!-- THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER --}}
{{!-- LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING --}}
{{!-- FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER --}}
{{!-- DEALINGS IN THE SOFTWARE. --}}

{{#click-outside action=(action "toggleSubmissionProcess")}}
  <div id="submission-process">
    <div id="inner" class="animation-fade-in">
      <span id="sp-close" {{action "toggleSubmissionProcess"}}>&times;</span>

      <h4>{{model.journal.name}} Submission Process</h4>

      <p>
        To facilitate submission, we have broken down the process. Initially {{paper.journal.name}}
        editors only need your manuscript, with figures and supporting information, and a cover
        letter to evaluate your submission.  You will be asked for additional information only if
        your manuscript is sent out to peer reviewers.
      </p>

      <div class="balls-and-columns">
        {{paper-submit/checklist completedStage=0}}
      </div>
    </div>
  </div>
{{/click-outside}}
