<h1>
  A Decision has been Registered on your Manuscript <%= @paper.display_title(sanitized: false) %>.
</h1>

<hr>

<%= simple_format @decision.letter %>

<hr>

<%= render partial: 'email/button', locals: {
  href: client_paper_url(@paper),
  text: 'View Paper'
} %>
