.authors-task {
  counter-reset: authorTaskItem;
}

.author-task-item {
  position: relative;
}

.author-task-item-view {
  @include align-items(center);
  background: $tahi-grey-xlight;
}

.author-task-item-view-checkbox {
  max-width: 20px;
  text-align: center;
}

.author-task-item-view-drag-handle {
  @include align-self(stretch);
  max-width: 12px;
  cursor: move;
  cursor: -webkit-grab;
  background: url(image-path('drag-circle.svg'));
  background-size: 6px;
  opacity: 0;
}

.author-task-item-position {
  max-width: 1rem;
  margin-left: 1rem;

  &:before {
    counter-increment: authorTaskItem;
    content: counter(authorTaskItem);
  }
}

.author-task-item-view-text {
  padding: 2.5rem 0.5rem;
  font-size: 1.4rem;
  cursor: pointer;

  .flex-element {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.author-task-item-view-actions {
  max-width: 4rem;
  padding-right: 2rem;
  font-size: 2.2rem;
  text-align: right;

  .fa {
    color: #bbb;
    cursor: pointer;
    opacity: 0;
  }
}

.author-task-item-view:hover {
  .author-task-item-view-drag-handle {
    opacity: 1.0;
  }

  .author-task-item-view-actions .fa {
    opacity: 1.0;

    &:hover {
      color: #444;
    }
  }
}

.authors-overlay-item-delete {
  padding: 10px 15px;
  color: #fff;
  background-color: $tahi-green;
  z-index: 1;

  p { margin-left: 0; }
}

.author-drop-target {
  height: 6px;

  &.current-drop-target {
    height: 80px;
    border: 2px dashed $tahi-green-light;
  }
}

.add-author-form {
  .affiliation-field, .secondary-affiliation-field {
    border-radius: 4px;
    width: 418px;
  }

  .author-contributions {
    margin-bottom: 40px;
  }

  .text-field-title {
    background: none;
    width: initial;
  }

  .form-inline .form-group {
    vertical-align: top;
  }

  .author-middle-initial {
    @include flex-basis(7rem);
    min-width: 7rem;
  }

  .author-affiliation {
    @include flex-basis(50%);
    min-width: 260px;
  }

  .author-corresponding, .author-deceased {
    @include flex-basis(50%);
  }

  .author-contribution {
    position: relative;
    @include flex-basis(50%);
    min-width: 185px;

    input {
      position: absolute;
      top: 0;
      left: 0;
    }

    label {
      padding-right: 0; // .overlay--card .overlay-body label override
    }
  }
}

.authors-overlay-item .add-author-form { margin: 0; }

.author-form-buttons {
  margin-right: 2px;
  padding-top: 10px;
  text-align: right;
}

.author-label-other div {
  display: inline;
}
