<header class="overlay-header">
  <div class="overlay-header-title"></div>
  <a class="button-secondary button--green overlay-close-button" {{action "closeAction"}}>Close</a>
</header>

<main class="overlay-body">{{yield}}</main>

<footer class="overlay-footer">
  <div class="overlay-footer-content">
    <a class="button-secondary button--green overlay-close-button" {{action "closeAction"}}>Close</a>
  </div>
</footer>
