<header class="overlay-x-header">
  <div class="overlay-x-header-title"></div>
  <a class="button-secondary button--green overlay-x-close-button" {{action "closeAction"}}>Close</a>
</header>

<main class="overlay-x-body">{{yield}}</main>

<footer class="overlay-x-footer">
  <div class="overlay-x-footer-content">
    <a class="button-secondary button--green overlay-x-close-button" {{action "closeAction"}}>Close</a>
  </div>
</footer>
