<label class="content-text">{{{content.text}}}</label>
{{card-content/validation-errors errors=answer.readyIssuesArray}}
{{format-input
  value=(readonly answer.value)
  class="form-control"
  valueChanged=(action "valueChanged")
  disabled=disabled}}
