<label class="content-text">{{{content.text}}}</label>
{{format-input
  value=(readonly answer.value)
  class="form-control"
  placeholder=content.placeholder
  valueChanged=(action "valueChanged")
  disabled=disabled}}
