<label class="content-text">{{{content.text}}}</label>
{{card-content/validation-errors errors=answer.readyIssuesArray}}
{{rich-text-editor
  value=(readonly answer.value)
  name=name
  onContentsChanged=(action "valueChanged")
  disabled=disabled}}
