{{#each content.children as |child|}}
  {{#if (and (eq childTag 'li') (not-eq child.contentType 'display-children'))}}
    <li class={{customChildClass}}>
    {{card-content
      content=child
      disabled=disabled
      owner=owner
      answerChanged=answerChanged
      preview=preview}}
    </li>
  {{else}}
    {{card-content
    content=child
    disabled=disabled
    owner=owner
    answerChanged=answerChanged
    preview=preview}}
  {{/if}}
{{/each}}
