<div class="overlay-footer-content correspondence-form-footer-content">
  <div class="overlay-action-buttons">
    {{#if close}}
      <button class="button-link button--green" {{action close}}>cancel</button>
    {{/if}}
  </div>
</div>
