{{select-2-multiple class="add-role-input"
                    name="add_role"
                    dropdownClosed="dropdownClosed"
                    selectionSelected=attrs.selected
                    selectionRemoved=attrs.removed
                    source=selectOptions
                    selectedData=selectSelected
                    closeOnSelect=true
                    allowClear=false
                    minimumInputLength=1
                    dropdownClass="user-roles-dropdown"
                    placeholder="Role Name"}}
<span {{action "activateDropdown"}} class="token assign-role-button token--add">
  <span class="fa fa-plus"></span>
</span>
