<!DOCTYPE html>
<html>
<head>
  <title>PlosBioTechCheck</title>
  <%= stylesheet_link_tag    "plos_bio_tech_check/application", media: "all" %>
  <%= javascript_include_tag "plos_bio_tech_check/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
