<div class="overlay-container">
  <header class="overlay-header">
    {{#if title}}
      <h1 class="overlay-header-title">{{title}}</h1>
    {{/if}}
    {{#if enableClose}}
      <span class="overlay-close" {{action "close"}}>&times;</span>
    {{/if}}
  </header>

  <div class="overlay-body">
    {{yield}}
  </div>
</div>
