<div class="overlay-x-container">
  <header class="overlay-x-header">
    {{#if title}}
      <h1 class="overlay-x-header-title">{{title}}</h1>
    {{/if}}

    <span class="overlay-x-close" {{action "close"}}>&times;</span>
  </header>

  <div class="overlay-x-body">
    {{yield}}
  </div>
</div>
