{{#if _otherOptionSelected}}
  {{input value=value
    class="power-select-other-input"
    focus-out=(action "validate")
    autofocus=true}}
  <span class="ember-power-select-status-icon" {{action "otherTrigger"}}></span>
{{/if}}

{{#power-select options=_optionsWithOther
                selected=selectedValue
                searchEnabled=searchEnabled
                placeholder=selectPlaceholder
                triggerClass=(if _otherOptionSelected "power-select-other-dropdown-hidden")
                onchange=(action "select")
                as |v|}}
  {{v}}
{{/power-select}}
