<!DOCTYPE html>
<html>
<head>
  <title>BillingCard</title>
  <%= stylesheet_link_tag    "billing_card/application", media: "all" %>
  <%= javascript_include_tag "billing_card/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
