<h1>Cover Letter Card</h1>

<p>Please type or paste your cover letter into this text field:</p>

{{textarea onEvent="false"
           disabled=false
           value=model.letter}}

<button class="button-primary button--green"
    {{action "saveCoverLetter"}}
>
    Save
</button>
