<h1>Cover Letter</h1>

<p>Enter your cover letter below.</p>

{{textarea focus-out="saveLetter"
           onEvent="false"
           class="cover-letter-field"
           placeholder="A boilerplate cover letter will appear here"
           disabled=false
           value="asdf"}}
