<h1>
  Hello World!
</h1>

<p>
  Find my template at:
  /client/lib/{{view.cardName}}/app/templates/overlays/{{view.cardName}}.hbs
</p>
<p>
  Enter JavaScript in:
  /client/lib/{{view.cardName}}/app/views/overlays/{{view.cardName}}.js
</p>
