<h1>
  Assign Admin
</h1>

<label for="admin">Admin</label>

{{select-2-single
    class="admin-select2"
    minimumInputLength=3
    placeholder="Please select admin"
    name="assign_admin"
    remoteSource=select2RemoteSource
    resultsTemplate=resultsTemplate
    selectedData=admin
    selectedTemplate=selectedTemplate
    selectionSelected="assignAdmin"
    value=""}}
