<h1>Invite Reviewers</h1>

<div class="invite-reviewer-text">
  <div class='invite-reviewers'>
    <label for="reviewer">Email</label>
    {{select-2-single value=""
               class="reviewer-select2"
               name="invite_reviewer"
               selectionSelected="didSelectReviewer"
               selectedData=selectedReviewer
               minimumInputLength=0
               selectedTemplate=selectedTemplate
               resultsTemplate=resultsTemplate
               remoteSource=select2RemoteSource
               placeholder="Please select reviewer"}}
    <button class="button-primary button--green invite-reviewer-button" {{action "inviteReviewer"}}>
      Invite
    </button>
  </div>

  {{invitations-display decisions=decisions
                        invitationType="Reviewer"
                        latestDecisionInvitations=latestDecisionInvitations
                        onDestroyInvitation='destroyInvitation'}}
</div>
