<h1>
  Production Metadata
</h1>

<div class="form-group">
  <div class="inset-form-control required publication-date">
    <label class="inset-form-control-text">Publication Date</label>
    {{date-picker group=group
                  type="text"
                  role="startPicker"
                  class="inset-form-control-input"
                  date=publicationDate
                  placeholder="Select Date..."}}
  </div>
</div>
<div class="form-group">
  <div class="inset-form-control required volume-number">
    <label class="inset-form-control-text">Volume Number</label>
    {{input type="text"
            value=volumeNumber
            class="inset-form-control-input"
            placeholder="e.g. 12"}}
  </div>

  <div class="inset-form-control required issue-number">
    <label class="inset-form-control-text">Issue Number</label>
    {{input type="text"
            value=issueNumber
            class="inset-form-control-input"
            placeholder="e.g. 3"}}
  </div>
</div>

<div class="production-notes">
  <label>Production Notes</label>
  {{content-editable value=productionNotes
                     class="inset-form-control-textarea"
                     placeholder="Add production notes here"}}
</div>
