<h1>{{model.title}}</h1>

<div class="paper-figures">
  {{#each model.paper.supportingInformationFiles as |file|}}
    {{attachment-thumbnail attachment=file
                           togglePublishable="togglePublishable"
                           destroyAttachment="destroyAttachment"
                           figure=false
                           isEditable=model.paper.editable
                           confidentiality=true
                           disabled=isSubmissionTaskNotEditable}}
  {{/each}}
</div>

<div id="paper-file-uploads">
  {{#each uploads as |upload|}}
    {{upload-preview upload=upload}}
  {{/each}}
</div>
{{#if isEditable}}
  <span class="button-primary button--green fileinput-button">
    <span>Add New Supporting Information</span>
    {{file-uploader id="file_attachment"
                    filePrefix="supporting-info"
                    url=uploadUrl
                    start="uploadStarted"
                    done="uploadFinished"
                    cancel="cancelUploads"
                    progress="uploadProgress"
                    disabled=isSubmissionTaskNotEditable}}
  </span>
{{/if}}
