<h1>New Taxon</h1>

<div class="question-list">
  <div class="question">
    {{#question-check ident="taxon.zoological"
                      task=model
                      question="Does this manuscript describe a new zoological taxon name?"
                      disabled=isSubmissionTaskNotEditable
                      as |checked|}}

      {{#if checked}}
        <div class="question-text">
          <p>Please read <a href="http://www.plosbiology.org/static/policies#taxon" target="_blank">Regarding Submission of a new Taxon Name</a> and indicate if you comply:</p>
        </div>
        {{question-check ident="taxon.zoological.complies"
                         task=model
                         question="All authors comply with the Policies Regarding Submission of a new Taxon Name"
                         disabled=isSubmissionTaskNotEditable}}
      {{/if}}
    {{/question-check}}
  </div>

  <br>

  <div class="question">
    {{#question-check ident="taxon.botanical"
                      task=model
                      question="Does this manuscript describe a new botantical taxon name?"
                      disabled=isSubmissionTaskNotEditable
                      as |checked|}}

      {{#if checked}}
        <div class="question-text">
          <p>Please read <a href="http://www.plosbiology.org/static/policies#taxon" target="_blank">Regarding Submission of a new Taxon Name</a> and indicate if you comply:</p>
        </div>
        {{question-check ident="taxon.botanical.complies"
                         task=model
                         question="All authors comply with the Policies Regarding Submission of a new Taxon Name"
                         disabled=isSubmissionTaskNotEditable}}
      {{/if}}
    {{/question-check}}
  </div>
</div>
