<h1>New Taxon</h1>

<div class="question-list">
  <div class="question">
    {{#nested-question-check
        ident="taxon--zoological"
        owner=model
        disabled=isSubmissionTaskNotEditable as |selection|}}

      {{#if selection.checked }}
        <div class="question-text">
          <p>Please read <a href="http://www.plosbiology.org/static/policies#taxon" target="_blank">Regarding Submission of a new Taxon Name</a> and indicate if you comply:</p>
        </div>
        {{nested-question-check
          ident="taxon--zoological--complies"
          owner=model
          disabled=isSubmissionTaskNotEditable}}
      {{/if}}
    {{/nested-question-check}}
  </div>

  <br>

  <div class="question">
    {{#nested-question-check
      ident="taxon--botanical"
      owner=model
      disabled=isSubmissionTaskNotEditable as |selection|}}

      {{#if selection.checked }}
        <div class="question-text">
          <p>Please read <a href="http://www.plosbiology.org/static/policies#taxon" target="_blank">Regarding Submission of a new Taxon Name</a> and indicate if you comply:</p>
        </div>

        {{nested-question-check
          ident="taxon--botanical--complies"
          owner=model
          disabled=isSubmissionTaskNotEditable}}
      {{/if}}
    {{/nested-question-check}}
  </div>
</div>
