<h1>New Taxon</h1>

<div class="question-list">
  <div class="question">
    {{nested-question-check model=taxonQuestionForZoological
        owner=model
        disabled=isSubmissionTaskNotEditable}}

    {{#if taxonQuestionForZoological.answer.value}}
      <div class="question-text">
        <p>Please read <a href="http://www.plosbiology.org/static/policies#taxon" target="_blank">Regarding Submission of a new Taxon Name</a> and indicate if you comply:</p>
      </div>
      {{nested-question-check
        model=compliesQuestionForZoological
        owner=model
        disabled=isSubmissionTaskNotEditable}}
    {{/if}}
  </div>

  <br>

  <div class="question">
    {{nested-question-check
      model=taxonQuestionForBotanical
      owner=model
      disabled=isSubmissionTaskNotEditable}}

    {{#if taxonQuestionForBotanical.answer.value}}
      <div class="question-text">
        <p>Please read <a href="http://www.plosbiology.org/static/policies#taxon" target="_blank">Regarding Submission of a new Taxon Name</a> and indicate if you comply:</p>
      </div>

      {{nested-question-check
        model=compliesQuestionForBotanical
        owner=model
        disabled=isSubmissionTaskNotEditable}}
    {{/if}}
  </div>
</div>
