<div class="admin-section">
  <h2 class="admin-section-title">Roles</h2>
  <button class="button-primary button--blue admin-add-new-role-button" {{action "addRole"}}>Add New Role</button>
  <br><br>
  <div class="admin-roles">
    <div class="admin-roles-header admin-role-name">Role Name</div>
    <div class="admin-roles-header admin-role-permissions">Permission</div>
    {{#each role in model}}
      {{render "roles/show" role}}
    {{/each}}
  </div>
</div>
