<div class="admin-section">
  <h2 class="admin-section-title">Roles</h2>
  <button class="button-primary button--blue-light admin-add-new-role-button" {{action "addRole"}}>Add New Role</button>
  <br><br>
  <table class="admin-table roles">
    <thead>
      <tr>
        <th class="admin-role-name">Roles</th>
        <th>Permission</th>
      </tr>
    </thead>
    {{#each role in model}}
      {{render "roles/show" role}}
    {{/each}}
  </table>
</div>
