<div class="role-admin">
  <table class="table roles">
    <thead>
      <tr class="admin-header">
        <th class="role-header">Roles</th>
        <th class="permission-header" colspan="3">
          <div class='relative'>
            Permission
            <button class="primary-button blue-box" {{action "addRole"}}>
              Add New Role
            </button>
          </div>
        </th>
      </tr>
    </thead>
    {{#each role in model}}
      {{render 'roles/show' role}}
    {{/each}}
  </table>
</div>
