<div class="role-admin">
  <table class="table roles">
    <thead>
      <tr class="admin-header">
        <th class="role-header">Roles</th>
        <th class="permission-header" colspan="3">
          Permission
          <button class="primary-button blue-box" {{action "addRole"}}>
            Add New Role
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each role in model}}
        {{render 'roles/role' role}}
      {{/each}}
    </tbody>
  </table>
</div>
