{{#if (eq selectedPaymentMethod 'gpi')}}
<div>
  <h3>
    PLOS  Global Participation Initiative (Low- and Middle-Income Country Assistance)
  </h3>
  <p>
    The PLOS Global Participation Initiative (GPI) provides fee assistance to authors whose research is funded 
    primarily (50% or more of the work contained within the article) by an institution or organization from 
    eligible low- and middle-income countries. If the author’s research funder is based in a <a href="https://www.plos.org/group-one-countries" target="_blank">Group 1</a> country, 
    the PLOS GPI will cover the entire publication fee and there will be no charge. 
    If the research funder’s country is part of <a href="https://www.plos.org/group-two-countries" target="_blank">Group 2</a>, the PLOS GPI will cover part of the publication fee 
    and the remaining publication fee will be $500 USD. 
  </p>
  <p>
    Group 2 PLOS GPI country authors who need to request additional support
    should apply for
    <a href="https://www.plos.org/publications/publication-fees/plos-publication-fee-assistance/" target="_blank">PLOS Publication Fee Assistance</a>
    instead of the PLOS GPI. View
    <a href="https://www.plos.org/faq#loc-plos-global-participation-initiative" target="_blank">PLOS GPI</a> for additional information. This is subject to eligibility review.
  </p>

  <div class="form-group form-inline">
    <div class="required form-group {{if validationErrors.department "error"}}">
      {{error-message message=null}}
      {{nested-question-select ident="plos_billing--gpi_country"
                        owner=task
                        displayQuestionText=false
                        placeholder="Select your Country"
                        source=groupOneAndTwoCountries
                        enable=isEditable
                        width="300"}}
    </div>
  </div>
</div>
{{/if}}
