<label class="content-text">{{{content.text}}}
  {{#if content.isRequired}}
  <span class="required-field">*</span>
  {{/if}}</label>

{{input
  value=(readonly answer.value)
  class="form-control"
  change=(action "valueChanged")
  input=(action "valueChanged")
  focusOut=(action "validate")
  focusIn=(action "maybeHideError")
  disabled=disabled
  required=content.isRequired
  content=content}}

{{#unless hideError}}
  {{card-content/validation-errors errors=answer.readyIssuesArray}}
{{/unless}}