<label class="content-text">{{{content.text}}}
  {{#if content.isRequired}}
    {{#unless answer.wasAnswered}}<span class="required-field">*</span>{{/unless}}
  {{/if}}</label>
{{#unless hideError}}
  {{card-content/validation-errors errors=answer.readyIssuesArray}}
{{/unless}}
{{input
  value=(readonly answer.value)
  class="form-control"
  change=(action "valueChanged")
  input=(action "valueChanged")
  focusOut=(action "validate")
  focusIn=(action "maybeHideError")
  disabled=disabled
  required=content.isRequired
  content=content}}

<div>{{card-content/validation-errors errors=answer.readyIssuesArray}}</div>