<label class="content-text">{{{content.text}}}</label>
{{#unless hideError}}
  {{card-content/validation-errors errors=answer.readyIssuesArray}}
{{/unless}}
{{input
  value=(readonly answer.value)
  class="form-control"
  change=(action "valueChanged")
  input=(action "valueChanged")
  focusOut=(action "validate")
  focusIn=(action "maybeHideError")
  disabled=disabled}}
