<label class="content-text">{{{content.text}}}</label>
{{#each answer.readyIssuesArray as |issue|}}
  <div class="validation-error error-message">{{fa-icon "exclamation-triangle"}}{{issue}}</div>
{{/each}}
{{input
  value=(readonly answer.value)
  class="form-control"
  placeholder=content.placeholder
  change=(action "valueChanged")
  input=(action "valueChanged")
  disabled=disabled}}
