.invite-reviewer-button {
  @extend .invite-editor-button;
}

.invite-reviewer-text {
  @extend .invite-editor-text;
  .invitee-thumbnail {
    width: 37px;
  }
}

.invite-reviewer-remove {
  @extend .invite-editor-remove;
  position: inherit;
}

.invitees {
  width: $message-body-width;
  margin-top: 36px;
  .invitees-table { width: 100%; }
  .invitation-updated-at,
  .invitation-state { font-size: 14px; }
}

