<div class="invitation">
  <div class='feedback-header flex-bar'>
    <span class='aperta-logo'>Aperta</span>
  </div>
  <div class="invitation-container">
    <div class='logo'>
      <img class='plos auth-logo' src="<%=@journal_logo_url %>" />
    </div>
    <%= yield %>
  </div>
</div>
