<%= tinymce_assets %>

<%= render layout: 'container' do %>
  <div class='message'>
    This invitation is no longer active
  </div>
<% end %>

<script type="text/javascript">
  function initTinyMCE() {
    var options = {
      selector: 'textarea.tinymce',
      branding: false,
      menubar: false,
      plugins: 'paste',
      toolbar: 'bold italic underline | subscript superscript | undo redo',
      valid_elements: 'p,br,strong/b,em/i,u,sub,sup,pre',
    };

    if (typeof window.tinyMCE !== 'undefined') {
      window.tinyMCE.init(options);
    } else {
      setTimeout(initTinyMCE, 50);
    }
  }

  initTinyMCE();
</script>
