<!DOCTYPE html>
<html>
<head>
  <title>Billing</title>
  <%= stylesheet_link_tag    "billing/application", media: "all" %>
  <%= javascript_include_tag "billing/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
